Repository cerner/terra-core, pull requests merged in 2018-07, with the labels that each got.

#1664 [terra-form-select] Null check the active option before calling findByValue
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_MenuUtil.js
  packages/terra-form-select/tests/jest/MenuUtil.test.jsx
Labels: bug, form-select

#1666 ISSUE-1657: Add themeable disabled icon custom prop
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.module.scss
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/should_have_a_themeable_disabled_icon[--terra-select-disabled-arrow-background].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/should_have_a_themeable_disabled_icon[default].470x768.png
  packages/terra-form-select/tests/wdio/_frame-spec.js
Labels: enhancement, form-select, tech-only

#1659 Add source code to date-picker and date-time-picker on terra-dev-site examples
  packages/terra-date-picker/src/terra-dev-site/doc/common/DatePickerExampleTemplate.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/common/DatePickerModalContainer.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/date-picker/DatePicker.1.doc.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerDefault.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerDefaultDate.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerExcludeDates.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerFilterDates.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerIncludeDates.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerInsideModal.jsx
  packages/terra-date-picker/src/terra-dev-site/doc/example/DatePickerMinMax.jsx
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/terra-dev-site/common/DateTimePickerExampleTemplate.jsx
  packages/terra-date-time-picker/src/terra-dev-site/common/DateTimePickerModalContainer.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/date-time-picker/DateTimePicker.1.doc.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerDST.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerDefault.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerDefaultDateOnly.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerDefaultDateTime.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerExcludeDates.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerFilterDates.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerIncludeDates.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerInsideModal.jsx
  packages/terra-date-time-picker/src/terra-dev-site/doc/example/DateTimePickerMinMax.jsx
Labels: date time picker, datepicker, tech-only

#1669 Input forward ref
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/Input.jsx
  packages/terra-form-input/src/InputField.jsx
  packages/terra-form-input/tests/jest/Input.test.jsx
  packages/terra-form-input/tests/jest/InputField.test.jsx
  packages/terra-form-input/tests/jest/__snapshots__/Input.test.jsx.snap
  packages/terra-form-input/tests/jest/__snapshots__/InputField.test.jsx.snap
Labels: enhancement, form-input

#1673 [date-time-picker] Remove mouse cursor from tests
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/chrome/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_excluded[default].1000x768.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/chrome/Clears_the_default_date_and_time_on_hour_input_focus_when_default_date_is_out_of_range[default].1000x768.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/chrome/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_excluded[default].1000x768.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/chrome/Clears_the_default_date_and_time_on_minute_input_focus_when_default_date_is_out_of_range[default].1000x768.png
  packages/terra-date-time-picker/tests/wdio/__snapshots__/reference/chrome/OnChange[default].1000x768.png
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
Labels: Small, bug, date time picker, tech-only, testing

#1672 Fix Time Input wrong duplication
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.jsx
  packages/terra-time-input/tests/jest/TimeInput.test.jsx
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
  packages/terra-time-input/tests/wdio/time-input-spec.js
  packages/terra-time-input/tests/wdio/time-input-twelve-hour-mobile-spec.js
  packages/terra-time-input/tests/wdio/time-input-twelve-hour-spec.js
Labels: accessibility, bug, time input

#1668 Status view won't unnecessarily break words
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/StatusView.scss
  packages/terra-status-view/src/terra-dev-site/test/status-view/StatusViewTextWrapping.test.jsx
  packages/terra-status-view/src/terra-dev-site/test/status-view/StatusViewThinConstraint.test.jsx
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_that_displays_wrapping_text[default].470x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_that_displays_wrapping_text[default].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_that_displays_wrapping_text[themed].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_that_is_too_thin_for_a_glyph[default].75x700.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_that_is_too_thin_for_a_glyph_and_forces_word_wrapping[default].75x700.png
  packages/terra-status-view/tests/wdio/status-view-spec.js
Labels: bug, status view

#1679 Updating Popper to 1.14.3
  packages/terra-date-picker/package.json
Labels: Needs functional review, bug, datepicker

#1677 [terra-form-select] - Added a customizable maxHeight
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/Select.jsx
  packages/terra-form-select/src/_Frame.jsx
  packages/terra-form-select/src/_FrameUtil.js
  packages/terra-form-select/src/terra-dev-site/doc/example/MaxHeight.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/OptGroup.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/Select.1.doc.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/ManyOptions.test.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/MaxHeight.test.jsx
  packages/terra-form-select/tests/jest/FrameUtil.test.jsx
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/should_open_the_dropdown_and_honor_the_set_max_height[default].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/should_open_the_dropdown_and_honor_the_set_max_height[open-dropdown-max-height].470x768.png
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: enhancement, form-select

#1687 Update jestconfig to run jest in cross-OS compatible way
  jestconfig.js
Labels: build-tools, windows

#1688 Change beforeEach to before where possible in WDIO scripts
  packages/terra-action-footer/tests/wdio/action-footer-spec.js
  packages/terra-action-footer/tests/wdio/centered-action-footer-spec.js
  packages/terra-action-header/tests/wdio/action-header-spec.js
  packages/terra-alert/tests/wdio/alert-spec.js
  packages/terra-avatar/tests/wdio/avatar-spec.js
  packages/terra-badge/tests/wdio/badge-spec.js
  packages/terra-button-group/tests/wdio/button-group-spec.js
  packages/terra-button/tests/wdio/button-spec.js
  packages/terra-card/tests/wdio/card-spec.js
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
  packages/terra-dialog/tests/wdio/dialog-spec.js
  packages/terra-divider/tests/wdio/divider-spec.js
  packages/terra-doc-template/tests/wdio/doc-template-spec.js
  packages/terra-dynamic-grid/tests/wdio/dynamic-grid-spec.js
  packages/terra-form-checkbox/tests/wdio/form-checkbox-field-spec.js
  packages/terra-form-field/tests/wdio/form-field-spec.js
  packages/terra-form-fieldset/tests/wdio/fieldset-spec.js
  packages/terra-form-input/tests/wdio/form-input-spec.js
  packages/terra-form-radio/tests/wdio/radio-field-spec.js
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/should_open_the_dropdown_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/should_open_the_dropdown_and_honor_the_set_max_height[open-dropdown-max-height].png
  packages/terra-form-textarea/tests/wdio/form-textarea-spec.js
  packages/terra-grid/tests/wdio/grid-spec.js
  packages/terra-heading/tests/wdio/heading-spec.js
  packages/terra-list/tests/wdio/selectable-list-spec.js
  packages/terra-overlay/tests/wdio/overlay-spec.js
  packages/terra-paginator/tests/wdio/paginator-spec.js
  packages/terra-progress-bar/tests/wdio/progress-bar-spec.js
  packages/terra-section-header/tests/wdio/section-header-spec.js
  packages/terra-signature/tests/wdio/signature-spec.js
  packages/terra-status-view/tests/wdio/status-view-spec.js
  packages/terra-table/tests/wdio/selectable-table-rows-spec.js
  packages/terra-table/tests/wdio/single-select-table-spec.js
  packages/terra-table/tests/wdio/table-spec.js
  packages/terra-tabs/tests/wdio/tab-pane-spec.js
  packages/terra-tabs/tests/wdio/tabs-spec.js
  packages/terra-tag/tests/wdio/tag-spec.js
  packages/terra-text/tests/wdio/text-spec.js
  packages/terra-time-input/tests/wdio/time-input-spec.js
  packages/terra-time-input/tests/wdio/time-input-twelve-hour-mobile-spec.js
  packages/terra-time-input/tests/wdio/time-input-twelve-hour-spec.js
  packages/terra-toggle-section-header/tests/wdio/toggle-section-header-spec.js
  packages/terra-toggle/tests/wdio/toggle-spec.js
Labels: testing

#1690 [base] Add themeable background image
  packages/terra-base/CHANGELOG.md
  packages/terra-base/src/Base.scss
  packages/terra-base/src/terra-dev-site/test/base/DefaultBase.test.jsx
  packages/terra-base/tests/wdio/__snapshots__/reference/en/chrome_tiny/base-spec/Background_color[--terra-base-background-color].png
  packages/terra-base/tests/wdio/__snapshots__/reference/en/chrome_tiny/base-spec/Background_image[Background_Image].png
  packages/terra-base/tests/wdio/__snapshots__/reference/en/chrome_tiny/base-spec/Background_image[scrolled_down].png
  packages/terra-base/tests/wdio/base-spec.js
Labels: base, enhancement, tech-only, theming

#1692 [menu] Add more theming options to MenuItem
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/MenuItem.jsx
  packages/terra-menu/src/MenuItem.scss
  packages/terra-menu/src/_MenuUtils.js
  packages/terra-menu/src/terra-dev-site/test/menu/menu-item/MenuItemDisabled.test.jsx
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Default[themed].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Disabled[default].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Disabled[disabled_item_was_not_checked].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Disabled[themed].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Selectable_Via_Enter[deselected].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Selectable_Via_Enter[themed].png
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-item-spec/Menu_Item-Submenu_Indicator[themed].png
  packages/terra-menu/tests/wdio/menu-item-spec.js
Labels: enhancement, menu, theming

#1680 Remove CSS 'initial' values
  packages/terra-markdown/CHANGELOG.md
  packages/terra-markdown/src/Markdown.jsx
  packages/terra-markdown/tests/jest/__snapshots__/markdown.test.jsx.snap
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/Paginator.module.scss
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/StatusView.scss
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/StructuralTabs.scss
  packages/terra-tabs/src/terra-dev-site/test/tabs/Tabs/TabsTemplate.jsx
Labels: bug, markdown, pagination, status view, tabs

#1691 [collapsible-menu-view] Add themeable variables
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/package.json
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.scss
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_enormous/collapsible-menu-view-spec/Responsive[themed].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_huge/collapsible-menu-view-spec/Responsive[themed].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Responsive[themed].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_medium/collapsible-menu-view-spec/Responsive[themed].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_small/collapsible-menu-view-spec/Responsive[themed].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive[themed].png
  packages/terra-collapsible-menu-view/tests/wdio/collapsible-menu-view-spec.js
Labels: collapsible-menu-view, enhancement, theming

#1696 ISSUE-1463: Fixed undefined prop type error
  packages/terra-props-table/CHANGELOG.md
  packages/terra-props-table/src/PropsTable.jsx
Labels: Small, props-table, tech-only

#1694 [profile-image] Make placeholder image themeable
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/package.json
  packages/terra-profile-image/src/ProfileImage.jsx
  packages/terra-profile-image/src/ProfileImage.scss
  packages/terra-profile-image/src/avatar.svg
  packages/terra-profile-image/tests/jest/__snapshots__/ProfileImage.test.jsx.snap
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/en/chrome_medium/profile-image-spec/Failed[--terra-profile-image-placeholder-background-image].png
  packages/terra-profile-image/tests/wdio/profile-image-spec.js
Labels: enhancement, profile-image, theming

#1695 [search-field] Add more themeable variables
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.scss
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Auto_Search_Disabled[extended_search].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Auto_Search_Disabled[searched_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Auto_Search_Disabled[text_before_search].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Block[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Block[with_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Callback[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Callback[with_long_enough_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Callback[with_too_short_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Default[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Default[scrolled_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Default[themed].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Default[with_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Disabled[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Minimum_Length[with_long_enough_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Minimum_Length[with_too_short_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Minimum_Length[with_too_short_text_after_button_press].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/On_Change[updated_once].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/On_Change[updated_twice].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Search_With_Enter[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Default_Value[default_value].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Default_Value[with_overwritten_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Placeholder[placeholder].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Placeholder[with_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Value[default_value].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Value[unchanged_text].png
  packages/terra-search-field/tests/wdio/search-field-spec.js
Labels: enhancement, search field, theming

#1718 Added Segoe UI to font-family stack in terra-base
  packages/terra-base/CHANGELOG.md
  packages/terra-base/src/Base.scss
Labels: tech-only, typography

#1719 Update image alt default prop
  packages/terra-image/CHANGELOG.md
  packages/terra-image/src/Image.jsx
Labels: a11y, image

#1711 [date-picker] Add date format translation
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/translations/ar.json
  packages/terra-date-picker/translations/de.json
  packages/terra-date-picker/translations/en-GB.json
  packages/terra-date-picker/translations/en-US.json
  packages/terra-date-picker/translations/en.json
  packages/terra-date-picker/translations/es-ES.json
  packages/terra-date-picker/translations/es-US.json
  packages/terra-date-picker/translations/es.json
  packages/terra-date-picker/translations/fi-FI.json
  packages/terra-date-picker/translations/fr-FR.json
  packages/terra-date-picker/translations/fr.json
  packages/terra-date-picker/translations/nl-BE.json
  packages/terra-date-picker/translations/nl.json
  packages/terra-date-picker/translations/pt-BR.json
  packages/terra-date-picker/translations/pt.json
  packages/terra-date-picker/translations/sv-SE.json
  packages/terra-date-picker/translations/sv.json
Labels: datepicker, enhancement, i18n

#1729 Add refCallback to searchField to allow it to be focused
  CONTRIBUTORS.md
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldFocus.jsx
  packages/terra-search-field/src/terra-dev-site/doc/search-field/SearchField.1.doc.jsx
  packages/terra-search-field/src/terra-dev-site/test/search-field/SearchFieldFocus.test.jsx
  packages/terra-search-field/tests/jest/SearchField.test.jsx
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Search_Field_in_Focus[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Search_Field_in_Focus[with_focus].png
  packages/terra-search-field/tests/wdio/search-field-spec.js
Labels: search field, tech-only

#1732 Add sv and sv-SE translations to checkbox and radio
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/translations/sv-SE.json
  packages/terra-date-picker/translations/sv.json
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/translations/sv-SE.json
  packages/terra-form-checkbox/translations/sv.json
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/translations/sv-SE.json
  packages/terra-form-radio/translations/sv.json
Labels: translations

#1733 Add testURL to jestconfig
  jestconfig.js
Labels: build-tools

#1704 Match Node Env in Heroku to Served Assets
  app.json
Labels: build-tools, tech-only

#1708 Add isTransparent prop to section header / toggle section header
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/src/SectionHeader.jsx
  packages/terra-section-header/src/SectionHeader.module.scss
  packages/terra-section-header/src/terra-dev-site/doc/example/TransparentSectionHeader.jsx
  packages/terra-section-header/src/terra-dev-site/doc/section-header/SectionHeader.1.doc.jsx
  packages/terra-section-header/src/terra-dev-site/test/section-header/TransparentOnClickSectionHeader.test.jsx
  packages/terra-section-header/src/terra-dev-site/test/section-header/TransparentSectionHeader.test.jsx
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Active_-_Interactable_Transparent_Section_Header[default].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Active_-_Interactable_Transparent_Section_Header[themed].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Hovered_-_Interactable_Transparent_Section_Header[default].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Hovered_-_Interactable_Transparent_Section_Header[themed].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Keyboard_Focus_-_Interactable_Transparent_Section_Header[default].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Keyboard_Focus_-_Interactable_Transparent_Section_Header[themed].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Transparent_Section_Header[default].png
  packages/terra-section-header/tests/wdio/section-header-spec.js
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/src/ToggleSectionHeader.jsx
  packages/terra-toggle-section-header/src/terra-dev-site/doc/example/TransparentToggleSectionHeader.jsx
  packages/terra-toggle-section-header/src/terra-dev-site/doc/toggle-section-header/ToggleSectionHeader.1.doc.jsx
  packages/terra-toggle-section-header/src/terra-dev-site/test/toggle-section-header/TransparentToggleSectionHeader.test.jsx
  packages/terra-toggle-section-header/tests/jest/__snapshots__/ToggleSectionHeader.test.jsx.snap
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/toggle-section-header-spec/Default[default].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/toggle-section-header-spec/Open[default].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/toggle-section-header-spec/Transparent[default].png
  packages/terra-toggle-section-header/tests/wdio/toggle-section-header-spec.js
Labels: section-header, toggle-section-header

#1734 [button] Update test pages
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/terra-dev-site/test/button/ActiveVariantButtons.test.jsx
  packages/terra-button/src/terra-dev-site/test/button/CompactButton.test.jsx
  packages/terra-button/src/terra-dev-site/test/button/IconButton.test.jsx
  packages/terra-button/src/terra-dev-site/test/button/Variants/ActionButton.test.jsx
  packages/terra-button/src/terra-dev-site/test/button/Variants/UtilityButton.test.jsx
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Action-Active[active].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Action-Active[active_and_focused].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Action-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Action-Keyboard_Focus[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Action[--terra-button-action-border-radius].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Action[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Compact_Button[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Icon_and_Text[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Icon_and_Text[themed].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Icon_and_Text_Reversed[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Icon_only[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Icon_only[themed].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Utility-Active[active].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Utility-Active[active_and_focused].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Utility-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Utility-Keyboard_Focus[--terra-button-utility-border-radius].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Utility-Keyboard_Focus[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Utility[default].png
Labels: Small, button, tech-only, testing

#1735 ActionHeader next-previous button-group buttons
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/src/ActionHeader.jsx
  packages/terra-action-header/src/terra-dev-site/test/action-header/NextEnabledPreviousDisabledActionHeader.test.jsx
  packages/terra-action-header/src/terra-dev-site/test/action-header/PreviousEnabledNextDisabledActionHeader.test.jsx
  packages/terra-action-header/tests/jest/ActionHeader.test.jsx
  packages/terra-action-header/tests/jest/__snapshots__/ActionHeader.test.jsx.snap
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-action-header/tests/wdio/action-header-spec.js
Labels: action header

#1731 [terra-search-field] Added right border to search input
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.module.scss
  packages/terra-search-field/src/terra-dev-site/test/search-field/SearchFieldFocus.test.jsx
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Auto_Search_Disabled[extended_search].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Auto_Search_Disabled[searched_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Auto_Search_Disabled[text_before_search].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Block[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Block[with_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Callback[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Callback[with_long_enough_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Callback[with_too_short_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Default[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Default[scrolled_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Default[themed].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Default[with_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Disabled[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Minimum_Length[with_long_enough_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Minimum_Length[with_too_short_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Minimum_Length[with_too_short_text_after_button_press].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/On_Change[updated_once].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/On_Change[updated_twice].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Search_Field_in_Focus[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Search_Field_in_Focus[with_focus].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Search_With_Enter[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Default_Value[default_value].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Default_Value[with_overwritten_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Placeholder[placeholder].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Placeholder[with_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Value[default_value].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Value[unchanged_text].png
Labels: search field
