Repository cerner/terra-core, pull requests merged in 2018-12, with the labels that each got.

#2077 Update fi-FI and ar translations
  packages/terra-alert/translations/ar.json
  packages/terra-alert/translations/fi-FI.json
  packages/terra-collapsible-menu-view/translations/fi-FI.json
  packages/terra-date-picker/translations/fi-FI.json
  packages/terra-date-time-picker/translations/fi-FI.json
  packages/terra-demographics-banner/translations/fi-FI.json
  packages/terra-form-checkbox/translations/fi-FI.json
  packages/terra-form-field/translations/fi-FI.json
  packages/terra-form-radio/translations/fi-FI.json
  packages/terra-form-select/translations/fi-FI.json
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/fi-FI_Locale[default].png
  packages/terra-i18n/translations/fi-FI.json
  packages/terra-overlay/translations/fi-FI.json
  packages/terra-search-field/translations/fi-FI.json
  packages/terra-show-hide/translations/fi-FI.json
  packages/terra-tabs/translations/fi-FI.json
  packages/terra-time-input/translations/fi-FI.json
Labels: translations

#2078 Remove componentWillReceiveProps from menu
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/Menu.jsx
  packages/terra-menu/src/_MenuContent.jsx
  packages/terra-menu/src/terra-dev-site/test/menu/menu/DynamicMenuChildren.test.jsx
  packages/terra-menu/tests/wdio/menu-spec.js
Labels: menu

#2081 Remove cyclical dependency between text and heading components
  packages/terra-heading/CHANGELOG.md
  packages/terra-heading/package.json
  packages/terra-heading/src/terra-dev-site/doc/example/HeadingLevels.jsx
  packages/terra-heading/src/terra-dev-site/doc/example/HeadingSizes.jsx
  packages/terra-text/CHANGELOG.md
  packages/terra-text/package.json
  packages/terra-text/src/terra-dev-site/doc/example/TextDisplays.jsx
Labels: dependency-update

#2084 Add maxWidth prop to various components for passthrough to form-field
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/InputField.jsx
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/SelectField.jsx
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/TextareaField.jsx
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu-Selectable[default].png
Labels: WIP, form-input, form-select, form-textarea

#2100 Menu screenshot revert
  packages/terra-menu/tests/wdio/__snapshots__/reference/en/chrome_medium/menu-spec/Menu-Selectable[default].png
Labels: menu

#2042 Aria Labels Added to Time Input for Accessibility Compliance
  packages/terra-form-input/CHANGELOG.md
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.jsx
  packages/terra-time-input/src/terra-dev-site/test/time-input/twelve-hour/Default.test.jsx
  packages/terra-time-input/src/terra-dev-site/test/time-input/twelve-hour/FilledEvening.test.jsx
  packages/terra-time-input/src/terra-dev-site/test/time-input/twelve-hour/FilledMorning.test.jsx
  packages/terra-time-input/tests/jest/__snapshots__/TimeInput.test.jsx.snap
  packages/terra-time-input/translations/ar.json
  packages/terra-time-input/translations/de.json
  packages/terra-time-input/translations/en-GB.json
  packages/terra-time-input/translations/en-US.json
  packages/terra-time-input/translations/en.json
  packages/terra-time-input/translations/es-ES.json
  packages/terra-time-input/translations/es-US.json
  packages/terra-time-input/translations/es.json
  packages/terra-time-input/translations/fi-FI.json
  packages/terra-time-input/translations/fr-FR.json
  packages/terra-time-input/translations/fr.json
  packages/terra-time-input/translations/nl-BE.json
  packages/terra-time-input/translations/nl.json
  packages/terra-time-input/translations/pt-BR.json
  packages/terra-time-input/translations/pt.json
  packages/terra-time-input/translations/sv-SE.json
  packages/terra-time-input/translations/sv.json
Labels: WIP, accessibility, time input, translations

#2085 [terra-text] Word wrapping
  packages/terra-text/CHANGELOG.md
  packages/terra-text/docs/text-word-wrapped.md
  packages/terra-text/src/Text.jsx
  packages/terra-text/src/Text.module.scss
  packages/terra-text/src/terra-dev-site/doc/example/TextWordWrapped.jsx
  packages/terra-text/src/terra-dev-site/doc/text/Text.1.doc.jsx
  packages/terra-text/src/terra-dev-site/test/text/TextWordWrapped.test.jsx
  packages/terra-text/tests/jest/Text.test.jsx
  packages/terra-text/tests/jest/__snapshots__/Text.test.jsx.snap
  packages/terra-text/tests/wdio/__snapshots__/reference/en/chrome_huge/text-spec/Word_Wrapped[default].png
  packages/terra-text/tests/wdio/text-spec.js
Labels: bug, text

#2080 Remove use of componentWillReceiveProps from date-picker
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerSelectedDate.test.jsx
Labels: datepicker

#2088 Migrate Slide Group to Framework Repo
  README.md
  packages/terra-slide-group/.npmignore
  packages/terra-slide-group/.npmrc
  packages/terra-slide-group/CHANGELOG.md
  packages/terra-slide-group/LICENSE
  packages/terra-slide-group/NOTICE
  packages/terra-slide-group/README.md
  packages/terra-slide-group/docs/DEPENDENCIES.md
  packages/terra-slide-group/docs/README.md
  packages/terra-slide-group/package.json
  packages/terra-slide-group/src/Slide.jsx
  packages/terra-slide-group/src/Slide.module.scss
  packages/terra-slide-group/src/SlideGroup.jsx
  packages/terra-slide-group/src/SlideGroup.module.scss
  packages/terra-slide-group/src/terra-dev-site/doc/example/SlideGroupDemo.jsx
  packages/terra-slide-group/src/terra-dev-site/doc/slide-group/ChangeLog.2.doc.jsx
  packages/terra-slide-group/src/terra-dev-site/doc/slide-group/SlideGroup.1.doc.jsx
  packages/terra-slide-group/src/terra-dev-site/test/slide-group/AnimatedSlideGroup.test.jsx
  packages/terra-slide-group/src/terra-dev-site/test/slide-group/DefaultSlideGroup.test.jsx
  packages/terra-slide-group/src/terra-dev-site/test/slide-group/NonAnimatedSlideGroup.test.jsx
  packages/terra-slide-group/src/terra-dev-site/test/slide-group/OneItemSlideGroup.test.jsx
  packages/terra-slide-group/tests/jest/Slide.test.jsx
  packages/terra-slide-group/tests/jest/SlideGroup.test.jsx
  packages/terra-slide-group/tests/jest/__snapshots__/Slide.test.jsx.snap
  packages/terra-slide-group/tests/jest/__snapshots__/SlideGroup.test.jsx.snap
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/en/chrome_medium/slide-group-spec/Animated[slide_1].png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/en/chrome_medium/slide-group-spec/Animated[slide_2].png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/en/chrome_medium/slide-group-spec/Default[default].png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/en/chrome_medium/slide-group-spec/Non_Animated[slide_1].png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/en/chrome_medium/slide-group-spec/Non_Animated[slide_2].png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/en/chrome_medium/slide-group-spec/One_Item[default].png
  packages/terra-slide-group/tests/wdio/slide-group-spec.js
Labels: slide-group, tech-only

#2105 [terra-search-field] - Set cursor to be transparent in wdio tests
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Search_Field_in_Focus[with_focus].png
  packages/terra-search-field/tests/wdio/search-field-spec.js
Labels: search field, tech-only, testing

#2095 Remove use of componentWillReceiveProps from date-time-picker
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/src/DateTimePicker.jsx
Labels: date time picker, tech-only

#2091 Add Pattern Prop to Input Component
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/Input.jsx
  packages/terra-form-input/tests/jest/Input.test.jsx
  packages/terra-form-input/tests/jest/__snapshots__/Input.test.jsx.snap
Labels: enhancement, form-input, tech-only

#2096 Remove use of componentWillReceiveProps from image
  packages/terra-image/CHANGELOG.md
  packages/terra-image/src/Image.jsx
Labels: image, tech-only

#2097 Remove use of componentWillReceiveProps from toggle button
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/src/ToggleButton.jsx
Labels: tech-only, toggle-button

#2101 Remove use of componentWillReceiveProps from signature
  packages/terra-signature/CHANGELOG.md
  packages/terra-signature/src/Signature.jsx
Labels: signature, tech-only

#2098 Remove use of componentWillReceiveProps from toggle section header
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/src/ToggleSectionHeader.jsx
Labels: tech-only, toggle-section-header

#2102 Remove use of componentWillReceiveProps from time input
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.jsx
Labels: tech-only, time input

#2103 Remove use of componentWillReceiveProps from base
  packages/terra-base/CHANGELOG.md
  packages/terra-base/src/Base.jsx
Labels: base, tech-only

#2104 Remove use of componentWillReceiveProps from abstract modal
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
Labels: abstract-modal, tech-only

#2111 Move CSS animation to global styles outside of CSS Modules
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/src/Icon.module.scss
  packages/terra-icon/src/IconBase.jsx
  packages/terra-icon/tests/jest/__snapshots__/Icon.test.jsx.snap
  packages/terra-overlay/tests/jest/__snapshots__/LoadingOverlay.test.jsx.snap
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
  packages/terra-toggle-button/tests/jest/__snapshots__/ToggleButton.test.jsx.snap
Labels: icon

#2123 Remove Time Input form i18n Components in Core Readme
  README.md
Labels: docs
