Repository cerner/terra-core, pull requests merged in 2018-05, with the labels that each got.

#1470 Bump dependency on terra-popup.
  packages/terra-form-select/.npmrc
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
Labels: menu, tech-only

#1471 Add wdio tests for dynamic grid
  dev-site-config/generatedComponentConfig.js
  packages/terra-dynamic-grid/CHANGELOG.md
  packages/terra-dynamic-grid/examples/test-examples/DefaultDynamicGrid.example.jsx
  packages/terra-dynamic-grid/examples/test-examples/LargeDynamicGrid.example.jsx
  packages/terra-dynamic-grid/package.json
  packages/terra-dynamic-grid/tests/nightwatch/dynamic-grid-spec.js
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/chrome/Default[default].1300x768.png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/chrome/Default[default].470x768.png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/chrome/Large_Template[default].1300x768.png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/chrome/Large_Template[default].470x768.png
  packages/terra-dynamic-grid/tests/wdio/dynamic-grid-spec.js
Labels: dynamic-grid, tech-only, testing

#1458 Add a new prop to card in order to flex a class for a new style
  CONTRIBUTORS.md
  dev-site-config/generatedComponentConfig.js
  packages/terra-card/CHANGELOG.md
  packages/terra-card/docs/README.md
  packages/terra-card/src/Card.jsx
  packages/terra-card/src/Card.scss
  packages/terra-card/tests/jest/Card.test.jsx
  packages/terra-card/tests/jest/__snapshots__/Card.test.jsx.snap
  packages/terra-card/tests/nightwatch/RaisedCard.jsx
  packages/terra-card/tests/wdio/__snapshots__/reference/chrome/Raised[default].470x768.png
  packages/terra-card/tests/wdio/__snapshots__/reference/chrome/Raised[themed].470x768.png
  packages/terra-card/tests/wdio/card-spec.js
  packages/terra-i18n/tests/wdio/__snapshots__/reference/chrome/nl-BE_Locale[default].838x768.png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/chrome/nl_Locale[default].838x768.png
  packages/terra-site/src/examples/card/CardRaised.jsx
  packages/terra-site/src/examples/card/Index.jsx
Labels: card, enhancement

#1473 [status-view] Move Examples to Examples Dir
  dev-site-config/generatedComponentConfig.js
  packages/terra-status-view/examples/test-examples/StatusViewAlignTop.example.jsx
  packages/terra-status-view/examples/test-examples/StatusViewCenter.example.jsx
  packages/terra-status-view/examples/test-examples/StatusViewCustom.example.jsx
  packages/terra-status-view/examples/test-examples/StatusViewDefault.example.jsx
  packages/terra-status-view/examples/test-examples/StatusViewErrorAllProps.example.jsx
  packages/terra-status-view/examples/test-examples/StatusViewGlyphHidden.example.jsx
  packages/terra-status-view/examples/test-examples/StatusViewHeightTooSmall.example.jsx
  packages/terra-status-view/examples/test-examples/StatusViewNotAuthorized.example.jsx
  packages/terra-status-view/examples/test-examples/StatusViewTextWrapping.example.jsx
Labels: status view, tech-only

#1474 Add 7000 and 9000 zindexes to abstract-modal
  CONTRIBUTORS.md
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-abstract-modal/src/AbstractModal.scss
  packages/terra-abstract-modal/src/ModalOverlay.scss
  packages/terra-abstract-modal/src/_ModalContent.jsx
  packages/terra-abstract-modal/src/_ModalOverlay.jsx
  packages/terra-abstract-modal/tests/jest/AbstractModal.test.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
Labels: Small, abstract-modal, tech-only

#1476 Allow background color to be themeable for SlideGroup's Slide component
  packages/terra-slide-group/CHANGELOG.md
  packages/terra-slide-group/src/Slide.scss
Labels: Small, slide-group, theming

#1469 Add wdio tests for demographics banner
  dev-site-config/generatedComponentConfig.js
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/examples/assets/demographicsCat.jpg
  packages/terra-demographics-banner/examples/test-examples/BlankDemographicsBanner.example.jsx
  packages/terra-demographics-banner/examples/test-examples/DeceasedDemographicsBanner.example.jsx
  packages/terra-demographics-banner/examples/test-examples/DeceasedDemographicsBannerNoLabel.example.jsx
  packages/terra-demographics-banner/examples/test-examples/GestationalAgeDemographicsBannerNoLabel.example.jsx
  packages/terra-demographics-banner/examples/test-examples/PopulatedDemographicsBanner.example.jsx
  packages/terra-demographics-banner/examples/test-examples/PostMenstrualAgeDemographicsBannerNoLabel.example.jsx
  packages/terra-demographics-banner/package.json
  packages/terra-demographics-banner/tests/nightwatch/demographics-banner-spec.js
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Blank[default].1000x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Blank[default].470x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Deceased[default].1000x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Deceased[default].470x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Deceased_-_No_Label[default].1000x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Deceased_-_No_Label[default].470x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Deceased_-_Themed[themed].1000x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Gestational_Age_-_No_Label[default].1000x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Gestational_Age_-_No_Label[default].470x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Populated[default].1000x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Populated[default].470x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Post_Menstrual_-_No_Label[default].1000x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Post_Menstrual_-_No_Label[default].470x768.png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/chrome/Themed[themed].1000x768.png
  packages/terra-demographics-banner/tests/wdio/demographics-banner-spec.js
Labels: demographics banner, tech-only, testing

#1479 Add syntax highlighting to doc-template
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/docs/README.md
  packages/terra-doc-template/package.json
  packages/terra-doc-template/src/ExampleTemplate.jsx
  packages/terra-doc-template/src/ExampleTemplate.scss
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Fully_filled_out_doc[Example 1].1300x768.png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Fully_filled_out_doc[PropsTable 1].1000x1000.png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Fully_filled_out_doc[Readme].1300x768.png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Interactivity_test[Hides_the_example's_code_again].1300x768.png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Interactivity_test[Reveals_the_example's_code].1300x768.png
  packages/terra-doc-template/tests/wdio/doc-template-spec.js
Labels: doc-template

#1477 [doc-template] Fix props mapping.
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/examples/test-examples/DefaultDocTemplate.example.jsx
  packages/terra-doc-template/src/DocTemplate.jsx
  packages/terra-doc-template/tests/jest/DocTemplate.test.jsx
Labels: Small, bug, doc-template

#1486 [doc-template] Missed in Props Mapping Fix
  packages/terra-site/src/examples/doc-template/Index.jsx
Labels: bug

#1496 Correct action header spacing
  dev-site-config/generatedComponentConfig.js
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/examples/test-examples/EndElementActionHeader.example.jsx
  packages/terra-action-header/src/ActionHeader.jsx
  packages/terra-action-header/src/_ActionHeaderContainer.jsx
  packages/terra-action-header/tests/wdio/__snapshots__/reference/chrome/End_Element_Only[default].1000x768.png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/chrome/End_Element_Only[default].470x768.png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/chrome/End_Element_Only[default].838x768.png
  packages/terra-action-header/tests/wdio/action-header-spec.js
Labels: action header, bug

#1457 Spacer shorthand enhancement
  packages/terra-spacer/CHANGELOG.md
  packages/terra-spacer/docs/README.md
  packages/terra-spacer/src/Spacer.jsx
  packages/terra-spacer/src/_spacerConstants.js
  packages/terra-spacer/src/_spacerShorthandUtils.js
  packages/terra-spacer/tests/jest/Spacer.test.jsx
  packages/terra-spacer/tests/jest/SpacerShorthandUtils.test.js
  packages/terra-spacer/tests/jest/__snapshots__/Spacer.test.jsx.snap
Labels: enhancement, spacer

#1467 Update legacy theme
  dev-site-config/site.config.js
  packages/terra-legacy-theme/CHANGELOG.md
  packages/terra-legacy-theme/README.md
  packages/terra-legacy-theme/docs/README.md
  packages/terra-legacy-theme/package.json
  packages/terra-legacy-theme/src/LegacyTheme.scss
  packages/terra-legacy-theme/src/_breakpoints.scss
  packages/terra-legacy-theme/src/_clinical-palette.scss
  packages/terra-legacy-theme/src/_palette.scss
  packages/terra-legacy-theme/src/_typography.scss
  packages/terra-legacy-theme/src/_zindex.scss
  packages/terra-legacy-theme/src/index.js
  packages/terra-legacy-theme/src/scoped-theme.js
  packages/terra-legacy-theme/src/scss/_application-menu.scss
  packages/terra-legacy-theme/src/scss/_navigation-side-menu.scss
  packages/terra-legacy-theme/src/scss/root-theme.scss
  packages/terra-legacy-theme/src/scss/scoped-theme.scss
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/chrome/Navigation_Side_Menu[default].1000x768.png
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/chrome/Navigation_Side_Menu_Hover[default].1000x768.png
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/chrome/Navigation_Side_Menu_Selected[default].1000x768.png
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/chrome/Navigation_Side_Menu_Selected_Hover[default].1000x768.png
  packages/terra-legacy-theme/tests/wdio/theme-spec.js
  packages/terra-mixins/src/Mixins.scss
  packages/terra-mixins/src/_variables.scss
Labels: legacy-theme

#1502 Update out-of-date Readme
  README.md
Labels: docs

#1503 Add 15px padding to the doc template.
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/src/DocTemplate.jsx
  packages/terra-doc-template/src/DocTemplate.scss
  packages/terra-doc-template/tests/jest/__snapshots__/DocTemplate.test.jsx.snap
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Fully_filled_out_doc[Example 1].1300x768.png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Fully_filled_out_doc[PropsTable 1].1000x1000.png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Fully_filled_out_doc[Readme].1300x768.png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Interactivity_test[Hides_the_example's_code_again].1300x768.png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Interactivity_test[Reveals_the_example's_code].1300x768.png
Labels: Small, doc-template, tech-only

#1506 Only Highlight JSX to make the package size smaller.
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/src/ExampleTemplate.jsx
Labels: Small, tech-only

#1504 Enable parallel testing during builds
  .dockerignore
  .travis.yml
  Dockerfile
  nightwatch.conf.js
  package.json
  wdio.conf.js
Labels: build-tools, enhancement, monorepo, testing

#1445 Build terra paginator
  dev-site-config/generatedComponentConfig.js
  package.json
  packages/terra-paginator/.npmignore
  packages/terra-paginator/.npmrc
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/LICENSE
  packages/terra-paginator/NOTICE
  packages/terra-paginator/README.md
  packages/terra-paginator/docs/ProgressiveREADME.md
  packages/terra-paginator/docs/README.md
  packages/terra-paginator/examples/test-examples/Paginator.example.jsx
  packages/terra-paginator/examples/test-examples/PaginatorNoPages.example.jsx
  packages/terra-paginator/examples/test-examples/ProgressivePaginator.example.jsx
  packages/terra-paginator/package.json
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/Paginator.scss
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-paginator/src/_paginationUtils.jsx
  packages/terra-paginator/tests/jest/Paginator.test.jsx
  packages/terra-paginator/tests/jest/ProgressivePaginator.test.jsx
  packages/terra-paginator/tests/jest/__snapshots__/Paginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/wdio/__snapshots__/reference/chrome/PaginatorNoPages[default].1000x768.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/chrome/PaginatorNoPages[default].470x768.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/chrome/PaginatorNoPages[default].838x768.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/chrome/PaginatorNoPages[themed].1000x768.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/chrome/Paginator[default].1000x768.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/chrome/Paginator[default].470x768.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/chrome/Paginator[default].838x768.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/chrome/Paginator[themed].1000x768.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/chrome/ProgressivePaginator[default].1000x768.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/chrome/ProgressivePaginator[default].470x768.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/chrome/ProgressivePaginator[default].838x768.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/chrome/ProgressivePaginator[themed].1000x768.png
  packages/terra-paginator/tests/wdio/paginator-spec.js
  packages/terra-site/package.json
  packages/terra-site/src/examples/paginator/PaginatorComponentNavigation.jsx
  packages/terra-site/src/examples/paginator/PaginatorExample.jsx
  packages/terra-site/src/examples/paginator/PaginatorIndex.jsx
  packages/terra-site/src/examples/paginator/PaginatorIndexRoutes.jsx
  packages/terra-site/src/examples/paginator/PaginatorNoPagesExample.jsx
  packages/terra-site/src/examples/paginator/ProgressivePaginatorExample.jsx
  packages/terra-site/src/examples/paginator/ProgressivePaginatorIndex.jsx
  themeable-variables.json
Labels: new component, pagination

#1491 Props table update nightwatch tests to wdio
  dev-site-config/generatedComponentConfig.js
  packages/terra-props-table/examples/test-examples/MockComponent.jsx
  packages/terra-props-table/examples/test-examples/MockPropsTable.example.jsx
  packages/terra-props-table/examples/test-examples/MockPropsTableWithTitle.example.jsx
  packages/terra-props-table/package.json
  packages/terra-props-table/tests/nightwatch/props-table-spec.js
  packages/terra-props-table/tests/wdio/__snapshots__/reference/chrome/Default[[should_display_an_arrayOf(shapes)_prop]_to_be_within_the_mismatch_tolerance].838x768.png
  packages/terra-props-table/tests/wdio/__snapshots__/reference/chrome/Default[should display a boolean prop].838x768.png
  packages/terra-props-table/tests/wdio/__snapshots__/reference/chrome/Default[should display a default arrayOf prop].838x768.png
  packages/terra-props-table/tests/wdio/__snapshots__/reference/chrome/Default[should display a node prop].838x768.png
  packages/terra-props-table/tests/wdio/__snapshots__/reference/chrome/Default[should display a number prop].838x768.png
  packages/terra-props-table/tests/wdio/__snapshots__/reference/chrome/Default[should display a oneOfType prop].838x768.png
  packages/terra-props-table/tests/wdio/__snapshots__/reference/chrome/Default[should display a shape prop].838x768.png
  packages/terra-props-table/tests/wdio/__snapshots__/reference/chrome/Default[should display a string prop].838x768.png
  packages/terra-props-table/tests/wdio/__snapshots__/reference/chrome/Default[should display an array prop].838x768.png
  packages/terra-props-table/tests/wdio/__snapshots__/reference/chrome/Default[should display an element prop].838x768.png
  packages/terra-props-table/tests/wdio/__snapshots__/reference/chrome/With_Title[should display the title].838x768.png
  packages/terra-props-table/tests/wdio/props-table-spec.js
Labels: props-table, testing

#1521 Paginator - Added the .module identifier before the file extension.
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/Paginator.module.scss
  packages/terra-paginator/src/ProgressivePaginator.jsx
Labels: enhancement, pagination

#1525 [terra-doc-template] Added some styling to the example template
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/package.json
  packages/terra-doc-template/src/DocTemplate.scss
  packages/terra-doc-template/src/ExampleTemplate.jsx
  packages/terra-doc-template/src/ExampleTemplate.scss
  packages/terra-doc-template/tests/jest/__snapshots__/DocTemplate.test.jsx.snap
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Fully_filled_out_doc[Example 1].1300x768.png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Fully_filled_out_doc[PropsTable 1].1000x1000.png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Interactivity_test[Hides_the_example's_code_again].1300x768.png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/chrome/Interactivity_test[Reveals_the_example's_code].1300x768.png
  packages/terra-doc-template/tests/wdio/doc-template-spec.js
Labels: doc-template, tech-only

#1534 [terra-form-select] Added a positioning flag to replace a width check
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.jsx
  packages/terra-form-select/src/_FrameUtil.js
Labels: tech-only

#1530 Terra-Icon - Switch to WDIO
  dev-site-config/generatedComponentConfig.js
  packages/terra-date-time-picker/translations/de.json
  packages/terra-date-time-picker/translations/en-GB.json
  packages/terra-date-time-picker/translations/es.json
  packages/terra-date-time-picker/translations/fr.json
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/examples/test-examples/IconBidi.example.jsx
  packages/terra-icon/examples/test-examples/IconDefault.example.jsx
  packages/terra-icon/examples/test-examples/IconHeightWidth.example.jsx
  packages/terra-icon/package.json
  packages/terra-icon/tests/nightwatch/components/IconAppendClass.jsx
  packages/terra-icon/tests/nightwatch/components/IconAria.jsx
  packages/terra-icon/tests/nightwatch/icon-spec.js
  packages/terra-icon/tests/wdio/__snapshots__/reference/chrome/Bidi[default].838x768.png
  packages/terra-icon/tests/wdio/__snapshots__/reference/chrome/Default[default].838x768.png
  packages/terra-icon/tests/wdio/__snapshots__/reference/chrome/HeightWidth[default].838x768.png
  packages/terra-icon/tests/wdio/icon-spec.js
Labels: enhancement, icon, tech-only, testing

#1538 Is it Example or Examples?
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/src/DocTemplate.jsx
  packages/terra-doc-template/tests/jest/__snapshots__/DocTemplate.test.jsx.snap
Labels: doc-template

#1536 [terra-form-select] Added SelectField
  dev-site-config/generatedComponentConfig.js
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/docs/SelectField.md
  packages/terra-form-select/examples/test-examples/SelectField.example.jsx
  packages/terra-form-select/package.json
  packages/terra-form-select/src/SelectField.jsx
  packages/terra-form-select/tests/jest/SelectField.test.jsx
  packages/terra-form-select/tests/jest/__snapshots__/SelectField.test.jsx.snap
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/should_select_an_option_by_click[default].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/should_select_an_option_by_click[open-dropdown].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/should_select_an_option_by_click[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/should_select_an_option_by_pressing_enter[default].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/should_select_an_option_by_pressing_enter[open-dropdown].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/should_select_an_option_by_pressing_enter[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/select-field-spec.js
  packages/terra-site/CHANGELOG.md
  packages/terra-site/src/examples/form-select/SelectFieldIndex.jsx
  packages/terra-site/src/examples/form-select/examples/SelectField.jsx
Labels: form-select, new feature

#1539 Updated example code documentation
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/docs/InputField.md
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/docs/RadioField.md
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/docs/TextareaField.md
Labels: docs, form-input, form-radio, form-textarea

#1540 Paginator - Updated Doc
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/docs/ProgressiveREADME.md
  packages/terra-paginator/docs/README.md
  packages/terra-paginator/src/Paginator.jsx
Labels: Small, docs, pagination

#1551 Update icon example and field documentation.
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/docs/CheckboxField.md
  packages/terra-form-checkbox/src/terra-dev-site/doc/form-checkbox/CheckboxField.doc.jsx
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/terra-dev-site/doc/form-input/InputField.doc.jsx
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/docs/RadioField.md
  packages/terra-form-radio/src/terra-dev-site/doc/form-radio/RadioField.doc.jsx
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/terra-dev-site/doc/form-select/SelectField.doc.jsx
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/docs/STATIC.md
  packages/terra-icon/docs/THEMEABLE.md
  packages/terra-icon/src/terra-dev-site/doc/icon/Icon.doc.jsx
  packages/terra-icon/src/terra-dev-site/doc/icon/Static.doc.jsx
  packages/terra-icon/src/terra-dev-site/doc/icon/Themeable.doc.jsx
Labels: Small, form-checkbox, form-input, form-radio, form-select, icon, tech-only
