Repository cerner/terra-core, pull requests merged in 2018-09, with the labels that each got.

#1814 Add new opt-in prop for custom prop-types resolution via react-docgen
  packages/terra-doc-template/tests/jest/__snapshots__/DocTemplate.test.jsx.snap
  packages/terra-props-table/CHANGELOG.md
  packages/terra-props-table/src/PropsTable.jsx
Labels: bug, props-table

#1825 Adding package descriptions to components
  packages/terra-badge/package.json
  packages/terra-button-group/package.json
  packages/terra-icon/package.json
  packages/terra-image/package.json
  packages/terra-list/package.json
  packages/terra-markdown/package.json
  packages/terra-mixins/package.json
  packages/terra-progress-bar/package.json
  packages/terra-props-table/package.json
Labels: badge, button group, icon, image, list, markdown, mixins, progress bar, props-table

#1834 Expose the ability to set propsResolution prop in doc template
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/src/DocTemplate.jsx
  packages/terra-doc-template/tests/jest/DocTemplate.test.jsx
  packages/terra-doc-template/tests/jest/__snapshots__/DocTemplate.test.jsx.snap
Labels: Small, doc-template, props-table

#1842 Fix bug where props-table component eagerly parsed component src code
  packages/terra-props-table/CHANGELOG.md
  packages/terra-props-table/src/PropsTable.jsx
Labels: Small, bug, props-table

#1848 Moved custom prop spreads in textarea and field tags
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/Textarea.jsx
  packages/terra-form-textarea/src/TextareaField.jsx
Labels: bug, form-textarea

#1869 Remove Custom Timeouts From Tests
  packages/terra-date-time-picker/tests/wdio/date-time-picker-spec.js
  packages/terra-embedded-content-consumer/tests/wdio/embedded-content-consumer-spec.js
  packages/terra-i18n/tests/wdio/i18n-spec.js
  packages/terra-image/tests/wdio/image-spec.js
  packages/terra-toggle/tests/wdio/toggle-spec.js
Labels: tech-only, testing

#1816 Terra toggle
  CONTRIBUTORS.md
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Animated[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Closed_Button_Text[closed].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Custom_Icon[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Customized_Button[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Default[closed].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Default[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Icon_Animated[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Icon_Only[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Initially_open[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/On_Close_Toggle_Button[closed].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/On_Close_Toggle_Button[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/On_Open_Toggle_Button[closed].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/On_Open_Toggle_Button[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Opened_Button_Text[opened].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/toggle-section-header-spec/Default[default].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/toggle-section-header-spec/Open[default].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/toggle-section-header-spec/Transparent[default].png
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/src/Toggle.module.scss
  packages/terra-toggle/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-spec/Default[closed].png
  packages/terra-toggle/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-spec/Default[opened].png
  packages/terra-toggle/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-spec/Opened[default].png
Labels: tech-only, toggle

#1858 Add aria-hidden to divider to hide from Screen Readers
  packages/terra-divider/CHANGELOG.md
  packages/terra-divider/src/Divider.jsx
  packages/terra-divider/tests/jest/__snapshots__/Divider.test.jsx.snap
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
Labels: divider

#1762 Terra.should.beAccessible, Terra-search-field
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/tests/wdio/collapsible-menu-view-spec.js
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/tests/jest/SearchField.test.jsx
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-search-field/tests/wdio/search-field-spec.js
  packages/terra-search-field/translations/ar.json
  packages/terra-search-field/translations/de.json
  packages/terra-search-field/translations/en-GB.json
  packages/terra-search-field/translations/en-US.json
  packages/terra-search-field/translations/en.json
  packages/terra-search-field/translations/es-ES.json
  packages/terra-search-field/translations/es-US.json
  packages/terra-search-field/translations/es.json
  packages/terra-search-field/translations/fi-FI.json
  packages/terra-search-field/translations/fr-FR.json
  packages/terra-search-field/translations/fr.json
  packages/terra-search-field/translations/nl-BE.json
  packages/terra-search-field/translations/nl.json
  packages/terra-search-field/translations/pt-BR.json
  packages/terra-search-field/translations/pt.json
  packages/terra-search-field/translations/sv-SE.json
  packages/terra-search-field/translations/sv.json
Labels: accessibility, bug, search field

#1890 Added strictMode prop to terra-base
  packages/terra-base/CHANGELOG.md
  packages/terra-base/src/Base.jsx
  packages/terra-base/tests/jest/Base.test.jsx
  packages/terra-base/tests/jest/__snapshots__/Base.test.jsx.snap
Labels: Small, base, enhancement

#1912 Create Component for Visually Hidden Text
  packages/terra-visually-hidden-text/.npmignore
  packages/terra-visually-hidden-text/.npmrc
  packages/terra-visually-hidden-text/CHANGELOG.md
  packages/terra-visually-hidden-text/LICENSE
  packages/terra-visually-hidden-text/NOTICE
  packages/terra-visually-hidden-text/README.md
  packages/terra-visually-hidden-text/docs/README.md
  packages/terra-visually-hidden-text/package.json
  packages/terra-visually-hidden-text/src/VisuallyHiddenText.jsx
  packages/terra-visually-hidden-text/src/VisuallyHiddenText.module.scss
  packages/terra-visually-hidden-text/src/terra-dev-site/doc/VisuallyHiddenText/ChangeLog.2.doc.jsx
  packages/terra-visually-hidden-text/src/terra-dev-site/doc/VisuallyHiddenText/VisuallyHiddenText.1.doc.jsx
  packages/terra-visually-hidden-text/src/terra-dev-site/doc/example/DefaultVisuallyHiddenText.jsx
  packages/terra-visually-hidden-text/src/terra-dev-site/test/visually-hidden-text/DefaultVisuallyHiddenText.test.jsx
  packages/terra-visually-hidden-text/src/terra-dev-site/test/visually-hidden-text/NonNullVisuallyHiddenText.test.jsx
  packages/terra-visually-hidden-text/tests/jest/VisuallyHiddenText.test.jsx
  packages/terra-visually-hidden-text/tests/jest/__snapshots__/VisuallyHiddenText.test.jsx.snap
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/en/chrome_large/visually-hidden-text-spec/Default[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/en/chrome_large/visually-hidden-text-spec/NonNull[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/en/chrome_medium/visually-hidden-text-spec/Default[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/en/chrome_medium/visually-hidden-text-spec/NonNull[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/en/chrome_tiny/visually-hidden-text-spec/Default[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/en/chrome_tiny/visually-hidden-text-spec/NonNull[default].png
  packages/terra-visually-hidden-text/tests/wdio/visually-hidden-text-spec.js
Labels: Large, VisuallyHiddenText, new component

#1851 Add valueText prop onto progress bar for readability.
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/src/ProgressBar.jsx
  packages/terra-progress-bar/src/terra-dev-site/doc/example/ProgressBarColor.jsx
  packages/terra-progress-bar/src/terra-dev-site/doc/example/ProgressBarDefault.jsx
  packages/terra-progress-bar/src/terra-dev-site/doc/example/ProgressBarGradient.jsx
  packages/terra-progress-bar/src/terra-dev-site/doc/example/ProgressBarSize.jsx
  packages/terra-progress-bar/src/terra-dev-site/test/progress-bar/ProgressBarColor.test.jsx
  packages/terra-progress-bar/src/terra-dev-site/test/progress-bar/ProgressBarDefault.test.jsx
  packages/terra-progress-bar/src/terra-dev-site/test/progress-bar/ProgressBarGradient.test.jsx
  packages/terra-progress-bar/src/terra-dev-site/test/progress-bar/ProgressBarSize.test.jsx
  packages/terra-progress-bar/tests/jest/ProgressBar.test.jsx
  packages/terra-progress-bar/tests/jest/__snapshots__/ProgressBar.test.jsx.snap
Labels: accessibility, bug, progress bar

#1931 Update docs
  README.md
Labels: docs

#1932 Update jest missing locale tests (#1393)
  CONTRIBUTORS.md
  packages/terra-action-header/tests/jest/ActionHeader.test.jsx
  packages/terra-alert/tests/jest/Alert.test.jsx
  packages/terra-date-picker/tests/jest/DateInput.test.jsx
  packages/terra-date-picker/tests/jest/DatePicker.test.jsx
  packages/terra-date-time-picker/tests/jest/DateTimePicker.test.jsx
  packages/terra-demographics-banner/tests/jest/DemographicsBanner.test.jsx
  packages/terra-dialog/tests/jest/Dialog.test.jsx
  packages/terra-overlay/tests/jest/LoadingOverlay.test.jsx
Labels: tech-only, testing

#1929 Make cards more accessible
  packages/terra-card/CHANGELOG.md
  packages/terra-card/package.json
  packages/terra-card/src/Card.jsx
  packages/terra-card/src/terra-dev-site/doc/card/Card.doc.jsx
  packages/terra-card/src/terra-dev-site/doc/example/CardVisuallyHiddenText.jsx
  packages/terra-card/src/terra-dev-site/test/card/CardVisuallyHiddenText.test.jsx
  packages/terra-card/tests/jest/Card.test.jsx
  packages/terra-card/tests/jest/__snapshots__/Card.test.jsx.snap
  packages/terra-card/tests/wdio/__snapshots__/reference/en/chrome_tiny/card-spec/Card_Visually_Hidden_Text[default].png
  packages/terra-card/tests/wdio/card-spec.js
Labels: card, tech-only

#1922 Removed DefaultFieldset.test.jsx
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/src/terra-dev-site/test/form-fieldset/DefaultFieldset.test.jsx
Labels: tech-only, testing
