Repository cerner/terra-core, pull requests merged in 2018-08, with the labels that each got.

#1739 [doc-template] Fix Examples header styling not being applied
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/src/DocTemplate.jsx
  packages/terra-doc-template/tests/jest/__snapshots__/DocTemplate.test.jsx.snap
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_huge/doc-template-spec/Fully_filled_out_doc[Example_1].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_huge/doc-template-spec/Interactivity_test[Hides_the_example's_code_again].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_huge/doc-template-spec/Interactivity_test[Reveals_the_example's_code].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_large/doc-template-spec/Fully_filled_out_doc[PropsTable_1].png
Labels: Small, bug, doc-template, tech-only

#1738 Assign option role to ListItems based on selectability
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/ListItem.jsx
  packages/terra-list/tests/jest/__snapshots__/ListItem.test.jsx.snap
Labels: accessibility, bug, list, tech-only

#1747 [terra-spacer] Removed unnecessary spacer CSS class
  packages/terra-spacer/CHANGELOG.md
  packages/terra-spacer/src/Spacer.jsx
  packages/terra-spacer/tests/jest/__snapshots__/Spacer.test.jsx.snap
Labels: spacer, tech-only

#1757 [terra-form-radio] Remove calling this.handleOnChange within Optional RadioField example
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/src/terra-dev-site/doc/example/field/DefaultRadioField.jsx
  packages/terra-form-radio/src/terra-dev-site/doc/example/field/OptionalRadioField.jsx
Labels: bug, form-radio

#1745 [legacy-theme] Theme Brand Footer
  packages/terra-legacy-theme/CHANGELOG.md
  packages/terra-legacy-theme/src/scss/_brand-footer.scss
  packages/terra-legacy-theme/src/scss/root-theme.scss
  packages/terra-legacy-theme/src/terra-dev-site/test/legacy-theme/LegacyThemeBrandFooter.module.scss
  packages/terra-legacy-theme/src/terra-dev-site/test/legacy-theme/LegacyThemeBrandFooter.test.jsx
  packages/terra-legacy-theme/src/terra-dev-site/test/legacy-theme/LegacyThemeNavigationSideMenu.test.jsx
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/en/chrome_large/theme-spec/Brand_Footer[footer-content-background-color].png
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/en/chrome_large/theme-spec/Brand_Footer[footer-content-color].png
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/en/chrome_large/theme-spec/Brand_Footer[link-active-color].png
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/en/chrome_large/theme-spec/Brand_Footer[link-color].png
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/en/chrome_large/theme-spec/Brand_Footer[link-focus-color].png
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/en/chrome_large/theme-spec/Brand_Footer[link-hover-color].png
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/en/chrome_large/theme-spec/Brand_Footer[nav-background-color].png
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/en/chrome_large/theme-spec/Brand_Footer[nav-color].png
  packages/terra-legacy-theme/tests/wdio/__snapshots__/reference/en/chrome_large/theme-spec/Brand_Footer[nav-header-color].png
  packages/terra-legacy-theme/tests/wdio/theme-spec.js
Labels: enhancement, legacy-theme

#1758 changed table background color
  CONTRIBUTORS.md
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.module.scss
Labels: table

#1766 Update i18n Info to Reference terra-ui's Doc
  README.md
Labels: docs

#1768 [terra-overlay] Updated backgroundStyle documentation
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/src/Overlay.jsx
Labels: docs, overlay

#1771 Expose BlockActionFooter
  packages/terra-action-footer/CHANGELOG.md
  packages/terra-action-footer/docs/BlockActionFooter.md
  packages/terra-action-footer/docs/CenteredActionFooter.md
  packages/terra-action-footer/src/ActionFooter.jsx
  packages/terra-action-footer/src/ActionFooter.module.scss
  packages/terra-action-footer/src/BlockActionFooter.jsx
  packages/terra-action-footer/src/BlockActionFooter.module.scss
  packages/terra-action-footer/src/CenteredActionFooter.jsx
  packages/terra-action-footer/src/CenteredActionFooter.module.scss
  packages/terra-action-footer/src/terra-dev-site/doc/action-footer/Block.c.doc.jsx
  packages/terra-action-footer/src/terra-dev-site/doc/example/block/Empty.jsx
  packages/terra-action-footer/src/terra-dev-site/doc/example/block/MultipleActions.jsx
  packages/terra-action-footer/src/terra-dev-site/doc/example/block/SingleAction.jsx
  packages/terra-action-footer/src/terra-dev-site/doc/example/centered/MultipleActions.jsx
  packages/terra-action-footer/src/terra-dev-site/test/action-footer/WithActionsBlockActionFooter.test.jsx
  packages/terra-action-footer/src/terra-dev-site/test/action-footer/WithoutActionsActionFooterContainer.test.jsx
  packages/terra-action-footer/src/terra-dev-site/test/action-footer/WithoutActionsBlockActionFooter.test.jsx
  packages/terra-action-footer/tests/jest/ActionFooter.test.jsx
  packages/terra-action-footer/tests/jest/ActionFooterContainer.test.jsx
  packages/terra-action-footer/tests/jest/BlockActionFooter.test.jsx
  packages/terra-action-footer/tests/jest/CenteredActionFooter.test.jsx
  packages/terra-action-footer/tests/jest/__snapshots__/ActionFooter.test.jsx.snap
  packages/terra-action-footer/tests/jest/__snapshots__/ActionFooterContainer.test.jsx.snap
  packages/terra-action-footer/tests/jest/__snapshots__/BlockActionFooter.test.jsx.snap
  packages/terra-action-footer/tests/jest/__snapshots__/CenteredActionFooter.test.jsx.snap
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-container-spec/With_Actions[--terra-action-footer-background-color].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-container-spec/With_Actions[--terra-action-footer-border-top].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-container-spec/With_Actions[--terra-action-footer-padding-bottom].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-container-spec/With_Actions[--terra-action-footer-padding-left].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-container-spec/With_Actions[--terra-action-footer-padding-right].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-container-spec/With_Actions[--terra-action-footer-padding-top].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-container-spec/With_Actions[--terra-action-footer-with-actions-min-height].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-container-spec/With_Actions[default].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/No_Actions[--terra-action-footer-background-color].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/No_Actions[--terra-action-footer-border-top].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/No_Actions[--terra-action-footer-empty-height].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/No_Actions[default].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/With_Actions[--terra-action-footer-background-color].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/With_Actions[--terra-action-footer-border-top].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/With_Actions[--terra-action-footer-padding-bottom].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/With_Actions[--terra-action-footer-padding-left].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/With_Actions[--terra-action-footer-padding-right].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/With_Actions[--terra-action-footer-padding-top].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/With_Actions[--terra-action-footer-with-actions-min-height].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/With_Actions[default].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/action-footer-container-spec/With_Actions[default].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/block-action-footer-spec/No_Actions[default].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/block-action-footer-spec/With_Actions[default].png
  packages/terra-action-footer/tests/wdio/block-action-footer-spec.js
Labels: Small, action footer, enhancement

#1781 added refCallback prop to terra-button
  CONTRIBUTORS.md
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/tests/jest/Button.test.jsx
  packages/terra-button/tests/jest/__snapshots__/Button.test.jsx.snap
Labels: tech-only

#1789 Update repo to use stylelint-config-terra
  package.json
Labels: Small, build-tools

#1791 Accounting for multiple exports
  CONTRIBUTORS.md
  packages/terra-props-table/CHANGELOG.md
  packages/terra-props-table/src/PropsTable.jsx
Labels: Small, props-table, tech-only

#1808 Update marked version used in terra-markdown
  packages/terra-markdown/CHANGELOG.md
  packages/terra-markdown/package.json
Labels: markdown

#1800 Document dependency status in individual packages
  README.md
Labels: Small, docs

#1798 Add ability to render custom content in doc-template
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/src/DocTemplate.jsx
  packages/terra-doc-template/src/terra-dev-site/test/doc-template/DefaultDocTemplate.test.jsx
  packages/terra-doc-template/src/terra-dev-site/test/doc-template/common/CustomPropsTable.jsx
  packages/terra-doc-template/tests/jest/DocTemplate.test.jsx
  packages/terra-doc-template/tests/jest/__snapshots__/DocTemplate.test.jsx.snap
Labels: Small, doc-template
