Repository cerner/terra-core, pull requests merged in 2018-06, with the labels that each got.

#1553 Update jest and other dev dependencies (except eslint)
  package.json
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItem.test.jsx.snap
  packages/terra-date-picker/tests/jest/DatePicker.test.jsx
  packages/terra-date-time-picker/tests/jest/__snapshots__/TimeClarification.test.jsx.snap
  packages/terra-profile-image/tests/jest/__snapshots__/ProfileImage.test.jsx.snap
  packages/terra-toggle-button/tests/jest/ToggleButton.test.jsx
  packages/terra-toggle-button/tests/jest/__snapshots__/ToggleButton.test.jsx.snap
  packages/terra-toggle-section-header/tests/jest/ToggleSectionHeader.test.jsx
  packages/terra-toggle-section-header/tests/jest/__snapshots__/ToggleSectionHeader.test.jsx.snap
Labels: Small, tech-only

#1561 [terra-form-select] - Allow custom onBlur
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.jsx
  packages/terra-form-select/tests/jest/Frame.test.jsx
Labels: form-select

#1559 [slide-group] Nightwatch => Wdio
  packages/terra-slide-group/package.json
  packages/terra-slide-group/tests/nightwatch/slide-group-spec.js
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/chrome/Animated[slide 1].838x768.png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/chrome/Animated[slide 2].838x768.png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/chrome/Default[default].838x768.png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/chrome/Non_Animated[slide 1].838x768.png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/chrome/Non_Animated[slide 2].838x768.png
  packages/terra-slide-group/tests/wdio/__snapshots__/reference/chrome/One_Item[default].838x768.png
  packages/terra-slide-group/tests/wdio/slide-group-spec.js
Labels: slide-group, testing

#1574 Fix Issue with Time Input
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/TimeInput.jsx
  packages/terra-time-input/tests/jest/TimeInput.test.jsx
Labels: bug, time input

#1584 Update babel preset.
  .babelrc
  package.json
Labels: build-tools

#1577 [terra-form-textarea] Add setRef prop
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/Textarea.jsx
  packages/terra-form-textarea/tests/jest/Textarea.test.jsx
  packages/terra-form-textarea/tests/jest/__snapshots__/Textarea.test.jsx.snap
Labels: enhancement, form-textarea

#1583 [terra-status-view] Align peerDependencies
  CONTRIBUTORS.md
  packages/terra-status-view/package.json
Labels: status view

#1562 Add hyperlink component
  packages/terra-hyperlink/.npmignore
  packages/terra-hyperlink/.npmrc
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/LICENSE
  packages/terra-hyperlink/NOTICE
  packages/terra-hyperlink/README.md
  packages/terra-hyperlink/docs/README.md
  packages/terra-hyperlink/package.json
  packages/terra-hyperlink/src/Hyperlink.jsx
  packages/terra-hyperlink/src/Hyperlink.scss
  packages/terra-hyperlink/src/terra-dev-site/doc/Hyperlink.doc.jsx
  packages/terra-hyperlink/src/terra-dev-site/doc/example/AudioHyperlink.jsx
  packages/terra-hyperlink/src/terra-dev-site/doc/example/DefaultHyperlink.jsx
  packages/terra-hyperlink/src/terra-dev-site/doc/example/DisabledHyperlink.jsx
  packages/terra-hyperlink/src/terra-dev-site/doc/example/DocumentHyperlink.jsx
  packages/terra-hyperlink/src/terra-dev-site/doc/example/ExternalHyperlink.jsx
  packages/terra-hyperlink/src/terra-dev-site/doc/example/ImageHyperlink.jsx
  packages/terra-hyperlink/src/terra-dev-site/doc/example/UnderlineHiddenHyperlink.jsx
  packages/terra-hyperlink/src/terra-dev-site/doc/example/VideoHyperlink.jsx
  packages/terra-hyperlink/src/terra-dev-site/test/hyperlink/AudioHyperlink.test.jsx
  packages/terra-hyperlink/src/terra-dev-site/test/hyperlink/DefaultHyperlink.test.jsx
  packages/terra-hyperlink/src/terra-dev-site/test/hyperlink/DisabledHyperlink.test.jsx
  packages/terra-hyperlink/src/terra-dev-site/test/hyperlink/DocumentHyperlink.test.jsx
  packages/terra-hyperlink/src/terra-dev-site/test/hyperlink/ExternalHyperlink.test.jsx
  packages/terra-hyperlink/src/terra-dev-site/test/hyperlink/IconNonWrappingHyperlink.test.jsx
  packages/terra-hyperlink/src/terra-dev-site/test/hyperlink/ImageHyperlink.test.jsx
  packages/terra-hyperlink/src/terra-dev-site/test/hyperlink/ScaledHyperlink.test.jsx
  packages/terra-hyperlink/src/terra-dev-site/test/hyperlink/StatesHyperlink.test.jsx
  packages/terra-hyperlink/src/terra-dev-site/test/hyperlink/UnderlineHiddenHyperlink.test.jsx
  packages/terra-hyperlink/src/terra-dev-site/test/hyperlink/VideoHyperlink.test.jsx
  packages/terra-hyperlink/tests/jest/Hyperlink.test.jsx
  packages/terra-hyperlink/tests/jest/__snapshots__/Hyperlink.test.jsx.snap
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Audio[--terra-link-audio-icon].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Audio[default].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Default[default].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Disabled[--terra-link-disabled-color].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Disabled[default].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Document[--terra-link-document-icon].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Document[default].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/External[--terra-link-external-icon].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/External[default].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Icon_Non_Wrapping[default].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Image[--terra-link-image-icon].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Image[default].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Scaled[default].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/States[default].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/States[themed].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Underline_Hidden[default].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Video[--terra-link-video-icon].470x768.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/chrome/Video[default].470x768.png
  packages/terra-hyperlink/tests/wdio/hyperlink-spec.js
Labels: hyperlink, new component

#1547 [terra-responsive-element] Removed the wrapping div when rendered into the dom
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DatePicker.jsx
  packages/terra-responsive-element/CHANGELOG.md
  packages/terra-responsive-element/package.json
  packages/terra-responsive-element/src/ResponsiveElement.jsx
  packages/terra-responsive-element/src/terra-dev-site/doc/ResponsiveElement.doc.jsx
  packages/terra-responsive-element/src/terra-dev-site/doc/example/ResponsiveExample.jsx
  packages/terra-responsive-element/src/terra-dev-site/doc/example/ResponsiveExample.scss
  packages/terra-responsive-element/src/terra-dev-site/doc/example/ResponsiveTable.jsx
  packages/terra-responsive-element/src/terra-dev-site/test/responsive-element/AllBreakpoints.test.jsx
  packages/terra-responsive-element/src/terra-dev-site/test/responsive-element/AllBreakpointsSmallParent.test.jsx
  packages/terra-responsive-element/src/terra-dev-site/test/responsive-element/DefaultAndMedium.test.jsx
  packages/terra-responsive-element/src/terra-dev-site/test/responsive-element/DefaultResponsiveElement.test.jsx
  packages/terra-responsive-element/src/terra-dev-site/test/responsive-element/HugeResponsiveElement.test.jsx
  packages/terra-responsive-element/src/terra-dev-site/test/responsive-element/LargeResponsiveElement.test.jsx
  packages/terra-responsive-element/src/terra-dev-site/test/responsive-element/MediumResponsiveElement.test.jsx
  packages/terra-responsive-element/src/terra-dev-site/test/responsive-element/SmallResponsiveElement.test.jsx
  packages/terra-responsive-element/src/terra-dev-site/test/responsive-element/TinyResponsiveElement.test.jsx
  packages/terra-responsive-element/tests/jest/ResponsiveElement.test.jsx
  packages/terra-responsive-element/tests/jest/__snapshots__/ResponsiveElement.test.jsx.snap
  packages/terra-responsive-element/tests/nightwatch/responsive-element-spec.js
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_appropriate_element_at_each_viewport[default].1000x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_appropriate_element_at_each_viewport[default].1300x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_appropriate_element_at_each_viewport[default].470x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_appropriate_element_at_each_viewport[default].622x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_appropriate_element_at_each_viewport[default].838x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_default_element_at_all_viewports_if_the_parent_remains_the_same_width[default].1000x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_default_element_at_all_viewports_if_the_parent_remains_the_same_width[default].1300x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_default_element_at_all_viewports_if_the_parent_remains_the_same_width[default].470x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_default_element_at_all_viewports_if_the_parent_remains_the_same_width[default].622x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_default_element_at_all_viewports_if_the_parent_remains_the_same_width[default].838x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_the_default_element_at_tiny_and_small_and_medium_above[default].1000x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_the_default_element_at_tiny_and_small_and_medium_above[default].1300x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_the_default_element_at_tiny_and_small_and_medium_above[default].470x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_the_default_element_at_tiny_and_small_and_medium_above[default].622x768.png
  packages/terra-responsive-element/tests/wdio/__snapshots__/reference/chrome/should_render_the_the_default_element_at_tiny_and_small_and_medium_above[default].838x768.png
  packages/terra-responsive-element/tests/wdio/responsive-element-spec.js
Labels: Large, Major Version Bump, enhancement, responsive element

#1593 [terra-tabs] Fix className not displaying on child Tab Panes
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/Tabs.jsx
  packages/terra-tabs/tests/jest/Tabs.test.jsx
  packages/terra-tabs/tests/jest/__snapshots__/Tabs.test.jsx.snap
Labels: bug, tabs

#1599 [terra-form-select] - Fixed CSS theme variable names
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.module.scss
  packages/terra-form-select/src/_OptGroup.module.scss
  packages/terra-form-select/src/_Option.module.scss
Labels: bug, form-select

#1582 [terra-toggle-section-header] Remove onOpen / onClose from customProps
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/src/ToggleSectionHeader.jsx
  packages/terra-toggle-section-header/tests/jest/__snapshots__/ToggleSectionHeader.test.jsx.snap
Labels: bug, toggle-section-header

#1588 [terra-abstract-modal] Nightwatch -> Wdio
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-abstract-modal/tests/nightwatch/abstract-modal-spec.js
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Append_Class[default].838x768.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Content_Overflow[default].1870x1684.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Content_Overflow[themed].1870x1684.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Custom_Props[default].838x768.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Disable_Close_On_Esc[modal present].1870x1684.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Disable_Close_On_Esc[modal present].838x768.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Disable_Close_On_Outside_Click[modal present].1870x1684.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Disable_Close_On_Outside_Click[modal present].838x768.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Is_Fullscreen[modal closed, with focus].1870x1684.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Is_Fullscreen[modal closed, with focus].838x768.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Is_Fullscreen[modal closed].1870x1684.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Is_Fullscreen[modal closed].838x768.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Is_Fullscreen[modal present].1870x1684.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Is_Fullscreen[modal present].838x768.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Is_Open[default].1870x1684.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Is_Open[default].838x768.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Is_Open[modal closed, with focus].1870x1684.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Is_Open[modal closed, with focus].838x768.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Is_Open[modal closed].1870x1684.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Is_Open[modal closed].838x768.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/No_Focusable_Content[default].1870x1684.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/No_Focusable_Content[default].838x768.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Override_Role[default].1870x1684.png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/chrome/Override_Role[default].838x768.png
  packages/terra-abstract-modal/tests/wdio/abstract-modal-spec.js
Labels: abstract-modal, testing

#1601 [terra-date-picker] Nightwatch -> Wdio
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-picker/tests/nightwatch/date-picker-spec.js
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default[default].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Excluded_-_Clears_input_focusing_on_input_box[default date cleared].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Excluded_-_Clears_input_focusing_on_input_box[default date displayed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Excluded_-_Clears_input_using_calendar_icon[default date cleared].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Excluded_-_Clears_input_using_calendar_icon[default date displayed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Exlcuded[default date cleared].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Exlcuded[default date displayed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Out_Of_Range_-_Clears_input_focusing_on_input_box[default date cleared].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Out_Of_Range_-_Clears_input_focusing_on_input_box[default date displayed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Out_Of_Range_-_Clears_input_using_calendar_icon[default date cleared].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Out_Of_Range_-_Clears_input_using_calendar_icon[default date displayed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Exlcude_Dates[default].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Filter_Dates[default].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Include_Dates[default].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Inside_Modal_-_Displays_DatePicker_inside_Modal_and_dismisses_after_hitting_Enter[DatePicker closed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Inside_Modal_-_Displays_DatePicker_inside_Modal_and_dismisses_after_hitting_Enter[DatePicker open].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Inside_Modal_-_Displays_DatePicker_inside_Modal_and_dismisses_after_hitting_Escape[DatePicker closed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Inside_Modal_-_Displays_DatePicker_inside_Modal_and_dismisses_after_hitting_Escape[DatePicker open].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Inside_Modal_-_Displays_DatePicker_inside_Modal_and_dismisses_after_hitting_Escape[Modal closed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Inside_Modal_-_Displays_DatePicker_inside_Modal_and_dismisses_after_hitting_Tab[DatePicker closed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Inside_Modal_-_Displays_DatePicker_inside_Modal_and_dismisses_after_hitting_Tab[DatePicker open].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Inside_Modal_-_Displays_DatePicker_inside_Modal_and_dismisses_after_selecting_date[DatePicker closed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Inside_Modal_-_Displays_DatePicker_inside_Modal_and_dismisses_after_selecting_date[DatePicker open].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Min_Max[default].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/On_Change[date set].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/On_Change[no date set].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/On_Change_Raw[date set to 06-01-2017].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/On_Change_Raw[date set to 06-01].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/On_Click_Outside[date picker closed with dismissal message].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/On_Select[Selected date displayed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/On_Select[Selected date not displayed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Start_Date[default].838x768.png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Labels: datepicker, testing

#1586 [terra-menu] convert night watch to webdriver
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/package.json
  packages/terra-menu/src/terra-dev-site/test/menu/menu-item-group/MenuItemGroupDefault.test.jsx
  packages/terra-menu/tests/nightwatch/menu-item-group-spec.js
  packages/terra-menu/tests/nightwatch/menu-item-spec.js
  packages/terra-menu/tests/nightwatch/menu-spec.js
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu-Bounded[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu-Bounded[submenu].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu-Default[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu-Large_Height[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu-Medium_Height[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu-Non-Selectable[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu-Selectable[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu-Selectable_with_Varying_Items[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu-Selectable_with_Varying_Items[maintained selection after reopen].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu-Small_Height[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item-Default[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item-Disabled[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item-Disabled[disabled item was not checked].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item-Selectable_Via_Click[deselected].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item-Selectable_Via_Click[selected].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item-Selectable_Via_Enter[deselected].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item-Selectable_Via_Enter[selected].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item-Submenu_Indicator[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item-Wrapped_Text[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item_Group-Default[default].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item_Group-Selectable_Via_Click[Item 1 Selected].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item_Group-Selectable_Via_Click[Item 3 Selected].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item_Group-Selectable_Via_Keyboard_Navigation[Item 2 Selected].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Item_Group-Selectable_Via_Keyboard_Navigation[Item 3 Selected].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Keyboard_Navigation-Arrow_Keys[main menu remains open].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Keyboard_Navigation-Arrow_Keys[navigated to submenu].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Keyboard_Navigation-Arrow_Keys[returned to main menu].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Keyboard_Navigation-Enter_Key[navigated to submenu].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_Keyboard_Navigation-Enter_Key[returned to main menu].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_with_a_submenu[main menu].838x768.png
  packages/terra-menu/tests/wdio/__snapshots__/reference/chrome/Menu_with_a_submenu[submenu].838x768.png
  packages/terra-menu/tests/wdio/menu-item-group-spec.js
  packages/terra-menu/tests/wdio/menu-item-spec.js
  packages/terra-menu/tests/wdio/menu-spec.js
Labels: accessibility, menu, testing

#1603 [terra-date-picker] Fix broken test pages
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerDefaultDateExcluded.test.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerDefaultDateOutOfRange.test.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerDisabled.test.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerInputAttributes.test.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerModalContainer.test.jsx
  packages/terra-date-picker/src/terra-dev-site/test/date-picker/DatePickerReadOnly.test.jsx
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Excluded_-_Clears_input_focusing_on_input_box[default date cleared].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Excluded_-_Clears_input_focusing_on_input_box[default date displayed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Excluded_-_Clears_input_using_calendar_icon[default date cleared].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Excluded_-_Clears_input_using_calendar_icon[default date displayed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Out_Of_Range_-_Clears_input_focusing_on_input_box[default date cleared].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Out_Of_Range_-_Clears_input_focusing_on_input_box[default date displayed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Out_Of_Range_-_Clears_input_using_calendar_icon[default date cleared].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Default_Date_Out_Of_Range_-_Clears_input_using_calendar_icon[default date displayed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Disabled[default].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Exclude_Dates[default].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/On_Change[date set].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/On_Change[no date set].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/On_Change_Raw[date set to 06-01-2017].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/On_Change_Raw[date set to 06-01].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/On_Select[Selected date not displayed].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Read_Only[clicked].838x768.png
  packages/terra-date-picker/tests/wdio/__snapshots__/reference/chrome/Read_Only[not clicked].838x768.png
  packages/terra-date-picker/tests/wdio/date-picker-spec.js
Labels: Small, bug, datepicker, tech-only, testing

#1623 Update things so tests work in theme repo
  packages/terra-action-footer/CHANGELOG.md
  packages/terra-action-footer/src/terra-dev-site/test/action-footer/MultipleStartEndActionFooter.test.jsx
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/chrome/Multiple_Start_and_End_Actions[--terra-action-footer-background-color].838x768.png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/chrome/Multiple_Start_and_End_Actions[--terra-action-footer-border-top].838x768.png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/chrome/Multiple_Start_and_End_Actions[--terra-action-footer-padding-bottom].838x768.png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/chrome/Multiple_Start_and_End_Actions[--terra-action-footer-padding-left].838x768.png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/chrome/Multiple_Start_and_End_Actions[--terra-action-footer-padding-right].838x768.png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/chrome/Multiple_Start_and_End_Actions[--terra-action-footer-padding-top].838x768.png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/chrome/Multiple_Start_and_End_Actions[--terra-action-footer-with-actions-min-height].838x768.png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/chrome/Multiple_Start_and_End_Actions[default].622x768.png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/chrome/Multiple_Start_and_End_Actions[default].838x768.png
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/tests/wdio/form-checkbox-field-spec.js
  packages/terra-form-checkbox/tests/wdio/form-checkbox-spec.js
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/tests/wdio/radio-field-spec.js
  packages/terra-form-radio/tests/wdio/radio-spec.js
Labels: action footer, form-checkbox, form-radio, tech-only

#1592 [terra-list] Fix Items Views not truncating when used with chevrons in IE
  packages/terra-list/CHANGELOG.md
  packages/terra-list/package.json
  packages/terra-list/src/List.scss
  packages/terra-list/src/ListItem.jsx
  packages/terra-list/src/terra-dev-site/test/list/selectable-list/ItemViewTruncation.test.jsx
  packages/terra-list/tests/jest/__snapshots__/ListItem.test.jsx.snap
Labels: bug, list

#1625 Fix icon display in paginator
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/Paginator.module.scss
Labels: Small, bug, pagination, tech-only

#1581 [terra-avatar] Fix image flicker (when possible)
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/src/Avatar.jsx
  packages/terra-avatar/src/terra-dev-site/assets/163x40.png
  packages/terra-avatar/src/terra-dev-site/test/avatar/UpdateAvatar.test.jsx
Labels: avatar, bug, tech-only

#1618 Refactor status-view classnames.
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/StatusView.jsx
  packages/terra-status-view/src/StatusView.scss
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
Labels: status view

#1624 update terra-form-select input text color to inherit from base text color
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.module.scss
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/combobox_controlled_should_select_an_option_by_click[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/combobox_should_allow_a_free_text_entry[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/combobox_should_select_an_option_by_click[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/combobox_should_select_an_option_by_pressing_enter[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/search_controlled_should_select_an_option_by_click[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/search_should_select_an_option_by_click[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/search_should_select_an_option_by_pressing_enter[selected-option].470x768.png
Labels: Small, tech-only

#1612 Update Base Dependencies/Peer Dependencies
  packages/terra-abstract-modal/package.json
  packages/terra-action-footer/package.json
  packages/terra-action-header/package.json
  packages/terra-alert/package.json
  packages/terra-arrange/package.json
  packages/terra-avatar/package.json
  packages/terra-badge/package.json
  packages/terra-button-group/package.json
  packages/terra-button/package.json
  packages/terra-card/package.json
  packages/terra-collapsible-menu-view/package.json
  packages/terra-content-container/package.json
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/package.json
  packages/terra-demographics-banner/package.json
  packages/terra-dialog/package.json
  packages/terra-divider/package.json
  packages/terra-doc-template/package.json
  packages/terra-dynamic-grid/package.json
  packages/terra-embedded-content-consumer/package.json
  packages/terra-form-checkbox/package.json
  packages/terra-form-field/package.json
  packages/terra-form-fieldset/package.json
  packages/terra-form-input/package.json
  packages/terra-form-radio/package.json
  packages/terra-form-select/package.json
  packages/terra-form-textarea/package.json
  packages/terra-grid/package.json
  packages/terra-heading/package.json
  packages/terra-hyperlink/package.json
  packages/terra-icon/package.json
  packages/terra-image/package.json
  packages/terra-list/package.json
  packages/terra-menu/package.json
  packages/terra-overlay/package.json
  packages/terra-paginator/package.json
  packages/terra-profile-image/package.json
  packages/terra-progress-bar/package.json
  packages/terra-responsive-element/package.json
  packages/terra-scroll/package.json
  packages/terra-search-field/package.json
  packages/terra-section-header/package.json
  packages/terra-signature/package.json
  packages/terra-slide-group/package.json
  packages/terra-spacer/package.json
  packages/terra-status-view/package.json
  packages/terra-status/package.json
  packages/terra-table/package.json
  packages/terra-tabs/package.json
  packages/terra-tag/package.json
  packages/terra-text/package.json
  packages/terra-time-input/package.json
  packages/terra-toggle-button/package.json
  packages/terra-toggle-section-header/package.json
  packages/terra-toggle/package.json
Labels: Small, tech-only

#1568 Fix Status view contents overflowing
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/StatusView.jsx
  packages/terra-status-view/src/StatusView.scss
  packages/terra-status-view/src/terra-dev-site/test/status-view/StatusViewThinConstraint.test.jsx
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_custom_status_view[default].470x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_custom_status_view[default].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_custom_status_view[themed].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_status_view[default].470x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_status_view[default].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_default_status_view[themed].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_no-data_status_view_with_the_content_centered_in_its_container[default].470x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_no-data_status_view_with_the_content_centered_in_its_container[default].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_no-data_status_view_with_the_content_centered_in_its_container[themed].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_no-matching-results_status_view_with_the_content_aligned_at_the_top_in_its_container[default].470x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_no-matching-results_status_view_with_the_content_aligned_at_the_top_in_its_container[default].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_no-matching-results_status_view_with_the_content_aligned_at_the_top_in_its_container[themed].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_not-authorized_status_view[default].470x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_not-authorized_status_view[default].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_a_not-authorized_status_view[themed].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_that_displays_wrapping_text[default].470x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_that_displays_wrapping_text[default].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_that_displays_wrapping_text[themed].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_that_is_too_thin_for_a_glyph_and_forces_word_wrapping[default].75x700.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_with_all_props_given[default].470x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_with_all_props_given[default].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_with_all_props_given[themed].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_with_the_glyph_being_hidden[default].470x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_with_the_glyph_being_hidden[default].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_with_the_glyph_being_hidden[themed].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_with_the_glyph_being_hidden_with_too_small_of_a_height[default].470x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_with_the_glyph_being_hidden_with_too_small_of_a_height[default].838x768.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/chrome/Displays_an_error_status_view_with_the_glyph_being_hidden_with_too_small_of_a_height[themed].838x768.png
  packages/terra-status-view/tests/wdio/status-view-spec.js
Labels: bug, status view

#1631 Theme signature stroke color
  packages/terra-signature/CHANGELOG.md
  packages/terra-signature/src/Signature.jsx
  packages/terra-signature/tests/wdio/__snapshots__/reference/chrome/Drawing_Lines[themed].838x768.png
  packages/terra-signature/tests/wdio/__snapshots__/reference/chrome/Themed_Drawing_Lines[default].838x768.png
  packages/terra-signature/tests/wdio/signature-spec.js
Labels: signature

#1632 Updated readme docs import
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/terra-dev-site/doc/Alert.doc.jsx
Labels: alert

#1629 Added localized aria-labels menu buttons when in bounded context
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/_MenuContent.jsx
  packages/terra-menu/translations/ar.json
  packages/terra-menu/translations/de.json
  packages/terra-menu/translations/en-GB.json
  packages/terra-menu/translations/en-US.json
  packages/terra-menu/translations/en.json
  packages/terra-menu/translations/es-ES.json
  packages/terra-menu/translations/es-US.json
  packages/terra-menu/translations/es.json
  packages/terra-menu/translations/fi-FI.json
  packages/terra-menu/translations/fr-FR.json
  packages/terra-menu/translations/fr.json
  packages/terra-menu/translations/nl-BE.json
  packages/terra-menu/translations/nl.json
  packages/terra-menu/translations/pt-BR.json
  packages/terra-menu/translations/pt.json
Labels: menu

#1628 Fix height display issue in progress bar
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/src/ProgressBar.scss
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/chrome/Color[default].838x768.png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/chrome/Default[default].838x768.png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/chrome/Gradient[default].838x768.png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/chrome/Size[default].838x768.png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/chrome/Size[themed].838x768.png
Labels: progress bar

#1619 [search-field] Nightwatch => Wdio
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-search-field/src/terra-dev-site/test/search-field/AutoSearchDisabledSearchField.test.jsx
  packages/terra-search-field/src/terra-dev-site/test/search-field/CallbackSearchField.test.jsx
  packages/terra-search-field/src/terra-dev-site/test/search-field/MinimumLengthSearchField.test.jsx
  packages/terra-search-field/src/terra-dev-site/test/search-field/SearchFieldEnter.test.jsx
  packages/terra-search-field/src/terra-dev-site/test/search-field/SearchFieldWithValue.test.jsx
  packages/terra-search-field/tests/jest/SearchField.test.jsx
  packages/terra-search-field/tests/nightwatch/search-field-spec.js
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Auto_Search_Disabled[extended search].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Auto_Search_Disabled[searched text].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Auto_Search_Disabled[text before search].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Block[empty].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Block[with text].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Callback[empty].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Callback[with long enough text].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Callback[with too short text].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Default[empty].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Default[scrolled text].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Default[with text].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Disabled[default].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Minimum_Length[with long enough text].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Minimum_Length[with too short text after button press].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Minimum_Length[with too short text].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/On_Change[updated once].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/On_Change[updated twice].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/Search_With_Enter[default].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/With_Default_Value[default value].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/With_Default_Value[with overwritten text].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/With_Placeholder[placeholder].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/With_Placeholder[with text].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/With_Value[default value].838x768.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/chrome/With_Value[unchanged text].838x768.png
  packages/terra-search-field/tests/wdio/search-field-spec.js
Labels: search field, tech-only, testing

#1638 Paginator a11y update
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/ControlledPaginator.jsx
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/Paginator.module.scss
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-paginator/tests/jest/__snapshots__/ControlledPaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ControlledProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/Paginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ProgressivePaginator.test.jsx.snap
Labels: Small, a11y, pagination, tech-only

#1641 Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Labels: tech-only

#1643 Removed CSS modules composes call
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/Alert.jsx
  packages/terra-alert/src/Alert.scss
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/src/ButtonGroup.scss
  packages/terra-button-group/src/ButtonGroupButton.jsx
  packages/terra-button-group/src/ButtonGroupButton.scss
Labels: alert, button group, css-modules

#1642 Textarea wdio
  packages/terra-form-textarea/package.json
  packages/terra-form-textarea/tests/nightwatch/textarea-spec.js
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_DocumentTouch_exists_and_browser_screen_is_not_desktop_size[0].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_DocumentTouch_exists_and_browser_screen_is_not_desktop_size[0].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_DocumentTouch_exists_and_browser_screen_is_not_desktop_size[1].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_DocumentTouch_exists_and_browser_screen_is_not_desktop_size[1].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_maxTouchPoints_exists_and_browser_screen_is_not_desktop_size[0].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_maxTouchPoints_exists_and_browser_screen_is_not_desktop_size[0].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_maxTouchPoints_exists_and_browser_screen_is_not_desktop_size[1].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_maxTouchPoints_exists_and_browser_screen_is_not_desktop_size[1].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_msMaxTouchPoints_exists_and_browser_screen_is_not_desktop_size[0].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_msMaxTouchPoints_exists_and_browser_screen_is_not_desktop_size[0].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_msMaxTouchPoints_exists_and_browser_screen_is_not_desktop_size[1].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_msMaxTouchPoints_exists_and_browser_screen_is_not_desktop_size[1].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_ontouch_exists_and_browser_screen_is_not_desktop_size[0].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_ontouch_exists_and_browser_screen_is_not_desktop_size[0].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_ontouch_exists_and_browser_screen_is_not_desktop_size[1].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Blocks_autoresizing_for_when_ontouch_exists_and_browser_screen_is_not_desktop_size[1].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Does_not_resize_textareas_that_are_non-resizable[0].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Does_not_resize_textareas_that_are_non-resizable[0].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Does_not_resize_textareas_that_are_non-resizable[1].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Does_not_resize_textareas_that_are_non-resizable[1].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Full_Size_Textarea_Height_Resizing[default].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Full_Size_Textarea_Height_Resizing[default].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Invalid[default].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Invalid[default].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Invalid[themed].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Large_Textarea_Height_Resizing[default].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Large_Textarea_Height_Resizing[default].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Medium_Textarea_Height_Resizing[default].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Medium_Textarea_Height_Resizing[default].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Props_Populated[default].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Props_Populated[default].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Props_Populated[themed].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Resizes_when_given_several_rows_of_input[0].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Resizes_when_given_several_rows_of_input[0].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Resizes_when_given_several_rows_of_input[1].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Resizes_when_given_several_rows_of_input[1].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Small_Textarea_Height_Resizing[default].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/Small_Textarea_Height_Resizing[default].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/default[default].1000x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/default[default].470x768.png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/chrome/default[themed].1000x768.png
  packages/terra-form-textarea/tests/wdio/form-textarea-spec.js
  packages/terra-markdown/package.json
  packages/terra-markdown/src/terra-dev-site/test/markdown/MockMarkdown.test.jsx
  packages/terra-markdown/tests/nightwatch/markdown-spec.js
Labels: form-textarea

#1639 Fix extra space displaying below image avatar
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/src/Avatar.scss
  packages/terra-avatar/src/terra-dev-site/test/avatar/ImageGap.test.jsx
  packages/terra-avatar/tests/wdio/__snapshots__/reference/chrome/Image_Spacing[default].1050x895.png
  packages/terra-avatar/tests/wdio/avatar-spec.js
Labels: Small, avatar, tech-only

#1658 Implement request animation frame to correct loop limit error.
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/collapsible-menu-view/ChangeLog.2.doc.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/doc/collapsible-menu-view/CollasibleMenuView.2.doc.jsx
  packages/terra-responsive-element/CHANGELOG.md
  packages/terra-responsive-element/src/ResponsiveElement.jsx
  packages/terra-tabs/CHANGELOG.md
  packages/terra-tabs/src/_CollapsibleTabs.jsx
Labels: bug, collapsible-menu-view, responsive element, tabs, tech-only

#1649 [terra-form-select] Adjust the display to position relative to bring the box-shadow into the foreground
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.module.scss
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/combobox_controlled_should_select_an_option_by_click[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/combobox_should_allow_a_free_text_entry[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/combobox_should_select_an_option_by_click[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/combobox_should_select_an_option_by_pressing_enter[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/search_controlled_should_select_an_option_by_click[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/search_should_select_an_option_by_click[selected-option].470x768.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/chrome/search_should_select_an_option_by_pressing_enter[selected-option].470x768.png
Labels: form-select

#1655 Embedded content consumer wdio
  .travis.yml
  nightwatch.conf.js
  package.json
  packages/terra-embedded-content-consumer/CHANGELOG.md
  packages/terra-embedded-content-consumer/package.json
  packages/terra-embedded-content-consumer/tests/nightwatch/embedded-content-consumer-spec.js
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/chrome/custom-event[default].1000x768.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/chrome/custom-event[default].470x768.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/chrome/custom-events[default].1000x768.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/chrome/custom-events[default].470x768.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/chrome/default[default].1000x768.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/chrome/default[default].470x768.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/chrome/fill[default].1000x768.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/chrome/fill[default].470x768.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/chrome/on-ready[default].1000x768.png
  packages/terra-embedded-content-consumer/tests/wdio/__snapshots__/reference/chrome/on-ready[default].470x768.png
  packages/terra-embedded-content-consumer/tests/wdio/embedded-content-consumer-spec.js
Labels: embedded-content-consumer, tech-only

#1665 Correct terra-content-container IE10 'initial' style bug.
  packages/terra-content-container/CHANGELOG.md
  packages/terra-content-container/src/ContentContainer.scss
Labels: bug, content-container
