Repository cerner/terra-core, pull requests merged in 2018-03, with the labels that each got.

#1301 Remove props table script
  RELEASE.md
  package.json
  packages/terra-alert/package.json
  packages/terra-arrange/package.json
  packages/terra-badge/package.json
  packages/terra-base/package.json
  packages/terra-button-group/package.json
  packages/terra-button/package.json
  packages/terra-card/package.json
  packages/terra-collapsible-menu-view/package.json
  packages/terra-content-container/package.json
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/package.json
  packages/terra-demographics-banner/package.json
  packages/terra-dialog/package.json
  packages/terra-divider/package.json
  packages/terra-dynamic-grid/package.json
  packages/terra-embedded-content-consumer/package.json
  packages/terra-form-checkbox/package.json
  packages/terra-form-field/package.json
  packages/terra-form-input/package.json
  packages/terra-form-radio/package.json
  packages/terra-form-select/package.json
  packages/terra-form-textarea/package.json
  packages/terra-form/package.json
  packages/terra-grid/package.json
  packages/terra-heading/package.json
  packages/terra-hookshot/package.json
  packages/terra-i18n/package.json
  packages/terra-icon/package.json
  packages/terra-image/package.json
  packages/terra-list/package.json
  packages/terra-markdown/package.json
  packages/terra-menu/package.json
  packages/terra-modal/package.json
  packages/terra-overlay/package.json
  packages/terra-popup/package.json
  packages/terra-profile-image/package.json
  packages/terra-progress-bar/package.json
  packages/terra-responsive-element/package.json
  packages/terra-search-field/package.json
  packages/terra-signature/package.json
  packages/terra-slide-group/package.json
  packages/terra-slide-panel/package.json
  packages/terra-spacer/package.json
  packages/terra-status-view/package.json
  packages/terra-status/package.json
  packages/terra-table/package.json
  packages/terra-tabs/package.json
  packages/terra-text/package.json
  packages/terra-time-input/package.json
  packages/terra-toggle-button/package.json
  packages/terra-toggle/package.json
Labels: Large, props-table

#1300 Center content in CardBody
  CONTRIBUTORS.md
  packages/terra-card/CHANGELOG.md
  packages/terra-card/docs/README.md
  packages/terra-card/src/CardBody.jsx
  packages/terra-card/src/CardBody.scss
  packages/terra-card/tests/jest/CardBody.test.jsx
  packages/terra-card/tests/jest/__snapshots__/CardBody.test.jsx.snap
  packages/terra-card/tests/nightwatch/CardContentCenter.jsx
  packages/terra-card/tests/nightwatch/CardTestRoutes.jsx
  packages/terra-card/tests/nightwatch/CardTests.jsx
  packages/terra-card/tests/wdio/__snapshots__/reference/chrome/Card_Body_Centered[default].470x768.png
  packages/terra-card/tests/wdio/card-spec.js
  packages/terra-site/src/examples/card/CardContentCentered.jsx
  packages/terra-site/src/examples/card/Index.jsx
Labels: Small

#1305 Terra form fieldset standalone component.
  packages/terra-form-fieldset/.npmignore
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/LICENSE
  packages/terra-form-fieldset/NOTICE
  packages/terra-form-fieldset/README.md
  packages/terra-form-fieldset/docs/DEPENDENCIES.md
  packages/terra-form-fieldset/docs/README.md
  packages/terra-form-fieldset/package.json
  packages/terra-form-fieldset/src/Fieldset.jsx
  packages/terra-form-fieldset/src/Fieldset.scss
  packages/terra-form-fieldset/tests/jest/FormFieldset.test.jsx
  packages/terra-form-fieldset/tests/jest/__snapshots__/FormFieldset.test.jsx.snap
  packages/terra-form-fieldset/tests/nightwatch/DefaultFieldset.jsx
  packages/terra-form-fieldset/tests/nightwatch/FieldsetTestRoutes.jsx
  packages/terra-form-fieldset/tests/nightwatch/FieldsetTests.jsx
  packages/terra-form-fieldset/tests/nightwatch/PopulatedFieldset.jsx
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/chrome/Default[default].470x768.png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/chrome/Default[default].838x768.png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/chrome/Populated[--terra-form-fieldset-help-text-color].838x768.png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/chrome/Populated[--terra-form-fieldset-help-text-font-size].838x768.png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/chrome/Populated[--terra-form-fieldset-help-text-font-weight].838x768.png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/chrome/Populated[--terra-form-fieldset-legend-color].838x768.png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/chrome/Populated[--terra-form-fieldset-legend-font-weight].838x768.png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/chrome/Populated[default].470x768.png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/chrome/Populated[default].838x768.png
  packages/terra-form-fieldset/tests/wdio/fieldset-spec.js
  packages/terra-site/package.json
  packages/terra-site/src/App.jsx
  packages/terra-site/src/Index.jsx
  packages/terra-site/src/TestLinks.jsx
  packages/terra-site/src/examples/form-fieldset/FieldsetExamples.jsx
  packages/terra-site/src/examples/form-fieldset/Index.jsx
Labels: Large, Needs functional review, new component

#1326 Export AvatarVariants constants from Avatar.
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/src/Avatar.jsx
Labels: avatar, tech-only

#1336 Allow 'Up' PopupArrow to be Themeable
  CONTRIBUTORS.md
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/src/PopupArrow.scss
Labels: Small, tech-only

#1333 Use the new express dev server service for wdio testing.
  package.json
  wdio.conf.js
Labels: Small, tech-only, testing

#1343 Button: refactor icon css selector
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/src/Button.scss
  packages/terra-button/tests/jest/__snapshots__/Button.test.jsx.snap
  packages/terra-date-picker/tests/jest/__snapshots__/DateInput.test.jsx.snap
  packages/terra-toggle-button/tests/jest/__snapshots__/ToggleButton.test.jsx.snap
Labels: Small, button, tech-only

#1346 [terra-i18n] Export injectIntl for consumers of terra-i18n
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/src/I18n.js
Labels: i18n, tech-only

#1348 [terra-site] - Import correct source in Fieldset documentation
  packages/terra-site/CHANGELOG.md
  packages/terra-site/src/examples/form-fieldset/Index.jsx
Labels: Small, bug, terra-site

#1354 Removed isInline prop for form-fieldset
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/src/Fieldset.jsx
  packages/terra-form-fieldset/tests/jest/FormFieldset.test.jsx
  packages/terra-form-fieldset/tests/jest/__snapshots__/FormFieldset.test.jsx.snap
  packages/terra-form-fieldset/tests/nightwatch/PopulatedFieldset.jsx
Labels: Needs functional review, bug, tech-only

#1355 Add deprecated notice to terra-legacy-theme
  README.md
  packages/terra-legacy-theme/README.md
Labels: Small, tech-only

#1357 Add compile:prod task to root package.json
  package.json
Labels: Small, tech-only

#1358 Clean the repo without the confirmation.
  package.json
  packages/terra-time-input/tests/nightwatch/time-input-twelve-hour-mobile-spec.js
Labels: Small, tech-only

#1369 Terra Tag examples fix
  packages/terra-site/CHANGELOG.md
  packages/terra-site/src/examples/tag/HrefTag.jsx
  packages/terra-site/src/examples/tag/Index.jsx
  packages/terra-site/src/examples/tag/TagDefault.jsx
  packages/terra-site/src/examples/tag/TagFallbacks.jsx
  packages/terra-site/src/examples/tag/TagIconAndText.jsx
  packages/terra-tag/src/Tag.scss
  packages/terra-tag/tests/wdio/__snapshots__/reference/chrome/Default_OnClick_Tag[default].470x768.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/chrome/Href_Tag[default].470x768.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/chrome/Icon_and_Text_long_Tag[default].470x768.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/chrome/Multiple_Tags[default].1000x768.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/chrome/Multiple_Tags[default].470x768.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/chrome/Multiple_Tags[default].838x768.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/chrome/OnClick_Tag[--terra-tag-interactive-color].1000x768.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/chrome/OnClick_Tag[--terra-tag-interactive-text-decoration].1000x768.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/chrome/OnClick_Tag[default].1000x768.png
  themeable-variables.json
Labels: enhancement, tag, tech-only

#1374 Consume new terra-dev-site
  package.json
  site.config.js
Labels: Small, tech-only

#1382 Remove slide panel package
  README.md
  generatedComponentConfig.js
  packages/terra-site/src/examples/slide-panel/Index.jsx
  packages/terra-site/src/examples/slide-panel/SlidePanelDemo.jsx
  packages/terra-site/src/examples/slide-panel/SlidePanelEnd.jsx
  packages/terra-site/src/examples/slide-panel/SlidePanelFill.jsx
  packages/terra-site/src/examples/slide-panel/SlidePanelFullscreen.jsx
  packages/terra-site/src/examples/slide-panel/SlidePanelLarge.jsx
  packages/terra-site/src/examples/slide-panel/SlidePanelMainContent.jsx
  packages/terra-site/src/examples/slide-panel/SlidePanelNoFill.jsx
  packages/terra-site/src/examples/slide-panel/SlidePanelOverlay.jsx
  packages/terra-site/src/examples/slide-panel/SlidePanelPanelContent.jsx
  packages/terra-site/src/examples/slide-panel/SlidePanelSmall.jsx
  packages/terra-site/src/examples/slide-panel/SlidePanelSquish.jsx
  packages/terra-site/src/examples/slide-panel/SlidePanelStart.jsx
  packages/terra-slide-panel/.npmignore
  packages/terra-slide-panel/.npmrc
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/LICENSE
  packages/terra-slide-panel/NOTICE
  packages/terra-slide-panel/README.md
  packages/terra-slide-panel/docs/DEPENDENCIES.md
  packages/terra-slide-panel/docs/README.md
  packages/terra-slide-panel/examples/test-examples/SlidePanelSquishLarge.example.jsx
  packages/terra-slide-panel/examples/test-examples/SlidePanelToggle.example.jsx
  packages/terra-slide-panel/package.json
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/src/SlidePanel.scss
  packages/terra-slide-panel/tests/jest/SlidePanel.test.jsx
  packages/terra-slide-panel/tests/jest/__snapshots__/SlidePanel.test.jsx.snap
  packages/terra-slide-panel/tests/nightwatch/components/SlidePanelDefault.jsx
  packages/terra-slide-panel/tests/nightwatch/components/SlidePanelEnd.jsx
  packages/terra-slide-panel/tests/nightwatch/components/SlidePanelFill.jsx
  packages/terra-slide-panel/tests/nightwatch/components/SlidePanelFullscreen.jsx
  packages/terra-slide-panel/tests/nightwatch/components/SlidePanelLarge.jsx
  packages/terra-slide-panel/tests/nightwatch/components/SlidePanelMainContent.jsx
  packages/terra-slide-panel/tests/nightwatch/components/SlidePanelOpen.jsx
  packages/terra-slide-panel/tests/nightwatch/components/SlidePanelOverlay.jsx
  packages/terra-slide-panel/tests/nightwatch/components/SlidePanelPanelContent.jsx
  packages/terra-slide-panel/tests/nightwatch/components/SlidePanelSmall.jsx
  packages/terra-slide-panel/tests/nightwatch/components/SlidePanelSquish.jsx
  packages/terra-slide-panel/tests/nightwatch/components/SlidePanelStart.jsx
  packages/terra-slide-panel/tests/nightwatch/slide-panel-spec.js
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Large_size_squished_slide_panel[--terra-slide-panel-panel-width-large-scalar].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Large_size_squished_slide_panel[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_and_hidden_styles[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_click[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_double_click[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/slide-panel-spec.js
Labels: slide-panel, tech-only

#1373 Add role attribute to div
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/src/SectionHeader.jsx
  packages/terra-section-header/tests/jest/__snapshots__/SectionHeader.test.jsx.snap
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/tests/jest/__snapshots__/ToggleSectionHeader.test.jsx.snap
Labels: Small, enhancement, section-header, tech-only

#1379 Exporting terra-i18n helpers from terra-base
  packages/terra-base/CHANGELOG.md
  packages/terra-base/docs/README.md
  packages/terra-base/src/Base.jsx
Labels: base, tech-only

#1385 Update lower bound express version
  package.json
Labels: Small, build-tools

#1376 Defect fix for issue 1244
  CONTRIBUTING.md
  CONTRIBUTORS.md
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/TableHeader.jsx
  packages/terra-table/src/TableHeaderCell.jsx
  packages/terra-table/tests/jest/TableHeader.test.jsx
  packages/terra-table/tests/jest/__snapshots__/TableHeader.test.jsx.snap
Labels: bug, table

#1388 Update lower bound version of momemnt.js
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/package.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-site/CHANGELOG.md
  packages/terra-site/package.json
Labels: Small, date time picker, datepicker, dependency-update, tech-only

#1386 Clean up terra-mixin dependency
  packages/terra-avatar/src/Avatar.scss
  packages/terra-badge/CHANGELOG.md
  packages/terra-badge/package.json
  packages/terra-badge/src/Badge.scss
  packages/terra-base/CHANGELOG.md
  packages/terra-base/package.json
  packages/terra-base/src/Base.scss
  packages/terra-base/src/_themes.scss
  packages/terra-card/CHANGELOG.md
  packages/terra-card/package.json
  packages/terra-card/src/Card.scss
  packages/terra-card/src/_themes.scss
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/package.json
  packages/terra-form-checkbox/src/Checkbox.scss
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/package.json
Labels: Small, base, card, dependency-update, mixins, tech-only

#1366 progress-bar-uplift
  generatedComponentConfig.js
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/package.json
  packages/terra-progress-bar/src/ProgressBar.jsx
  packages/terra-progress-bar/src/ProgressBar.scss
  packages/terra-progress-bar/tests/jest/ProgressBar.test.jsx
  packages/terra-progress-bar/tests/jest/__snapshots__/ProgressBar.test.jsx.snap
  packages/terra-progress-bar/tests/nightwatch/ProgressBarGradient.jsx
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/chrome/Progress_Bar_Gradient[default].1050x895.png
  packages/terra-progress-bar/tests/wdio/progress-bar-spec.js
  packages/terra-site/src/examples/progress-bar/Index.jsx
  packages/terra-site/src/examples/progress-bar/ProgressBarGradient.jsx
Labels: Small, enhancement, progress bar

#1392 Replaced nightwatch with wdio for divider component
  packages/terra-divider/CHANGELOG.md
  packages/terra-divider/package.json
  packages/terra-divider/tests/nightwatch/divider-spec.js
  packages/terra-divider/tests/wdio/__snapshots__/reference/chrome/Default[--terra-divider-border-color].838x768.png
  packages/terra-divider/tests/wdio/__snapshots__/reference/chrome/Default[--terra-divider-border-top-width].838x768.png
  packages/terra-divider/tests/wdio/__snapshots__/reference/chrome/Default[default].838x768.png
  packages/terra-divider/tests/wdio/divider-spec.js
Labels: Small, divider, testing
