Repository cerner/terra-core, pull requests merged in 2018-02, with the labels that each got.

#1230 Revert link styles
  packages/terra-base/CHANGELOG.md
  packages/terra-base/src/Base.scss
  packages/terra-base/tests/nightwatch/Anchors.jsx
  packages/terra-base/tests/nightwatch/BaseTestRoutes.jsx
  packages/terra-base/tests/nightwatch/BaseTests.jsx
  packages/terra-base/tests/wdio/__snapshots__/reference/chrome/Anchors[--terra-link-active-color].838x768.png
  packages/terra-base/tests/wdio/__snapshots__/reference/chrome/Anchors[--terra-link-color].838x768.png
  packages/terra-base/tests/wdio/__snapshots__/reference/chrome/Anchors[--terra-link-focus-background-color].838x768.png
  packages/terra-base/tests/wdio/__snapshots__/reference/chrome/Anchors[--terra-link-focus-color].838x768.png
  packages/terra-base/tests/wdio/__snapshots__/reference/chrome/Anchors[--terra-link-hover-color].838x768.png
  packages/terra-base/tests/wdio/__snapshots__/reference/chrome/Anchors[--terra-link-visted-color].838x768.png
  packages/terra-base/tests/wdio/__snapshots__/reference/chrome/Anchors[default].470x768.png
  packages/terra-base/tests/wdio/__snapshots__/reference/chrome/Anchors[default].838x768.png
  packages/terra-base/tests/wdio/base-spec.js
  packages/terra-site/src/cerner-mock-theme.scss
  packages/terra-site/src/examples/base/Index.jsx
Labels: base, tech-only

#1208 Disallow capture outside of lines outside of bounds with touch events
  CONTRIBUTORS.md
  packages/terra-signature/CHANGELOG.md
  packages/terra-signature/src/Signature.jsx
Labels: signature

#1228 Update terra-slide-panel to hide slide panel content
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/examples/test-examples/SlidePanelToggle.jsx
  packages/terra-slide-panel/src/SlidePanel.jsx
  packages/terra-slide-panel/src/SlidePanel.scss
  packages/terra-slide-panel/tests/jest/__snapshots__/SlidePanel.test.jsx.snap
  packages/terra-slide-panel/tests/nightwatch/SlidePanelTestRoutes.jsx
  packages/terra-slide-panel/tests/nightwatch/SlidePanelTests.jsx
  packages/terra-slide-panel/tests/nightwatch/slide-panel-spec.js
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_and_hidden_styles[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_click[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/__snapshots__/reference/chrome/Toggle_the_slide_panel_double_click[default].1000x768.png
  packages/terra-slide-panel/tests/wdio/slide-panel-spec.js
Labels: bug, slide-panel, tech-only

#1222 CWELL-15237: Overlay theming
  CONTRIBUTORS.md
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/package.json
  packages/terra-overlay/src/Overlay.scss
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Clear_Themed[--terra-overlay-content-color].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Clear_Themed[--terra-overlay-content-padding-bottom].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Clear_Themed[--terra-overlay-content-padding-left].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Clear_Themed[--terra-overlay-content-padding-right].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Clear_Themed[--terra-overlay-content-padding-top].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Clear_Themed[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Dark_Themed[--terra-overlay-dark-background-color].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Dark_Themed[--terra-overlay-dark-background-image].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Dark_Themed[--terra-overlay-dark-content-color].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Dark_Themed[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Light_Themed[--terra-overlay-light-background-color].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Light_Themed[--terra-overlay-light-background-image].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Light_Themed[--terra-overlay-light-content-color].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Light_Themed[default].1050x895.png
  packages/terra-overlay/tests/wdio/overlay-spec.js
Labels: overlay, theming

#1252 Removed unclear button variant example
  packages/terra-site/CHANGELOG.md
  packages/terra-site/src/examples/button/ButtonVariant.jsx
Labels: button, docs, tech-only

#1232 ISSUE-1231: Reduces erroneous unnecessary default 28px right margin
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/src/Checkbox.scss
Labels: checkbox, tech-only

#1250 Dialog - Remove ActionHeader
  packages/terra-button/src/_variables.scss
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/package.json
  packages/terra-dialog/src/Dialog.jsx
  packages/terra-dialog/src/Dialog.scss
  packages/terra-dialog/tests/jest/__snapshots__/Dialog.test.jsx.snap
  packages/terra-dialog/tests/wdio/__snapshots__/reference/chrome/Default[default].1000x768.png
  packages/terra-dialog/tests/wdio/__snapshots__/reference/chrome/Default[default].470x768.png
  packages/terra-modal/src/ModalOverlay.scss
  packages/terra-site/package.json
  packages/terra-site/src/cerner-mock-theme.scss
  packages/terra-site/src/examples/modal/DefaultWithDialog.jsx
  packages/terra-site/src/examples/modal/Index.jsx
  packages/terra-site/src/examples/modal/ModalWithDialog.jsx
  packages/terra-site/src/site.scss
Labels: dialog, tech-only

#1263 Fix Issue with locale switching
  packages/terra-base/CHANGELOG.md
  packages/terra-base/src/Base.jsx
Labels: bug, terra-site

#1253 Replacing Nightwatch tests with Wdio tests- Overlay
  packages/terra-overlay/package.json
  packages/terra-overlay/tests/nightwatch/LoadingOverlay/loading-overlay-spec.js
  packages/terra-overlay/tests/nightwatch/Overlay/overlay-spec.js
  packages/terra-overlay/tests/nightwatch/OverlayContainer/overlay-container-spec.js
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Clear_Loading_Overlay_Theme[--terra-overlay-content-color].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Clear_Loading_Overlay_Theme[--terra-overlay-content-padding-bottom].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Clear_Loading_Overlay_Theme[--terra-overlay-content-padding-left].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Clear_Loading_Overlay_Theme[--terra-overlay-content-padding-right].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Clear_Loading_Overlay_Theme[--terra-overlay-content-padding-top].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Clear_Loading_Overlay_Theme[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Container_Custom_Content[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Container_Overlay-Triggers_an_onRequestClose_on_click_inside_of_the_Overlay[After].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Container_Overlay-Triggers_an_onRequestClose_on_click_inside_of_the_Overlay[Before].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Container_Overlay-_Triggers_an_onRequestClose_on_escape_keydown[After].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Container_Overlay-_Triggers_an_onRequestClose_on_escape_keydown[Before].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Custom_Content_under_overlay_container_is_clickable_when_overlaycontainer_is_open[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Dark_Loading_Overlay_Theme[--terra-overlay-dark-background-color].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Dark_Loading_Overlay_Theme[--terra-overlay-dark-background-image].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Dark_Loading_Overlay_Theme[--terra-overlay-dark-content-color].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Dark_Loading_Overlay_Theme[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Default[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Full_Screen_Custom_Content[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Full_Screen_Overlay-_Triggers_an_onRequestClose_on_click_inside_of_the_Overlay[After].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Full_Screen_Overlay-_Triggers_an_onRequestClose_on_click_inside_of_the_Overlay[Before].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Full_Screen_Overlay-_Triggers_an_onRequestClose_on_escape_keydown[After].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Full_Screen_Overlay-_Triggers_an_onRequestClose_on_escape_keydown[Before].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Light_Loading_Theme[--terra-overlay-light-background-color].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Light_Loading_Theme[--terra-overlay-light-background-image].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Light_Loading_Theme[--terra-overlay-light-content-color].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Light_Loading_Theme[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Loading_Custom_Message[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Loading_Overlay_Container[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Loading_Overlay_Default[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/OnRequestClose-_Container_Overlay[After].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/OnRequestClose-_Container_Overlay[Before].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/OnRequestClose-_Full_Screen_Overlay[After].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/OnRequestClose-_Full_Screen_Overlay[Before].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Overlay_Container_Default[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Overlay_container[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Scrollable_Full_Screen_Overlay[default].1050x895.png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/chrome/Scrollable_relative_container_overlay[default].1050x895.png
  packages/terra-overlay/tests/wdio/loading-overlay-spec.js
  packages/terra-overlay/tests/wdio/overlay-container-spec.js
  packages/terra-overlay/tests/wdio/overlay-spec.js
Labels: overlay, tech-only, testing

#1262 Form-Checkbox mobile label vertical alignment
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/src/Checkbox.scss
  packages/terra-site/CHANGELOG.md
  packages/terra-site/src/cerner-mock-theme.scss
Labels: checkbox, tech-only, theming

#1214 Add theming styles and wdio tests to Popup.
  .gitignore
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/chrome/Responsive_Hidden_Open[default].1000x768.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/chrome/Responsive_Hidden_Open[default].470x768.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/chrome/Responsive_Hidden_Open[default].622x768.png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/chrome/Responsive_Hidden_Open[default].838x768.png
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/package.json
  packages/terra-popup/src/PopupContent.scss
  packages/terra-popup/src/_PopupContent.jsx
  packages/terra-popup/tests/nightwatch/popup-spec.js
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[--terra-popup-content-inner-background-color].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[--terra-popup-content-inner-border].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[--terra-popup-content-inner-box-shadow].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[default].470x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[default].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Bounded_Popup[--terra-popup-content-close-icon].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Bounded_Popup[--terra-popup-content-header-border-bottom].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Bounded_Popup[default].470x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Bounded_Popup[default].838x768.png
  packages/terra-popup/tests/wdio/popup-spec.js
Labels: enhancement, testing, theming

#1268 Update to One Cerner Style Icons v1.13.1
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-icon/src/cerner-one-icons.csv
  packages/terra-icon/src/icon/IconBedAssigned.jsx
  packages/terra-icon/src/icon/IconBedRequested.jsx
  packages/terra-icon/src/icon/IconCriticalInverse.jsx
  packages/terra-icon/src/icon/IconDischargeComingDue.jsx
  packages/terra-icon/src/icon/IconDischargeComplete.jsx
  packages/terra-icon/src/icon/IconDischargeOverDue.jsx
  packages/terra-icon/src/icon/IconErrorDark.jsx
  packages/terra-icon/src/icon/IconExternalLink.jsx
  packages/terra-icon/src/icon/IconFlipHorizontal.jsx
  packages/terra-icon/src/icon/IconFlipVertical.jsx
  packages/terra-icon/src/icon/IconHigh.jsx
  packages/terra-icon/src/icon/IconHighInverse.jsx
  packages/terra-icon/src/icon/IconHold.jsx
  packages/terra-icon/src/icon/IconLow.jsx
  packages/terra-icon/src/icon/IconModerate.jsx
  packages/terra-icon/src/icon/IconNoRisk.jsx
  packages/terra-icon/src/icon/IconRotateLeft.jsx
  packages/terra-icon/src/icon/IconRotateRight.jsx
  packages/terra-icon/src/svg/bedAssigned.svg
  packages/terra-icon/src/svg/bedRequested.svg
  packages/terra-icon/src/svg/critical_inverse.svg
  packages/terra-icon/src/svg/dischargeComingDue.svg
  packages/terra-icon/src/svg/dischargeComplete.svg
  packages/terra-icon/src/svg/dischargeOverDue.svg
  packages/terra-icon/src/svg/error_dark.svg
  packages/terra-icon/src/svg/externalLink.svg
  packages/terra-icon/src/svg/flipHorizontal.svg
  packages/terra-icon/src/svg/flipVertical.svg
  packages/terra-icon/src/svg/high.svg
  packages/terra-icon/src/svg/high_inverse.svg
  packages/terra-icon/src/svg/hold.svg
  packages/terra-icon/src/svg/low.svg
  packages/terra-icon/src/svg/moderate.svg
  packages/terra-icon/src/svg/noRisk.svg
  packages/terra-icon/src/svg/rotateLeft.svg
  packages/terra-icon/src/svg/rotateRight.svg
  packages/terra-site/src/examples/icon/components/IconStatic.jsx
  packages/terra-site/src/examples/icon/components/IconThemeable.jsx
Labels: enhancement, icon

#1267 [Dialog] - Merge custom class name
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/src/Dialog.jsx
  packages/terra-dialog/tests/jest/Dialog.test.jsx
  packages/terra-dialog/tests/jest/__snapshots__/Dialog.test.jsx.snap
Labels: bug, dialog, tech-only

#1273 Incorrect import in Overlay Doc
  packages/terra-overlay/docs/README.md
Labels: docs, overlay

#1269 Remove unstyled div from the slide group that is causing issues in IE10.
  packages/terra-slide-group/CHANGELOG.md
  packages/terra-slide-group/src/SlideGroup.jsx
  packages/terra-slide-group/tests/jest/__snapshots__/SlideGroup.test.jsx.snap
  packages/terra-slide-group/tests/nightwatch/slide-group-spec.js
Labels: bug, slide-group, tech-only

#1266 Updated Webdriver IO screenshots of viewports for popup.
  packages/terra-popup/CHANGELOG.md
  packages/terra-popup/tests/nightwatch/PopupTestRoutes.jsx
  packages/terra-popup/tests/nightwatch/PopupTests.jsx
  packages/terra-popup/tests/nightwatch/components/ArrowPopupClosed.jsx
  packages/terra-popup/tests/nightwatch/components/BoundedPopupClosed.jsx
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[--terra-popup-content-inner-background-color].1050x895.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[--terra-popup-content-inner-background-color].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[--terra-popup-content-inner-border].1050x895.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[--terra-popup-content-inner-border].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[--terra-popup-content-inner-box-shadow].1050x895.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[--terra-popup-content-inner-box-shadow].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[default].470x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup[default].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup_viewports[#root].470x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Arrow_Popup_viewports[#root].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Bounded_Popup[--terra-popup-content-close-icon].1050x895.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Bounded_Popup[--terra-popup-content-close-icon].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Bounded_Popup[--terra-popup-content-header-border-bottom].1050x895.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Bounded_Popup[--terra-popup-content-header-border-bottom].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Bounded_Popup[default].470x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Bounded_Popup[default].838x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Bounded_Popup_viewports[#root].470x768.png
  packages/terra-popup/tests/wdio/__snapshots__/reference/chrome/Bounded_Popup_viewports[#root].838x768.png
  packages/terra-popup/tests/wdio/popup-spec.js
Labels: enhancement, popup

#1240 Props table style update
  CONTRIBUTORS.md
  packages/terra-props-table/CHANGELOG.md
  packages/terra-props-table/docs/DEPENDENCIES.md
  packages/terra-props-table/package.json
  packages/terra-props-table/src/PropsTable.jsx
  packages/terra-props-table/src/PropsTable.scss
Labels: enhancement, props-table, tech-only

#1275 Updating button types and variants syntax in Button Docs
  CONTRIBUTORS.md
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
Labels: button, docs

#1280 Add themeing variable, Font-Size to Button component
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.scss
  packages/terra-button/tests/wdio/__snapshots__/reference/chrome/Neutral[--terra-button-font-size].470x768.png
  packages/terra-button/tests/wdio/button-spec.js
Labels: button, tech-only

#1284 Update the setAttribute of aria-hidden on the slide panel.
  packages/terra-slide-panel/CHANGELOG.md
  packages/terra-slide-panel/src/SlidePanel.jsx
Labels: slide-panel, tech-only

#1277 Use toolkit 2.8.0
  package.json
  packages/terra-collapsible-menu-view/tests/wdio/collapsible-menu-view-spec.js
Labels: Small, tech-only, testing

#1291 Update lerna.json
  lerna.json
Labels: Small

#1293 Disable travis ci cache
  .travis.yml
Labels: Small

#1292 Fixing Icon Documentation for Icons is difficult to read. #1140
  CONTRIBUTORS.md
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/scripts/src/generate-example/generateStaticIcons.js
  packages/terra-icon/scripts/src/generate-example/generateThemeableIcons.js
  packages/terra-site/CHANGELOG.md
  packages/terra-site/src/examples/icon/components/IconStatic.jsx
  packages/terra-site/src/examples/icon/components/IconThemeable.jsx
Labels: Small

#1288 Theming list component for focus border
  CONTRIBUTORS.md
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/List.scss
Labels: Small

#1295 Copied fr translation to fr-FR.
  packages/terra-time-input/translations/fr-FR.json
Labels: time input

#1296 Updated Dialog Theme Variable Name
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/src/Dialog.scss
Labels: Small, dialog

#1297 Fix Terra Profile Image README title.
  packages/terra-profile-image/docs/README.md
Labels: Small, docs

#1298 Fix Terra Image Usage Documentation
  packages/terra-image/docs/README.md
Labels: Small, docs, image

#1299 Update terra-toggle to pull in latest minor release of react-animate-height
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/package.json
  packages/terra-toggle/tests/jest/__snapshots__/Toggle.test.jsx.snap
Labels: toggle

#1308 Fix missing terra-mixins dependency in terra-dialog
  packages/terra-dialog/package.json
Labels: Small
