Repository cerner/terra-core, pull requests merged in 2018-10, with the labels that each got.

#1923 Exports for oneOf proptypes
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/src/Arrange.jsx
  packages/terra-badge/CHANGELOG.md
  packages/terra-badge/src/Badge.jsx
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/Textarea.jsx
  packages/terra-heading/CHANGELOG.md
  packages/terra-heading/src/Heading.jsx
  packages/terra-image/CHANGELOG.md
  packages/terra-image/src/Image.jsx
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/src/ProgressBar.jsx
  packages/terra-responsive-element/CHANGELOG.md
  packages/terra-responsive-element/src/ResponsiveElement.jsx
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/TableHeaderCell.jsx
  packages/terra-text/CHANGELOG.md
  packages/terra-text/src/Text.jsx
Labels: docs, tech-only

#1937 Issue 1935: Use absolute positioning in modals.
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/src/AbstractModal.module.scss
  packages/terra-abstract-modal/src/ModalOverlay.module.scss
Labels: abstract-modal, bug, tech-only

#1948 [terra-form-select] - Added first-class prop support and documentation for onBlur, onFocus, and onClick
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/Select.jsx
  packages/terra-form-select/tests/jest/Select.test.jsx
Labels: form-select, tech-only

#1951 Update fs-extra dependency in terra-i18n
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/package.json
Labels: dependency-update, i18n

#1950 Remove Segoe UI from default font-stack
  packages/terra-base/CHANGELOG.md
  packages/terra-base/src/Base.scss
Labels: base, tech-only

#1925 Improve the accessibility of the Alert component
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/Alert.jsx
  packages/terra-alert/src/Alert.module.scss
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Action_Button[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Custom[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Custom[themed].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Default[--terra-alert-icon-font-size].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Default[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Dismissible[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Titles[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Titles[themed].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Types[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Action_Button[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Custom[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Default[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Dismissible[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Titles[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Types[default].png
Labels: alert

#1957 Update to latest OCS icon release
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-icon/src/icon/IconAbnormal.jsx
  packages/terra-icon/src/icon/IconDischargeComingDue.jsx
  packages/terra-icon/src/icon/IconDischargeOverDue.jsx
  packages/terra-icon/src/icon/IconDrugDrug.jsx
  packages/terra-icon/src/icon/IconHigh.jsx
  packages/terra-icon/src/icon/IconHighInverse.jsx
  packages/terra-icon/src/icon/IconHighInverseLowLight.jsx
  packages/terra-icon/src/icon/IconHighLowLight.jsx
  packages/terra-icon/src/icon/IconIncompleteInverse.jsx
  packages/terra-icon/src/icon/IconLow.jsx
  packages/terra-icon/src/icon/IconLowLowLight.jsx
  packages/terra-icon/src/icon/IconLowRisk.jsx
  packages/terra-icon/src/icon/IconLowRiskLowLight.jsx
  packages/terra-icon/src/icon/IconModerate.jsx
  packages/terra-icon/src/icon/IconModerateLowLight.jsx
  packages/terra-icon/src/icon/IconNoRisk.jsx
  packages/terra-icon/src/icon/IconNoRiskLowLight.jsx
  packages/terra-icon/src/icon/IconUnexpected.jsx
  packages/terra-icon/src/icon/IconUnexpectedLowLight.jsx
  packages/terra-icon/src/icon/IconUnspecified.jsx
  packages/terra-icon/src/svg/abnormal.svg
  packages/terra-icon/src/svg/dischargeComingDue.svg
  packages/terra-icon/src/svg/dischargeOverDue.svg
  packages/terra-icon/src/svg/drugDrug.svg
  packages/terra-icon/src/svg/high.svg
  packages/terra-icon/src/svg/high_inverse.svg
  packages/terra-icon/src/svg/high_inverse_low_light.svg
  packages/terra-icon/src/svg/high_low_light.svg
  packages/terra-icon/src/svg/incomplete_inverse.svg
  packages/terra-icon/src/svg/low.svg
  packages/terra-icon/src/svg/lowRisk.svg
  packages/terra-icon/src/svg/lowRisk_low_light.svg
  packages/terra-icon/src/svg/low_low_light.svg
  packages/terra-icon/src/svg/moderate.svg
  packages/terra-icon/src/svg/moderate_low_light.svg
  packages/terra-icon/src/svg/noRisk.svg
  packages/terra-icon/src/svg/noRisk_low_light.svg
  packages/terra-icon/src/svg/unexpected.svg
  packages/terra-icon/src/svg/unexpected_low_light.svg
  packages/terra-icon/src/svg/unspecified.svg
  packages/terra-icon/src/terra-dev-site/doc/example/IconStatic.jsx
  packages/terra-icon/src/terra-dev-site/doc/example/IconThemeable.jsx
Labels: icon, tech-only

#1958 Upgrade focus-trap-react to ^4.0.1
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/package.json
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/package.json
Labels: abstract-modal, dependency-update, overlay

#1939 [terra-form-select] - Fixed duplicate theme variable
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.jsx
  packages/terra-form-select/src/_Frame.module.scss
  packages/terra-form-select/tests/jest/__snapshots__/Frame.test.jsx.snap
Labels: bug, form-select, theming

#1928 Add Visually Hidden Text to Badge Element
  packages/terra-badge/CHANGELOG.md
  packages/terra-badge/package.json
  packages/terra-badge/src/Badge.jsx
  packages/terra-badge/src/Badge.module.scss
  packages/terra-badge/src/terra-dev-site/doc/badge/Badge.doc.jsx
  packages/terra-badge/src/terra-dev-site/doc/example/BadgeVisuallyHiddenText.jsx
  packages/terra-badge/src/terra-dev-site/test/Badge/BadgeVisuallyHiddenText.test.jsx
  packages/terra-badge/tests/jest/Badge.test.jsx
  packages/terra-badge/tests/jest/__snapshots__/Badge.test.jsx.snap
  packages/terra-badge/tests/wdio/__snapshots__/reference/en/chrome_medium/badge-spec/Visually_Hidden_Text[default].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/en/chrome_tiny/badge-spec/Visually_Hidden_Text[default].png
  packages/terra-badge/tests/wdio/badge-spec.js
Labels: badge

#1979 Show Hide minor fixes
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/src/_ShowHideButton.jsx
  packages/terra-show-hide/src/_ShowHideButton.module.scss
  packages/terra-show-hide/src/terra-dev-site/test/show-hide/ButtonAlignEndShowHide.test.jsx
  packages/terra-show-hide/src/terra-dev-site/test/show-hide/ButtonAlignStartShowHide.test.jsx
  packages/terra-show-hide/src/terra-dev-site/test/show-hide/LongButtonTextShowHide.test.jsx
  packages/terra-show-hide/src/terra-dev-site/test/show-hide/StatesShowHide.test.jsx
  packages/terra-show-hide/tests/jest/__snapshots__/ShowHide.test.jsx.snap
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Active[default].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Button_align_center[collapsed].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Button_align_center[expanded].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Button_align_end[collapsed].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Button_align_end[expanded].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Button_align_left[collapsed].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Button_align_left[expanded].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Button_align_right[collapsed].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Button_align_right[expanded].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Button_align_start[collapsed].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Button_align_start[expanded].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Custom_button_text[collapsed].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Custom_button_text[expanded].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Custom_css_properties[collapsed].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Custom_css_properties[themed].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Default[collapsed].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Default[expanded].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Focus[default].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Hover[default].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Initially_open[expanded].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Long_button_text[collapsed].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/Long_button_text[expanded].png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/en/chrome_medium/show-hide-spec/No_preview[collapsed].png
  packages/terra-show-hide/tests/wdio/show-hide-spec.js
Labels: show-hide, tech-only

#1975 UPDATE copyright date from 2017 to 2018.
  README.md
Labels: docs

#1959 Fix alert padding
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/Alert.module.scss
  packages/terra-alert/src/terra-dev-site/test/alert/AlertPadding.test.jsx
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Padding[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Padding[default].png
  packages/terra-alert/tests/wdio/alert-spec.js
Labels: alert

#1966 Action header wrapping
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/src/ActionHeaderContainer.module.scss
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Wrapped_Title[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Wrapped_Title[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Maximize_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Minimize_Custom_Button[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Wrapped_Title[default].png
Labels: action header, bug

#1981 Improve code examples exprience
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/src/ExampleTemplate.jsx
  packages/terra-doc-template/src/syntax-highlighter-theme.js
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_huge/doc-template-spec/Interactivity_test[Reveals_the_examples_code].png
Labels: docs

#1974 Create placeholder component
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/docs/PLACEHOLDER.md
  packages/terra-doc-template/src/Placeholder.jsx
  packages/terra-doc-template/src/Placeholder.module.scss
  packages/terra-doc-template/src/terra-dev-site/doc/doc-template/ChangeLog.3.doc.jsx
  packages/terra-doc-template/src/terra-dev-site/doc/doc-template/Placeholder.2.doc.jsx
  packages/terra-doc-template/src/terra-dev-site/doc/example/PlaceholderDefault.jsx
  packages/terra-doc-template/src/terra-dev-site/doc/example/PlaceholderLight.jsx
  packages/terra-doc-template/src/terra-dev-site/test/doc-template/DefaultPlaceholder.test.jsx
  packages/terra-doc-template/src/terra-dev-site/test/doc-template/LightPlaceholder.test.jsx
  packages/terra-doc-template/tests/jest/Placeholder.test.jsx
  packages/terra-doc-template/tests/jest/__snapshots__/Placeholder.test.jsx.snap
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_medium/placeholder-spec/Default_Placeholder[default].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_medium/placeholder-spec/Light_Placeholder[default].png
  packages/terra-doc-template/tests/wdio/placeholder-spec.js
Labels: doc-template, enhancement

#1984 Update .travis.yml
  .travis.yml
Labels: build-tools, tech-only

#1989 [menu] Correct sv-SE translation
  packages/terra-menu/translations/sv-SE.json
Labels: menu, tech-only, translations

#1991 [overlay] Add Region Specific Translations
  packages/terra-overlay/translations/es-ES.json
  packages/terra-overlay/translations/es-US.json
  packages/terra-overlay/translations/fr-FR.json
  packages/terra-overlay/translations/pt-BR.json
Labels: overlay, tech-only, translations

#1986 Improve docs UI
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/src/DocTemplate.jsx
  packages/terra-doc-template/src/DocTemplate.module.scss
  packages/terra-doc-template/src/ExampleTemplate.jsx
  packages/terra-doc-template/src/ExampleTemplate.module.scss
  packages/terra-doc-template/tests/jest/__snapshots__/DocTemplate.test.jsx.snap
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_huge/doc-template-spec/Fully_filled_out_doc[Example_1].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_huge/doc-template-spec/Interactivity_test[Hides_the_examples_code_again].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_huge/doc-template-spec/Interactivity_test[Reveals_the_examples_code].png
  packages/terra-doc-template/tests/wdio/doc-template-spec.js
Labels: docs, tech-only

#1955 [terra-overlay] Various bug fixes
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/package.json
  packages/terra-overlay/src/LoadingOverlay.jsx
  packages/terra-overlay/src/Overlay.jsx
  packages/terra-overlay/src/Overlay.module.scss
  packages/terra-overlay/src/terra-dev-site/doc/example/LoadingOverlayExample.jsx
  packages/terra-overlay/src/terra-dev-site/doc/example/OverlayExample.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/Overlay/ClearOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/Overlay/CustomContentOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/Overlay/DarkOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/Overlay/DefaultOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/Overlay/FullscreenScrollableOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/Overlay/LightOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/Overlay/OnRequestCloseOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/Overlay/RemovedOverlay.test.jsx
  packages/terra-overlay/tests/jest/LoadingOverlay.test.jsx
  packages/terra-overlay/tests/jest/Overlay.test.jsx
  packages/terra-overlay/tests/jest/OverlayContainer.test.jsx
  packages/terra-overlay/tests/jest/__snapshots__/LoadingOverlay.test.jsx.snap
  packages/terra-overlay/tests/jest/__snapshots__/Overlay.test.jsx.snap
  packages/terra-overlay/tests/jest/__snapshots__/OverlayContainer.test.jsx.snap
  packages/terra-overlay/tests/jest/intl-context-setup.js
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/Container_Overlay-Triggers_an_onRequestClose_on_click_inside_of_the_Overlay[Before].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/Container_Overlay-_Triggers_an_onRequestClose_on_escape_keydown[Before].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/OnRequestClose-_Container_Overlay[After].png
  packages/terra-overlay/tests/wdio/overlay-spec.js
Labels: bug, overlay

#1889 Add Abbreviation Nodes to Demographics Banner for Accessibility
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/package.json
  packages/terra-demographics-banner/src/DemographicsBanner.jsx
  packages/terra-demographics-banner/src/DemographicsBanner.module.scss
  packages/terra-demographics-banner/src/DemographicsBannerDisplay.jsx
  packages/terra-demographics-banner/src/_LargeDemographicsBannerDisplay.jsx
  packages/terra-demographics-banner/src/_SmallDemographicsBannerDisplay.jsx
  packages/terra-demographics-banner/src/_sharedObjects.jsx
  packages/terra-demographics-banner/src/terra-dev-site/doc/example/DemographicsBannerAdditionalAges.jsx
  packages/terra-demographics-banner/tests/jest/__snapshots__/DemographicsBannerDisplay.test.jsx.snap
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Deceased[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Deceased_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Deceased_-_Themed[themed].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Populated[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Themed[themed].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_tiny/demographics-banner-spec/Deceased[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_tiny/demographics-banner-spec/Gestational_Age_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_tiny/demographics-banner-spec/Populated[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_tiny/demographics-banner-spec/Post_Menstrual_-_No_Label[default].png
  packages/terra-demographics-banner/translations/ar.json
  packages/terra-demographics-banner/translations/de.json
  packages/terra-demographics-banner/translations/en-GB.json
  packages/terra-demographics-banner/translations/en-US.json
  packages/terra-demographics-banner/translations/en.json
  packages/terra-demographics-banner/translations/es-ES.json
  packages/terra-demographics-banner/translations/es-US.json
  packages/terra-demographics-banner/translations/es.json
  packages/terra-demographics-banner/translations/fi-FI.json
  packages/terra-demographics-banner/translations/fr-FR.json
  packages/terra-demographics-banner/translations/fr.json
  packages/terra-demographics-banner/translations/nl-BE.json
  packages/terra-demographics-banner/translations/nl.json
  packages/terra-demographics-banner/translations/pt-BR.json
  packages/terra-demographics-banner/translations/pt.json
  packages/terra-demographics-banner/translations/sv-SE.json
  packages/terra-demographics-banner/translations/sv.json
  packages/terra-visually-hidden-text/CHANGELOG.md
  packages/terra-visually-hidden-text/src/VisuallyHiddenText.module.scss
Labels: accessibility, demographics banner, enhancement

#2000 Update mixin to be compatible with codesandbox
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/src/ActionHeader.module.scss
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/src/Avatar.module.scss
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.module.scss
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/src/Dialog.module.scss
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/src/CheckboxField.module.scss
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/src/RadioField.module.scss
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.module.scss
  packages/terra-form-select/src/_Option.module.scss
  packages/terra-form-select/src/_Tag.module.scss
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/src/Hyperlink.module.scss
  packages/terra-legacy-theme/CHANGELOG.md
  packages/terra-legacy-theme/src/scss/_application-menu.scss
  packages/terra-legacy-theme/src/scss/_brand-footer.scss
  packages/terra-legacy-theme/src/scss/_navigation-side-menu.scss
  packages/terra-mixins/CHANGELOG.md
  packages/terra-mixins/docs/README.md
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/Paginator.module.scss
  packages/terra-paginator/src/terra-dev-site/doc/example/site.module.scss
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/src/ProfileImage.module.scss
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/src/SectionHeader.module.scss
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/src/_ShowHideButton.module.scss
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/StatusView.module.scss
Labels: mixins, tech-only
