Repository cerner/terra-core, pull requests merged in 2018-11, with the labels that each got.

#2009 [terra-base] - Restructure theme tests
  packages/terra-base/CHANGELOG.md
  packages/terra-base/tests/wdio/base-spec.js
  packages/terra-base/tests/wdio/theme/__snapshots__/reference/en/chrome_tiny/base-theme-spec/Background_color[--terra-base-background-color].png
  packages/terra-base/tests/wdio/theme/__snapshots__/reference/en/chrome_tiny/base-theme-spec/Background_image[Background_Image].png
  packages/terra-base/tests/wdio/theme/__snapshots__/reference/en/chrome_tiny/base-theme-spec/Background_image[scrolled_down].png
  packages/terra-base/tests/wdio/theme/base-theme-spec.js
Labels: base, tech-only, testing

#1938 Textarea docs
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/terra-dev-site/doc/example/Disabled.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/FillContainer.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/FixedLargeSize.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/FixedMediumSize.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/FixedSmallSize.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/Invalid.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/Resizable.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/TextareaExamples.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/form-textarea/Textarea.1.doc.jsx
Labels: Needs design input, form-textarea, tech-only

#1972 Added VisuallyHiddenText prop to Status component
  packages/terra-status/CHANGELOG.md
  packages/terra-status/package.json
  packages/terra-status/src/Status.jsx
  packages/terra-status/src/terra-dev-site/doc/example/StatusArrange.jsx
  packages/terra-status/src/terra-dev-site/doc/example/StatusDefault.jsx
  packages/terra-status/src/terra-dev-site/doc/example/StatusIcon.jsx
  packages/terra-status/src/terra-dev-site/doc/example/StatusImage.jsx
  packages/terra-status/src/terra-dev-site/test/status/StatusArrange.test.jsx
  packages/terra-status/src/terra-dev-site/test/status/StatusDefault.test.jsx
  packages/terra-status/src/terra-dev-site/test/status/StatusIcon.test.jsx
  packages/terra-status/src/terra-dev-site/test/status/StatusImage.test.jsx
  packages/terra-status/tests/wdio/__snapshots__/reference/en/chrome_medium/status-spec/Arrange[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/en/chrome_medium/status-spec/Default[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/en/chrome_medium/status-spec/Icon[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/en/chrome_medium/status-spec/Image[default].png
Labels: accessibility, status

#1994 Added isBlock prop to button-group
  packages/terra-action-header/tests/jest/__snapshots__/ActionHeader.test.jsx.snap
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/docs/README.md
  packages/terra-button-group/src/ButtonGroup.jsx
  packages/terra-button-group/src/ButtonGroup.module.scss
  packages/terra-button-group/src/terra-dev-site/doc/button-group/ButtonGroup.doc.jsx
  packages/terra-button-group/src/terra-dev-site/doc/example/ButtonGroupIsBlock.jsx
  packages/terra-button-group/src/terra-dev-site/test/button-group/ButtonGroupIsBlock.test.jsx
  packages/terra-button-group/src/terra-dev-site/test/button-group/ButtonGroupIsBlockLongText.test.jsx
  packages/terra-button-group/tests/jest/ButtonGroup.test.jsx
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroup.test.jsx.snap
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Button_Group_Block[default].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-group-spec/Button_Group_Block[default].png
  packages/terra-button-group/tests/wdio/button-group-spec.js
  packages/terra-collapsible-menu-view/tests/jest/__snapshots__/CollapsibleMenuViewItemGroup.test.jsx.snap
Labels: button group, enhancement

#1983 Adjustments to terra-overlay for screen reader compatibility
  packages/terra-base/CHANGELOG.md
  packages/terra-base/src/Base.jsx
  packages/terra-base/tests/jest/__snapshots__/Base.test.jsx.snap
  packages/terra-overlay/src/LoadingOverlay.jsx
  packages/terra-overlay/src/Overlay.jsx
  packages/terra-overlay/tests/jest/__snapshots__/LoadingOverlay.test.jsx.snap
  packages/terra-overlay/tests/jest/__snapshots__/OverlayContainer.test.jsx.snap
Labels: accessibility, overlay

#2027 Support SVG <style> tag in IE
  CONTRIBUTORS.md
  packages/terra-mixins/CHANGELOG.md
  packages/terra-mixins/src/Mixins.scss
Labels: mixins, tech-only

#2032 Add additional translation files to terra-i18n fixtures
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/tests/jest/fixtures/translations/ar.json
  packages/terra-i18n/tests/jest/fixtures/translations/de.json
  packages/terra-i18n/tests/jest/fixtures/translations/en-GB.json
  packages/terra-i18n/tests/jest/fixtures/translations/en-US.json
  packages/terra-i18n/tests/jest/fixtures/translations/es-ES.json
  packages/terra-i18n/tests/jest/fixtures/translations/es-US.json
  packages/terra-i18n/tests/jest/fixtures/translations/fi-FI.json
  packages/terra-i18n/tests/jest/fixtures/translations/fr-FR.json
  packages/terra-i18n/tests/jest/fixtures/translations/fr.json
  packages/terra-i18n/tests/jest/fixtures/translations/nl-BE.json
  packages/terra-i18n/tests/jest/fixtures/translations/nl.json
  packages/terra-i18n/tests/jest/fixtures/translations/pt-BR.json
  packages/terra-i18n/tests/jest/fixtures/translations/sv-SE.json
  packages/terra-i18n/tests/jest/fixtures/translations/sv.json
Labels: tech-only, translations

#2057 Ignore changes to .tgz files in regards to pkg updates
  lerna.json
Labels: tech-only

#2005 Add maxWidth prop to terra-form-input field
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/src/Field.jsx
  packages/terra-form-field/terra-form-field.tgz
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/InputField.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/InputFieldWidth.test.jsx
  packages/terra-form-input/tests/wdio/__snapshots__/reference/en/chrome_large/form-input-spec/Resized_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-input-spec/Resized_InputField[default].png
  packages/terra-form-input/tests/wdio/form-input-spec.js
Labels: WIP, enhancement, form-input, tech-only

#2029 Added a test page for the icon compenent using aria-label
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/src/terra-dev-site/test/icon/IconAriaLabel.test.jsx
  packages/terra-icon/tests/wdio/__snapshots__/reference/en/chrome_medium/icon-spec/AriaLabel[default].png
  packages/terra-icon/tests/wdio/icon-spec.js
Labels: accessibility, icon, tech-only

#2060 Fix terra-icon global icon animation
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/src/Icon.module.scss
  packages/terra-icon/terra-icon.tgz
Labels: bug-fix, enhancement, icon, tech-only

#2039 Creating terra-breakpoints package
  packages/terra-breakpoints/.npmignore
  packages/terra-breakpoints/.npmrc
  packages/terra-breakpoints/CHANGELOG.md
  packages/terra-breakpoints/LICENSE
  packages/terra-breakpoints/NOTICE
  packages/terra-breakpoints/README.md
  packages/terra-breakpoints/docs/README.md
  packages/terra-breakpoints/package.json
  packages/terra-breakpoints/src/ActiveBreakpointContext.jsx
  packages/terra-breakpoints/src/ActiveBreakpointProvider.jsx
  packages/terra-breakpoints/src/_media-queries.scss
  packages/terra-breakpoints/src/breakpoints.js
  packages/terra-breakpoints/src/index.js
  packages/terra-breakpoints/src/terra-dev-site/doc/breakpoints/About.1.doc.jsx
  packages/terra-breakpoints/src/terra-dev-site/doc/breakpoints/ChangeLog.2.doc.jsx
  packages/terra-breakpoints/src/terra-dev-site/doc/example/ActiveBreakpointProviderExample.jsx
  packages/terra-breakpoints/src/terra-dev-site/doc/example/MixinsExample.jsx
  packages/terra-breakpoints/src/terra-dev-site/doc/example/MixinsExample.module.scss
  packages/terra-breakpoints/src/terra-dev-site/test/breakpoints/ActiveBreakpointProviderTest.test.jsx
  packages/terra-breakpoints/src/withActiveBreakpoint.jsx
  packages/terra-breakpoints/terra-breakpoints.tgz
  packages/terra-breakpoints/tests/jest/__snapshots__/withActiveBreakpoint.test.jsx.snap
  packages/terra-breakpoints/tests/jest/breakpoints.test.jsx
  packages/terra-breakpoints/tests/jest/withActiveBreakpoint.test.jsx
  packages/terra-breakpoints/tests/wdio/__snapshots__/reference/en/chrome_enormous/active-breakpoint-provider-spec/ActiveBreakpointProvider[default].png
  packages/terra-breakpoints/tests/wdio/__snapshots__/reference/en/chrome_huge/active-breakpoint-provider-spec/ActiveBreakpointProvider[default].png
  packages/terra-breakpoints/tests/wdio/__snapshots__/reference/en/chrome_large/active-breakpoint-provider-spec/ActiveBreakpointProvider[default].png
  packages/terra-breakpoints/tests/wdio/__snapshots__/reference/en/chrome_medium/active-breakpoint-provider-spec/ActiveBreakpointProvider[default].png
  packages/terra-breakpoints/tests/wdio/__snapshots__/reference/en/chrome_small/active-breakpoint-provider-spec/ActiveBreakpointProvider[default].png
  packages/terra-breakpoints/tests/wdio/__snapshots__/reference/en/chrome_tiny/active-breakpoint-provider-spec/ActiveBreakpointProvider[default].png
  packages/terra-breakpoints/tests/wdio/active-breakpoint-provider-spec.js
Labels: breakpoints

#2068 Fix broken keyframe animation
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/src/Icon.module.scss
Labels: do not merge

#2059 Remove use of componentWillMount lifecycle hook
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/src/terra-dev-site/doc/example/ArrangeAlignment.jsx
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/package.json
  packages/terra-date-time-picker/src/DateTimePicker.jsx
  packages/terra-date-time-picker/tests/jest/DateTimePicker.test.jsx
  packages/terra-date-time-picker/tests/jest/__snapshots__/DateTimePicker.test.jsx.snap
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/AutoResizableTextareaMobileDocumentTouch.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/AutoResizableTextareaMobileMaxTouchPoints.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/AutoResizableTextareaMobileMsMaxTouchPoints.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/AutoResizableTextareaMobileOnTouchStart.test.jsx
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/terra-dev-site/doc/example/StatusViewTemplate.jsx
  packages/terra-time-input/CHANGELOG.md
  packages/terra-time-input/src/terra-dev-site/test/time-input/twelve-hour/Mobile.test.jsx
  packages/terra-time-input/tests/wdio/time-input-twelve-hour-mobile-spec.js
Labels: tech-only

#2072 Added missing translations
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/translations/ar.json
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/translations/ar.json
  packages/terra-date-time-picker/CHANGELOG.md
  packages/terra-date-time-picker/translations/ar.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/translations/ar.json
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/ar_Locale[default].png
  packages/terra-i18n/translations/ar.json
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/translations/ar.json
Labels: alert, date time picker, datepicker, form-select, i18n, overlay, translations
