Repository cerner/terra-core, pull requests merged in 2019-02, with the labels that each got.

#2156 Update 'package.json' to Remove 'stylelint' Rules
  package.json
Labels: build-tools, tech-only, testing

#2169 Updates for FF and IE Driver Compatibility
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/tests/wdio/form-input-spec.js
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/tests/wdio/select-spec.js
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/tests/wdio/form-textarea-spec.js
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/tests/wdio/overlay-spec.js
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/wdio/search-field-spec.js
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/tests/wdio/section-header-spec.js
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/tests/wdio/show-hide-spec.js
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/terra-dev-site/test/status-view/StatusViewThinConstraint.test.jsx
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_huge/status-view-spec/Displays_an_error_status_view_that_is_too_thin_for_a_glyph[default].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/status-view-spec/Displays_an_error_status_view_that_is_too_thin_for_a_glyph[default].png
  packages/terra-status-view/tests/wdio/status-view-spec.js
Labels: tech-only, testing

#2203 Fixes issue #1752 Status View glyph does not always display when it should.
  CONTRIBUTORS.md
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/StatusView.jsx
Labels: bug-fix, status view, tech-only

#2231 Added a11y/VoiceOver clarity to not-selectable Button Group
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/src/ButtonGroup.jsx
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroup.test.jsx.snap
Labels: accessibility, button group

#2239 [terra-form-select] Fix broken jest test
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/tests/jest/Menu.test.jsx
Labels: form-select

#2238 Add en-AU translations
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/translations/en-AU.json
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/translations/en-AU.json
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/translations/en-AU.json
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/translations/en-AU.json
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/translations/en-AU.json
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/translations/en-AU.json
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/translations/en-AU.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/translations/en-AU.json
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/translations/en-AU.json
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/translations/en-AU.json
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/translations/en-AU.json
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/translations/en-AU.json
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/translations/en-AU.json
Labels: action header, alert, demographics banner, dialog, form-checkbox, form-field, form-radio, form-select, i18n, overlay, search field, show-hide, status view, translations

#2174 Close up any stylelint-ignore loose ends.. 🔐
  packages/terra-card/CHANGELOG.md
  packages/terra-card/src/CardBody.module.scss
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/src/Checkbox.module.scss
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/src/Radio.module.scss
  packages/terra-legacy-theme/CHANGELOG.md
  packages/terra-legacy-theme/src/terra-dev-site/test/legacy-theme/LegacyThemeBrandFooter.module.scss
  packages/terra-legacy-theme/src/terra-dev-site/test/legacy-theme/LegacyThemeNavigationSideMenu.module.scss
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/src/Overlay.module.scss
  packages/terra-paginator/src/terra-dev-site/doc/example/site.module.scss
  packages/terra-signature/CHANGELOG.md
  packages/terra-signature/src/Signature.module.scss
  packages/terra-spacer/CHANGELOG.md
  packages/terra-spacer/src/Spacer.module.scss
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.module.scss
Labels: tech-only

#2245 [terra-tag] remove terra-alert dependency
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/docs/README.md
  packages/terra-tag/package.json
  packages/terra-tag/src/terra-dev-site/doc/example/TagFallbacks.jsx
  packages/terra-tag/src/terra-dev-site/doc/tag/Tag.1.doc.jsx
Labels: tag

#2215 Added styles to increase text contrast for blockquotes
  packages/terra-markdown/CHANGELOG.md
  packages/terra-markdown/package.json
  packages/terra-markdown/src/Markdown.jsx
  packages/terra-markdown/src/Markdown.scss
  packages/terra-markdown/src/terra-dev-site/test/markdown/Markdown.test.jsx
  packages/terra-markdown/tests/wdio/__snapshots__/reference/en/chrome_large/markdown-spec/Block_Quote[default].png
  packages/terra-markdown/tests/wdio/__snapshots__/reference/en/chrome_large/markdown-spec/Block_Quote[themed].png
  packages/terra-markdown/tests/wdio/__snapshots__/reference/en/chrome_large/markdown-spec/Default[default].png
  packages/terra-markdown/tests/wdio/markdown-spec.js
Labels: accessibility, markdown

#2189 [terra-form-select] - Added disabled placeholder theme properties
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.module.scss
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/_frame-spec/should_have_a_themeable_disabled_icon[--terra-form-select-disabled-arrow-background].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/_frame-spec/should_have_a_themeable_disabled_icon[themed].png
  packages/terra-form-select/tests/wdio/_frame-spec.js
Labels: form-select
