Repository cerner/terra-core, pull requests merged in 2019-07, with the labels that each got.

#2490 [terra-search-field] Passing event object to 'handleClear'
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.jsx
Labels: bug-fix, search field

#2483 [terra-overlay] Add `data` Attribute to Manage `inert` Status
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/src/Overlay.jsx
Labels: bug-fix, overlay, tech-only

#2481 [terra-overlay] Fix for freezing of loading-overlay test pages
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/src/terra-dev-site/test/overlay/LoadingOverlay/AnimatedLoadingOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/LoadingOverlay/ClearLoadingOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/LoadingOverlay/CustomMessageLoadingOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/LoadingOverlay/DarkLoadingOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/LoadingOverlay/DefaultLoadingOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/LoadingOverlay/LightLoadingOverlay.test.jsx
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/loading-overlay-spec/Loading_Custom_Message[default].png
  packages/terra-overlay/tests/wdio/loading-overlay-spec.js
Labels: overlay, tech-only

#2493 [terra-form-select] Focus Incorrectly Returning to Input When Navigating Away
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Menu.jsx
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: bug-fix, form-select, tech-only

#2498 Change to use Terra.describeViewports part 1
  packages/terra-action-footer/CHANGELOG.md
  packages/terra-action-footer/tests/wdio/action-footer-spec.js
  packages/terra-action-footer/tests/wdio/block-action-footer-spec.js
  packages/terra-action-footer/tests/wdio/centered-action-footer-spec.js
  packages/terra-action-footer/tests/wdio/common.js
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/tests/wdio/action-header-spec.js
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Action_Button[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Dismissible[default].png
  packages/terra-alert/tests/wdio/alert-spec.js
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/tests/wdio/arrange-spec.js
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/tests/wdio/avatar-common-spec.js
  packages/terra-badge/CHANGELOG.md
  packages/terra-badge/tests/wdio/badge-spec.js
  packages/terra-base/CHANGELOG.md
  packages/terra-base/tests/wdio/base-spec.js
Labels: action footer, action header, alert, arrange, avatar, badge, base, tech-only, testing

#2495 Add refCallback prop to visually hidden text component
  packages/terra-visually-hidden-text/CHANGELOG.md
  packages/terra-visually-hidden-text/src/VisuallyHiddenText.jsx
  packages/terra-visually-hidden-text/src/terra-dev-site/doc/VisuallyHiddenText/VisuallyHiddenText.1.doc.jsx
  packages/terra-visually-hidden-text/src/terra-dev-site/doc/example/RefCallbackVisuallyHiddenText.jsx
  packages/terra-visually-hidden-text/tests/jest/VisuallyHiddenText.test.jsx
  packages/terra-visually-hidden-text/tests/jest/__snapshots__/VisuallyHiddenText.test.jsx.snap
Labels: VisuallyHiddenText, accessibility, tech-only

#2500 Add node.contains polyfill for IE 11 and IE 10
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/src/Overlay.jsx
  packages/terra-overlay/src/_contains-polyfill.js
Labels: overlay, tech-only

#2499 Change to use Terra.describeViewports part 2
  packages/terra-breakpoints/CHANGELOG.md
  packages/terra-breakpoints/tests/wdio/active-breakpoint-provider-spec.js
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/tests/wdio/button-group-spec.js
  packages/terra-button/CHANGELOG.md
  packages/terra-button/tests/wdio/button-spec.js
  packages/terra-card/CHANGELOG.md
  packages/terra-card/tests/wdio/card-spec.js
  packages/terra-content-container/CHANGELOG.md
  packages/terra-content-container/tests/wdio/content-container-spec.js
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/tests/wdio/demographics-banner-spec.js
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/tests/wdio/dialog-spec.js
Labels: breakpoints, button, button group, card, content-container, demographics banner, dialog, tech-only, testing

#2501 Change to use Terra.describeViewports part 3
  packages/terra-divider/CHANGELOG.md
  packages/terra-divider/tests/wdio/divider-spec.js
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_huge/doc-template-spec/Fully_filled_out_doc[Example_1].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_huge/doc-template-spec/Fully_filled_out_doc[Readme].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_huge/doc-template-spec/Interactivity_test[Hides_the_examples_code_again].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_huge/doc-template-spec/Interactivity_test[Reveals_the_examples_code].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_large/doc-template-spec/Fully_filled_out_doc[Example_1].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_large/doc-template-spec/Fully_filled_out_doc[Readme].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_large/doc-template-spec/Interactivity_test[Hides_the_examples_code_again].png
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_large/doc-template-spec/Interactivity_test[Reveals_the_examples_code].png
  packages/terra-doc-template/tests/wdio/doc-template-spec.js
  packages/terra-doc-template/tests/wdio/placeholder-spec.js
  packages/terra-dynamic-grid/CHANGELOG.md
  packages/terra-dynamic-grid/tests/wdio/dynamic-grid-spec.js
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/tests/wdio/form-checkbox-field-spec.js
  packages/terra-form-checkbox/tests/wdio/form-checkbox-spec.js
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/tests/wdio/form-field-spec.js
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/en/chrome_tiny/fieldset-spec/Fieldset_Populated_with_Hidden_Legend[default].png
  packages/terra-form-fieldset/tests/wdio/fieldset-spec.js
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/tests/wdio/form-input-spec.js
Labels: divider, doc-template, dynamic-grid, form-checkbox, form-field, form-fieldset, form-input, tech-only, testing

#2512 Change to use Terra.describeViewports part 8
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/tests/wdio/toggle-button-spec.js
  packages/terra-visually-hidden-text/CHANGELOG.md
  packages/terra-visually-hidden-text/tests/wdio/visually-hidden-text-spec.js
Labels: VisuallyHiddenText, tech-only, testing, toggle-button

#2502 Change to use Terra.describeViewports part 4
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/tests/wdio/form-radio-field-spec.js
  packages/terra-form-radio/tests/wdio/form-radio-spec.js
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/tests/wdio/_frame-spec.js
  packages/terra-form-select/tests/wdio/select-field-spec.js
  packages/terra-form-select/tests/wdio/select-spec.js
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/tests/wdio/form-textarea-spec.js
  packages/terra-grid/CHANGELOG.md
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Default[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Nested[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Responsive[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Default[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Nested[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Responsive[default].png
  packages/terra-grid/tests/wdio/grid-spec.js
  packages/terra-heading/CHANGELOG.md
  packages/terra-heading/tests/wdio/heading-spec.js
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/tests/wdio/hyperlink-spec.js
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/tests/wdio/i18n-spec.js
Labels: form-radio, form-select, form-textarea, grid, heading, hyperlink, i18n, tech-only, testing

#2504 [terra-table] Subheader specificity
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.module.scss
Labels: table, tech-only

#2506 [terra-doc-template] Update Dependency.
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/package.json
  packages/terra-doc-template/src/ExampleTemplate.jsx
Labels: dependency-update, doc-template, tech-only

#2516 [terra-alert] Added upgrade guide for v4
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/docs/UPGRADEGUIDE.md
Labels: alert, docs

#2515 [terra-overlay] Disabled document scroll if Overlay is not relative to the triggering container.
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/src/Overlay.jsx
  packages/terra-overlay/tests/wdio/overlay-spec.js
Labels: bug-fix, overlay

#2517 Docs Updated around requirement of terra-base and translations.
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/docs/README.md
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/docs/README.md
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/docs/README.md
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/docs/README.md
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/docs/README.md
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/docs/README.md
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/docs/README.md
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/docs/README.md
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/docs/README.md
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/docs/README.md
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/docs/README.md
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/docs/README.md
Labels: docs

#2508 Change to use Terra.describeViewports part 6
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/tests/wdio/profile-image-spec.js
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/tests/wdio/progress-bar-spec.js
  packages/terra-props-table/CHANGELOG.md
  packages/terra-props-table/tests/wdio/props-table-spec.js
  packages/terra-scroll/CHANGELOG.md
  packages/terra-scroll/tests/wdio/scroll-spec.js
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/wdio/search-field-spec.js
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/tests/wdio/section-header-spec.js
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/tests/wdio/show-hide-spec.js
Labels: profile-image, progress bar, props-table, search field, section-header, show-hide, tech-only, terra-scroll, testing

#2503 Change to use Terra.describeViewports part 5
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/tests/wdio/icon-spec.js
  packages/terra-image/CHANGELOG.md
  packages/terra-image/tests/wdio/image-spec.js
  packages/terra-legacy-theme/CHANGELOG.md
  packages/terra-legacy-theme/tests/wdio/theme-spec.js
  packages/terra-list/CHANGELOG.md
  packages/terra-list/tests/wdio/list-spec.js
  packages/terra-markdown/CHANGELOG.md
  packages/terra-markdown/src/terra-dev-site/test/markdown/Markdown.test.jsx
  packages/terra-markdown/src/terra-dev-site/test/markdown/scss.md
  packages/terra-markdown/tests/jest/Markdown.md
  packages/terra-markdown/tests/jest/markdown.test.jsx
  packages/terra-markdown/tests/wdio/__snapshots__/reference/en/chrome_large/markdown-spec/Default[default].png
  packages/terra-markdown/tests/wdio/__snapshots__/reference/en/chrome_large/markdown-spec/scss[default].png
  packages/terra-markdown/tests/wdio/markdown-spec.js
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/tests/wdio/loading-overlay-spec.js
  packages/terra-overlay/tests/wdio/overlay-container-spec.js
  packages/terra-overlay/tests/wdio/overlay-spec.js
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/tests/wdio/paginator-spec.js
Labels: icon, image, legacy-theme, list, markdown, overlay, pagination, tech-only, testing

#2524 Fix list linting errors
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/terra-dev-site/doc/guides/SectionList.jsx
  packages/terra-list/src/terra-dev-site/doc/guides/SectionWithSubsection1.jsx
  packages/terra-list/src/terra-dev-site/doc/guides/SectionWithSubsection2.jsx
Labels: list, tech-only

#2526 Update danger.js to latest release
  package.json
Labels: dependency-update

#2530 Update overlay to use getAttribute
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/src/Overlay.jsx
Labels: overlay, tech-only

#2485 [terra-paginator] Replace anchors with buttons to fix jsx-a11y lint issues
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/docs/UPGRADEGUIDE.md
  packages/terra-paginator/package.json
  packages/terra-paginator/src/ControlledPaginator.jsx
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/Paginator.module.scss
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-paginator/tests/jest/ControlledPaginator.test.jsx
  packages/terra-paginator/tests/jest/ControlledProgressivePaginator.test.jsx
  packages/terra-paginator/tests/jest/Paginator.test.jsx
  packages/terra-paginator/tests/jest/ProgressivePaginator.test.jsx
  packages/terra-paginator/tests/jest/__snapshots__/ControlledPaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ControlledProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/Paginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Paginator[2].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Paginator[3].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator[2].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator[3].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/ProgressivePaginator[default].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_medium/paginator-spec/ProgressivePaginator[default].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_tiny/paginator-spec/PaginatorNoPages[default].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_tiny/paginator-spec/Paginator[default].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_tiny/paginator-spec/ProgressivePaginator[default].png
  packages/terra-paginator/tests/wdio/paginator-spec.js
  packages/terra-paginator/translations/de.json
  packages/terra-paginator/translations/en-AU.json
  packages/terra-paginator/translations/en-GB.json
  packages/terra-paginator/translations/en-US.json
  packages/terra-paginator/translations/en.json
  packages/terra-paginator/translations/es-ES.json
  packages/terra-paginator/translations/es-US.json
  packages/terra-paginator/translations/es.json
  packages/terra-paginator/translations/fi-FI.json
  packages/terra-paginator/translations/fr-FR.json
  packages/terra-paginator/translations/fr.json
  packages/terra-paginator/translations/nl-BE.json
  packages/terra-paginator/translations/nl.json
  packages/terra-paginator/translations/pt-BR.json
  packages/terra-paginator/translations/pt.json
  packages/terra-paginator/translations/sv-SE.json
  packages/terra-paginator/translations/sv.json
Labels: Intl, Translations Added, accessibility, bug-fix, pagination

#2534 [terra-doc-template] Only render example syntax when expanded
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/src/ExampleTemplate.jsx
Labels: doc-template

#2420 [terra-form-select] Prevent invalid options (options with only spaces) from being added in combobox variant.
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.jsx
  packages/terra-form-select/tests/jest/FrameUtil.test.jsx
  packages/terra-form-select/tests/jest/MenuUtil.test.jsx
  packages/terra-form-select/tests/jest/Select.test.jsx
  packages/terra-form-select/tests/jest/__snapshots__/Select.test.jsx.snap
Labels: bug-fix, form-select

#2511 Change to use Terra.describeViewports part 7
  packages/terra-signature/CHANGELOG.md
  packages/terra-signature/tests/wdio/signature-spec.js
  packages/terra-spacer/CHANGELOG.md
  packages/terra-spacer/tests/wdio/spacer-spec.js
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/tests/wdio/status-view-spec.js
  packages/terra-status/CHANGELOG.md
  packages/terra-status/tests/wdio/status-spec.js
  packages/terra-table/CHANGELOG.md
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/single-select-table-spec/Single-Select_Table_-_Click_Operations[first-row].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/single-select-table-spec/Single-Select_Table_-_Click_Operations[second-row].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/single-select-table-spec/Single-Select_Table_-_Click_Operations[third-row].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/single-select-table-spec/Single-Select_Table_-_Keyboard_ENTER_key[first-row].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/single-select-table-spec/Single-Select_Table_-_Keyboard_ENTER_key[second-row].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/single-select-table-spec/Single-Select_Table_-_Keyboard_ENTER_key[third-row].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/single-select-table-spec/Single-Select_Table_-_Keyboard_SPACE_key[first-row].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/single-select-table-spec/Single-Select_Table_-_Keyboard_SPACE_key[second-row].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/single-select-table-spec/Single-Select_Table_-_Keyboard_SPACE_key[third-row].png
  packages/terra-table/tests/wdio/multi-select-table-spec.js
  packages/terra-table/tests/wdio/selectable-table-rows-spec.js
  packages/terra-table/tests/wdio/single-select-table-spec.js
  packages/terra-table/tests/wdio/table-spec.js
  packages/terra-text/CHANGELOG.md
  packages/terra-text/tests/wdio/text-spec.js
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/tests/wdio/toggle-spec.js
Labels: signature, spacer, status, status view, table, tech-only, testing, text, toggle

#2544 Mixin pattern fix
  package.json
Labels: build-tools

#2535 [terra-core] Update lerna to v3
  lerna.json
  package.json
Labels: build-tools, dependency-update

#2522 [terra-action-header] Document that maximize/minimize will not be shown with back button
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/src/ActionHeader.jsx
Labels: action header, docs

#2532 Document the need to mock window.matchMedia for jest tests
  CONTRIBUTORS.md
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/docs/README.md
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/docs/README.md
Labels: docs, testing
