Repository cerner/terra-core, pull requests merged in 2019-10, with the labels that each got.

#2658 [terra-form-select] Select mobile a11y
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/src/ExampleTemplate.module.scss
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/Combobox.jsx
  packages/terra-form-select/src/ComboboxField.jsx
  packages/terra-form-select/src/MultiSelect.jsx
  packages/terra-form-select/src/MultiSelectField.jsx
  packages/terra-form-select/src/SearchSelect.jsx
  packages/terra-form-select/src/SearchSelectField.jsx
  packages/terra-form-select/src/Select.jsx
  packages/terra-form-select/src/SelectField.jsx
  packages/terra-form-select/src/TagSelect.jsx
  packages/terra-form-select/src/TagSelectField.jsx
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/src/shared/_Dropdown.jsx
  packages/terra-form-select/src/shared/_Dropdown.module.scss
  packages/terra-form-select/src/shared/_Frame.module.scss
  packages/terra-form-select/src/shared/_FrameUtil.js
  packages/terra-form-select/src/single/Frame.jsx
  packages/terra-form-select/src/tag/Frame.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/combobox/IsTouchAccessible.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/legacy/IsTouchAccessible.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/multiple/IsTouchAccessible.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/search/IsTouchAccessible.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/tag/IsTouchAccessible.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/Combobox.05.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/MultiSelect.07.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/SearchSelect.11.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/Select.01.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/TagSelect.09.doc.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/IsTouchAccessibleCombobox.test.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/IsTouchAccessibleMultiSelect.test.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/IsTouchAccessibleSearchSelect.test.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/IsTouchAccessibleTagSelect.test.jsx
  packages/terra-form-select/tests/jest/__snapshots__/Frame.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/Select.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/SelectField.test.jsx.snap
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/combobox_should_gain_focus_when_tabbed_to[is-touch-accessible-tab-focus].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/is_touch_accessible_combobox_should_be_closed_initially[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/is_touch_accessible_combobox_should_open_when_clicking_on_it[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/is_touch_accessible_multiple_should_be_closed_initially[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/is_touch_accessible_multiple_should_open_when_clicking_on_it[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/is_touch_accessible_search_should_be_closed_initially[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/is_touch_accessible_search_should_open_when_clicking_on_it[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/is_touch_accessible_tag_should_be_closed_initially[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/is_touch_accessible_tag_should_open_when_clicking_on_it[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/multiple_should_gain_focus_when_tabbed_to[is-touch-accessible-tab-focus].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/search_should_gain_focus_when_tabbed_to[is-touch-accessible-tab-focus].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/tag_should_gain_focus_when_tabbed_to[is-touch-accessible-tab-focus].png
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: VoiceOver, accessibility, form-select

#2676 [terra-form-input] - Add placeholder as a property
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/Input.jsx
  packages/terra-form-input/src/InputField.jsx
  packages/terra-form-input/src/terra-dev-site/doc/common/NumberInputExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/InputField.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/NumberInputField.jsx
  packages/terra-form-input/tests/jest/InputField.test.jsx
  packages/terra-form-input/tests/jest/__snapshots__/InputField.test.jsx.snap
Labels: form-input, gotta-get-that-hacktoberfest-t-shirt

#2683 Stylelint update
  package.json
Labels: dependency-update

#2680 Fix IE 10 intl loading issue
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/src/i18nLoader.js
  packages/terra-i18n/src/intl.js
  packages/terra-i18n/tests/jest/__snapshots__/i18nLoader.test.js.snap
  packages/terra-i18n/tests/jest/i18nLoader.test.js
Labels: bug-fix, i18n, tech-only

#2668 [form-input] File Input fixed to show selection in edge.
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/Input.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/uncontrolled/FileExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/form-input/Input.1.doc.jsx
  packages/terra-form-input/tests/jest/__snapshots__/Input.test.jsx.snap
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
Labels: bug-fix, form-input

#2679 Update how imperative DOM manipulations are run in terra-overlay
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/src/Overlay.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/Overlay/ClearOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/Overlay/DarkOverlay.test.jsx
  packages/terra-overlay/src/terra-dev-site/test/overlay/Overlay/LightOverlay.test.jsx
Labels: overlay

#2694 [terra-form-textarea] - Add placeholder as a property
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/Textarea.jsx
  packages/terra-form-textarea/src/TextareaField.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/RequiredTextareaField.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/TextareaField.jsx
  packages/terra-form-textarea/tests/jest/Textarea.test.jsx
  packages/terra-form-textarea/tests/jest/TextareaField.test.jsx
  packages/terra-form-textarea/tests/jest/__snapshots__/Textarea.test.jsx.snap
  packages/terra-form-textarea/tests/jest/__snapshots__/TextareaField.test.jsx.snap
Labels: form-textarea

#2523 Inline svg issue fixed
  packages/terra-action-footer/CHANGELOG.md
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-spec/Multiple_End_Actions[default].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-spec/Multiple_Start_Actions[default].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/With_Actions[default].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/centered-action-footer-spec/Multiple_Actions[default].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/action-footer-spec/Multiple_End_Actions[default].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/action-footer-spec/Multiple_Start_Actions[default].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/block-action-footer-spec/With_Actions[default].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/centered-action-footer-spec/Multiple_Actions[default].png
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/src/ActionHeader.module.scss
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/src/ButtonGroup.module.scss
  packages/terra-button-group/src/terra-dev-site/test/button-group/ButtonGroupIcon.test.scss
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Icon_Button[default].png
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.module.scss
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Action-Active[active_and_focused].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/De-emphasis-Active[active_and_focused].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Emphasis-Active[active].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Emphasis-Active[active_and_focused].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Ghost-Active[active_and_focused].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Icon_only[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Neutral-Active[active_and_focused].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Utility-Active[active].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Utility-Active[active_and_focused].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Utility-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Utility-Keyboard_Focus[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Utility[default].png
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/src/Dialog.module.scss
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Search_Field_in_Focus[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Search_Field_in_Focus[with_focus].png
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/src/ToggleButton.module.scss
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Animated[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Closed_Button_Text[closed].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Custom_Icon[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Customized_Button[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Default[closed].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Default[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Icon_Animated[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Icon_Only[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Initially_open[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/On_Close_Toggle_Button[closed].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/On_Close_Toggle_Button[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/On_Open_Toggle_Button[closed].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/On_Open_Toggle_Button[opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Opened_Button_Text[opened].png
Labels: action header, bug-fix, button, button group, dialog, priority:high, toggle-button

#2711 Duplicate IDs in examples changed
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/terra-dev-site/doc/example/IncompleteInputField.jsx
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/terra-dev-site/doc/example/combobox/ComboboxField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/combobox/IncompleteComboboxField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/combobox/RequiredComboboxField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/legacy/IncompleteSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/legacy/RequiredSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/legacy/SelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/multiple/IncompleteMultiSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/multiple/MultiSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/multiple/RequiredMultiSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/search/IncompleteSearchSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/search/RequiredSearchSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/search/SearchSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/single/IncompleteSingleSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/single/RequiredSingleSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/single/SingleSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/tag/IncompleteTagSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/tag/RequiredTagSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/example/tag/TagSelectField.jsx
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/terra-dev-site/doc/example/IncompleteTextareaField.jsx
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/terra-dev-site/doc/example/ToggleVariants.jsx
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/src/terra-dev-site/doc/example/AnimatedToggle.jsx
  packages/terra-toggle/src/terra-dev-site/doc/example/DefaultToggle.jsx
Labels: form-input, form-select, form-textarea, status view, toggle

#2724 [terra-image] Alt text added in examples
  packages/terra-image/CHANGELOG.md
  packages/terra-image/src/terra-dev-site/doc/example/ImageFitTypes.jsx
Labels: image

#2707 [terra-form-select]Wrong options selected in mobile view
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Menu.jsx
  packages/terra-form-select/src/multiple/Menu.jsx
  packages/terra-form-select/src/search/Menu.jsx
  packages/terra-form-select/src/single/Menu.jsx
  packages/terra-form-select/src/tag/Menu.jsx
Labels: bug-fix, form-select

#2667 [terra-dropdown-button] Fix menu not closing on primary button click
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/src/DropdownButton.jsx
  packages/terra-dropdown-button/src/Item.jsx
  packages/terra-dropdown-button/src/SplitButton.jsx
  packages/terra-dropdown-button/src/_DropdownButtonBase.jsx
  packages/terra-dropdown-button/src/_DropdownList.jsx
  packages/terra-dropdown-button/tests/jest/__snapshots__/DropdownButton.test.jsx.snap
  packages/terra-dropdown-button/tests/jest/__snapshots__/DropdownButtonBase.test.jsx.snap
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/en/chrome_medium/split-button-spec/Callback_in_menu[clicking_primary_closes_dropdown].png
  packages/terra-dropdown-button/tests/wdio/split-button-spec.js
Labels: bug-fix, dropdown-button, split-button

#2733 [terra-responsive-element] - Add deprecated flag to uncontrolled prop descriptions
  packages/terra-responsive-element/CHANGELOG.md
  packages/terra-responsive-element/src/ResponsiveElement.jsx
  packages/terra-responsive-element/src/terra-dev-site/doc/responsive-element/ResponsiveElement.1.doc.jsx
Labels: responsive element

#2689 [terra-form-select] Fixed IE issue that required two clicks to open the dropdown menu after initial selection.
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/single/Frame.jsx
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/default_uncontrolled_should_open_dropdown_by_click_after_initial_selection[open-dropdown-after-selection].png
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: bug-fix, form-select

#2734 Fixing terra-overlay tests that broke with consumption of the new version of terra-application
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/src/terra-dev-site/test/overlay/Overlay/OnRequestCloseOverlay.test.jsx
  packages/terra-overlay/tests/wdio/overlay-spec.js
Labels: overlay, testing
