Repository cerner/terra-core, pull requests merged in 2019-11, with the labels that each got.

#2730 [terra-hyperlink] Fixed color contrast axe violation for disabled hyperlinks
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/src/Hyperlink.jsx
  packages/terra-hyperlink/tests/jest/__snapshots__/Hyperlink.test.jsx.snap
  packages/terra-hyperlink/tests/wdio/hyperlink-spec.js
Labels: accessibility, bug-fix, hyperlink

#2666 [terra-hyperlink] Switched themeable icons provided by CSS to imported `terra-icon` component.
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/package.json
  packages/terra-hyperlink/src/Hyperlink.jsx
  packages/terra-hyperlink/src/Hyperlink.module.scss
  packages/terra-hyperlink/tests/jest/__snapshots__/Hyperlink.test.jsx.snap
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Audio[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Default[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Disabled[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Document[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/External[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Icon_Non_Wrapping[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Image[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Scaled[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/States[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Underline_Hidden[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Video[default].png
Labels: enhancement, hyperlink

#2715 [terra-overlay] Add aria screenreader a11y to Loading Overlay.
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/src/LoadingOverlay.jsx
  packages/terra-overlay/tests/jest/__snapshots__/LoadingOverlay.test.jsx.snap
Labels: Needs functional review, accessibility, bug-fix, overlay

#2753 [terra-form-select] Upon selection, keep one dropdown open and close the others (if already open)
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/single/Frame.jsx
  packages/terra-form-select/src/single/Menu.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/MultipleDefaultSelect.test.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/MultipleDefaultSelect.test.module.scss
  packages/terra-form-select/tests/jest/__snapshots__/Select.test.jsx.snap
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/default_should_close_all_dropdown_and_open_the_selected_dropdown[close-and-open-dropdown-after-selection].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/default_should_open_dropdown_by_click_after_initial_selection[open-dropdown-after-selection].png
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: bug-fix, form-select
