Repository cerner/terra-core, pull requests merged in 2019-05, with the labels that each got.

#2374 [terra-action-header] Correct header height bug within iframes
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/src/ActionHeaderContainer.module.scss
  packages/terra-action-header/src/terra-dev-site/doc/action-header/ActionHeader.1.doc.jsx
  packages/terra-action-header/src/terra-dev-site/doc/example/LongWrappingTextHeader.jsx
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Back[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Back[themed].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Back_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Back_Close[themed].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Back_Close_Previous_Next[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Default[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Default[themed].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Maximize_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Minimize_Custom_Button[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_large/action-header-spec/Wrapped_Title[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Back[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Back_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Back_Close_Previous_Next[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Default[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Maximize_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Minimize_Custom_Button[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_medium/action-header-spec/Wrapped_Title[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Back[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Back_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Back_Close_Previous_Next[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Default[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Maximize_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Minimize_Custom_Button[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/en/chrome_tiny/action-header-spec/Wrapped_Title[default].png
Labels: action header, bug-fix

#2371 [terra-button] Add new ghost variant, compact docsite example
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/src/Button.module.scss
  packages/terra-button/src/_variables.scss
  packages/terra-button/src/terra-dev-site/doc/button/Button.1.doc.jsx
  packages/terra-button/src/terra-dev-site/doc/example/ButtonBlock.jsx
  packages/terra-button/src/terra-dev-site/doc/example/ButtonCompact.jsx
  packages/terra-button/src/terra-dev-site/doc/example/ButtonDisabled.jsx
  packages/terra-button/src/terra-dev-site/doc/example/ButtonVariant.jsx
  packages/terra-button/src/terra-dev-site/test/button/ActiveVariantButtons.test.jsx
  packages/terra-button/src/terra-dev-site/test/button/Variants/GhostButton.test.jsx
  packages/terra-button/tests/jest/Button.test.jsx
  packages/terra-button/tests/jest/__snapshots__/Button.test.jsx.snap
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Ghost-Active[active].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Ghost-Active[active_and_focused].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Ghost-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Ghost-Keyboard_Focus[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Ghost[default].png
  packages/terra-button/tests/wdio/button-spec.js
Labels: button, enhancement

#2377 [terra-table] Exclude subheader from zebra row styles.
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.module.scss
Labels: table, tech-only

#2380 [terra-demographics-banner] Set background-clip to border-box
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/src/DemographicsBanner.module.scss
Labels: bug-fix, demographics banner

#2379 stylelint version updated
  package.json
Labels: build-tools

#2373 Terra-grid now imports breakpoints from terra-breakpoints
  packages/terra-breakpoints/CHANGELOG.md
  packages/terra-breakpoints/src/_media-queries.scss
  packages/terra-breakpoints/src/_variables.scss
  packages/terra-grid/CHANGELOG.md
  packages/terra-grid/docs/README.md
  packages/terra-grid/docs/UPGRADEGUIDE.md
  packages/terra-grid/package.json
  packages/terra-grid/src/Grid.module.scss
  packages/terra-grid/src/GridColumn.jsx
  packages/terra-grid/src/_variables.scss
  packages/terra-grid/src/terra-dev-site/doc/example/GridDefault.jsx
  packages/terra-grid/src/terra-dev-site/doc/example/GridExample.module.scss
  packages/terra-grid/src/terra-dev-site/doc/example/GridNested.jsx
  packages/terra-grid/src/terra-dev-site/doc/example/GridResponsive.jsx
  packages/terra-grid/src/terra-dev-site/test/grid/GridColumnUndefined.test.jsx
  packages/terra-grid/src/terra-dev-site/test/grid/GridDefault.test.jsx
  packages/terra-grid/src/terra-dev-site/test/grid/GridEnormous.test.jsx
  packages/terra-grid/src/terra-dev-site/test/grid/GridExample.module.scss
  packages/terra-grid/src/terra-dev-site/test/grid/GridHuge.test.jsx
  packages/terra-grid/src/terra-dev-site/test/grid/GridLarge.test.jsx
  packages/terra-grid/src/terra-dev-site/test/grid/GridMedium.test.jsx
  packages/terra-grid/src/terra-dev-site/test/grid/GridNested.test.jsx
  packages/terra-grid/src/terra-dev-site/test/grid/GridResponsive.test.jsx
  packages/terra-grid/src/terra-dev-site/test/grid/GridSmall.test.jsx
  packages/terra-grid/src/terra-dev-site/test/grid/GridTiny.test.jsx
  packages/terra-grid/tests/jest/GridColumn.test.jsx
  packages/terra-grid/tests/jest/__snapshots__/GridColumn.test.jsx.snap
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_enormous/grid-spec/Enormous[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_enormous/grid-spec/Huge[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Default[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Default[themed].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Enormous[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Large[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Nested[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Responsive[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Tiny[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_large/grid-spec/Huge[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_large/grid-spec/Medium[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Default[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Default[themed].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Large[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Nested[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Responsive[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Small[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_small/grid-spec/Medium[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_tiny/grid-spec/Small[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_tiny/grid-spec/Tiny[default].png
  packages/terra-grid/tests/wdio/grid-spec.js
Labels: Major Version Bump, grid

#2372 [terra-overlay] Updated focus-trap-react Version
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/package.json
  packages/terra-overlay/src/Overlay.jsx
  packages/terra-overlay/tests/jest/Overlay.test.jsx
  packages/terra-overlay/tests/jest/__snapshots__/LoadingOverlay.test.jsx.snap
  packages/terra-overlay/tests/jest/__snapshots__/Overlay.test.jsx.snap
Labels: dependency-update, overlay

#2394 Added a doc site example that has Auto Formatting disabled
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldDisableAutoFormatAttrs.jsx
  packages/terra-search-field/src/terra-dev-site/doc/search-field/SearchField.1.doc.jsx
Labels: search field, tech-only

#2384 [terra-profile-image]Updated Src to be an optional field.
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/src/ProfileImage.jsx
  packages/terra-profile-image/src/terra-dev-site/test/profile-image/ProfileImageSourceNotProvided.test.jsx
  packages/terra-profile-image/tests/jest/ProfileImage.test.jsx
  packages/terra-profile-image/tests/jest/__snapshots__/ProfileImage.test.jsx.snap
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/en/chrome_medium/profile-image-spec/Source_Not_Provided[default].png
  packages/terra-profile-image/tests/wdio/profile-image-spec.js
Labels: enhancement, profile-image

#2395 Remove custom props spread on base
  packages/terra-base/CHANGELOG.md
  packages/terra-base/src/Base.jsx
Labels: tech-only

#2396 Update overlay to use inert polyfill to handle focus management
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/package.json
  packages/terra-overlay/src/Overlay.jsx
  packages/terra-overlay/src/OverlayContainer.jsx
  packages/terra-overlay/src/_matches-polyfill.js
  packages/terra-overlay/src/terra-dev-site/test/overlay/LoadingOverlay/ContainerLoadingOverlay.test.jsx
  packages/terra-overlay/tests/jest/__snapshots__/OverlayContainer.test.jsx.snap
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/Full_Screen_Overlay-_Triggers_an_onRequestClose_on_click_inside_of_the_Overlay[After].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/Full_Screen_Overlay-_Triggers_an_onRequestClose_on_escape_keydown[After].png
  packages/terra-overlay/tests/wdio/overlay-container-spec.js
Labels: accessibility, overlay, tech-only

#2331 Improve Accessibility of Table Row
  app.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-table/src/SelectableTableRows.jsx
  packages/terra-table/src/SingleSelectableRows.jsx
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/Table.module.scss
  packages/terra-table/src/TableCell.jsx
  packages/terra-table/src/TableRow.jsx
  packages/terra-table/src/TableRows.jsx
  packages/terra-table/tests/jest/SelectableTableRows.test.jsx
  packages/terra-table/tests/jest/SingleSelectableRows.test.jsx
  packages/terra-table/tests/jest/Table.test.jsx
  packages/terra-table/tests/jest/__snapshots__/SelectableTableRows.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/SingleSelectableRows.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/TableRow.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/TableRowContent.test.jsx.snap
  packages/terra-table/translations/de.json
  packages/terra-table/translations/en-GB.json
  packages/terra-table/translations/en.json
  packages/terra-table/translations/es-ES.json
  packages/terra-table/translations/es-US.json
  packages/terra-table/translations/es.json
  packages/terra-table/translations/fr-FR.json
  packages/terra-table/translations/fr.json
  packages/terra-table/translations/nl-BE.json
  packages/terra-table/translations/nl.json
  packages/terra-table/translations/pt-BR.json
  packages/terra-table/translations/pt.json
  packages/terra-table/translations/sv-SE.json
  packages/terra-table/translations/sv.json
Labels: accessibility, bug-fix, table, translations

#2399 React animate height released a new version that is breaking jest tests.
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/ar_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/de_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/en-AU_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/en-US_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/es-ES_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/es-US_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/es_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/fi-FI_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/fr-FR_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/fr_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/nl-BE_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/nl_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/pt-BR_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/sv-SE_Locale[default].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/sv_Locale[default].png
  packages/terra-i18n/tests/wdio/i18n-spec.js
  packages/terra-toggle-button/tests/jest/__snapshots__/ToggleButton.test.jsx.snap
  packages/terra-toggle-section-header/tests/jest/__snapshots__/ToggleSectionHeader.test.jsx.snap
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/src/Toggle.jsx
  packages/terra-toggle/tests/jest/__snapshots__/Toggle.test.jsx.snap
Labels: toggle

#2404 Add missing en-US and en-AU translations
  packages/terra-table/CHANGELOG.md
  packages/terra-table/translations/en-AU.json
  packages/terra-table/translations/en-US.json
Labels: table, translations

#2410 Render action header as a div
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/src/_ActionHeaderContainer.jsx
Labels: accessibility, action header, tech-only

#2412 Revert a11y table changes
  app.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-table/src/SelectableTableRows.jsx
  packages/terra-table/src/SingleSelectableRows.jsx
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/Table.module.scss
  packages/terra-table/src/TableCell.jsx
  packages/terra-table/src/TableRow.jsx
  packages/terra-table/src/TableRows.jsx
  packages/terra-table/tests/jest/SelectableTableRows.test.jsx
  packages/terra-table/tests/jest/SingleSelectableRows.test.jsx
  packages/terra-table/tests/jest/Table.test.jsx
  packages/terra-table/tests/jest/__snapshots__/SelectableTableRows.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/SingleSelectableRows.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/TableRow.test.jsx.snap
  packages/terra-table/tests/jest/__snapshots__/TableRowContent.test.jsx.snap
  packages/terra-table/translations/de.json
  packages/terra-table/translations/en-AU.json
  packages/terra-table/translations/en-GB.json
  packages/terra-table/translations/en-US.json
  packages/terra-table/translations/en.json
  packages/terra-table/translations/es-ES.json
  packages/terra-table/translations/es-US.json
  packages/terra-table/translations/es.json
  packages/terra-table/translations/fr-FR.json
  packages/terra-table/translations/fr.json
  packages/terra-table/translations/nl-BE.json
  packages/terra-table/translations/nl.json
  packages/terra-table/translations/pt-BR.json
  packages/terra-table/translations/pt.json
  packages/terra-table/translations/sv-SE.json
  packages/terra-table/translations/sv.json
Labels: table

#2417 Update badges to point to travis-ci.com
  .travis.yml
  DEPENDENCIES.md
  README.md
  packages/terra-action-footer/README.md
  packages/terra-action-header/README.md
  packages/terra-alert/README.md
  packages/terra-arrange/README.md
  packages/terra-avatar/README.md
  packages/terra-badge/README.md
  packages/terra-base/README.md
  packages/terra-breakpoints/README.md
  packages/terra-button-group/README.md
  packages/terra-button/README.md
  packages/terra-card/README.md
  packages/terra-content-container/README.md
  packages/terra-demographics-banner/README.md
  packages/terra-dialog/README.md
  packages/terra-divider/README.md
  packages/terra-doc-template/README.md
  packages/terra-dynamic-grid/README.md
  packages/terra-form-checkbox/README.md
  packages/terra-form-field/README.md
  packages/terra-form-fieldset/README.md
  packages/terra-form-input/README.md
  packages/terra-form-radio/README.md
  packages/terra-form-select/README.md
  packages/terra-form-textarea/README.md
  packages/terra-grid/README.md
  packages/terra-heading/README.md
  packages/terra-hyperlink/README.md
  packages/terra-i18n/README.md
  packages/terra-icon/README.md
  packages/terra-image/README.md
  packages/terra-legacy-theme/README.md
  packages/terra-list/README.md
  packages/terra-markdown/README.md
  packages/terra-mixins/README.md
  packages/terra-overlay/README.md
  packages/terra-paginator/README.md
  packages/terra-profile-image/README.md
  packages/terra-progress-bar/README.md
  packages/terra-props-table/README.md
  packages/terra-responsive-element/README.md
  packages/terra-scroll/README.md
  packages/terra-search-field/README.md
  packages/terra-section-header/README.md
  packages/terra-show-hide/README.md
  packages/terra-signature/README.md
  packages/terra-spacer/README.md
  packages/terra-status-view/README.md
  packages/terra-status/README.md
  packages/terra-table/README.md
  packages/terra-tag/README.md
  packages/terra-text/README.md
  packages/terra-toggle-button/README.md
  packages/terra-toggle-section-header/README.md
  packages/terra-toggle/README.md
  packages/terra-visually-hidden-text/README.md
Labels: docs
