Repository cerner/terra-core, pull requests merged in 2019-12, with the labels that each got.

#2761 [terra-responsive-element] Fix responsive element flicker
  CONTRIBUTING.md
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
  packages/terra-responsive-element/CHANGELOG.md
  packages/terra-responsive-element/src/ResponsiveElement.jsx
  packages/terra-responsive-element/tests/jest/ResponsiveElement.test.jsx
  packages/terra-responsive-element/tests/jest/__snapshots__/ResponsiveElement.test.jsx.snap
Labels: responsive element

#2732 [terra-hyperlink] Set cursor style for specific hyperlinks.
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/src/Hyperlink.module.scss
Labels: gotta-get-that-hacktoberfest-t-shirt, hyperlink

#2740 Button onfocus
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/src/terra-dev-site/test/button/ProgrammaticFocus.test.jsx
  packages/terra-button/tests/jest/__snapshots__/Button.test.jsx.snap
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Programmatic_Focus[Button_1_focused_programmatically].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Programmatic_Focus[Button_2_focused_programmatically].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Programmatic_Focus[Button_3_clicked_without_focus_styles].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Programmatic_Focus[Button_1_focused_programmatically].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Programmatic_Focus[Button_2_focused_programmatically].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Programmatic_Focus[Button_3_clicked_without_focus_styles].png
  packages/terra-button/tests/wdio/button-spec.js
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
Labels: button

#2771 [terra-status-view] Updates message content to use semantic html element.
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/StatusView.jsx
  packages/terra-status-view/src/StatusView.module.scss
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
Labels: accessibility, status view, ⭐️ UX Reviewed

#2764 [terra-form-textarea]Disallowed Resize when size or rows are provided.
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/Textarea.jsx
  packages/terra-form-textarea/src/Textarea.module.scss
  packages/terra-form-textarea/src/terra-dev-site/doc/example/FixedLargeSize.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/FixedMediumSize.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/FixedSmallSize.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/FormTextareaDocCommon.module.scss
  packages/terra-form-textarea/tests/jest/__snapshots__/TextareaField.test.jsx.snap
Labels: form-textarea

#2767 [terra-form-select]Fixed axe issue due to invalid Aria-activedescendant value.
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Menu.jsx
  packages/terra-form-select/src/multiple/Menu.jsx
  packages/terra-form-select/src/search/Menu.jsx
  packages/terra-form-select/src/single/Menu.jsx
  packages/terra-form-select/src/tag/Menu.jsx
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_be_accessible_with_no_results[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_be_accessible_with_no_results[open-dropdown].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_be_accessible_with_no_results[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_be_accessible_with_no_results[open-dropdown].png
  packages/terra-form-select/tests/wdio/select-field-spec.js
Labels: Needs functional review, Ready to merge, accessibility, bug-fix, form-select

#2691 [terra-form-select] Searchable fields' ID moved to input element
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/Combobox.jsx
  packages/terra-form-select/src/ComboboxField.jsx
  packages/terra-form-select/src/MultiSelect.jsx
  packages/terra-form-select/src/MultiSelectField.jsx
  packages/terra-form-select/src/SearchSelect.jsx
  packages/terra-form-select/src/SearchSelectField.jsx
  packages/terra-form-select/src/TagSelect.jsx
  packages/terra-form-select/src/TagSelectField.jsx
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/src/tag/Frame.jsx
  packages/terra-form-select/tests/jest/SearchableFields.test.jsx
  packages/terra-form-select/tests/jest/__snapshots__/SearchableFields.test.jsx.snap
  packages/terra-form-select/tests/wdio/select-field-spec.js
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: Needs functional review, Ready to merge, accessibility, enhancement, form-select

#2777 Keyboard accessibility fix for image and responsive element
  packages/terra-image/src/terra-dev-site/test/image/ImageFluid.test.jsx
  packages/terra-image/src/terra-dev-site/test/image/ImageNonFluid.test.jsx
  packages/terra-image/src/terra-dev-site/test/image/ImageTestCommon.module.scss
  packages/terra-responsive-element/src/terra-dev-site/test/responsive-element/FixedSize.test.jsx
Labels: image, responsive element

#2768 [terra-icon] Updated eIFU text to be Instructions for Use
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/translations/de.json
  packages/terra-icon/translations/en-AU.json
  packages/terra-icon/translations/en-CA.json
  packages/terra-icon/translations/en-GB.json
  packages/terra-icon/translations/en-US.json
  packages/terra-icon/translations/en.json
  packages/terra-icon/translations/es-ES.json
  packages/terra-icon/translations/es-US.json
  packages/terra-icon/translations/es.json
  packages/terra-icon/translations/fr-FR.json
  packages/terra-icon/translations/fr.json
  packages/terra-icon/translations/nl-BE.json
  packages/terra-icon/translations/nl.json
  packages/terra-icon/translations/pt-BR.json
  packages/terra-icon/translations/pt.json
  packages/terra-icon/translations/sv-SE.json
  packages/terra-icon/translations/sv.json
Labels: Needs functional review, Orion Reviewed, Ready to merge, icon

#2769 Fix intl Locale Loading for Sequential Locale Changing
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/package.json
  packages/terra-i18n/src/I18nProvider.jsx
  packages/terra-i18n/src/i18nLoader.js
  packages/terra-i18n/src/intlLoaders.js
  packages/terra-i18n/src/terra-dev-site/doc/example/I18nDemo.jsx
  packages/terra-i18n/src/translationsLoaders.js
  packages/terra-i18n/tests/jest/__snapshots__/intlLoaders.test.js.snap
  packages/terra-i18n/tests/jest/i18nLoader.test.js
  packages/terra-i18n/tests/jest/intlLoaders.test.js
Labels: Ready to merge, bug-fix, i18n

#2776 Consume New Docker Images
  .travis.yml
  Dockerfile
  docker-compose.yml
Labels: build-tools

#2749 Update Status View To Use FlexBox
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/StatusView.module.scss
  packages/terra-status-view/src/terra-dev-site/test/status-view/StatusViewTestCommon.module.scss
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_medium/status-view-spec/Displays_an_error_status_view_that_is_too_thin_for_a_glyph[default].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-view-spec/Displays_an_error_status_view_that_is_too_thin_for_a_glyph[default].png
Labels: status view

#2780 Consume latest terra-toolkit with axe-core 3.4.0
  package.json
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/OnRequestClose-Container_Overlay[open].png
Labels: overlay

#2773 [terra-form-select] Fixed page jump within an Iframe/Embedded Browser
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Menu.jsx
  packages/terra-form-select/src/multiple/Menu.jsx
  packages/terra-form-select/src/search/Menu.jsx
  packages/terra-form-select/src/single/Frame.jsx
  packages/terra-form-select/src/single/Menu.jsx
  packages/terra-form-select/src/tag/Menu.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/ManyOptions.test.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/SelectInsideIframe.test.jsx
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/With-Iframe_should_not_cause_page_jump_when[navigated_to_next_option_using_key-board_navigation].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/With-Iframe_should_not_cause_page_jump_when[navigated_to_previous_option_using_key-board_navigation].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/With-Iframe_should_not_cause_page_jump_when[opened_form-select].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/With-Iframe_should_not_cause_page_jump_when[opened_form-select_with_selected-option].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/With-Iframe_should_not_cause_page_jump_when[navigated_to_next_option_using_key-board_navigation].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/With-Iframe_should_not_cause_page_jump_when[navigated_to_previous_option_using_key-board_navigation].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/With-Iframe_should_not_cause_page_jump_when[opened_form-select].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/With-Iframe_should_not_cause_page_jump_when[opened_form-select_with_selected-option].png
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: bug-fix, form-select
