Repository cerner/terra-core, pull requests merged in 2019-08, with the labels that each got.

#2561 Update Field to pass down isInvalid to its children
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/src/Field.jsx
  packages/terra-form-field/tests/jest/Field.test.jsx
  packages/terra-form-field/tests/jest/__snapshots__/Field.test.jsx.snap
  packages/terra-form-field/tests/jest/mocks/Input.jsx
  packages/terra-form-field/tests/jest/mocks/Select.jsx
  packages/terra-form-field/tests/jest/mocks/Textarea.jsx
Labels: form-field, tech-only

#2562 Consume OCS icons v1.27
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-icon/src/cerner-one-icons.csv
  packages/terra-icon/src/icon-data.json
  packages/terra-icon/src/icon/IconCircleSymbolLight.jsx
  packages/terra-icon/src/icon/IconDiamondSymbolLight.jsx
  packages/terra-icon/src/icon/IconFitHeight.jsx
  packages/terra-icon/src/icon/IconPlusSymbolLight.jsx
  packages/terra-icon/src/icon/IconRectangleSymbolLight.jsx
  packages/terra-icon/src/icon/IconSquareSymbolLight.jsx
  packages/terra-icon/src/icon/IconTeardropSymbolLight.jsx
  packages/terra-icon/src/icon/IconTeardropUpSymbolLight.jsx
  packages/terra-icon/src/icon/IconThinDiamondSymbolLight.jsx
  packages/terra-icon/src/icon/IconTriangleDownSymbolLight.jsx
  packages/terra-icon/src/icon/IconTriangleSymbolLight.jsx
  packages/terra-icon/src/icon/IconXSymbolLight.jsx
  packages/terra-icon/src/svg/circle_symbol_light.svg
  packages/terra-icon/src/svg/diamond_symbol_light.svg
  packages/terra-icon/src/svg/fitHeight.svg
  packages/terra-icon/src/svg/plus_symbol_light.svg
  packages/terra-icon/src/svg/rectangle_symbol_light.svg
  packages/terra-icon/src/svg/square_symbol_light.svg
  packages/terra-icon/src/svg/teardropUp_symbol_light.svg
  packages/terra-icon/src/svg/teardrop_symbol_light.svg
  packages/terra-icon/src/svg/thinDiamond_symbol_light.svg
  packages/terra-icon/src/svg/triangleDown_symbol_light.svg
  packages/terra-icon/src/svg/triangle_symbol_light.svg
  packages/terra-icon/src/svg/x_symbol_light.svg
  packages/terra-icon/src/terra-dev-site/doc/example/IconThemeable.jsx
Labels: dependency-update, icon

#2557 Replace usage of markdown magic for generating package listing
  markdown.config.js
  package.json
  scripts/root-readme-updater/index.js
Labels: docs

#2494 [terra-avatar] [terra-image] Avatar to allow non square images.
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/src/common/AvatarUtils.jsx
  packages/terra-avatar/src/terra-dev-site/assets/170x251.jpg
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/ImageAvatarShortAndWide.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/ImageAvatarTallAndNarrow.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/UpdateAvatar.test.jsx
  packages/terra-avatar/tests/jest/__snapshots__/Avatar.test.jsx.snap
  packages/terra-avatar/tests/jest/__snapshots__/Facility.test.jsx.snap
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Image_Avatar_short_and_wide[default].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Image_Avatar_tall_and_narrow[default].png
  packages/terra-avatar/tests/wdio/avatar-common-spec.js
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/tests/jest/__snapshots__/DemographicsBanner.test.jsx.snap
  packages/terra-demographics-banner/tests/jest/__snapshots__/DemographicsBannerDisplay.test.jsx.snap
  packages/terra-demographics-banner/tests/jest/__snapshots__/_LargeDemographicsBannerDisplay.test.jsx.snap
  packages/terra-image/CHANGELOG.md
  packages/terra-image/package.json
  packages/terra-image/src/Image.jsx
  packages/terra-image/src/Image.module.scss
  packages/terra-image/src/terra-dev-site/assets/170x251.jpg
  packages/terra-image/src/terra-dev-site/doc/example/ImageFitTypes.jsx
  packages/terra-image/src/terra-dev-site/doc/example/ImageFitTypes.scss
  packages/terra-image/src/terra-dev-site/doc/example/common/FitTypesWrapper.jsx
  packages/terra-image/src/terra-dev-site/doc/image/Image.1.doc.jsx
  packages/terra-image/src/terra-dev-site/test/image/ImageFluid.test.jsx
  packages/terra-image/tests/jest/__snapshots__/Image.test.jsx.snap
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/src/ProfileImage.jsx
  packages/terra-profile-image/tests/jest/__snapshots__/ProfileImage.test.jsx.snap
Labels: avatar, bug-fix, image

#2510 [terra-form-select] Added aria-label for every input field
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.jsx
  packages/terra-form-select/src/_Menu.jsx
  packages/terra-form-select/src/_NoResults.jsx
  packages/terra-form-select/src/_OptGroup.jsx
  packages/terra-form-select/tests/jest/__snapshots__/NoResults.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/OptGroup.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/Select.test.jsx.snap
  packages/terra-form-select/translations/de.json
  packages/terra-form-select/translations/en-AU.json
  packages/terra-form-select/translations/en-GB.json
  packages/terra-form-select/translations/en-US.json
  packages/terra-form-select/translations/en.json
  packages/terra-form-select/translations/es-ES.json
  packages/terra-form-select/translations/es-US.json
  packages/terra-form-select/translations/es.json
  packages/terra-form-select/translations/fr-FR.json
  packages/terra-form-select/translations/fr.json
  packages/terra-form-select/translations/nl-BE.json
  packages/terra-form-select/translations/nl.json
  packages/terra-form-select/translations/pt-BR.json
  packages/terra-form-select/translations/pt.json
  packages/terra-form-select/translations/sv-SE.json
  packages/terra-form-select/translations/sv.json
Labels: accessibility, bug-fix, form-select

#2531 [terra-button] Show focus styles when programmatically focused
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/src/_mixins.scss
  packages/terra-button/src/terra-dev-site/test/button/ProgrammaticFocus.test.jsx
  packages/terra-button/tests/jest/__snapshots__/Button.test.jsx.snap
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Programmatic_Focus[Button_1_focused_programmatically].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Programmatic_Focus[Button_2_focused_programmatically].png
  packages/terra-button/tests/wdio/button-spec.js
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/tests/jest/__snapshots__/ToggleButton.test.jsx.snap
Labels: accessibility, bug-fix, button, tech-only

#2574 Remove react and react-dom as dependencies from terra-section-header
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/package.json
Labels: section-header, tech-only

#2560 [terra-core] Updated react's legacy contextTypes to react-intl
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/package.json
  packages/terra-action-header/src/ActionHeader.jsx
  packages/terra-action-header/tests/jest/ActionHeader.test.jsx
  packages/terra-action-header/tests/jest/__snapshots__/ActionHeader.test.jsx.snap
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/Alert.jsx
  packages/terra-alert/tests/jest/Alert.test.jsx
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/src/DemographicsBanner.jsx
  packages/terra-demographics-banner/tests/jest/DemographicsBanner.test.jsx
  packages/terra-demographics-banner/tests/jest/__snapshots__/DemographicsBanner.test.jsx.snap
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/package.json
  packages/terra-dialog/src/Dialog.jsx
  packages/terra-dialog/tests/jest/Dialog.test.jsx
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/package.json
  packages/terra-form-checkbox/src/CheckboxField.jsx
  packages/terra-form-checkbox/tests/jest/__snapshots__/CheckboxField.test.jsx.snap
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/src/Field.jsx
  packages/terra-form-field/tests/jest/Field.test.jsx
  packages/terra-form-field/tests/jest/__snapshots__/Field.test.jsx.snap
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/package.json
  packages/terra-form-radio/src/RadioField.jsx
  packages/terra-form-radio/tests/jest/__snapshots__/RadioField.test.jsx.snap
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/Select.jsx
  packages/terra-form-select/src/SelectField.jsx
  packages/terra-form-select/src/_AddOption.jsx
  packages/terra-form-select/src/_MaxSelection.jsx
  packages/terra-form-select/src/_Menu.jsx
  packages/terra-form-select/src/_NoResults.jsx
  packages/terra-form-select/tests/jest/AddOption.test.jsx
  packages/terra-form-select/tests/jest/MaxSelection.test.jsx
  packages/terra-form-select/tests/jest/NoResults.test.jsx
  packages/terra-form-select/tests/jest/Select.test.jsx
  packages/terra-form-select/tests/jest/SelectField.test.jsx
  packages/terra-form-select/tests/jest/__snapshots__/AddOption.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/Select.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/SelectField.test.jsx.snap
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/src/LoadingOverlay.jsx
  packages/terra-overlay/tests/jest/LoadingOverlay.test.jsx
  packages/terra-overlay/tests/jest/__snapshots__/LoadingOverlay.test.jsx.snap
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/tests/jest/SearchField.test.jsx
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
Labels: Intl, action header, alert, demographics banner, dialog, form-checkbox, form-field, form-radio, form-select, i18n, overlay, search field

#2528 [form-text-area] Update inline min-height on component update
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/docs/README.md
  packages/terra-form-textarea/src/Textarea.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/SwapTextarea.test.jsx
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_large/form-textarea-spec/Swapping_two_textareas_with_different_size[default].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-textarea-spec/Swapping_two_textareas_with_different_size[default].png
  packages/terra-form-textarea/tests/wdio/form-textarea-spec.js
Labels: bug-fix, tech-only

#2550 [terra-search-field] Updates Terra SearchField examples to show usage.
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldBasic.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldBlock.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldDefaultValue.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldDelayed.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldDisableAutoFormatAttrs.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldDisableAutoSearch.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldDisabled.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldExampleTemplate.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldFilterNumeric.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldFocus.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldMinimumLength.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldPlaceholder.jsx
  packages/terra-search-field/src/terra-dev-site/doc/search-field/SearchField.1.doc.jsx
Labels: docs, search field

#2537 Remove explicit calls to make caretColor transparent
  package.json
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/tests/wdio/form-input-spec.js
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/tests/wdio/select-field-spec.js
  packages/terra-form-select/tests/wdio/select-spec.js
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/tests/wdio/form-textarea-spec.js
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/wdio/search-field-spec.js
Labels: tech-only, testing

#2571 Render Replica npm-style Badge in doc-template
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/src/DocTemplate.jsx
  packages/terra-doc-template/src/NpmBadge.jsx
  packages/terra-doc-template/src/NpmBadge.module.scss
  packages/terra-doc-template/src/terra-dev-site/doc/doc-template/DocTemplate.1.doc.jsx
  packages/terra-doc-template/src/terra-dev-site/doc/example/BadgeExamples.jsx
  packages/terra-doc-template/src/terra-dev-site/test/doc-template/NpmBadge.test.jsx
  packages/terra-doc-template/tests/jest/DocTemplate.test.jsx
  packages/terra-doc-template/tests/jest/NpmBadge.test.jsx
  packages/terra-doc-template/tests/jest/__snapshots__/DocTemplate.test.jsx.snap
  packages/terra-doc-template/tests/jest/__snapshots__/NpmBadge.test.jsx.snap
  packages/terra-doc-template/tests/wdio/__snapshots__/reference/en/chrome_medium/npm-badge-spec/Npm_Badge_Variants[Badge_variants_display_correctly].png
  packages/terra-doc-template/tests/wdio/npm-badge-spec.js
Labels: accessibility, doc-template, enhancement, tech-only

#2573 [toggle]Aria-expanded docs and example added
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/docs/README.md
  packages/terra-toggle/src/terra-dev-site/doc/example/AnimatedToggle.jsx
  packages/terra-toggle/src/terra-dev-site/doc/example/DefaultToggle.jsx
  packages/terra-toggle/src/terra-dev-site/test/toggle/AnimatedToggle.test.jsx
  packages/terra-toggle/src/terra-dev-site/test/toggle/DefaultToggle.test.jsx
  packages/terra-toggle/src/terra-dev-site/test/toggle/OpenToggle.test.jsx
Labels: accessibility, docs, toggle

#2564 [content-contaner] Example and docs added for scrollRefCallback prop usage.
  packages/terra-content-container/CHANGELOG.md
  packages/terra-content-container/src/terra-dev-site/doc/content-container/ContentContainer.1.doc.jsx
  packages/terra-content-container/src/terra-dev-site/doc/example/ContentContainerScrollRef.jsx
Labels: content-container

#2583 [form-textarea] Added label prop Part-1
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/Textarea.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/Textarea.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/form-textarea/Textarea.1.doc.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/AutoResizableTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/AutoResizableTextareaMobileDocumentTouch.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/AutoResizableTextareaMobileMaxTouchPoints.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/AutoResizableTextareaMobileMsMaxTouchPoints.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/AutoResizableTextareaMobileOnTouchStart.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/DefaultTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/DisabledPlaceholderTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/DisabledTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/DisabledValueTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/FullTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/InvalidTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/LargeTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/MediumTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/PlaceholderTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/PopulatedTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/RowsTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/SmallTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/SwapTextarea.test.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/ValueTextarea.test.jsx
  packages/terra-form-textarea/tests/jest/Textarea.test.jsx
  packages/terra-form-textarea/tests/jest/__snapshots__/Textarea.test.jsx.snap
  packages/terra-form-textarea/tests/wdio/form-textarea-spec.js
Labels: accessibility, form-textarea

#2601 [terra-icon] Fix BiDi.
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/src/Icon.module.scss
Labels: bug-fix, icon

#2587 [form-input] Added ariaLabel prop Part-2
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/Input.jsx
  packages/terra-form-input/src/terra-dev-site/doc/common/BlankExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/common/NumberInputExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/common/PlaceholderExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/controlled/DefaultExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/uncontrolled/DefaultExample.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/DefaultFormInput.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/DisabledFormInput.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/DisabledPlaceholderInput.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/DisabledValueInput.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/InvalidFormInput.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/OnChangeFormInput.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/OnFocusFormInput.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/PlaceholderFormInput.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/RequiredFormInput.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/ValueFormInput.test.jsx
  packages/terra-form-input/tests/jest/Input.test.jsx
  packages/terra-form-input/tests/jest/__snapshots__/Input.test.jsx.snap
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/tests/jest/SearchField.test.jsx
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
Labels: accessibility, form-input

#2602 Added Tooltip for IconConsultInstructionsForUse
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-icon/scripts/src/generate-icon/renderJsx.js
  packages/terra-icon/scripts/src/generate-icon/themeIconWithTooltipTemplate.txt
  packages/terra-icon/src/icon/IconConsultInstructionsForUse.jsx
  packages/terra-icon/translations/de.json
  packages/terra-icon/translations/en-AU.json
  packages/terra-icon/translations/en-GB.json
  packages/terra-icon/translations/en-US.json
  packages/terra-icon/translations/en.json
  packages/terra-icon/translations/es-ES.json
  packages/terra-icon/translations/es-US.json
  packages/terra-icon/translations/es.json
  packages/terra-icon/translations/fr-FR.json
  packages/terra-icon/translations/fr.json
  packages/terra-icon/translations/nl-BE.json
  packages/terra-icon/translations/nl.json
  packages/terra-icon/translations/pt-BR.json
  packages/terra-icon/translations/pt.json
  packages/terra-icon/translations/sv-SE.json
  packages/terra-icon/translations/sv.json
Labels: Translations Added, icon
