Repository cerner/terra-core, pull requests merged in 2019-04, with the labels that each got.

#2316 [terra-button] Remove the default margin in Safari.
  CONTRIBUTORS.md
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.module.scss
Labels: Safari, bug-fix, button, tech-only

#2319 Show browser-native tooltip upon hovering over a icon-only button.
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/tests/jest/__snapshots__/Button.test.jsx.snap
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
  packages/terra-toggle-button/tests/jest/__snapshots__/ToggleButton.test.jsx.snap
Labels: button, enhancement, tech-only

#2314 [terra-form-radio] Null check for child component so that it won't cr…
  CONTRIBUTORS.md
  packages/terra-form-checkbox/src/CheckboxField.jsx
  packages/terra-form-checkbox/tests/jest/CheckboxField.test.jsx
  packages/terra-form-checkbox/tests/jest/__snapshots__/CheckboxField.test.jsx.snap
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/src/RadioField.jsx
  packages/terra-form-radio/tests/jest/RadioField.test.jsx
  packages/terra-form-radio/tests/jest/__snapshots__/RadioField.test.jsx.snap
Labels: form-radio, tech-only

#2320 Update intl.js to guard against IE Intl weirdness
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/src/i18nLoader.js
  packages/terra-i18n/src/intl.js
Labels: bug-fix, i18n

#2321 [terra-button] - Add HTML title attribute as a documented prop
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/src/terra-dev-site/doc/example/ButtonIcon.jsx
  packages/terra-button/tests/jest/Button.test.jsx
  packages/terra-button/tests/jest/__snapshots__/Button.test.jsx.snap
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-toggle-button/tests/jest/__snapshots__/ToggleButton.test.jsx.snap
Labels: button, tech-only

#2327 [terra-form-select] Added Null Checks in Form-Select
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Menu.jsx
Labels: form-select, tech-only

#2332 Allow `hover` styles to apply over a list-item only on non-touch devices.
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/List.module.scss
Labels: list, tech-only

#2334 Markdown regression
  packages/terra-markdown/CHANGELOG.md
  packages/terra-markdown/package.json
  packages/terra-markdown/src/Markdown.jsx
  packages/terra-markdown/src/terra-dev-site/test/markdown/Markdown.md
  packages/terra-markdown/src/terra-dev-site/test/markdown/blockquote.md
  packages/terra-markdown/src/terra-dev-site/test/markdown/blockquote.test.jsx
  packages/terra-markdown/tests/wdio/__snapshots__/reference/en/chrome_large/markdown-spec/Default[default].png
  packages/terra-markdown/tests/wdio/markdown-spec.js
Labels: markdown

#2336 [terra-props-table] Update Props Table to Mark Required Custom Prop Types Appropriately
  packages/terra-props-table/CHANGELOG.md
  packages/terra-props-table/src/PropsTable.jsx
Labels: props-table, tech-only

#2339 Update Field.jsx
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/src/Field.jsx
Labels: form-field, tech-only

#2337 Added Type prop to Input-Field
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/src/Fieldset.jsx
  packages/terra-form-fieldset/src/Fieldset.module.scss
  packages/terra-form-fieldset/src/terra-dev-site/test/form-fieldset/FieldsetWithHiddenLegend.test.jsx
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/en/chrome_medium/fieldset-spec/Fieldset_Populated_with_Hidden_Legend[default].png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/en/chrome_tiny/fieldset-spec/Fieldset_Populated_with_Hidden_Legend[default].png
  packages/terra-form-fieldset/tests/wdio/fieldset-spec.js
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/InputField.jsx
  packages/terra-form-input/src/terra-dev-site/doc/common/NumberInputExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/InputField.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/NumberInputField.jsx
  packages/terra-form-input/src/terra-dev-site/doc/form-input/Input.1.doc.jsx
  packages/terra-form-input/src/terra-dev-site/doc/form-input/InputField.2.doc.jsx
  packages/terra-form-input/tests/jest/InputField.test.jsx
  packages/terra-form-input/tests/jest/__snapshots__/InputField.test.jsx.snap
Labels: form-fieldset, form-input, tech-only

#2341 [terra-list] Add diffs to guide markdowns
  packages/terra-list/CHANGELOG.md
  packages/terra-list/docs/guides/MultiSelectList.md
  packages/terra-list/docs/guides/SectionList.md
  packages/terra-list/docs/guides/SectionWithinSection.md
  packages/terra-list/docs/guides/SingleSelectList.md
Labels: docs

#2335 Prepare terra-markdown to allow heading anchors.
  packages/terra-markdown/CHANGELOG.md
  packages/terra-markdown/docs/README.md
  packages/terra-markdown/package.json
  packages/terra-markdown/src/Markdown.jsx
  packages/terra-markdown/src/Markdown.scss
  packages/terra-markdown/tests/jest/__snapshots__/markdown.test.jsx.snap
  packages/terra-markdown/tests/jest/markdown.test.jsx
  packages/terra-props-table/CHANGELOG.md
  packages/terra-props-table/src/PropsTable.jsx
  packages/terra-props-table/src/PropsTable.module.scss
  packages/terra-props-table/tests/wdio/props-table-spec.js
Labels: markdown, props-table

#2345 Fix hr margin issue
  packages/terra-divider/CHANGELOG.md
  packages/terra-divider/src/Divider.module.scss
  packages/terra-divider/src/terra-dev-site/test/divider/DefaultDivider.test.jsx
  packages/terra-divider/src/terra-dev-site/test/divider/DividerWithText.test.jsx
  packages/terra-divider/src/terra-dev-site/test/divider/DividerWithWrappingText.test.jsx
  packages/terra-divider/tests/wdio/__snapshots__/reference/en/chrome_medium/divider-spec/Custom_Text[default].png
  packages/terra-divider/tests/wdio/__snapshots__/reference/en/chrome_medium/divider-spec/Custom_Text[themed].png
  packages/terra-divider/tests/wdio/__snapshots__/reference/en/chrome_medium/divider-spec/Default[default].png
  packages/terra-divider/tests/wdio/__snapshots__/reference/en/chrome_medium/divider-spec/Default[themed].png
Labels: bug-fix, divider

#2264 [terra-status-view] Remove opt object and add proptype check
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/StatusView.jsx
  packages/terra-status-view/tests/jest/StatusView.test.jsx
Labels: status view, tech-only

#2350 [terra-icon] Add Regression Test for All Icons
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/src/IconExports.js
  packages/terra-icon/src/terra-dev-site/test/icon/IconAll.module.scss
  packages/terra-icon/src/terra-dev-site/test/icon/IconAll.test.jsx
  packages/terra-icon/tests/wdio/__snapshots__/reference/en/chrome_large/icon-spec/AllIcons[default].png
  packages/terra-icon/tests/wdio/__snapshots__/reference/en/chrome_large/icon-spec/Bidi[default].png
  packages/terra-icon/tests/wdio/__snapshots__/reference/en/chrome_large/icon-spec/Default[default].png
  packages/terra-icon/tests/wdio/__snapshots__/reference/en/chrome_large/icon-spec/HeightWidth[default].png
  packages/terra-icon/tests/wdio/__snapshots__/reference/en/chrome_medium/icon-spec/Bidi[default].png
  packages/terra-icon/tests/wdio/__snapshots__/reference/en/chrome_medium/icon-spec/Default[default].png
  packages/terra-icon/tests/wdio/__snapshots__/reference/en/chrome_medium/icon-spec/HeightWidth[default].png
  packages/terra-icon/tests/wdio/icon-spec.js
Labels: icon, testing

#2352 Terra site update
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTORS.md
  package.json
Labels: dependency-update, tech-only

#2347 [terra-button] Use 'aria-label' from custom props.
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/tests/jest/Button.test.jsx
  packages/terra-button/tests/jest/__snapshots__/Button.test.jsx.snap
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
  packages/terra-toggle-button/tests/jest/__snapshots__/ToggleButton.test.jsx.snap
Labels: bug-fix, button, tech-only

#2351 Added IE Specific Prefix style rule to fix Placeholder color
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/Input.module.scss
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.module.scss
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/Textarea.module.scss
Labels: bug-fix, form-input, form-textarea, terra-form-select

#2357 [terra-i18n] Added Upgrade Guide to Doc Site.
  CONTRIBUTORS.md
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/src/terra-dev-site/doc/i18n/UpgradeGuide.1.doc.jsx
Labels: i18n, tech-only

#2315 Added a dual means of disabling field component
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/InputField.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/DisabledInputField.test.jsx
  packages/terra-form-input/tests/jest/InputField.test.jsx
  packages/terra-form-input/tests/jest/__snapshots__/InputField.test.jsx.snap
  packages/terra-form-input/tests/wdio/__snapshots__/reference/en/chrome_large/form-input-spec/Disabled_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-input-spec/Disabled_InputField[default].png
  packages/terra-form-input/tests/wdio/form-input-spec.js
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/SelectField.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/DisabledSelectField.test.jsx
  packages/terra-form-select/tests/jest/SelectField.test.jsx
  packages/terra-form-select/tests/jest/__snapshots__/SelectField.test.jsx.snap
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/disabled[default].png
  packages/terra-form-select/tests/wdio/select-field-spec.js
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/TextareaField.jsx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/DisabledTextareaField.test.jsx
  packages/terra-form-textarea/tests/jest/TextareaField.test.jsx
  packages/terra-form-textarea/tests/jest/__snapshots__/TextareaField.test.jsx.snap
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_large/form-textarea-spec/Disabled_TextareaField[default].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-textarea-spec/Disabled_TextareaField[default].png
  packages/terra-form-textarea/tests/wdio/form-textarea-spec.js
Labels: enhancement, form-input, form-select, form-textarea, tech-only

#2353 [terra-arrange] Update Doc Examples
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/src/Arrange.jsx
  packages/terra-arrange/src/Arrange.module.scss
  packages/terra-arrange/src/terra-dev-site/doc/arrange/Arrange.1.doc.jsx
  packages/terra-arrange/src/terra-dev-site/doc/arrange/Arrange.doc.jsx
  packages/terra-arrange/src/terra-dev-site/doc/arrange/ChangeLog.1.doc.jsx
  packages/terra-arrange/src/terra-dev-site/doc/common/examplesetup.jsx
  packages/terra-arrange/src/terra-dev-site/doc/example/ArrangeAlignAllContainers.jsx
  packages/terra-arrange/src/terra-dev-site/doc/example/ArrangeAlignFill.jsx
  packages/terra-arrange/src/terra-dev-site/doc/example/ArrangeAlignFitEnd.jsx
  packages/terra-arrange/src/terra-dev-site/doc/example/ArrangeAlignFitStart.jsx
  packages/terra-arrange/src/terra-dev-site/doc/example/ArrangeAlignment.jsx
  packages/terra-arrange/src/terra-dev-site/doc/example/ArrangeExamples.module.scss
  packages/terra-arrange/src/terra-dev-site/test/arrange/AlignedStretchMaxWidth.test.jsx
  packages/terra-arrange/src/terra-dev-site/test/arrange/common/examplesetup.jsx
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_medium/arrange-spec/Align_stretch_with_20%_max-widths_on_containers_using_attribute_props[default].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_tiny/arrange-spec/Align_stretch_with_20%_max-widths_on_containers_using_attribute_props[default].png
  packages/terra-arrange/tests/wdio/arrange-spec.js
Labels: arrange, docs, tech-only

#2368 Updated react-syntax-highlighter
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/package.json
  packages/terra-doc-template/src/ExampleTemplate.jsx
Labels: doc-template, syntax-hightlighting, tech-only

#2349 [terra-form-checkbox][terra-form-radio] Add Docsite Examples for isInvalid and isInline Props
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/src/terra-dev-site/doc/example/field/ControlledCheckboxField.jsx
  packages/terra-form-checkbox/src/terra-dev-site/doc/example/field/DefaultCheckboxField.jsx
  packages/terra-form-checkbox/src/terra-dev-site/doc/example/field/InlineCheckboxField.jsx
  packages/terra-form-checkbox/src/terra-dev-site/doc/example/field/OptionalCheckboxField.jsx
  packages/terra-form-checkbox/src/terra-dev-site/doc/form-checkbox/CheckboxField.2.doc.jsx
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/src/terra-dev-site/doc/example/field/ControlledRadioField.jsx
  packages/terra-form-radio/src/terra-dev-site/doc/example/field/DefaultRadioField.jsx
  packages/terra-form-radio/src/terra-dev-site/doc/example/field/InlineRadioField.jsx
  packages/terra-form-radio/src/terra-dev-site/doc/example/field/OptionalRadioField.jsx
  packages/terra-form-radio/src/terra-dev-site/doc/form-radio/RadioField.2.doc.jsx
Labels: docs, form-checkbox, form-radio, tech-only

#2370 Update gh-pages DevDep Version
  package.json
Labels: dependency-update, tech-only
