Repository cerner/terra-core, pull requests merged in 2019-01, with the labels that each got.

#2140 Remove stylelintrc
  .stylelintrc
Labels: tech-only

#2130 Added doc site examples to Alert and Status-View components
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/terra-dev-site/doc/alert/Alert.doc.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/ActionAndDismissibleExample.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/ActionExample.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/AdvisoryExample.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/AlertExample.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/BuildYourOwnAlertExample.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/CustomExample.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/DismissibleExample.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/ErrorExample.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/InfoExample.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/LongTextExample.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/SuccessExample.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/WarningExample.jsx
  packages/terra-alert/src/terra-dev-site/test/alert/SmallContainer.test.jsx
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/terra-dev-site/doc/example/AlignTopExample.jsx
  packages/terra-status-view/src/terra-dev-site/doc/example/AllPropsExample.jsx
  packages/terra-status-view/src/terra-dev-site/doc/example/GlyphHiddenExample.jsx
  packages/terra-status-view/src/terra-dev-site/doc/example/GlyphNotFitExample.jsx
  packages/terra-status-view/src/terra-dev-site/doc/example/LargeContainerExample.jsx
  packages/terra-status-view/src/terra-dev-site/doc/example/NoPropsExample.jsx
  packages/terra-status-view/src/terra-dev-site/doc/example/StatusViewTemplate.jsx
  packages/terra-status-view/src/terra-dev-site/doc/example/TextWrappingExample.jsx
  packages/terra-status-view/src/terra-dev-site/doc/status-view/StatusView.1.doc.jsx
Labels: alert, docs, status view

#2135 Adding support for private prop suppression to PropsTable
  packages/terra-props-table/CHANGELOG.md
  packages/terra-props-table/docs/README.md
  packages/terra-props-table/src/PropsTable.jsx
  packages/terra-props-table/src/terra-dev-site/test/props-table-test/MockPrivatePropsComponent.jsx
  packages/terra-props-table/src/terra-dev-site/test/props-table-test/MockPrivatePropsTable.test.jsx
  packages/terra-props-table/tests/wdio/__snapshots__/reference/en/chrome_medium/props-table-spec/Private_Props[should_not_render_private_prop_information].png
  packages/terra-props-table/tests/wdio/props-table-spec.js
Labels: enhancement, props-table

#2149 Correcting Errors from Upcoming 'eslint-plugin-react' Version Lift
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/UpdateAvatar.test.jsx
  packages/terra-base/src/Base.jsx
  packages/terra-button/src/terra-dev-site/test/button/ActiveVariantButtons.test.jsx
  packages/terra-button/src/terra-dev-site/test/button/Variants/ActionButton.test.jsx
  packages/terra-button/src/terra-dev-site/test/button/Variants/DeemphasisButton.test.jsx
  packages/terra-button/src/terra-dev-site/test/button/Variants/EmphasisButton.test.jsx
  packages/terra-button/src/terra-dev-site/test/button/Variants/NeutralButton.test.jsx
  packages/terra-button/src/terra-dev-site/test/button/Variants/UtilityButton.test.jsx
  packages/terra-card/src/terra-dev-site/test/card/CardContentCenter.test.jsx
  packages/terra-card/src/terra-dev-site/test/card/CardPadding.test.jsx
  packages/terra-card/src/terra-dev-site/test/card/CardPaddingHorizontal.test.jsx
  packages/terra-card/src/terra-dev-site/test/card/CardPaddingVertical.test.jsx
  packages/terra-card/src/terra-dev-site/test/card/DefaultCard.test.jsx
  packages/terra-card/src/terra-dev-site/test/card/RaisedCard.test.jsx
  packages/terra-collapsible-menu-view/src/CollapsibleMenuViewItem.jsx
  packages/terra-content-container/src/terra-dev-site/doc/example/ContentContainerFill.jsx
  packages/terra-content-container/src/terra-dev-site/doc/example/ContentContainerStandard.jsx
  packages/terra-content-container/src/terra-dev-site/test/content-container/DefaultContentContainer.test.jsx
  packages/terra-content-container/src/terra-dev-site/test/content-container/FillContentContainer.test.jsx
  packages/terra-content-container/tests/jest/ContentContainer.test.jsx
  packages/terra-date-picker/CHANGELOG.md
  packages/terra-date-picker/src/DateInput.jsx
  packages/terra-date-picker/src/DateRange.jsx
  packages/terra-form-checkbox/tests/jest/Checkbox.test.jsx
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/src/Field.jsx
  packages/terra-form-radio/src/terra-dev-site/doc/example/radio/LongTextRadioExample.jsx
  packages/terra-form-radio/tests/jest/Radio.test.jsx
  packages/terra-form-textarea/tests/jest/Textarea.test.jsx
  packages/terra-list/src/terra-dev-site/doc/example/List.jsx
  packages/terra-list/src/terra-dev-site/doc/example/MultiSelect.jsx
  packages/terra-list/src/terra-dev-site/doc/example/SingleSelect.jsx
  packages/terra-paginator/src/ControlledPaginator.jsx
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-progress-bar/src/ProgressBar.jsx
Labels: datepicker, form-field, testing

#2168 Fix Avatar Theme Variable Typo
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/docs/upgrade-guide.md
  packages/terra-avatar/src/common/Avatar.module.scss
Labels: avatar, tech-only

#2170 Fix Issue With Corner Styling in Form Select
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.jsx
Labels: bug, form-select, tech-only

#2175 [terra-form-select] - Updated Select Option prop documentation
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Option.jsx
Labels: docs, form-select, tech-only

#2138 fixes hold and scroll issue of form-select in IE #1863
  CONTRIBUTORS.md
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.jsx
Labels: tech-only

#2186 [terra-collapsible-menu-view] - Fixed issue preventing single item views from collapsing
  packages/terra-collapsible-menu-view/CHANGELOG.md
  packages/terra-collapsible-menu-view/src/CollapsibleMenuView.jsx
  packages/terra-collapsible-menu-view/src/terra-dev-site/test/collapsible-menu-view/CollapsibleMenuViewSingleItem.test.jsx
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_large/collapsible-menu-view-spec/Responsive_Single_Item[default].png
  packages/terra-collapsible-menu-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/collapsible-menu-view-spec/Responsive_Single_Item[default].png
  packages/terra-collapsible-menu-view/tests/wdio/collapsible-menu-view-spec.js
Labels: bug, collapsible-menu-view

#2164 Allow for screen readers to output disabled select boxes to their users
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/_Frame.jsx
  packages/terra-form-select/tests/jest/__snapshots__/Frame.test.jsx.snap
Labels: accessibility, form-select

#2167 Added Check for Tab and Shift + Tab Key Press to Allow Focus to Menu
  packages/terra-menu/CHANGELOG.md
  packages/terra-menu/src/_MenuContent.jsx
Labels: accessibility, menu

#2165 Enabling a docker dev env
  Dockerfile
  docker-compose.yml
Labels: build-tools

#2163 Screen reader no results
  jestsetup.js
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/Select.jsx
  packages/terra-form-select/src/_Frame.jsx
  packages/terra-form-select/src/_Frame.module.scss
  packages/terra-form-select/src/_Menu.jsx
  packages/terra-form-select/tests/jest/Frame.test.jsx
  packages/terra-form-select/tests/jest/Menu.test.jsx
  packages/terra-form-select/tests/jest/__snapshots__/Frame.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/Menu.test.jsx.snap
Labels: accessibility, form-select

#2201 bump terra-dev-site version
  package.json
Labels: dependency-update

#2187 Remove paragraph tag from alert body
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/docs/README.md
  packages/terra-alert/src/Alert.jsx
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
Labels: alert, bug-fix

#2205 Remove abstract-modal from terra-core
  packages/terra-abstract-modal/.npmignore
  packages/terra-abstract-modal/.npmrc
  packages/terra-abstract-modal/CHANGELOG.md
  packages/terra-abstract-modal/LICENSE
  packages/terra-abstract-modal/NOTICE
  packages/terra-abstract-modal/README.md
  packages/terra-abstract-modal/docs/DEPENDENCIES.md
  packages/terra-abstract-modal/docs/README.md
  packages/terra-abstract-modal/docs/UPGRADEGUIDE.md
  packages/terra-abstract-modal/package.json
  packages/terra-abstract-modal/src/AbstractModal.jsx
  packages/terra-abstract-modal/src/AbstractModal.module.scss
  packages/terra-abstract-modal/src/ModalOverlay.module.scss
  packages/terra-abstract-modal/src/_ModalContent.jsx
  packages/terra-abstract-modal/src/_ModalOverlay.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/abstract-modal/AbstractModal.doc.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/abstract-modal/ChangeLog.doc.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/AbstractModalCloseOnOutsideClick.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/AbstractModalFallbackFocusFunction.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/AbstractModalFallbackFocusSelector.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/AbstractModalIsFullscreen.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/AbstractModalIsOpened.jsx
  packages/terra-abstract-modal/src/terra-dev-site/doc/example/ExampleAbstractSize.module.scss
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalAppendClass.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalContentOverflow.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalCustomProps.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalDisableCloseOnEsc.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalDisableCloseOnOutsideClick.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalFallbackFocusFunction.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalFallbackFocusSelector.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalIsFullscreen.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalIsOpen.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalNoFocusableContent.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalOverrideRole.test.jsx
  packages/terra-abstract-modal/src/terra-dev-site/test/abstract-modal/AbstractModalTestStyles.module.scss
  packages/terra-abstract-modal/tests/jest/AbstractModal.test.jsx
  packages/terra-abstract-modal/tests/jest/AbstractModalExample.jsx
  packages/terra-abstract-modal/tests/jest/__snapshots__/AbstractModal.test.jsx.snap
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Content_Overflow[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Content_Overflow[themed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Custom_Focusable_Fallback_Function[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Custom_Focusable_Fallback_Selector[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Disable_Close_On_Esc[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Disable_Close_On_Outside_Click[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Fullscreen[modal_closed,_with_focus].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Fullscreen[modal_closed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Fullscreen[modal_present].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Open[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Open[modal_closed,_with_focus].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Is_Open[modal_closed].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Modal_has_focus_trap_applied[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/No_Focusable_Content[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_enormous/abstract-modal-spec/Override_Role[default].png
  packages/terra-abstract-modal/tests/wdio/__snapshots__/reference/en/chrome_medium/abstract-modal-spec/Append_Class[default].png
  packages/terra-abstract-modal/tests/wdio/abstract-modal-spec.js
Labels: abstract-modal, tech-only
