Repository cerner/terra-core, pull requests merged in 2019-09, with the labels that each got.

#2608 Fix help and error text focus glow
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/src/Field.module.scss
Labels: form-field

#2607 Update inherited colors to work better with unknown source order
  packages/terra-card/CHANGELOG.md
  packages/terra-card/src/Card.module.scss
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/shared/_Frame.module.scss
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/Paginator.module.scss
  packages/terra-text/CHANGELOG.md
  packages/terra-text/src/Text.jsx
  packages/terra-text/src/Text.module.scss
  packages/terra-text/tests/jest/Text.test.jsx
  packages/terra-text/tests/jest/__snapshots__/Text.test.jsx.snap
Labels: bug-fix, card, form-select, pagination, text

#2592 [terra-form-select] Add AT announcement for option onClick and unselection via Backspace key for multiple variants
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/multiple/Menu.jsx
  packages/terra-form-select/src/tag/Frame.jsx
  packages/terra-form-select/src/tag/Menu.jsx
  packages/terra-form-select/translations/de.json
  packages/terra-form-select/translations/en-AU.json
  packages/terra-form-select/translations/en-GB.json
  packages/terra-form-select/translations/en-US.json
  packages/terra-form-select/translations/en.json
  packages/terra-form-select/translations/es-ES.json
  packages/terra-form-select/translations/es-US.json
  packages/terra-form-select/translations/es.json
  packages/terra-form-select/translations/fi-FI.json
  packages/terra-form-select/translations/fr-FR.json
  packages/terra-form-select/translations/fr.json
  packages/terra-form-select/translations/nl-BE.json
  packages/terra-form-select/translations/nl.json
  packages/terra-form-select/translations/pt-BR.json
  packages/terra-form-select/translations/pt.json
  packages/terra-form-select/translations/sv-SE.json
  packages/terra-form-select/translations/sv.json
Labels: VoiceOver, accessibility, form-select

#2626 [terra-form-input] - Update examples to import directly from the package
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/terra-dev-site/doc/common/BlankExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/common/NumberInputExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/common/PlaceholderExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/InputField.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/NumberInputField.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/RequiredInputField.jsx
Labels: form-input

#2629 [terra-overlay] loading wicg-inert script later
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/src/Overlay.jsx
Labels: bug-fix, overlay, tech-only

#2625 [terra-form-select] MultiSelect placeholder is no longer permanently visible
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/MultiSelectPlaceholder.test.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/TagSelectPlaceholder.test.jsx
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/multiple_placeholder_should_be_shown_initially[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/multiple_placeholder_should_disappear_after_selection_and_blur[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/tag_placeholder_should_be_shown_initially[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/tag_placeholder_should_disappear_after_selection_and_blur[default].png
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: bug-fix, form-select

#2637 [terra-dropdown-button] Remove the default margin in Safari.
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/src/DropdownButton.module.scss
Labels: Safari, bug-fix, dropdown-button, tech-only

#2636 [List] Updated examples, tests and guides to have aria-label.
  packages/terra-list/CHANGELOG.md
  packages/terra-list/docs/ListItem.md
  packages/terra-list/docs/guides/MultiSelectList.md
  packages/terra-list/docs/guides/SingleSelectList.md
  packages/terra-list/src/terra-dev-site/doc/example/ListItem.jsx
  packages/terra-list/src/terra-dev-site/doc/guides/MultiSelectList.jsx
  packages/terra-list/src/terra-dev-site/doc/guides/SingleSelectList.jsx
  packages/terra-list/src/terra-dev-site/test/list/ListItem.test.jsx
Labels: accessibility, list

#2638 [terra-text] Accept and attach ref to the inner span.
  packages/terra-text/CHANGELOG.md
  packages/terra-text/docs/README.md
  packages/terra-text/src/Text.jsx
  packages/terra-text/tests/jest/Text.test.jsx
Labels: text

#2646 [terra-form-select] Restore passivity with prop-types
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/Combobox.jsx
  packages/terra-form-select/src/ComboboxField.jsx
  packages/terra-form-select/src/MultiSelect.jsx
  packages/terra-form-select/src/MultiSelectField.jsx
  packages/terra-form-select/src/SearchSelect.jsx
  packages/terra-form-select/src/SearchSelectField.jsx
  packages/terra-form-select/src/Select.jsx
  packages/terra-form-select/src/SelectField.jsx
  packages/terra-form-select/src/SingleSelect.jsx
  packages/terra-form-select/src/SingleSelectField.jsx
  packages/terra-form-select/src/TagSelect.jsx
  packages/terra-form-select/src/TagSelectField.jsx
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/combobox/Menu.jsx
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/multiple/Menu.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/src/search/Menu.jsx
  packages/terra-form-select/src/shared/_SelectUtil.js
  packages/terra-form-select/src/single/Frame.jsx
  packages/terra-form-select/src/single/Menu.jsx
  packages/terra-form-select/src/tag/Frame.jsx
  packages/terra-form-select/src/tag/Menu.jsx
Labels: bug-fix, form-select

#2657 Add en-CA translations.
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/translations/en-CA.json
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/translations/en-CA.json
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/translations/en-CA.json
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/translations/en-CA.json
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/translations/en-CA.json
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/translations/en-CA.json
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/translations/en-CA.json
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/translations/en-CA.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/translations/en-CA.json
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/translations/en-CA.json
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/translations/en-CA.json
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/translations/en-CA.json
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/translations/en-CA.json
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/translations/en-CA.json
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/translations/en-CA.json
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/translations/en-CA.json
Labels: Translations Added

#2651 [terra-form-field] Added aria-live to announce dynamic errors
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/src/Field.jsx
  packages/terra-form-field/tests/jest/__snapshots__/Field.test.jsx.snap
Labels: Ready for functional review, accessibility, form-field

#2655 [terra-avatar] Introduce background-clip variable
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/src/common/Avatar.module.scss
Labels: avatar, tech-only, theming

#2662 [terra-form-select] fix clear option keyboard navigation
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Menu.jsx
  packages/terra-form-select/src/single/Menu.jsx
Labels: accessibility, bug-fix, form-select, tech-only
