Repository cerner/terra-core, pull requests merged in 2020-01, with the labels that each got.

#2791 Remove yarn refs in docs
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/docs/README.md
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/docs/README.md
  packages/terra-badge/CHANGELOG.md
  packages/terra-badge/docs/README.md
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/docs/README.md
  packages/terra-button/CHANGELOG.md
  packages/terra-button/docs/README.md
  packages/terra-content-container/CHANGELOG.md
  packages/terra-content-container/docs/README.md
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/docs/README.md
  packages/terra-divider/CHANGELOG.md
  packages/terra-divider/docs/README.md
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/docs/PLACEHOLDER.md
  packages/terra-grid/CHANGELOG.md
  packages/terra-grid/docs/README.md
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/README.md
  packages/terra-i18n/docs/README.md
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/docs/README.md
  packages/terra-image/CHANGELOG.md
  packages/terra-image/docs/README.md
  packages/terra-list/CHANGELOG.md
  packages/terra-list/docs/README.md
  packages/terra-markdown/CHANGELOG.md
  packages/terra-markdown/docs/README.md
  packages/terra-markdown/src/terra-dev-site/test/markdown/blockquote.md
  packages/terra-markdown/tests/wdio/__snapshots__/reference/en/chrome_large/markdown-spec/Block_Quote[default].png
  packages/terra-markdown/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/markdown-spec/Block_Quote[default].png
  packages/terra-mixins/CHANGELOG.md
  packages/terra-mixins/docs/README.md
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/OnRequestClose-Container_Overlay[open].png
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/docs/README.md
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/docs/README.md
  packages/terra-props-table/CHANGELOG.md
  packages/terra-props-table/docs/README.md
  packages/terra-responsive-element/CHANGELOG.md
  packages/terra-responsive-element/docs/README.md
  packages/terra-scroll/CHANGELOG.md
  packages/terra-scroll/docs/README.md
  packages/terra-spacer/CHANGELOG.md
  packages/terra-spacer/docs/README.md
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/docs/README.md
  packages/terra-status/CHANGELOG.md
  packages/terra-status/docs/README.md
  packages/terra-table/CHANGELOG.md
  packages/terra-table/docs/README.md
Labels: docs

#2779 [terra-button] Button border-color on hover is now themeable
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/_mixins.scss
  packages/terra-button/src/_variables.scss
  packages/terra-button/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: button, ⭐️ UX Reviewed

#2696 [terra-button] Add disabled theme styling for Button
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/_mixins.scss
  packages/terra-button/src/_variables.scss
  packages/terra-button/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: button, theming, ⭐️ UX Reviewed

#2747 [terra-alert] Updated uncontrolled responsive-element to controlled responsive-element
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/Alert.jsx
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
Labels: alert

#2781 [action-footer] Update Docs to Use MDX
  packages/terra-action-footer/CHANGELOG.md
  packages/terra-action-footer/docs/BlockActionFooter.md
  packages/terra-action-footer/docs/CenteredActionFooter.md
  packages/terra-action-footer/docs/README.md
  packages/terra-action-footer/package.json
  packages/terra-action-footer/src/terra-dev-site/doc/action-footer/Block.3.doc.mdx
  packages/terra-action-footer/src/terra-dev-site/doc/action-footer/Block.c.doc.jsx
  packages/terra-action-footer/src/terra-dev-site/doc/action-footer/Centered.2.doc.mdx
  packages/terra-action-footer/src/terra-dev-site/doc/action-footer/Centered.b.doc.jsx
  packages/terra-action-footer/src/terra-dev-site/doc/action-footer/ChangeLog.5.doc.mdx
  packages/terra-action-footer/src/terra-dev-site/doc/action-footer/ChangeLog.doc.jsx
  packages/terra-action-footer/src/terra-dev-site/doc/action-footer/Standard.1.doc.mdx
  packages/terra-action-footer/src/terra-dev-site/doc/action-footer/Standard.a.doc.jsx
  packages/terra-action-footer/src/terra-dev-site/doc/action-footer/UpgradeGuide.4.doc.mdx
  packages/terra-action-footer/src/terra-dev-site/doc/example/block/Empty.jsx
  packages/terra-action-footer/src/terra-dev-site/doc/example/centered/Empty.jsx
  packages/terra-action-footer/src/terra-dev-site/doc/example/standard/Empty.jsx
Labels: action footer, docs

#2751 [terra-paginator] Updated uncontrolled responsive-element to controlled responsive-element
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/ControlledPaginator.jsx
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-paginator/tests/jest/ControlledPaginator.test.jsx
  packages/terra-paginator/tests/jest/ControlledProgressivePaginator.test.jsx
  packages/terra-paginator/tests/jest/Paginator.test.jsx
  packages/terra-paginator/tests/jest/ProgressivePaginator.test.jsx
  packages/terra-paginator/tests/jest/__snapshots__/ControlledPaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ControlledProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/Paginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ProgressivePaginator.test.jsx.snap
Labels: pagination

#2793 [terra-demographics-banner] Preferred Name displayed within parentheses
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/src/DemographicsBanner.module.scss
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Deceased[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Populated[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_tiny/demographics-banner-spec/Deceased[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_tiny/demographics-banner-spec/Populated[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/demographics-banner-spec/Deceased[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/demographics-banner-spec/Populated[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/demographics-banner-spec/Deceased[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/demographics-banner-spec/Populated[default].png
Labels: demographics banner, ⭐️ Functionally Reviewed

#2802 [terra-action-header] Update docs to use MDX syntax
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/package.json
  packages/terra-action-header/src/terra-dev-site/doc/action-header/ActionHeader.1.doc.jsx
  packages/terra-action-header/src/terra-dev-site/doc/action-header/ActionHeader.1.doc.mdx
  packages/terra-action-header/src/terra-dev-site/doc/action-header/ChangeLog.3.doc.jsx
  packages/terra-action-header/src/terra-dev-site/doc/action-header/ChangeLog.3.doc.mdx
  packages/terra-action-header/src/terra-dev-site/doc/action-header/UpgradeGuide.2.doc.jsx
  packages/terra-action-header/src/terra-dev-site/doc/action-header/UpgradeGuide.2.doc.mdx
Labels: action header, docs

#2810 [terra-avatar] Update docs to use MDX syntax
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/docs/avatar.md
  packages/terra-avatar/docs/facility.md
  packages/terra-avatar/docs/shared-user.md
  packages/terra-avatar/package.json
  packages/terra-avatar/src/terra-dev-site/doc/avatar/About.1.doc.mdx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/About.a.doc.jsx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/Avatar.2.doc.mdx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/Avatar.b.doc.jsx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/ChangeLog.6.doc.mdx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/ChangeLog.f.doc.jsx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/Facility.3.doc.mdx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/Facility.c.doc.jsx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/SharedUser.4.doc.mdx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/SharedUser.d.doc.jsx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/UpgradeGuide.5.doc.mdx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/UpgradeGuide.e.doc.jsx
Labels: avatar, docs

#2811 [terra-badge] Update docs to use MDX syntax
  packages/terra-badge/CHANGELOG.md
  packages/terra-badge/docs/README.md
  packages/terra-badge/package.json
  packages/terra-badge/src/terra-dev-site/doc/badge/Badge.1.doc.jsx
  packages/terra-badge/src/terra-dev-site/doc/badge/Badge.1.doc.mdx
  packages/terra-badge/src/terra-dev-site/doc/badge/ChangeLog.3.doc.jsx
  packages/terra-badge/src/terra-dev-site/doc/badge/ChangeLog.3.doc.mdx
  packages/terra-badge/src/terra-dev-site/doc/badge/UpgradeGuide.2.doc.jsx
  packages/terra-badge/src/terra-dev-site/doc/badge/UpgradeGuide.2.doc.mdx
Labels: badge, docs

#2809 [terra-arrange] Update docs to use MDX syntax
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/docs/README.md
  packages/terra-arrange/package.json
  packages/terra-arrange/src/terra-dev-site/doc/arrange/Arrange.1.doc.jsx
  packages/terra-arrange/src/terra-dev-site/doc/arrange/Arrange.1.doc.mdx
  packages/terra-arrange/src/terra-dev-site/doc/arrange/ChangeLog.1.doc.jsx
  packages/terra-arrange/src/terra-dev-site/doc/arrange/ChangeLog.3.doc.mdx
  packages/terra-arrange/src/terra-dev-site/doc/arrange/UpgradeGuide.2.doc.mdx
Labels: arrange, docs

#2814 [terra-button] Updated docs to use mdx syntax
  packages/terra-button/CHANGELOG.md
  packages/terra-button/docs/README.md
  packages/terra-button/package.json
  packages/terra-button/src/terra-dev-site/doc/button/Button.1.doc.jsx
  packages/terra-button/src/terra-dev-site/doc/button/Button.1.doc.mdx
  packages/terra-button/src/terra-dev-site/doc/button/ChangeLog.3.doc.jsx
  packages/terra-button/src/terra-dev-site/doc/button/ChangeLog.3.doc.mdx
  packages/terra-button/src/terra-dev-site/doc/button/UpgradeGuide.2.doc.jsx
  packages/terra-button/src/terra-dev-site/doc/button/UpgradeGuide.2.doc.mdx
Labels: button, docs

#2815 [terra-button-group] Update docs to use MDX syntax
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/docs/README.md
  packages/terra-button-group/package.json
  packages/terra-button-group/src/terra-dev-site/doc/button-group/ButtonGroup.1.doc.jsx
  packages/terra-button-group/src/terra-dev-site/doc/button-group/ButtonGroup.1.doc.mdx
  packages/terra-button-group/src/terra-dev-site/doc/button-group/ChangeLog.3.doc.jsx
  packages/terra-button-group/src/terra-dev-site/doc/button-group/ChangeLog.3.doc.mdx
  packages/terra-button-group/src/terra-dev-site/doc/button-group/UpgradeGuide.2.doc.jsx
  packages/terra-button-group/src/terra-dev-site/doc/button-group/UpgradeGuide.2.doc.mdx
Labels: button group, docs

#2817 [terra-card] Update docs to use MDX syntax.
  packages/terra-card/CHANGELOG.md
  packages/terra-card/docs/README.md
  packages/terra-card/src/terra-dev-site/doc/card/Card.1.doc.mdx
  packages/terra-card/src/terra-dev-site/doc/card/Card.doc.jsx
  packages/terra-card/src/terra-dev-site/doc/card/ChangeLog.3.doc.mdx
  packages/terra-card/src/terra-dev-site/doc/card/ChangeLog.doc.jsx
  packages/terra-card/src/terra-dev-site/doc/card/UpgradeGuide.2.doc.mdx
Labels: card, docs

#2813 [terra-alert] Update docs to use mdx syntax
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/docs/README.md
  packages/terra-alert/docs/action-and-dismissable-example.md
  packages/terra-alert/docs/custom-example.md
  packages/terra-alert/docs/images/actionAndDismissible.png
  packages/terra-alert/docs/images/actionButton.png
  packages/terra-alert/docs/images/alertLayout.png
  packages/terra-alert/docs/images/basicAdvisory.png
  packages/terra-alert/docs/images/basicAlert.png
  packages/terra-alert/docs/images/basicError.png
  packages/terra-alert/docs/images/basicInformation.png
  packages/terra-alert/docs/images/basicSuccess.png
  packages/terra-alert/docs/images/basicWarning.png
  packages/terra-alert/docs/images/customAlert.png
  packages/terra-alert/docs/images/dismissible.png
  packages/terra-alert/docs/images/longText1.png
  packages/terra-alert/docs/images/longText2.png
  packages/terra-alert/package.json
  packages/terra-alert/src/terra-dev-site/doc/alert/Alert.1.doc.jsx
  packages/terra-alert/src/terra-dev-site/doc/alert/Alert.1.doc.mdx
  packages/terra-alert/src/terra-dev-site/doc/alert/ChangeLog.3.doc.jsx
  packages/terra-alert/src/terra-dev-site/doc/alert/ChangeLog.3.doc.mdx
  packages/terra-alert/src/terra-dev-site/doc/alert/UpgradeGuide.2.doc.jsx
  packages/terra-alert/src/terra-dev-site/doc/alert/UpgradeGuide.2.doc.mdx
Labels: alert, docs

#2686 [terra-paginator] Update Paginator Focus and Active Style Application
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/ControlledPaginator.jsx
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/Paginator.module.scss
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-paginator/src/_PaginatorButton.jsx
  packages/terra-paginator/src/_paginationUtils.jsx
  packages/terra-paginator/tests/jest/_PaginatorButton.test.jsx
  packages/terra-paginator/tests/jest/__snapshots__/ControlledPaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ControlledProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/Paginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/_PaginatorButton.test.jsx.snap
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Paginator[2].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Paginator[3].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator[2].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator[3].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Paginator[2].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Paginator[3].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator[2].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator[3].png
Labels: enhancement, pagination, ⭐️ Functionally Reviewed, ⭐️ UX Reviewed

#2800 [terra-search-field] adding onInput prop
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/docs/README.md
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldProgrammaticSet.jsx
  packages/terra-search-field/src/terra-dev-site/doc/search-field/ChangeLog.3.doc.jsx
  packages/terra-search-field/src/terra-dev-site/doc/search-field/ChangeLog.3.doc.mdx
  packages/terra-search-field/src/terra-dev-site/doc/search-field/SearchField.1.doc.jsx
  packages/terra-search-field/src/terra-dev-site/doc/search-field/SearchField.1.doc.mdx
  packages/terra-search-field/src/terra-dev-site/doc/search-field/UpgradeGuide.2.doc.jsx
  packages/terra-search-field/src/terra-dev-site/doc/search-field/UpgradeGuide.2.doc.mdx
  packages/terra-search-field/src/terra-dev-site/test/search-field/SettingValueSearchField.test.jsx
  packages/terra-search-field/src/terra-dev-site/test/search-field/examplestyles.scss
  packages/terra-search-field/tests/jest/SearchField.test.jsx
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[cut].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[paste].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[programmatically].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[search].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[typed].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[cut].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[paste].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[programmatically].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[search].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[typed].png
  packages/terra-search-field/tests/wdio/search-field-spec.js
Labels: bug-fix, search field, ⭐️ Functionally Reviewed

#2824 [terra-dropdown-button] Update docs to use mdx syntax
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/docs/README.md
  packages/terra-dropdown-button/docs/SplitButton.md
  packages/terra-dropdown-button/package.json
  packages/terra-dropdown-button/src/terra-dev-site/doc/DropdownButton/ChangeLog.3.doc.jsx
  packages/terra-dropdown-button/src/terra-dev-site/doc/DropdownButton/ChangeLog.3.doc.mdx
  packages/terra-dropdown-button/src/terra-dev-site/doc/DropdownButton/DropdownButton.1.doc.jsx
  packages/terra-dropdown-button/src/terra-dev-site/doc/DropdownButton/DropdownButton.1.doc.mdx
  packages/terra-dropdown-button/src/terra-dev-site/doc/DropdownButton/SplitButton.2.doc.jsx
  packages/terra-dropdown-button/src/terra-dev-site/doc/DropdownButton/SplitButton.2.doc.mdx
Labels: docs, dropdown-button

#2819 [terra-content-container] Update docs to use mdx syntax
  packages/terra-content-container/CHANGELOG.md
  packages/terra-content-container/README.md
  packages/terra-content-container/docs/README.md
  packages/terra-content-container/package.json
  packages/terra-content-container/src/terra-dev-site/doc/content-container/ChangeLog.2.doc.jsx
  packages/terra-content-container/src/terra-dev-site/doc/content-container/ChangeLog.3.doc.mdx
  packages/terra-content-container/src/terra-dev-site/doc/content-container/ContentContainer.1.doc.jsx
  packages/terra-content-container/src/terra-dev-site/doc/content-container/ContentContainer.1.doc.mdx
  packages/terra-content-container/src/terra-dev-site/doc/content-container/UpgradeGuide.2.doc.mdx
Labels: content-container, docs

#2812 [terra-breakpoints] Updated docs to use MDX syntax
  packages/terra-breakpoints/CHANGELOG.md
  packages/terra-breakpoints/README.md
  packages/terra-breakpoints/package.json
  packages/terra-breakpoints/src/terra-dev-site/doc/breakpoints/About.1.doc.jsx
  packages/terra-breakpoints/src/terra-dev-site/doc/breakpoints/About.1.doc.mdx
  packages/terra-breakpoints/src/terra-dev-site/doc/breakpoints/ChangeLog.2.doc.jsx
  packages/terra-breakpoints/src/terra-dev-site/doc/breakpoints/ChangeLog.3.doc.mdx
  packages/terra-breakpoints/src/terra-dev-site/doc/breakpoints/UpgradeGuide.2.doc.mdx
Labels: breakpoints, docs

#2818 [terra-cell-grid] Update docs to use mdx syntax.
  packages/terra-cell-grid/CHANGELOG.md
  packages/terra-cell-grid/README.md
  packages/terra-cell-grid/docs/README.md
  packages/terra-cell-grid/package.json
  packages/terra-cell-grid/src/terra-dev-site/doc/cell-grid/CellGrid.1.doc.jsx
  packages/terra-cell-grid/src/terra-dev-site/doc/cell-grid/CellGrid.1.doc.mdx
  packages/terra-cell-grid/src/terra-dev-site/doc/cell-grid/ChangeLog.2.doc.jsx
  packages/terra-cell-grid/src/terra-dev-site/doc/cell-grid/ChangeLog.2.doc.mdx
Labels: cell-grid, docs

#2821 [terra-demographics-banner] Update docs to use mdx syntax.
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/README.md
  packages/terra-demographics-banner/docs/README.md
  packages/terra-demographics-banner/package.json
  packages/terra-demographics-banner/src/terra-dev-site/doc/demographics-banner/ChangeLog.3.doc.jsx
  packages/terra-demographics-banner/src/terra-dev-site/doc/demographics-banner/ChangeLog.3.doc.mdx
  packages/terra-demographics-banner/src/terra-dev-site/doc/demographics-banner/DemographicsBanner.1.doc.jsx
  packages/terra-demographics-banner/src/terra-dev-site/doc/demographics-banner/DemographicsBanner.1.doc.mdx
  packages/terra-demographics-banner/src/terra-dev-site/doc/demographics-banner/UpgradeGuide.2.doc.jsx
  packages/terra-demographics-banner/src/terra-dev-site/doc/demographics-banner/UpgradeGuide.2.doc.mdx
Labels: demographics banner, docs

#2822 [terra-dialog] Update docs to use mdx syntax.
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/README.md
  packages/terra-dialog/docs/README.md
  packages/terra-dialog/package.json
  packages/terra-dialog/src/terra-dev-site/doc/dialog/ChangeLog.3.doc.jsx
  packages/terra-dialog/src/terra-dev-site/doc/dialog/ChangeLog.3.doc.mdx
  packages/terra-dialog/src/terra-dev-site/doc/dialog/Dialog.1.doc.jsx
  packages/terra-dialog/src/terra-dev-site/doc/dialog/Dialog.1.doc.mdx
  packages/terra-dialog/src/terra-dev-site/doc/dialog/UpgradeGuide.2.doc.jsx
  packages/terra-dialog/src/terra-dev-site/doc/dialog/UpgradeGuide.2.doc.mdx
Labels: dialog, docs
