Repository cerner/terra-core, pull requests merged in 2020-06, with the labels that each got.

#2997 [terra-profile-image] Add theme context
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/package.json
  packages/terra-profile-image/src/ProfileImage.jsx
  packages/terra-profile-image/src/ProfileImage.module.scss
  packages/terra-profile-image/src/clinical-lowlight-theme/ProfileImage.module.scss
  packages/terra-profile-image/src/orion-fusion-theme/ProfileImage.module.scss
  packages/terra-profile-image/tests/jest/ProfileImage.test.jsx
  packages/terra-profile-image/tests/jest/__snapshots__/ProfileImage.test.jsx.snap
  packages/terra-profile-image/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
Labels: :package: terra-profile-image

#2993 [terra-list] Add theme-context
  packages/terra-list/CHANGELOG.md
  packages/terra-list/package.json
  packages/terra-list/src/List.jsx
  packages/terra-list/src/List.module.scss
  packages/terra-list/src/ListItem.jsx
  packages/terra-list/src/ListSectionHeader.jsx
  packages/terra-list/src/ListSectionHeader.module.scss
  packages/terra-list/src/ListSubsectionHeader.jsx
  packages/terra-list/src/ListSubsectionHeader.module.scss
  packages/terra-list/src/clinical-lowlight-theme/List.module.scss
  packages/terra-list/src/clinical-lowlight-theme/ListSectionHeader.module.scss
  packages/terra-list/src/clinical-lowlight-theme/ListSubsectionHeader.module.scss
  packages/terra-list/src/orion-fusion-theme/List.module.scss
  packages/terra-list/src/orion-fusion-theme/ListSectionHeader.module.scss
  packages/terra-list/src/orion-fusion-theme/ListSubsectionHeader.module.scss
  packages/terra-list/tests/jest/List.test.jsx
  packages/terra-list/tests/jest/ListItem.test.jsx
  packages/terra-list/tests/jest/ListSection.test.jsx
  packages/terra-list/tests/jest/ListSectionHeader.test.jsx
  packages/terra-list/tests/jest/ListSubsection.test.jsx
  packages/terra-list/tests/jest/ListSubsectionHeader.test.jsx
  packages/terra-list/tests/jest/__snapshots__/List.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListItem.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSection.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSectionHeader.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSubsection.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSubsectionHeader.test.jsx.snap
  packages/terra-list/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-list/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-list

#3001 [terra-search-field] Add theme context
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/src/SearchField.module.scss
  packages/terra-search-field/src/clinical-lowlight-theme/SearchField.module.scss
  packages/terra-search-field/src/orion-fusion-theme/SearchField.module.scss
  packages/terra-search-field/tests/jest/SearchField.test.jsx
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-search-field/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-search-field/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-search-field

#3005 [terra-signature] Add theme context
  packages/terra-signature/CHANGELOG.md
  packages/terra-signature/package.json
  packages/terra-signature/src/Signature.jsx
  packages/terra-signature/src/Signature.module.scss
  packages/terra-signature/src/clinical-lowlight-theme/Signature.module.scss
  packages/terra-signature/src/orion-fusion-theme/Signature.module.scss
  packages/terra-signature/tests/jest/Signature.test.jsx
  packages/terra-signature/tests/jest/__snapshots__/Signature.test.jsx.snap
  packages/terra-signature/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-signature/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-signature

#3003 [terra-section-header] Add theme context.
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/package.json
  packages/terra-section-header/src/SectionHeader.jsx
  packages/terra-section-header/src/SectionHeader.module.scss
  packages/terra-section-header/src/clinical-lowlight-theme/SectionHeader.module.scss
  packages/terra-section-header/src/orion-fusion-theme/SectionHeader.module.scss
  packages/terra-section-header/tests/jest/SectionHeader.test.jsx
  packages/terra-section-header/tests/jest/__snapshots__/SectionHeader.test.jsx.snap
  packages/terra-section-header/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-section-header/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-section-header

#3006 [terra-spacer] Add theme context
  packages/terra-spacer/CHANGELOG.md
  packages/terra-spacer/package.json
  packages/terra-spacer/src/Spacer.jsx
  packages/terra-spacer/src/Spacer.module.scss
  packages/terra-spacer/src/clinical-lowlight-theme/Spacer.module.scss
  packages/terra-spacer/src/orion-fusion-theme/Spacer.module.scss
  packages/terra-spacer/tests/jest/Spacer.test.jsx
  packages/terra-spacer/tests/jest/__snapshots__/Spacer.test.jsx.snap
  packages/terra-spacer/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-spacer/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-spacer

#3007 [terra-status-view] Add theme context
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/package.json
  packages/terra-status-view/src/StatusView.jsx
  packages/terra-status-view/src/StatusView.module.scss
  packages/terra-status-view/src/clinical-lowlight-theme/StatusView.module.scss
  packages/terra-status-view/src/orion-fusion-theme/StatusView.module.scss
  packages/terra-status-view/tests/jest/StatusView.test.jsx
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
  packages/terra-status-view/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-status-view/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-status-view

#2925 [terra-toggle-section-header] Added isOpen Prop
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/src/ToggleSectionHeader.jsx
  packages/terra-toggle-section-header/src/terra-dev-site/test/toggle-section-header/ProgrammaticToggle.test.jsx
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/toggle-section-header-spec/Programmatic_Toggle[default].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/toggle-section-header-spec/Programmatic_Toggle[programmatically_toggles_the_toggle-section-header].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/toggle-section-header-spec/Programmatic_Toggle[default].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/toggle-section-header-spec/Programmatic_Toggle[programmatically_toggles_the_toggle-section-header].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/toggle-section-header-spec/Programmatic_Toggle[default].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/toggle-section-header-spec/Programmatic_Toggle[programmatically_toggles_the_toggle-section-header].png
  packages/terra-toggle-section-header/tests/wdio/toggle-section-header-spec.js
Labels: :package: terra-toggle-section-header

#3013 [terra-tag] Add theme context
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/package.json
  packages/terra-tag/src/Tag.jsx
  packages/terra-tag/src/Tag.module.scss
  packages/terra-tag/src/clinical-lowlight-theme/Tag.module.scss
  packages/terra-tag/src/orion-fusion-theme/Tag.module.scss
  packages/terra-tag/tests/jest/Tag.test.jsx
  packages/terra-tag/tests/jest/__snapshots__/Tag.test.jsx.snap
  packages/terra-tag/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-tag/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-tag

#3010 [terra-table] Add theme context
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/Table.module.scss
  packages/terra-table/src/clinical-lowlight-theme/Table.module.scss
  packages/terra-table/src/orion-fusion-theme/Table.module.scss
  packages/terra-table/tests/jest/Table.test.jsx
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
  packages/terra-table/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-table/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-table

#3004 [terra-show-hide] Add theme context
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/package.json
  packages/terra-show-hide/src/_ShowHideButton.jsx
  packages/terra-show-hide/src/_ShowHideButton.module.scss
  packages/terra-show-hide/src/clinical-lowlight-theme/ShowHideButton.module.scss
  packages/terra-show-hide/src/orion-fusion-theme/ShowHideButton.module.scss
  packages/terra-show-hide/tests/jest/ShowHide.test.jsx
  packages/terra-show-hide/tests/jest/__snapshots__/ShowHide.test.jsx.snap
  packages/terra-show-hide/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-show-hide/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-show-hide

#3014 [terra-toolbar] Add theme-context
  packages/terra-toolbar/CHANGELOG.md
  packages/terra-toolbar/package.json
  packages/terra-toolbar/src/Toolbar.jsx
  packages/terra-toolbar/src/Toolbar.module.scss
  packages/terra-toolbar/src/clinical-lowlight-theme/Toolbar.module.scss
  packages/terra-toolbar/src/orion-fusion-theme/Toolbar.module.scss
  packages/terra-toolbar/tests/jest/Toolbar.test.jsx
  packages/terra-toolbar/tests/jest/__snapshots__/Toolbar.test.jsx.snap
  packages/terra-toolbar/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-toolbar/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-toolbar

#3019 [terra-cell-grid] Add theme context
  packages/terra-cell-grid/CHANGELOG.md
  packages/terra-cell-grid/package.json
  packages/terra-cell-grid/src/CellGrid.jsx
  packages/terra-cell-grid/src/CellGrid.module.scss
  packages/terra-cell-grid/src/clinical-lowlight-theme/CellGrid.module.scss
  packages/terra-cell-grid/src/orion-fusion-theme/CellGrid.module.scss
  packages/terra-cell-grid/tests/jest/CellGrid.test.jsx
  packages/terra-cell-grid/tests/jest/__snapshots__/CellGrid.test.jsx.snap
  packages/terra-cell-grid/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-cell-grid

#3018 [terra-form-input] Apply theme context
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/package.json
  packages/terra-form-input/src/Input.jsx
  packages/terra-form-input/src/Input.module.scss
  packages/terra-form-input/src/clinical-lowlight-theme/Input.module.scss
  packages/terra-form-input/src/orion-fusion-theme/Input.module.scss.scss
  packages/terra-form-input/tests/jest/Input.test.jsx
  packages/terra-form-input/tests/jest/__snapshots__/Input.test.jsx.snap
  packages/terra-form-input/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-form-input/themes/orion-fusion-theme/orion-fusion-theme.scss
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
Labels: :package: terra-form-input

#3023 [terra-icon] Add theme context
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/tests/jest/__snapshots__/Field.test.jsx.snap
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/tests/jest/__snapshots__/TextareaField.test.jsx.snap
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-icon/src/Icon.module.scss
  packages/terra-icon/src/IconBase.jsx
  packages/terra-icon/src/IconDiamond.module.scss
  packages/terra-icon/src/clinical-lowlight-theme/Icon.module.scss
  packages/terra-icon/src/orion-fusion-theme/Icon.module.scss
  packages/terra-icon/tests/jest/Icon.test.jsx
  packages/terra-icon/tests/jest/__snapshots__/Icon.test.jsx.snap
  packages/terra-icon/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
Labels: :package: terra-icon

#3026 [terra-text] Add theme context
  packages/terra-text/CHANGELOG.md
  packages/terra-text/package.json
  packages/terra-text/src/Text.jsx
  packages/terra-text/src/Text.module.scss
  packages/terra-text/src/clinical-lowlight-theme/Text.module.scss
  packages/terra-text/src/orion-fusion-theme/Text.module.scss
  packages/terra-text/tests/jest/Text.test.jsx
  packages/terra-text/tests/jest/__snapshots__/Text.test.jsx.snap
  packages/terra-text/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-text

#3031 [terra-form-input] Fix scss file name
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/orion-fusion-theme/Input.module.scss
Labels: :package: terra-form-input, bug-fix

#3038 [terra-divider] Add display style on hr element
  packages/terra-divider/CHANGELOG.md
  packages/terra-divider/src/Divider.module.scss
Labels: :package: terra-divider, :star: UX Reviewed, UX Review Required

#3041 [terra-visually-hidden-text] Update Usage Doc
  packages/terra-visually-hidden-text/CHANGELOG.md
  packages/terra-visually-hidden-text/src/terra-dev-site/doc/VisuallyHiddenText/VisuallyHiddenText.1.doc.mdx
Labels: :package: terra-visually-hidden-text

#3030 [terra-dropdown-button] Fixed dropdown not opening on pressing space in firefox.
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/src/DropdownButton.jsx
  packages/terra-dropdown-button/src/SplitButton.jsx
  packages/terra-dropdown-button/tests/wdio/dropdown-button-spec.js
  packages/terra-dropdown-button/tests/wdio/split-button-spec.js
Labels: :package: terra-dropdown-button, :star: Functionally Reviewed, Functional Review Ready, Functional Review Required, bug-fix
