Repository cerner/terra-core, pull requests merged in 2020-12, with the labels that each got.

#3259 [terra-list] Remove Terra.it helpers from wdio
  packages/terra-list/CHANGELOG.md
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/ListItem[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/ListItem[hover].png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/ListSectionHeader[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/ListSection[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/ListSubsectionHeader[ListSubsectionHeader].png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/ListSubsection[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/List[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/en/chrome_medium/list-spec/ListItem[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/en/chrome_medium/list-spec/ListItem[hover].png
  packages/terra-list/tests/wdio/__snapshots__/reference/en/chrome_medium/list-spec/ListSectionHeader[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/en/chrome_medium/list-spec/ListSection[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/en/chrome_medium/list-spec/ListSubsectionHeader[ListSubsectionHeader].png
  packages/terra-list/tests/wdio/__snapshots__/reference/en/chrome_medium/list-spec/ListSubsection[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/en/chrome_medium/list-spec/List[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/ListItem[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/ListItem[hover].png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/ListSectionHeader[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/ListSection[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/ListSubsectionHeader[ListSubsectionHeader].png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/ListSubsection[default].png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/List[default].png
  packages/terra-list/tests/wdio/list-spec.js
Labels: :package: terra-list

#3261 [terra-status-view] Remove Terra.it helpers from wdio
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-view-spec/StatusView[custom].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-view-spec/StatusView[error_too_thin_for_glyph].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-view-spec/StatusView[error_with_all_props].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-view-spec/StatusView[error_with_glyph_hidden].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-view-spec/StatusView[error_with_wrapping_text].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-view-spec/StatusView[no_data].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-view-spec/StatusView[no_matching_results].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-view-spec/StatusView[not_authorized].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/status-view-spec/StatusView[custom].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/status-view-spec/StatusView[error_with_all_props].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/status-view-spec/StatusView[error_with_glyph_hidden].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/status-view-spec/StatusView[error_with_wrapping_text].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/status-view-spec/StatusView[no_data].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/status-view-spec/StatusView[no_matching_results].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/status-view-spec/StatusView[not_authorized].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_medium/status-view-spec/StatusView[custom].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_medium/status-view-spec/StatusView[error_too_thin_for_glyph].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_medium/status-view-spec/StatusView[error_with_all_props].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_medium/status-view-spec/StatusView[error_with_glyph_hidden].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_medium/status-view-spec/StatusView[error_with_wrapping_text].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_medium/status-view-spec/StatusView[no_data].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_medium/status-view-spec/StatusView[no_matching_results].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_medium/status-view-spec/StatusView[not_authorized].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/status-view-spec/StatusView[custom].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/status-view-spec/StatusView[error_with_all_props].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/status-view-spec/StatusView[error_with_glyph_hidden].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/status-view-spec/StatusView[error_with_wrapping_text].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/status-view-spec/StatusView[no_data].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/status-view-spec/StatusView[no_matching_results].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/en/chrome_tiny/status-view-spec/StatusView[not_authorized].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-view-spec/StatusView[custom].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-view-spec/StatusView[error_too_thin_for_glyph].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-view-spec/StatusView[error_with_all_props].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-view-spec/StatusView[error_with_glyph_hidden].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-view-spec/StatusView[error_with_wrapping_text].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-view-spec/StatusView[no_data].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-view-spec/StatusView[no_matching_results].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-view-spec/StatusView[not_authorized].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/status-view-spec/StatusView[custom].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/status-view-spec/StatusView[error_with_all_props].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/status-view-spec/StatusView[error_with_glyph_hidden].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/status-view-spec/StatusView[error_with_wrapping_text].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/status-view-spec/StatusView[no_data].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/status-view-spec/StatusView[no_matching_results].png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/status-view-spec/StatusView[not_authorized].png
  packages/terra-status-view/tests/wdio/status-view-spec.js
Labels: :package: terra-status-view

#3262 [terra-switch] Remove Terra.it helpers from wdio
  packages/terra-switch/CHANGELOG.md
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/switch-spec/Switch[block].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/switch-spec/Switch[long_label_text].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/switch-spec/Switch[block].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/switch-spec/Switch[long_label_text].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/switch-spec/Disabled[disabled].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/switch-spec/Disabled[no_change_on_click].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/switch-spec/Switch[block].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/switch-spec/Switch[check_on_click].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/switch-spec/Switch[default].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/switch-spec/Switch[focus].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/switch-spec/Switch[long_label_text].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_large/switch-spec/Switch[block].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_large/switch-spec/Switch[long_label_text].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_medium/switch-spec/Switch[block].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_medium/switch-spec/Switch[long_label_text].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_tiny/switch-spec/Disabled[disabled].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_tiny/switch-spec/Disabled[no_change_on_click].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_tiny/switch-spec/Switch[block].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_tiny/switch-spec/Switch[check_on_click].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_tiny/switch-spec/Switch[default].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_tiny/switch-spec/Switch[focus].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_tiny/switch-spec/Switch[long_label_text].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/switch-spec/Switch[block].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/switch-spec/Switch[long_label_text].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/switch-spec/Switch[block].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/switch-spec/Switch[long_label_text].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/switch-spec/Disabled[disabled].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/switch-spec/Disabled[no_change_on_click].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/switch-spec/Switch[block].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/switch-spec/Switch[check_on_click].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/switch-spec/Switch[default].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/switch-spec/Switch[focus].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/switch-spec/Switch[long_label_text].png
  packages/terra-switch/tests/wdio/switch-spec.js
Labels: :package: terra-switch

#3263 [terra-table] Remove Terra.it helpers from wdio
  packages/terra-table/CHANGELOG.md
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[custom_cell_content].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[fill].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[header_check_mark].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[header_footer].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[multi_demo].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[padding].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[row].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[section].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[striped].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/table-spec/Table[custom_cell_content].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/table-spec/Table[fill].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/table-spec/Table[header_check_mark].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/table-spec/Table[header_footer].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/table-spec/Table[multi_demo].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/table-spec/Table[padding].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/table-spec/Table[row].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/table-spec/Table[section].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/table-spec/Table[striped].png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/Table[custom_cell_content].png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/Table[fill].png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/Table[header_check_mark].png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/Table[header_footer].png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/Table[multi_demo].png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/Table[padding].png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/Table[row].png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/Table[section].png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/Table[striped].png
  packages/terra-table/tests/wdio/table-spec.js
Labels: :package: terra-table

#3264 [terra-tag] Remove Terra.it helpers from wdio
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/tag-spec/Tag[multiple].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/tag-spec/Tag[multiple].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/tag-spec/OnClick_Tag[display_tag].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/tag-spec/Tag[default].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/tag-spec/Tag[href].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/tag-spec/Tag[icon_and_long_text].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/tag-spec/Tag[icon_and_text].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/tag-spec/Tag[multiple].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/en/chrome_large/tag-spec/Tag[multiple].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/en/chrome_medium/tag-spec/Tag[multiple].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/en/chrome_tiny/tag-spec/OnClick_Tag[display_tag].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/en/chrome_tiny/tag-spec/Tag[default].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/en/chrome_tiny/tag-spec/Tag[href].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/en/chrome_tiny/tag-spec/Tag[icon_and_long_text].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/en/chrome_tiny/tag-spec/Tag[icon_and_text].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/en/chrome_tiny/tag-spec/Tag[multiple].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/tag-spec/Tag[multiple].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/tag-spec/Tag[multiple].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tag-spec/OnClick_Tag[display_tag].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tag-spec/Tag[default].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tag-spec/Tag[href].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tag-spec/Tag[icon_and_long_text].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tag-spec/Tag[icon_and_text].png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tag-spec/Tag[multiple].png
  packages/terra-tag/tests/wdio/tag-spec.js
Labels: :package: terra-tag

#3265 [terra-text] Remove Terra.it helpers from wdio
  packages/terra-text/CHANGELOG.md
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Text[calculate_line_height].png
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Text[color].png
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Text[default].png
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Text[font_size_group_1].png
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Text[font_size_group_2].png
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Text[font_size_group_3].png
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Text[italics].png
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Text[visual_props].png
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Text[visually_hidden].png
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Text[weight].png
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Text[word_wrapped].png
  packages/terra-text/tests/wdio/__snapshots__/reference/en/chrome_huge/text-spec/Text[calculate_line_height].png
  packages/terra-text/tests/wdio/__snapshots__/reference/en/chrome_huge/text-spec/Text[color].png
  packages/terra-text/tests/wdio/__snapshots__/reference/en/chrome_huge/text-spec/Text[default].png
  packages/terra-text/tests/wdio/__snapshots__/reference/en/chrome_huge/text-spec/Text[font_size_group_1].png
  packages/terra-text/tests/wdio/__snapshots__/reference/en/chrome_huge/text-spec/Text[font_size_group_2].png
  packages/terra-text/tests/wdio/__snapshots__/reference/en/chrome_huge/text-spec/Text[font_size_group_3].png
  packages/terra-text/tests/wdio/__snapshots__/reference/en/chrome_huge/text-spec/Text[italics].png
  packages/terra-text/tests/wdio/__snapshots__/reference/en/chrome_huge/text-spec/Text[visual_props].png
  packages/terra-text/tests/wdio/__snapshots__/reference/en/chrome_huge/text-spec/Text[visually_hidden].png
  packages/terra-text/tests/wdio/__snapshots__/reference/en/chrome_huge/text-spec/Text[weight].png
  packages/terra-text/tests/wdio/__snapshots__/reference/en/chrome_huge/text-spec/Text[word_wrapped].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Text[calculate_line_height].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Text[color].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Text[default].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Text[font_size_group_1].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Text[font_size_group_2].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Text[font_size_group_3].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Text[italics].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Text[visual_props].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Text[visually_hidden].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Text[weight].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Text[word_wrapped].png
  packages/terra-text/tests/wdio/text-spec.js
Labels: :package: terra-text

#3266 [terra-toggle] Remove Terra.it helpers from wdio
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/toggle-spec/Default[closed].png
  packages/terra-toggle/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/toggle-spec/Default[expanded].png
  packages/terra-toggle/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/toggle-spec/Toggle[opened].png
  packages/terra-toggle/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-spec/Default[closed].png
  packages/terra-toggle/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-spec/Default[expanded].png
  packages/terra-toggle/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-spec/Toggle[opened].png
  packages/terra-toggle/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/toggle-spec/Default[closed].png
  packages/terra-toggle/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/toggle-spec/Default[expanded].png
  packages/terra-toggle/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/toggle-spec/Toggle[opened].png
  packages/terra-toggle/tests/wdio/toggle-spec.js
Labels: :package: terra-toggle

#3267 [terra-toggle-button] Remove Terra.it helpers from wdio
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/toggle-button-spec/Toggle_Button[closed_button_text].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/toggle-button-spec/Toggle_Button[initially_opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Toggle_Button[closed_button_text].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Toggle_Button[initially_opened].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/toggle-button-spec/Toggle_Button[closed_button_text].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/toggle-button-spec/Toggle_Button[initially_opened].png
  packages/terra-toggle-button/tests/wdio/toggle-button-spec.js
Labels: :package: terra-toggle-button

#3269 [terra-toolbar] Remove Terra.it helpers from wdio
  packages/terra-toolbar/CHANGELOG.md
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/toolbar-spec/Toolbar[long_content].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/toolbar-spec/Toolbar[long_content].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/Toolbar[center_align].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/Toolbar[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/Toolbar[end_align].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/Toolbar[long_content].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/Toolbar[start_align].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_large/toolbar-spec/Toolbar[long_content].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_medium/toolbar-spec/Toolbar[long_content].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_tiny/toolbar-spec/Toolbar[center_align].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_tiny/toolbar-spec/Toolbar[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_tiny/toolbar-spec/Toolbar[end_align].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_tiny/toolbar-spec/Toolbar[long_content].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_tiny/toolbar-spec/Toolbar[start_align].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/toolbar-spec/Toolbar[long_content].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/toolbar-spec/Toolbar[long_content].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/Toolbar[center_align].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/Toolbar[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/Toolbar[end_align].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/Toolbar[long_content].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/Toolbar[start_align].png
  packages/terra-toolbar/tests/wdio/toolbar-spec.js
Labels: :package: terra-toolbar

#3268 [terra-toggle-section-header] Remove Terra.it helpers from wdio
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/toggle-section-header-spec/Default[closed].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/toggle-section-header-spec/Programmatic_Toggle[closed].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/toggle-section-header-spec/Transparent[closed].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/toggle-section-header-spec/Default[closed].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/toggle-section-header-spec/Programmatic_Toggle[closed].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/toggle-section-header-spec/Transparent[closed].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/toggle-section-header-spec/Default[closed].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/toggle-section-header-spec/Programmatic_Toggle[closed].png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/toggle-section-header-spec/Transparent[closed].png
  packages/terra-toggle-section-header/tests/wdio/toggle-section-header-spec.js
Labels: :package: terra-toggle-section-header

#3270 [terra-visually-hidden-text] Remove Terra.it helpers from wdio
  packages/terra-visually-hidden-text/CHANGELOG.md
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/visually-hidden-text-spec/VisuallyHiddenText[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/visually-hidden-text-spec/VisuallyHiddenText[non_null].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/visually-hidden-text-spec/VisuallyHiddenText[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/visually-hidden-text-spec/VisuallyHiddenText[non_null].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/visually-hidden-text-spec/VisuallyHiddenText[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/visually-hidden-text-spec/VisuallyHiddenText[non_null].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/en/chrome_large/visually-hidden-text-spec/VisuallyHiddenText[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/en/chrome_large/visually-hidden-text-spec/VisuallyHiddenText[non_null].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/en/chrome_medium/visually-hidden-text-spec/VisuallyHiddenText[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/en/chrome_medium/visually-hidden-text-spec/VisuallyHiddenText[non_null].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/en/chrome_tiny/visually-hidden-text-spec/VisuallyHiddenText[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/en/chrome_tiny/visually-hidden-text-spec/VisuallyHiddenText[non_null].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/visually-hidden-text-spec/VisuallyHiddenText[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/visually-hidden-text-spec/VisuallyHiddenText[non_null].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/visually-hidden-text-spec/VisuallyHiddenText[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/visually-hidden-text-spec/VisuallyHiddenText[non_null].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/visually-hidden-text-spec/VisuallyHiddenText[default].png
  packages/terra-visually-hidden-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/visually-hidden-text-spec/VisuallyHiddenText[non_null].png
  packages/terra-visually-hidden-text/tests/wdio/visually-hidden-text-spec.js
Labels: :package: terra-visually-hidden-text

#3273 [terra-signature] Remove Terra.it helpers from wdio tests.
  packages/terra-signature/CHANGELOG.md
  packages/terra-signature/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/signature-spec/Signature[default].png
  packages/terra-signature/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/signature-spec/Signature[draw_with_middle_click].png
  packages/terra-signature/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/signature-spec/Signature[draw_with_right_click].png
  packages/terra-signature/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/signature-spec/Signature[draws_lines].png
  packages/terra-signature/tests/wdio/__snapshots__/reference/en/chrome_medium/signature-spec/Signature[default].png
  packages/terra-signature/tests/wdio/__snapshots__/reference/en/chrome_medium/signature-spec/Signature[draw_with_middle_click].png
  packages/terra-signature/tests/wdio/__snapshots__/reference/en/chrome_medium/signature-spec/Signature[draw_with_right_click].png
  packages/terra-signature/tests/wdio/__snapshots__/reference/en/chrome_medium/signature-spec/Signature[draws_lines].png
  packages/terra-signature/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/signature-spec/Signature[default].png
  packages/terra-signature/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/signature-spec/Signature[draw_with_middle_click].png
  packages/terra-signature/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/signature-spec/Signature[draw_with_right_click].png
  packages/terra-signature/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/signature-spec/Signature[draws_lines].png
  packages/terra-signature/tests/wdio/signature-spec.js
Labels: :package: terra-signature

#3274 [terra-status] Remove Terra.it helpers from wdio tests.
  packages/terra-status/CHANGELOG.md
  packages/terra-status/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-spec/Status[arrange].png
  packages/terra-status/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-spec/Status[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-spec/Status[icon].png
  packages/terra-status/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-spec/Status[image].png
  packages/terra-status/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-spec/Status[no_color].png
  packages/terra-status/tests/wdio/__snapshots__/reference/en/chrome_medium/status-spec/Status[arrange].png
  packages/terra-status/tests/wdio/__snapshots__/reference/en/chrome_medium/status-spec/Status[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/en/chrome_medium/status-spec/Status[icon].png
  packages/terra-status/tests/wdio/__snapshots__/reference/en/chrome_medium/status-spec/Status[image].png
  packages/terra-status/tests/wdio/__snapshots__/reference/en/chrome_medium/status-spec/Status[no_color].png
  packages/terra-status/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-spec/Status[arrange].png
  packages/terra-status/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-spec/Status[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-spec/Status[icon].png
  packages/terra-status/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-spec/Status[image].png
  packages/terra-status/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-spec/Status[no_color].png
  packages/terra-status/tests/wdio/status-spec.js
Labels: :package: terra-status

#3275 [terra-spacer] Remove Terra.it helpers from wdio tests.
  packages/terra-spacer/CHANGELOG.md
  packages/terra-spacer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/spacer-spec/Spacer[default].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/spacer-spec/Spacer[size_large].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/spacer-spec/Spacer[size_large_1].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/spacer-spec/Spacer[size_large_2].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/spacer-spec/Spacer[size_large_3].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/spacer-spec/Spacer[size_large_4].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/spacer-spec/Spacer[size_medium].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/spacer-spec/Spacer[size_small-1].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/spacer-spec/Spacer[size_small-2].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/spacer-spec/Spacer[size_small].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/en/chrome_medium/spacer-spec/Spacer[default].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/en/chrome_medium/spacer-spec/Spacer[size_large].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/en/chrome_medium/spacer-spec/Spacer[size_large_1].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/en/chrome_medium/spacer-spec/Spacer[size_large_2].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/en/chrome_medium/spacer-spec/Spacer[size_large_3].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/en/chrome_medium/spacer-spec/Spacer[size_large_4].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/en/chrome_medium/spacer-spec/Spacer[size_medium].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/en/chrome_medium/spacer-spec/Spacer[size_small-1].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/en/chrome_medium/spacer-spec/Spacer[size_small-2].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/en/chrome_medium/spacer-spec/Spacer[size_small].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/spacer-spec/Spacer[default].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/spacer-spec/Spacer[size_large].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/spacer-spec/Spacer[size_large_1].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/spacer-spec/Spacer[size_large_2].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/spacer-spec/Spacer[size_large_3].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/spacer-spec/Spacer[size_large_4].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/spacer-spec/Spacer[size_medium].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/spacer-spec/Spacer[size_small-1].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/spacer-spec/Spacer[size_small-2].png
  packages/terra-spacer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/spacer-spec/Spacer[size_small].png
  packages/terra-spacer/tests/wdio/spacer-spec.js
Labels: :package: terra-spacer

#3276 [terra-show-hide] Remove Terra.it helpers from wdio tests.
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/tests/wdio/show-hide-spec.js
Labels: :package: terra-show-hide

#3277 [terra-overlay] Remove Terra.it helpers from wdio tests.
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/loading-overlay-spec/Loading_Overlay[clear_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/loading-overlay-spec/Loading_Overlay[container].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/loading-overlay-spec/Loading_Overlay[custom_message].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/loading-overlay-spec/Loading_Overlay[dark_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/loading-overlay-spec/Loading_Overlay[default].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/loading-overlay-spec/Loading_Overlay[light_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/overlay-container-spec/Overlay_Container[default].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/overlay-spec/Overlay[container].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/overlay-spec/Overlay[default].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/overlay-spec/Overlay[scrollable_full_screen].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/overlay-spec/Overlay[scrollable_relative_container].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/overlay-spec/should_display_Themes[clear_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/overlay-spec/should_display_Themes[dark_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/overlay-spec/should_display_Themes[light_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/loading-overlay-spec/Loading_Overlay[clear_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/loading-overlay-spec/Loading_Overlay[container].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/loading-overlay-spec/Loading_Overlay[custom_message].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/loading-overlay-spec/Loading_Overlay[dark_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/loading-overlay-spec/Loading_Overlay[default].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/loading-overlay-spec/Loading_Overlay[light_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-container-spec/Overlay_Container[default].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/Overlay[container].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/Overlay[default].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/Overlay[scrollable_full_screen].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/Overlay[scrollable_relative_container].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/should_display_Themes[clear_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/should_display_Themes[dark_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/en/chrome_huge/overlay-spec/should_display_Themes[light_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/loading-overlay-spec/Loading_Overlay[clear_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/loading-overlay-spec/Loading_Overlay[container].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/loading-overlay-spec/Loading_Overlay[custom_message].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/loading-overlay-spec/Loading_Overlay[dark_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/loading-overlay-spec/Loading_Overlay[default].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/loading-overlay-spec/Loading_Overlay[light_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/overlay-container-spec/Overlay_Container[default].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/overlay-spec/Overlay[container].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/overlay-spec/Overlay[default].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/overlay-spec/Overlay[scrollable_full_screen].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/overlay-spec/Overlay[scrollable_relative_container].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/overlay-spec/should_display_Themes[clear_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/overlay-spec/should_display_Themes[dark_theme].png
  packages/terra-overlay/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/overlay-spec/should_display_Themes[light_theme].png
  packages/terra-overlay/tests/wdio/loading-overlay-spec.js
  packages/terra-overlay/tests/wdio/overlay-container-spec.js
  packages/terra-overlay/tests/wdio/overlay-spec.js
Labels: :package: terra-overlay

#3278 [terra-profile-image] Remove Terra.it helpers from wdio tests.
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/profile-image-spec/Profile_Image[default].png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/profile-image-spec/Profile_Image[failed].png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/profile-image-spec/Profile_Image[source_not_provided].png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/en/chrome_medium/profile-image-spec/Profile_Image[default].png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/en/chrome_medium/profile-image-spec/Profile_Image[failed].png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/en/chrome_medium/profile-image-spec/Profile_Image[source_not_provided].png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/profile-image-spec/Profile_Image[default].png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/profile-image-spec/Profile_Image[failed].png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/profile-image-spec/Profile_Image[source_not_provided].png
  packages/terra-profile-image/tests/wdio/profile-image-spec.js
Labels: :package: terra-profile-image

#3279 [terra-progress-bar] Remove Terra.it helpers from wdio tests.
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/progress-bar-spec/Progress_Bar[color].png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/progress-bar-spec/Progress_Bar[customized].png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/progress-bar-spec/Progress_Bar[default].png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/progress-bar-spec/Progress_Bar[size].png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/en/chrome_medium/progress-bar-spec/Progress_Bar[color].png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/en/chrome_medium/progress-bar-spec/Progress_Bar[customized].png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/en/chrome_medium/progress-bar-spec/Progress_Bar[default].png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/en/chrome_medium/progress-bar-spec/Progress_Bar[size].png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/progress-bar-spec/Progress_Bar[color].png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/progress-bar-spec/Progress_Bar[customized].png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/progress-bar-spec/Progress_Bar[default].png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/progress-bar-spec/Progress_Bar[size].png
  packages/terra-progress-bar/tests/wdio/progress-bar-spec.js
Labels: :package: terra-progress-bar

#3281 [terra-scroll] Remove Terra.it helpers from wdio tests.
  packages/terra-scroll/CHANGELOG.md
  packages/terra-scroll/tests/wdio/scroll-spec.js
Labels: :package: terra-scroll

#3282 [terra-search-field] Remove Terra.it helpers from wdio tests.
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Default_Value[Clear].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Default_Value[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Default_Value[with_overwritten_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Minimum_Length[too_short_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Minimum_Length[with_too_short_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Placeholder[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Placeholder[with_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Placeholder_Disabled[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Value[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Value[unchanged_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Default_Value[Clear].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Default_Value[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Default_Value[with_overwritten_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Minimum_Length[too_short_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Placeholder[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Placeholder[with_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Placeholder_Disabled[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Value[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Value[unchanged_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Default_Value[Clear].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Default_Value[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Default_Value[with_overwritten_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Minimum_Length[too_short_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Placeholder[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Placeholder[with_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Placeholder_Disabled[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Value[default].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Value[unchanged_text].png
  packages/terra-search-field/tests/wdio/search-field-spec.js
Labels: :package: terra-search-field

#3288 [terra-section-header] Remove Terra.it helpers from wdio tests.
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/Interactable_Transparent_Section_Header[active].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/Interactable_Transparent_Section_Header[hover].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/Interactable_Transparent_Section_Header[keyboard_focus].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/Long_Title_Accordion[active].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/Long_Title_Accordion[default].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/Long_Title_Accordion[hover].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/Long_Title_Accordion[keyboard_focus].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/SectionHeader[closed].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/SectionHeader[default].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/SectionHeader[long_title].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/SectionHeader[onClick].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/SectionHeader[open].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/SectionHeader[transparent].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Interactable_Transparent_Section_Header[active].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Interactable_Transparent_Section_Header[hover].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Interactable_Transparent_Section_Header[keyboard_focus].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Long_Title_Accordion[active].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Long_Title_Accordion[default].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Long_Title_Accordion[hover].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/Long_Title_Accordion[keyboard_focus].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/SectionHeader[closed].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/SectionHeader[default].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/SectionHeader[long_title].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/SectionHeader[onClick].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/SectionHeader[open].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/en/chrome_huge/section-header-spec/SectionHeader[transparent].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/Interactable_Transparent_Section_Header[active].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/Interactable_Transparent_Section_Header[hover].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/Interactable_Transparent_Section_Header[keyboard_focus].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/Long_Title_Accordion[active].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/Long_Title_Accordion[default].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/Long_Title_Accordion[hover].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/Long_Title_Accordion[keyboard_focus].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/SectionHeader[closed].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/SectionHeader[default].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/SectionHeader[long_title].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/SectionHeader[onClick].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/SectionHeader[open].png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/SectionHeader[transparent].png
  packages/terra-section-header/tests/wdio/section-header-spec.js
Labels: :package: terra-section-header

#3290 [terra-dropdown-button] Remove Terra.it helpers from wdio tests.
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/dropdown-button-spec/Dropdown_Button[block].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/dropdown-button-spec/Dropdown_Button[variants].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/split-button-spec/Split_Button[block].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/split-button-spec/Split_Button[disabled].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/split-button-spec/Split_Button[variants].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/en/chrome_medium/dropdown-button-spec/Dropdown_Button[block].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/en/chrome_medium/dropdown-button-spec/Dropdown_Button[variants].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/en/chrome_medium/split-button-spec/Default[Metdata].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/en/chrome_medium/split-button-spec/Split_Button[block].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/en/chrome_medium/split-button-spec/Split_Button[disabled].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/en/chrome_medium/split-button-spec/Split_Button[variants].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/dropdown-button-spec/Dropdown_Button[block].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/dropdown-button-spec/Dropdown_Button[variants].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/split-button-spec/Split_Button[block].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/split-button-spec/Split_Button[disabled].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/split-button-spec/Split_Button[variants].png
  packages/terra-dropdown-button/tests/wdio/dropdown-button-spec.js
  packages/terra-dropdown-button/tests/wdio/split-button-spec.js
Labels: :package: terra-dropdown-button
