Repository cerner/terra-core, pull requests merged in 2020-08, with the labels that each got.

#3099 [terra-status-view] Removed terra-button deprecated size attribute reference
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/StatusView.jsx
  packages/terra-status-view/src/terra-dev-site/doc/example/Custom.jsx
  packages/terra-status-view/src/terra-dev-site/doc/status-view/UpgradeGuide.2.doc.mdx
  packages/terra-status-view/src/terra-dev-site/test/status-view/StatusViewCustom.test.jsx
  packages/terra-status-view/src/terra-dev-site/test/status-view/StatusViewErrorAllProps.test.jsx
Labels: :package: terra-status-view

#3091 [terra-search-field] Move additional attributes to the top of the attribute list.
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/tests/jest/SearchField.test.jsx
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
Labels: :package: terra-search-field

#3088 [terra-form-checkbox][terra-tag] Update themeable variables
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/src/clinical-lowlight-theme/Checkbox.module.scss
  packages/terra-form-checkbox/src/orion-fusion-theme/Checkbox.module.scss
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/src/clinical-lowlight-theme/Tag.module.scss
Labels: :package: terra-form-checkbox, :package: terra-tag, :star: UX Reviewed, bug-fix

#3082 [terra-form select] Prevent opening of multiple dropdowns and moved focus to select menu when opened via toggle.
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/combobox/Menu.jsx
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/multiple/Menu.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/src/search/Menu.jsx
  packages/terra-form-select/src/shared/_FrameUtil.js
  packages/terra-form-select/src/tag/Frame.jsx
  packages/terra-form-select/src/tag/Menu.jsx
  packages/terra-form-select/tests/jest/__snapshots__/Frame.test.jsx.snap
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: :package: terra-form-select, :star: Functionally Reviewed, Functional Review Required, bug-fix

#3107 Add missing theme variables
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/terra-dev-site/doc/example/clinical-lowlight-theme/colors.module.scss
  packages/terra-alert/src/terra-dev-site/doc/example/colors.module.scss
  packages/terra-alert/src/terra-dev-site/doc/example/orion-fusion-theme/colors.module.scss
  packages/terra-heading/CHANGELOG.md
  packages/terra-heading/src/terra-dev-site/doc/example/clinical-lowlight-theme/colors.module.scss
  packages/terra-heading/src/terra-dev-site/doc/example/colors.module.scss
  packages/terra-heading/src/terra-dev-site/doc/example/orion-fusion-theme/colors.module.scss
  packages/terra-heading/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/heading-spec/Color[default].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/heading-spec/Visual_Props[default].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/heading-spec/Color[default].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/heading-spec/Visual_Props[default].png
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/src/terra-dev-site/doc/example/clinical-lowlight-theme/colors.module.scss
  packages/terra-progress-bar/src/terra-dev-site/doc/example/colors.module.scss
  packages/terra-progress-bar/src/terra-dev-site/doc/example/orion-fusion-theme/colors.module.scss
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/progress-bar-spec/Color[default].png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/progress-bar-spec/Color[default].png
  packages/terra-status/CHANGELOG.md
  packages/terra-status/src/terra-dev-site/doc/example/clinical-lowlight-theme/colors.module.scss
  packages/terra-status/src/terra-dev-site/doc/example/colors.module.scss
  packages/terra-status/src/terra-dev-site/doc/example/orion-fusion-theme/colors.module.scss
  packages/terra-status/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-spec/Arrange[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-spec/Default[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-spec/Icon[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-spec/Image[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-spec/Arrange[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-spec/Default[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-spec/Icon[default].png
  packages/terra-status/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-spec/Image[default].png
  packages/terra-text/CHANGELOG.md
  packages/terra-text/src/terra-dev-site/doc/example/clinical-lowlight-theme/colors.module.scss
  packages/terra-text/src/terra-dev-site/doc/example/colors.module.scss
  packages/terra-text/src/terra-dev-site/doc/example/orion-fusion-theme/colors.module.scss
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Color[default].png
  packages/terra-text/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/text-spec/Visual_Props[default].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Color[default].png
  packages/terra-text/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/text-spec/Visual_Props[default].png
Labels: :package: terra-alert, :package: terra-heading, :package: terra-progress-bar, :package: terra-status, :package: terra-text, :star: UX Reviewed, intern project

#3122 Added isBlock prop to Switch.
  packages/terra-switch/CHANGELOG.md
  packages/terra-switch/src/Switch.jsx
  packages/terra-switch/src/Switch.module.scss
  packages/terra-switch/src/terra-dev-site/doc/example/BlockSwitch.jsx
  packages/terra-switch/src/terra-dev-site/doc/switch/Switch.1.doc.mdx
  packages/terra-switch/src/terra-dev-site/test/switch/BlockSwitch.test.jsx
  packages/terra-switch/tests/jest/__snapshots__/switch.test.jsx.snap
  packages/terra-switch/tests/jest/switch.test.jsx
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/switch-spec/Block_Switch[default].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/switch-spec/Block_Switch[default].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/switch-spec/Block_Switch[default].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_large/switch-spec/Block_Switch[default].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_medium/switch-spec/Block_Switch[default].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/en/chrome_tiny/switch-spec/Block_Switch[default].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/switch-spec/Block_Switch[default].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/switch-spec/Block_Switch[default].png
  packages/terra-switch/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/switch-spec/Block_Switch[default].png
  packages/terra-switch/tests/wdio/switch-spec.js
Labels: :package: terra-switch, :star: Functionally Reviewed, :star: UX Reviewed, Functional Review Required

#3121 [terra-table] Fix interactions on disabled header check mark.
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/_HeaderCheckMarkCell.jsx
  packages/terra-table/tests/jest/subcomponents/__snapshots__/HeaderCheckMarkCell.test.jsx.snap
Labels: :package: terra-table, :star: Functionally Reviewed, bug-fix

#3126 [terra-table] Screen Reader should announce state change for Rows and header checkbox.
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/CheckMarkCell.module.scss
  packages/terra-table/src/subcomponents/HeaderCheckMarkCell.module.scss
  packages/terra-table/src/subcomponents/_CheckMarkCell.jsx
  packages/terra-table/src/subcomponents/_HeaderCheckMarkCell.jsx
  packages/terra-table/tests/jest/subcomponents/__snapshots__/CheckMarkCell.test.jsx.snap
  packages/terra-table/tests/jest/subcomponents/__snapshots__/HeaderCheckMarkCell.test.jsx.snap
Labels: :package: terra-table, :star: Accessibility Reviewed, bug-fix

#3125 [terra-form-select] Fix to keep focus on select on pressing escape to close dropdown.
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/single/Frame.jsx
Labels: :package: terra-form-select, :star: Functionally Reviewed, bug-fix

#3129 [terra-divider] Fix custom props spread on the text divider
  packages/terra-divider/CHANGELOG.md
  packages/terra-divider/src/Divider.jsx
  packages/terra-divider/tests/jest/Divider.test.jsx
Labels: :package: terra-divider, bug-fix

#3127 [terra-form-input, terra-form-textarea] Update examples to not use terra-form-field.
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/terra-dev-site/doc/common/BlankExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/common/NumberInputExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/controlled/DefaultExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/controlled/DefaultIncompleteExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/controlled/DefaultInvalidExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/controlled/DisabledExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/controlled/DisabledInvalidExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/uncontrolled/DefaultExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/uncontrolled/DefaultIncompleteExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/uncontrolled/DefaultInvalidExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/uncontrolled/DisabledExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/uncontrolled/DisabledInvalidExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/uncontrolled/FileExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/uncontrolled/InvalidWithIncompleteExample.jsx
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/terra-dev-site/doc/example/Disabled.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/FillContainer.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/FixedLargeSize.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/FixedMediumSize.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/FixedSmallSize.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/Incomplete.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/Invalid.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/Resizable.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/Textarea.jsx
Labels: :package: terra-form-input, :package: terra-form-textarea

#3144 [terra-search-field] Update fusion theme screenshots to fix master build
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/With_Default_Value[with_overwritten_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/With_Placeholder[with_text].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/With_Value[unchanged_text].png
Labels: :package: terra-search-field
