Repository cerner/terra-core, pull requests merged in 2020-09, with the labels that each got.

#3140 [terra-form-select] Fix to remove red glow appearing on invalid selects in firefox.
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/shared/_Frame.module.scss
Labels: :package: terra-form-select, :star: UX Reviewed, bug-fix

#3143 [terra-table] Update guides and examples to use realistic data
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/terra-dev-site/doc/guides/CheckMarkTable.jsx
  packages/terra-table/src/terra-dev-site/doc/guides/MultiSelectTable.jsx
  packages/terra-table/src/terra-dev-site/doc/guides/SectionTable.jsx
  packages/terra-table/src/terra-dev-site/doc/guides/SingleSelectTable.jsx
  packages/terra-table/src/terra-dev-site/doc/guides/StripedTable.jsx
  packages/terra-table/src/terra-dev-site/doc/guides/StripedTableSection.jsx
  packages/terra-table/src/terra-dev-site/doc/guides/mock-data/mock-section.js
  packages/terra-table/src/terra-dev-site/doc/guides/mock-data/mock-select.js
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/CheckMarkTable.94.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/MultiSelectTable.2.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/SectionTable.3.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/SingleSelectTable.1.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/StripedTable.6.doc.mdx
  packages/terra-table/src/terra-dev-site/test/table/CheckMarkDemo.test.jsx
  packages/terra-table/src/terra-dev-site/test/table/MultiDemo.test.jsx
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Multi_Demo[default].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/table-spec/Multi_Demo[default].png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/Multi_Demo[default].png
Labels: :package: terra-table, :star: UX Reviewed

#3150 [terra-form-radio] Updated legend styles for radio field to handle long text
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/src/RadioField.module.scss
  packages/terra-form-radio/src/terra-dev-site/test/form-radio/field/LongTextLegend.test.jsx
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-radio-field-spec/RadioField_Long_Text_Legend[default].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/RadioField_Long_Text_Legend[default].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_large/form-radio-field-spec/RadioField_Long_Text_Legend[default].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-radio-field-spec/RadioField_Long_Text_Legend[default].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/form-radio-field-spec/RadioField_Long_Text_Legend[default].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/form-radio-field-spec/RadioField_Long_Text_Legend[default].png
  packages/terra-form-radio/tests/wdio/form-radio-field-spec.js
Labels: :package: terra-form-radio, :star: UX Reviewed, bug-fix

#3135 [terra-form-input, terra-form-textarea] Add onInput prop
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/Input.jsx
  packages/terra-form-input/src/InputField.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/controlled/InputProgrammaticSet.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/controlled/InputProgrammaticSet.module.scss
  packages/terra-form-input/src/terra-dev-site/doc/form-input/Input.1.doc.mdx
  packages/terra-form-input/src/terra-dev-site/test/form-input/SettingValueInput.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/common/Input.test.module.scss
  packages/terra-form-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-input-spec/Setting_Value[empty].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-input-spec/Setting_Value[programmatically].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/en/chrome_large/form-input-spec/Setting_Value[empty].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/en/chrome_large/form-input-spec/Setting_Value[programmatically].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/form-input-spec/Setting_Value[empty].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/form-input-spec/Setting_Value[programmatically].png
  packages/terra-form-input/tests/wdio/form-input-spec.js
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/Textarea.jsx
  packages/terra-form-textarea/src/TextareaField.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/example/TextareaProgrammaticSet.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/form-textarea/Textarea.1.doc.mdx
  packages/terra-form-textarea/src/terra-dev-site/test/form-textarea/SettingValueTextarea.test.jsx
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-textarea-spec/Setting_Value[empty].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-textarea-spec/Setting_Value[programmatically].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_large/form-textarea-spec/Setting_Value[empty].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_large/form-textarea-spec/Setting_Value[programmatically].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/form-textarea-spec/Setting_Value[empty].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/form-textarea-spec/Setting_Value[programmatically].png
  packages/terra-form-textarea/tests/wdio/form-textarea-spec.js
Labels: :package: terra-form-input, :package: terra-form-textarea, bug-fix

#3147 [terra-toggle]: Update terra-toggle animation to use 'ease-out' easing.
  CONTRIBUTORS.md
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/src/Toggle.jsx
  packages/terra-toggle/tests/jest/__snapshots__/Toggle.test.jsx.snap
Labels: :package: terra-toggle, :star: UX Reviewed

#3159 [terra-search-field] Alignment with buttons
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.module.scss
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldProgrammaticSet.jsx
  packages/terra-search-field/src/terra-dev-site/test/search-field/SettingValueSearchField.test.jsx
  packages/terra-search-field/src/terra-dev-site/test/search-field/examplestyles.scss
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Search_Field_in_Focus[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Search_Field_in_Focus[with_focus].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Setting_Value[cut].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Setting_Value[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Setting_Value[paste].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Setting_Value[programmatically].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Setting_Value[search].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Setting_Value[typed].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Search_Field_in_Focus[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Search_Field_in_Focus[with_focus].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[cut].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[paste].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[programmatically].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[search].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[typed].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Search_Field_in_Focus[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Search_Field_in_Focus[with_focus].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[cut].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[empty].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[paste].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[programmatically].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[search].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[typed].png
Labels: :package: terra-search-field, :star: Functionally Reviewed, :star: UX Reviewed, bug-fix

#3151 [terra-status-view] Remove focus from glyphs in IE10
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/StatusView.jsx
  packages/terra-status-view/src/StatusView.module.scss
  packages/terra-status-view/src/terra-dev-site/doc/status-view/StatusView.1.doc.mdx
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
Labels: :package: terra-status-view, :star: UX Reviewed, bug-fix

#3160 [terra-form-checkbox] Updated legend styles for checkbox field to handle long text
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/src/CheckboxField.module.scss
  packages/terra-form-checkbox/src/terra-dev-site/test/form-checkbox/checkbox-field/LongTextLegend.test.jsx
  packages/terra-form-checkbox/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-checkbox-field-spec/CheckboxField_Long_Text_Legend[default].png
  packages/terra-form-checkbox/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-checkbox-field-spec/CheckboxField_Long_Text_Legend[default].png
  packages/terra-form-checkbox/tests/wdio/__snapshots__/reference/en/chrome_large/form-checkbox-field-spec/CheckboxField_Long_Text_Legend[default].png
  packages/terra-form-checkbox/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-checkbox-field-spec/CheckboxField_Long_Text_Legend[default].png
  packages/terra-form-checkbox/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/form-checkbox-field-spec/CheckboxField_Long_Text_Legend[default].png
  packages/terra-form-checkbox/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/form-checkbox-field-spec/CheckboxField_Long_Text_Legend[default].png
  packages/terra-form-checkbox/tests/wdio/form-checkbox-field-spec.js
Labels: :package: terra-form-checkbox, :star: UX Reviewed, bug-fix

#3173 [terra-base] Add throwOnI18nError prop
  packages/terra-base/CHANGELOG.md
  packages/terra-base/src/Base.jsx
  packages/terra-base/tests/jest/Base.test.jsx
Labels: :package: terra-base

#3158 [terra-form-field] Fixed voiceover issues in label-group.
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/src/Field.jsx
  packages/terra-form-field/tests/jest/__snapshots__/Field.test.jsx.snap
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/tests/jest/__snapshots__/SelectField.test.jsx.snap
Labels: :package: terra-form-field, :star: Accessibility Reviewed, bug-fix

#3176 [terra-i18n] Disabled regex cache from intl polyfill
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/src/i18nLoader.js
Labels: :package: terra-i18n
