Repository cerner/terra-core, pull requests merged in 2020-03, with the labels that each got.

#2867 [terra-scroll] Update docs to use mdx syntax
  packages/terra-scroll/CHANGELOG.md
  packages/terra-scroll/README.md
  packages/terra-scroll/package.json
  packages/terra-scroll/src/terra-dev-site/doc/scroll/ChangeLog.2.doc.jsx
  packages/terra-scroll/src/terra-dev-site/doc/scroll/ChangeLog.3.doc.mdx
  packages/terra-scroll/src/terra-dev-site/doc/scroll/Scroll.1.doc.jsx
  packages/terra-scroll/src/terra-dev-site/doc/scroll/Scroll.1.doc.mdx
  packages/terra-scroll/src/terra-dev-site/doc/scroll/UpgradeGuide.2.doc.mdx
Labels: docs, terra-scroll

#2869 [terra-section-header] Update docs to use mdx syntax
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/README.md
  packages/terra-section-header/docs/README.md
  packages/terra-section-header/package.json
  packages/terra-section-header/src/terra-dev-site/doc/section-header/ChangeLog.3.doc.jsx
  packages/terra-section-header/src/terra-dev-site/doc/section-header/ChangeLog.3.doc.mdx
  packages/terra-section-header/src/terra-dev-site/doc/section-header/SectionHeader.1.doc.jsx
  packages/terra-section-header/src/terra-dev-site/doc/section-header/SectionHeader.1.doc.mdx
  packages/terra-section-header/src/terra-dev-site/doc/section-header/UpgradeGuide.2.doc.jsx
  packages/terra-section-header/src/terra-dev-site/doc/section-header/UpgradeGuide.2.doc.mdx
Labels: docs, section-header

#2868 [terra-search-field] Update docs to use mdx syntax
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/README.md
  packages/terra-search-field/docs/UPGRADEGUIDE.md
  packages/terra-search-field/package.json
  packages/terra-search-field/src/terra-dev-site/doc/search-field/ChangeLog.3.doc.mdx
  packages/terra-search-field/src/terra-dev-site/doc/search-field/SearchField.1.doc.mdx
  packages/terra-search-field/src/terra-dev-site/doc/search-field/UpgradeGuide.2.doc.mdx
Labels: docs, search field

#2870 [terra-show-hide] Update docs to use mdx syntax
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/README.md
  packages/terra-show-hide/docs/README.md
  packages/terra-show-hide/package.json
  packages/terra-show-hide/src/terra-dev-site/doc/ShowHide/ChangeLog.2.doc.jsx
  packages/terra-show-hide/src/terra-dev-site/doc/ShowHide/ChangeLog.3.doc.mdx
  packages/terra-show-hide/src/terra-dev-site/doc/ShowHide/ShowHide.1.doc.jsx
  packages/terra-show-hide/src/terra-dev-site/doc/ShowHide/ShowHide.1.doc.mdx
  packages/terra-show-hide/src/terra-dev-site/doc/ShowHide/UpgradeGuide.2.doc.mdx
Labels: docs, show-hide

#2852 [terra-icon] Update docs to use mdx syntax
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/README.md
  packages/terra-icon/docs/STATIC.md
  packages/terra-icon/docs/THEMEABLE.md
  packages/terra-icon/package.json
  packages/terra-icon/src/terra-dev-site/doc/icon/ChangeLog.4.doc.jsx
  packages/terra-icon/src/terra-dev-site/doc/icon/ChangeLog.5.doc.mdx
  packages/terra-icon/src/terra-dev-site/doc/icon/Icon.1.doc.jsx
  packages/terra-icon/src/terra-dev-site/doc/icon/Icon.1.doc.mdx
  packages/terra-icon/src/terra-dev-site/doc/icon/Static.2.doc.jsx
  packages/terra-icon/src/terra-dev-site/doc/icon/Static.2.doc.mdx
  packages/terra-icon/src/terra-dev-site/doc/icon/Themeable.3.doc.jsx
  packages/terra-icon/src/terra-dev-site/doc/icon/Themeable.3.doc.mdx
  packages/terra-icon/src/terra-dev-site/doc/icon/UpgradeGuide.4.doc.mdx
Labels: docs, icon

#2874 [terra-status-view] Update docs to use mdx syntax
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/README.md
  packages/terra-status-view/docs/README.md
  packages/terra-status-view/package.json
  packages/terra-status-view/src/StatusView.jsx
  packages/terra-status-view/src/terra-dev-site/doc/example/Custom.jsx
  packages/terra-status-view/src/terra-dev-site/doc/status-view/ChangeLog.3.doc.jsx
  packages/terra-status-view/src/terra-dev-site/doc/status-view/ChangeLog.3.doc.mdx
  packages/terra-status-view/src/terra-dev-site/doc/status-view/StatusView.1.doc.jsx
  packages/terra-status-view/src/terra-dev-site/doc/status-view/StatusView.1.doc.mdx
  packages/terra-status-view/src/terra-dev-site/doc/status-view/UpgradeGuide.2.doc.jsx
  packages/terra-status-view/src/terra-dev-site/doc/status-view/UpgradeGuide.2.doc.mdx
Labels: docs, status view

#2871 [terra-signature] Update docs to use mdx syntax
  packages/terra-signature/CHANGELOG.md
  packages/terra-signature/README.md
  packages/terra-signature/package.json
  packages/terra-signature/src/terra-dev-site/doc/signature/ChangeLog.2.doc.jsx
  packages/terra-signature/src/terra-dev-site/doc/signature/ChangeLog.3.doc.mdx
  packages/terra-signature/src/terra-dev-site/doc/signature/Signature.1.doc.jsx
  packages/terra-signature/src/terra-dev-site/doc/signature/Signature.1.doc.mdx
  packages/terra-signature/src/terra-dev-site/doc/signature/UpgradeGuide.2.doc.mdx
Labels: docs, signature

#2864 [terra-responsive-element] Update docs to use mdx syntax
  packages/terra-responsive-element/CHANGELOG.md
  packages/terra-responsive-element/README.md
  packages/terra-responsive-element/package.json
  packages/terra-responsive-element/src/ResponsiveElement.jsx
  packages/terra-responsive-element/src/terra-dev-site/doc/responsive-element/ChangeLog.2.doc.jsx
  packages/terra-responsive-element/src/terra-dev-site/doc/responsive-element/ChangeLog.3.doc.mdx
  packages/terra-responsive-element/src/terra-dev-site/doc/responsive-element/ResponsiveElement.1.doc.jsx
  packages/terra-responsive-element/src/terra-dev-site/doc/responsive-element/ResponsiveElement.1.doc.mdx
  packages/terra-responsive-element/src/terra-dev-site/doc/responsive-element/UpgradeGuide.2.doc.mdx
  packages/terra-responsive-element/src/terra-dev-site/doc/responsive-element/UpgradeGuide.3.doc.jsx
Labels: docs, responsive element

#2872 [terra-spacer] Update docs to use mdx syntax
  packages/terra-spacer/CHANGELOG.md
  packages/terra-spacer/README.md
  packages/terra-spacer/docs/README.md
  packages/terra-spacer/package.json
  packages/terra-spacer/src/Spacer.jsx
  packages/terra-spacer/src/terra-dev-site/doc/example/SpacerShortVsLongHandExample.jsx
  packages/terra-spacer/src/terra-dev-site/doc/spacer/ChangeLog.2.doc.jsx
  packages/terra-spacer/src/terra-dev-site/doc/spacer/ChangeLog.3.doc.mdx
  packages/terra-spacer/src/terra-dev-site/doc/spacer/Spacer.1.doc.jsx
  packages/terra-spacer/src/terra-dev-site/doc/spacer/Spacer.1.doc.mdx
  packages/terra-spacer/src/terra-dev-site/doc/spacer/UpgradeGuide.2.doc.mdx
Labels: docs, spacer

#2873 [terra-status] Update docs to use mdx syntax
  packages/terra-status/CHANGELOG.md
  packages/terra-status/README.md
  packages/terra-status/docs/README.md
  packages/terra-status/package.json
  packages/terra-status/src/terra-dev-site/doc/status/ChangeLog.2.doc.jsx
  packages/terra-status/src/terra-dev-site/doc/status/ChangeLog.3.doc.mdx
  packages/terra-status/src/terra-dev-site/doc/status/Status.1.doc.jsx
  packages/terra-status/src/terra-dev-site/doc/status/Status.1.doc.mdx
  packages/terra-status/src/terra-dev-site/doc/status/UpgradeGuide.2.doc.mdx
Labels: docs, status

#2879 [terra-list] Update docs to use mdx syntax
  packages/terra-list/CHANGELOG.md
  packages/terra-list/README.md
  packages/terra-list/docs/ListSection.md
  packages/terra-list/docs/ListSubsection.md
  packages/terra-list/docs/README.md
  packages/terra-list/package.json
  packages/terra-list/src/terra-dev-site/doc/list/ChangeLog.8.doc.jsx
  packages/terra-list/src/terra-dev-site/doc/list/ChangeLog.8.doc.mdx
  packages/terra-list/src/terra-dev-site/doc/list/List.1.doc.jsx
  packages/terra-list/src/terra-dev-site/doc/list/List.1.doc.mdx
  packages/terra-list/src/terra-dev-site/doc/list/ListItem.2.doc.jsx
  packages/terra-list/src/terra-dev-site/doc/list/ListItem.2.doc.mdx
  packages/terra-list/src/terra-dev-site/doc/list/ListSection.3.doc.jsx
  packages/terra-list/src/terra-dev-site/doc/list/ListSection.3.doc.mdx
  packages/terra-list/src/terra-dev-site/doc/list/ListSectionHeader.5.doc.jsx
  packages/terra-list/src/terra-dev-site/doc/list/ListSectionHeader.5.doc.mdx
  packages/terra-list/src/terra-dev-site/doc/list/ListSubsection.4.doc.jsx
  packages/terra-list/src/terra-dev-site/doc/list/ListSubsection.4.doc.mdx
  packages/terra-list/src/terra-dev-site/doc/list/ListSubsectionHeader.6.doc.jsx
  packages/terra-list/src/terra-dev-site/doc/list/ListSubsectionHeader.6.doc.mdx
  packages/terra-list/src/terra-dev-site/doc/list/guides.7/MultiSelectList.2.doc.jsx
  packages/terra-list/src/terra-dev-site/doc/list/guides.7/MultiSelectList.2.doc.mdx
  packages/terra-list/src/terra-dev-site/doc/list/guides.7/SectionList.3.doc.jsx
  packages/terra-list/src/terra-dev-site/doc/list/guides.7/SectionList.3.doc.mdx
  packages/terra-list/src/terra-dev-site/doc/list/guides.7/SectionWithinSection.4.doc.jsx
  packages/terra-list/src/terra-dev-site/doc/list/guides.7/SectionWithinSection.4.doc.mdx
  packages/terra-list/src/terra-dev-site/doc/list/guides.7/SingleSelectList.1.doc.jsx
  packages/terra-list/src/terra-dev-site/doc/list/guides.7/SingleSelectList.1.doc.mdx
  packages/terra-list/src/terra-dev-site/doc/list/guides.7/ThemeUpgrade.5.doc.jsx
  packages/terra-list/src/terra-dev-site/doc/list/guides.7/ThemeUpgrade.5.doc.mdx
Labels: docs, list

#2880 [terra-i18n] Update docs to use mdx syntax
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/README.md
  packages/terra-i18n/package.json
  packages/terra-i18n/src/terra-dev-site/doc/i18n/ChangeLog.2.doc.jsx
  packages/terra-i18n/src/terra-dev-site/doc/i18n/ChangeLog.2.doc.mdx
  packages/terra-i18n/src/terra-dev-site/doc/i18n/UpgradeGuide.1.doc.jsx
  packages/terra-i18n/src/terra-dev-site/doc/i18n/UpgradeGuide.1.doc.mdx
  packages/terra-i18n/src/terra-dev-site/doc/i18n/i18n.1.doc.jsx
  packages/terra-i18n/src/terra-dev-site/doc/i18n/i18n.1.doc.mdx
  packages/terra-i18n/src/terra-dev-site/doc/i18n/i18n.1.module.scss
Labels: docs, i18n

#2884 [terra-toggle-button] Update docs to use mdx syntax
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/README.md
  packages/terra-toggle-button/docs/README.md
  packages/terra-toggle-button/package.json
  packages/terra-toggle-button/src/terra-dev-site/doc/toggle-button/ChangeLog.2.doc.jsx
  packages/terra-toggle-button/src/terra-dev-site/doc/toggle-button/ChangeLog.3.doc.mdx
  packages/terra-toggle-button/src/terra-dev-site/doc/toggle-button/ToggleButton.1.doc.jsx
  packages/terra-toggle-button/src/terra-dev-site/doc/toggle-button/ToggleButton.1.doc.mdx
  packages/terra-toggle-button/src/terra-dev-site/doc/toggle-button/UpgradeGuide.2.doc.mdx
Labels: docs, toggle-button

#2889 [terra-form-fieldset] Update docs to use mdx syntax
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/README.md
  packages/terra-form-fieldset/docs/README.md
  packages/terra-form-fieldset/package.json
  packages/terra-form-fieldset/src/terra-dev-site/doc/form-fieldset/ChangeLog.3.doc.jsx
  packages/terra-form-fieldset/src/terra-dev-site/doc/form-fieldset/ChangeLog.3.doc.mdx
  packages/terra-form-fieldset/src/terra-dev-site/doc/form-fieldset/FormFieldset.1.doc.jsx
  packages/terra-form-fieldset/src/terra-dev-site/doc/form-fieldset/FormFieldset.1.doc.mdx
  packages/terra-form-fieldset/src/terra-dev-site/doc/form-fieldset/UpgradeGuide.2.doc.jsx
  packages/terra-form-fieldset/src/terra-dev-site/doc/form-fieldset/UpgradeGuide.2.doc.mdx
Labels: docs, form-fieldset

#2865 [terra-demographics-banner] Fix for parenthesis overlapping onto next line
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/src/DemographicsBanner.module.scss
  packages/terra-demographics-banner/src/terra-dev-site/doc/demographics-banner/UpgradeGuide.2.doc.mdx
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Blank[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Deceased[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Deceased_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Gestational_Age_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Populated[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_large/demographics-banner-spec/Post_Menstrual_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_tiny/demographics-banner-spec/Blank[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_tiny/demographics-banner-spec/Deceased[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_tiny/demographics-banner-spec/Deceased_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_tiny/demographics-banner-spec/Gestational_Age_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_tiny/demographics-banner-spec/Populated[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/en/chrome_tiny/demographics-banner-spec/Post_Menstrual_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/demographics-banner-spec/Blank[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/demographics-banner-spec/Deceased[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/demographics-banner-spec/Deceased_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/demographics-banner-spec/Gestational_Age_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/demographics-banner-spec/Populated[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/demographics-banner-spec/Post_Menstrual_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/demographics-banner-spec/Blank[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/demographics-banner-spec/Deceased[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/demographics-banner-spec/Deceased_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/demographics-banner-spec/Gestational_Age_-_No_Label[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/demographics-banner-spec/Populated[default].png
  packages/terra-demographics-banner/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/demographics-banner-spec/Post_Menstrual_-_No_Label[default].png
Labels: bug-fix, demographics banner, ⭐️ UX Reviewed

#2882 [terra-visually-hidden-text] Update docs to use mdx syntax
  packages/terra-visually-hidden-text/CHANGELOG.md
  packages/terra-visually-hidden-text/README.md
  packages/terra-visually-hidden-text/package.json
  packages/terra-visually-hidden-text/src/terra-dev-site/doc/VisuallyHiddenText/ChangeLog.2.doc.jsx
  packages/terra-visually-hidden-text/src/terra-dev-site/doc/VisuallyHiddenText/ChangeLog.3.doc.mdx
  packages/terra-visually-hidden-text/src/terra-dev-site/doc/VisuallyHiddenText/UpgradeGuide.2.doc.mdx
  packages/terra-visually-hidden-text/src/terra-dev-site/doc/VisuallyHiddenText/VisuallyHiddenText.1.doc.jsx
  packages/terra-visually-hidden-text/src/terra-dev-site/doc/VisuallyHiddenText/VisuallyHiddenText.1.doc.mdx
Labels: VisuallyHiddenText, docs

#2896 Update incorrect Swedish translations
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/translations/sv-SE.json
  packages/terra-alert/translations/sv.json
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/translations/sv-SE.json
  packages/terra-paginator/translations/sv.json
Labels: alert, pagination

#2887 [terra-tag] Update docs to use mdx syntax
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/README.md
  packages/terra-tag/docs/README.md
  packages/terra-tag/package.json
  packages/terra-tag/src/terra-dev-site/doc/tag/ChangeLog.3.doc.jsx
  packages/terra-tag/src/terra-dev-site/doc/tag/ChangeLog.3.doc.mdx
  packages/terra-tag/src/terra-dev-site/doc/tag/Tag.1.doc.jsx
  packages/terra-tag/src/terra-dev-site/doc/tag/Tag.1.doc.mdx
  packages/terra-tag/src/terra-dev-site/doc/tag/UpgradeGuide.2.doc.jsx
  packages/terra-tag/src/terra-dev-site/doc/tag/UpgradeGuide.2.doc.mdx
Labels: docs, tag

#2888 [terra-table] Update docs to use mdx syntax
  packages/terra-table/CHANGELOG.md
  packages/terra-table/README.md
  packages/terra-table/package.json
  packages/terra-table/src/terra-dev-site/doc/table/ChangeLog.6.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/ChangeLog.92.doc.jsx
  packages/terra-table/src/terra-dev-site/doc/table/Header.2.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/Row.4.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/Section.3.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/Table.1.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/CheckMarkTable.94.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/MultiSelectTable.2.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/PercentageWidthTable.9.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/ScalarWidthTable.91.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/SectionTable.3.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/SingleSelectTable.1.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/SortedTable.5.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/StaticWidthTable.8.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/StripedTable.6.doc.mdx
Labels: docs, table

#2878 [terra-overlay] Update docs to use mdx syntax
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/README.md
  packages/terra-overlay/docs/README.md
  packages/terra-overlay/package.json
  packages/terra-overlay/src/LoadingOverlay.jsx
  packages/terra-overlay/src/Overlay.jsx
  packages/terra-overlay/src/terra-dev-site/doc/overlay/ChangeLog.3.doc.jsx
  packages/terra-overlay/src/terra-dev-site/doc/overlay/ChangeLog.3.doc.mdx
  packages/terra-overlay/src/terra-dev-site/doc/overlay/Overlay.1.doc.jsx
  packages/terra-overlay/src/terra-dev-site/doc/overlay/Overlay.1.doc.mdx
  packages/terra-overlay/src/terra-dev-site/doc/overlay/UpgradeGuide.2.doc.jsx
  packages/terra-overlay/src/terra-dev-site/doc/overlay/UpgradeGuide.2.doc.mdx
Labels: docs, overlay

#2804 [terra-profile-image] Added `fit` prop to specify object-fit style
  packages/terra-image/CHANGELOG.md
  packages/terra-image/src/Image.jsx
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/src/ProfileImage.jsx
  packages/terra-profile-image/src/terra-dev-site/assets/150x150.jpg
  packages/terra-profile-image/src/terra-dev-site/assets/170x251.jpg
  packages/terra-profile-image/src/terra-dev-site/doc/example/ProfileImageDefault.jsx
  packages/terra-profile-image/src/terra-dev-site/doc/example/ProfileImageFitTypes.jsx
  packages/terra-profile-image/src/terra-dev-site/doc/example/common/FitTypesWrapper.jsx
  packages/terra-profile-image/src/terra-dev-site/doc/profile-image/ProfileImage.1.doc.mdx
  packages/terra-profile-image/src/terra-dev-site/test/profile-image/ProfileImageDefault.test.jsx
  packages/terra-profile-image/tests/jest/ProfileImage.test.jsx
  packages/terra-profile-image/tests/jest/__snapshots__/ProfileImage.test.jsx.snap
Labels: enhancement, profile-image, ⭐️ Functionally Reviewed, ⭐️ UX Reviewed

#2875 [terra-toolbar] New Component
  packages/terra-toolbar/.npmignore
  packages/terra-toolbar/.npmrc
  packages/terra-toolbar/CHANGELOG.md
  packages/terra-toolbar/LICENSE
  packages/terra-toolbar/NOTICE
  packages/terra-toolbar/README.md
  packages/terra-toolbar/clinical-lowlight-wdio.conf.js
  packages/terra-toolbar/package.json
  packages/terra-toolbar/src/Toolbar.jsx
  packages/terra-toolbar/src/Toolbar.module.scss
  packages/terra-toolbar/src/terra-dev-site/doc/Toolbar/ChangeLog.2.doc.mdx
  packages/terra-toolbar/src/terra-dev-site/doc/Toolbar/Toolbar.1.doc.mdx
  packages/terra-toolbar/src/terra-dev-site/doc/example/DefaultToolbar.jsx
  packages/terra-toolbar/src/terra-dev-site/test/toolbar/CenterAlignToolbar.test.jsx
  packages/terra-toolbar/src/terra-dev-site/test/toolbar/DefaultToolbar.test.jsx
  packages/terra-toolbar/src/terra-dev-site/test/toolbar/EndAlignToolbar.test.jsx
  packages/terra-toolbar/src/terra-dev-site/test/toolbar/LongButtonToolbar.test.jsx
  packages/terra-toolbar/src/terra-dev-site/test/toolbar/StartAlignToolbar.test.jsx
  packages/terra-toolbar/tests/jest/Toolbar.test.jsx
  packages/terra-toolbar/tests/jest/__snapshots__/Toolbar.test.jsx.snap
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/toolbar-spec/Long_Content[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/toolbar-spec/Long_Content[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/Center_Align[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/Default[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/End_Align[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/Long_Content[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/Start_Align[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_large/toolbar-spec/Long_Content[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_medium/toolbar-spec/Long_Content[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_tiny/toolbar-spec/Center_Align[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_tiny/toolbar-spec/Default[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_tiny/toolbar-spec/End_Align[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_tiny/toolbar-spec/Long_Content[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/en/chrome_tiny/toolbar-spec/Start_Align[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/toolbar-spec/Long_Content[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/toolbar-spec/Long_Content[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/Center_Align[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/Default[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/End_Align[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/Long_Content[default].png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/Start_Align[default].png
  packages/terra-toolbar/tests/wdio/toolbar-spec.js
  packages/terra-toolbar/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-toolbar/themes/orion-fusion-theme/orion-fusion-theme.scss
  packages/terra-toolbar/wdio.conf.js
Labels: new component, toolbar, ⭐️ Functionally Reviewed, ⭐️ UX Reviewed

#2902 [terra-action-header] Fix links in documentation
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/src/terra-dev-site/doc/action-header/ActionHeader.1.doc.mdx
Labels: action header, docs

#2901 [terra-table] Fix refCallBack not working for table rows
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/tests/jest/Table.test.jsx
  packages/terra-table/tests/jest/__snapshots__/Table.test.jsx.snap
Labels: bug-fix, table

#2904 [terra-form-select] Fix onBlur event handling when selecting an option
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/src/single/Frame.jsx
  packages/terra-form-select/src/tag/Frame.jsx
Labels: bug-fix, form-select

#2698 Label prop type changed to string
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/src/Checkbox.jsx
  packages/terra-form-checkbox/src/CheckboxField.jsx
  packages/terra-form-checkbox/src/terra-dev-site/doc/form-checkbox/UpgradeGuide.3.doc.mdx
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/src/Field.jsx
  packages/terra-form-field/src/terra-dev-site/doc/form-field/UpgradeGuide.2.doc.mdx
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/InputField.jsx
  packages/terra-form-input/src/terra-dev-site/doc/form-input/UpgradeGuide.3.doc.mdx
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/src/Radio.jsx
  packages/terra-form-radio/src/RadioField.jsx
  packages/terra-form-radio/src/terra-dev-site/doc/form-radio/UpgradeGuide.3.doc.mdx
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/ComboboxField.jsx
  packages/terra-form-select/src/MultiSelectField.jsx
  packages/terra-form-select/src/SearchSelectField.jsx
  packages/terra-form-select/src/SelectField.jsx
  packages/terra-form-select/src/SingleSelectField.jsx
  packages/terra-form-select/src/TagSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/UpgradeGuide.13.doc.mdx
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/TextareaField.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/form-textarea/UpgradeGuide.3.doc.mdx
Labels: Major Version Bump, form-checkbox, form-field, form-input, form-radio, form-select, form-textarea

#2620 [terra-avatar] Changed Shared user variant to Generic Avatar variant
  CONTRIBUTORS.md
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/package.json
  packages/terra-avatar/src/common/Avatar.module.scss
  packages/terra-avatar/src/common/AvatarUtils.jsx
  packages/terra-avatar/src/index.js
  packages/terra-avatar/src/terra-dev-site/doc/avatar/About.1.doc.mdx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/Generic.4.doc.mdx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/SharedUser.4.doc.mdx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/UpgradeGuide.5.doc.mdx
  packages/terra-avatar/src/terra-dev-site/doc/example/generic/GenericAvatarVariants.jsx
  packages/terra-avatar/src/terra-dev-site/doc/example/generic/GenericAvatarVariantsWrapper.jsx
  packages/terra-avatar/src/terra-dev-site/doc/example/shared-user/SharedUser.jsx
  packages/terra-avatar/src/terra-dev-site/doc/example/shared-user/SharedUserColorVariants.jsx
  packages/terra-avatar/src/terra-dev-site/doc/example/shared-user/SharedUserSize.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/generic/Provider.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/generic/SharedUser.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/generic/SingleUser.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/shared-user/DefaultSharedUser.test.jsx
  packages/terra-avatar/src/variants/Generic.jsx
  packages/terra-avatar/tests/jest/Generic.test.jsx
  packages/terra-avatar/tests/jest/SharedUser.test.jsx
  packages/terra-avatar/tests/jest/__snapshots__/Generic.test.jsx.snap
  packages/terra-avatar/tests/jest/__snapshots__/SharedUser.test.jsx.snap
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Icon_Provider[default].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Icon_Shared_User[default].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Icon_Single_User[default].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Icon_Provider[default].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Icon_Shared_User[default].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Icon_Single_User[default].png
  packages/terra-avatar/tests/wdio/avatar-common-spec.js
Labels: Major Version Bump, avatar, ⭐️ UX Reviewed

#2621 [terra-avatar] Changed fallback to initials from user icon for avatar
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/src/common/AvatarUtils.jsx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/Avatar.2.doc.mdx
  packages/terra-avatar/src/terra-dev-site/doc/avatar/UpgradeGuide.5.doc.mdx
  packages/terra-avatar/src/terra-dev-site/doc/example/avatar/AvatarColorVariants.jsx
  packages/terra-avatar/src/terra-dev-site/doc/example/avatar/AvatarImage.jsx
  packages/terra-avatar/src/terra-dev-site/doc/example/avatar/AvatarIsDeceased.jsx
  packages/terra-avatar/src/terra-dev-site/doc/example/avatar/AvatarSize.jsx
  packages/terra-avatar/src/terra-dev-site/doc/example/avatar/AvatarUser.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/ImageAvatar.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/ImageAvatarShortAndWide.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/ImageAvatarTallAndNarrow.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/ImageGap.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/InvalidImageAvatar.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/InvalidImageAvatarWithInitials.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/IsDeceasedAvatar.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/IsDeceasedImageAvatar.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/OneInitialAvatar.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/TwoInitialsAvatar.test.jsx
  packages/terra-avatar/src/terra-dev-site/test/avatar/avatar/UserAvatar.test.jsx
  packages/terra-avatar/src/variants/Avatar.jsx
  packages/terra-avatar/src/variants/Facility.jsx
  packages/terra-avatar/tests/jest/Avatar.test.jsx
  packages/terra-avatar/tests/jest/__snapshots__/Avatar.test.jsx.snap
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Deceased_Avatar[default].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Icon_Avatar[default].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Invalid_Image_Avatar[default].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Invalid_Image_Avatar_With_Initials[default].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Deceased_Avatar[default].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Invalid_Image_Avatar_With_Initials[default].png
  packages/terra-avatar/tests/wdio/avatar-common-spec.js
Labels: Major Version Bump, avatar, ⭐️ Functionally Reviewed, ⭐️ UX Reviewed

#2881 [terra-heading] Update docs to use mdx syntax
  packages/terra-heading/CHANGELOG.md
  packages/terra-heading/README.md
  packages/terra-heading/docs/README.md
  packages/terra-heading/docs/heading-colors.md
  packages/terra-heading/docs/heading-levels.md
  packages/terra-heading/docs/heading-sizes.md
  packages/terra-heading/docs/heading-variations.md
  packages/terra-heading/docs/heading-visually-hidden.md
  packages/terra-heading/docs/heading-weights.md
  packages/terra-heading/package.json
  packages/terra-heading/src/terra-dev-site/doc/example/HeadingVisuallyHidden.jsx
  packages/terra-heading/src/terra-dev-site/doc/heading/ChangeLog.2.doc.jsx
  packages/terra-heading/src/terra-dev-site/doc/heading/ChangeLog.3.doc.mdx
  packages/terra-heading/src/terra-dev-site/doc/heading/Heading.1.doc.jsx
  packages/terra-heading/src/terra-dev-site/doc/heading/Heading.1.doc.mdx
  packages/terra-heading/src/terra-dev-site/doc/heading/UpgradeGuide.2.doc.mdx
Labels: docs, heading

#2861 [terra-button] Fixes focusing issue on button long press, and focus not received on closing modals.
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/src/terra-dev-site/test/button/ButtonModalFocus.test.jsx
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Dismissing_Modal_should_focus_the_button[Button_has_focus].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Dismissing_Modal_should_focus_the_button[Button_has_focus].png
  packages/terra-button/tests/wdio/button-spec.js
Labels: button

#2912 Update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs
