Repository cerner/terra-core, pull requests merged in 2020-05, with the labels that each got.

#2929 [terra-button] Allow hover styles to apply only on non-touch devices.
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/src/ButtonGroup.module.scss
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/_mixins.scss
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/Action-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/De-emphasis-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/Dismissing_Modal_should_focus_the_button[Button_has_focus].png
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/Emphasis-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/Ghost-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/Neutral-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/Programmatic_Focus[Button_1_focused_programmatically].png
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/Programmatic_Focus[Button_2_focused_programmatically].png
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/Programmatic_Focus[Button_3_clicked_without_focus_styles].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Action-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/De-emphasis-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Dismissing_Modal_should_focus_the_button[Button_has_focus].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Emphasis-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Ghost-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Neutral-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Programmatic_Focus[Button_1_focused_programmatically].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Programmatic_Focus[Button_2_focused_programmatically].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Programmatic_Focus[Button_3_clicked_without_focus_styles].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Action-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/De-emphasis-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Dismissing_Modal_should_focus_the_button[Button_has_focus].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Emphasis-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Ghost-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Neutral-Hovered[default].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Programmatic_Focus[Button_1_focused_programmatically].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Programmatic_Focus[Button_2_focused_programmatically].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Programmatic_Focus[Button_3_clicked_without_focus_styles].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Utility-Hovered[default].png
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/Controlled_Paginator[1].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator[1].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Paginator[1].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator[1].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Paginator[1].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator[1].png
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Search_Field_in_Focus[with_focus].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/Setting_Value[search].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Search_Field_in_Focus[with_focus].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/Setting_Value[search].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Search_Field_in_Focus[with_focus].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/Setting_Value[search].png
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/toggle-button-spec/Default[closed].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/en/chrome_medium/toggle-button-spec/Default[closed].png
  packages/terra-toggle-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/toggle-button-spec/Default[closed].png
Labels: bug-fix, button, button group, ⭐️ Functionally Reviewed, ⭐️ UX Reviewed

#2950 [dynamic-grid] Updated syntax for empty props description
  packages/terra-dynamic-grid/CHANGELOG.md
  packages/terra-dynamic-grid/src/DynamicGrid.jsx
  packages/terra-dynamic-grid/src/Region.jsx
Labels: docs

#2946 [terra-form-select] Fixes inconsistent hover interactions
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/src/single/Frame.jsx
  packages/terra-form-select/src/tag/Frame.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/DefaultHover.test.jsx
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/combobox_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/combobox_should_open_close_and_open_dropdown_by_clicking_root_and_hover_first_option[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/default_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/default_should_open_close_and_open_dropdown_by_clicking_root_and_hover_first_option[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/default_should_open_dropdown_and_ensure_selected_option_is_hovered[default-selected-and-hovered].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/multiple_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/multiple_should_open_close_and_open_dropdown_by_clicking_root_and_hover_first_option[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/search_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/search_should_open_close_and_open_dropdown_by_clicking_root_and_hover_first_option[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/tag_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/tag_should_open_close_and_open_dropdown_by_clicking_root_and_hover_first_option[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/combobox_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/combobox_should_open_close_and_open_dropdown_by_clicking_root_and_hover_first_option[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/default_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/default_should_open_close_and_open_dropdown_by_clicking_root_and_hover_first_option[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/default_should_open_dropdown_and_ensure_selected_option_is_hovered[default-selected-and-hovered].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/multiple_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/multiple_should_open_close_and_open_dropdown_by_clicking_root_and_hover_first_option[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_should_open_close_and_open_dropdown_by_clicking_root_and_hover_first_option[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/tag_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/tag_should_open_close_and_open_dropdown_by_clicking_root_and_hover_first_option[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: bug-fix, form-select

#2948 Update package.json due to no longer needed eslint config
  package.json
  packages/terra-doc-template/CHANGELOG.md
  packages/terra-doc-template/src/terra-dev-site/doc/doc-template/Placeholder.2.doc.jsx
Labels: testing

#2955 [terra-action-footer] Add theme-context
  packages/terra-action-footer/CHANGELOG.md
  packages/terra-action-footer/package.json
  packages/terra-action-footer/src/BlockActionFooter.jsx
  packages/terra-action-footer/src/BlockActionFooter.module.scss
  packages/terra-action-footer/src/clinical-lowlight-theme/BlockActionFooter.module.scss
  packages/terra-action-footer/src/orion-fusion-theme/BlockActionFooter.module.scss
  packages/terra-action-footer/tests/jest/ActionFooter.test.jsx
  packages/terra-action-footer/tests/jest/BlockActionFooter.test.jsx
  packages/terra-action-footer/tests/jest/CenteredActionFooter.test.jsx
  packages/terra-action-footer/tests/jest/__snapshots__/ActionFooter.test.jsx.snap
  packages/terra-action-footer/tests/jest/__snapshots__/BlockActionFooter.test.jsx.snap
  packages/terra-action-footer/tests/jest/__snapshots__/CenteredActionFooter.test.jsx.snap
  packages/terra-action-footer/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-action-footer/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: action footer

#2957 [terra-badge] Add theme-context
  packages/terra-badge/CHANGELOG.md
  packages/terra-badge/package.json
  packages/terra-badge/src/Badge.jsx
  packages/terra-badge/src/Badge.module.scss
  packages/terra-badge/src/clinical-lowlight-theme/Badge.module.scss
  packages/terra-badge/src/orion-fusion-theme/Badge.module.scss
  packages/terra-badge/tests/jest/Badge.test.jsx
  packages/terra-badge/tests/jest/__snapshots__/Badge.test.jsx.snap
  packages/terra-badge/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-badge/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: badge

#2943 [terra-search-field] Fixed Invalid theme variables
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.module.scss
Labels: bug-fix, search field

#2920 [terra-form-select] Fixed detach issue for dropdowns with isTouchAccessible.
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/shared/_Dropdown.module.scss
  packages/terra-form-select/src/shared/_FrameUtil.js
  packages/terra-form-select/src/terra-dev-site/test/form-select/common/Select.test.module.scss
  packages/terra-form-select/src/terra-dev-site/test/form-select/isTouchAccessibleBottom.test.jsx
  packages/terra-form-select/tests/jest/FrameUtil.test.jsx
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/combobox_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/default_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/default_should_open_dropdown_and_ensure_selected_option_is_hovered[default-selected-and-hovered].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/dropdown_should_not_detach_on_search[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/dropdown_should_not_detach_on_search[open-dropdown].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/multiple_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/tag_should_hover_first_option_after_reopening_while_clicking_root_to_close[open-dropdown-hover-check].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/dropdown_should_not_detach_on_search[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-spec/dropdown_should_not_detach_on_search[open-dropdown].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/dropdown_should_not_detach_on_search[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/dropdown_should_not_detach_on_search[open-dropdown].png
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: bug-fix, form-select, ⭐️ Functionally Reviewed

#2961 Set placeholders opacity to 1 to make firefox color-contrast consistent with other browsers
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/Input.module.scss
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/shared/_Frame.module.scss
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/Textarea.module.scss
Labels: form-input, form-select, form-textarea, ⭐️ UX Reviewed

#2963 [terra-divider] Add theme-context
  packages/terra-divider/CHANGELOG.md
  packages/terra-divider/package.json
  packages/terra-divider/src/Divider.jsx
  packages/terra-divider/src/Divider.module.scss
  packages/terra-divider/src/clinical-lowlight-theme/Divider.module.scss
  packages/terra-divider/src/orion-fusion-theme/Divider.module.scss
  packages/terra-divider/tests/jest/Divider.test.jsx
  packages/terra-divider/tests/jest/__snapshots__/Divider.test.jsx.snap
  packages/terra-divider/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-divider/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: divider

#2956 [terra-avatar] Add theme-context
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/package.json
  packages/terra-avatar/src/clinical-lowlight-theme/Avatar.module.scss
  packages/terra-avatar/src/common/Avatar.module.scss
  packages/terra-avatar/src/orion-fusion-theme/Avatar.module.scss
  packages/terra-avatar/src/variants/Avatar.jsx
  packages/terra-avatar/src/variants/Facility.jsx
  packages/terra-avatar/src/variants/Generic.jsx
  packages/terra-avatar/tests/jest/Avatar.test.jsx
  packages/terra-avatar/tests/jest/Facility.test.jsx
  packages/terra-avatar/tests/jest/Generic.test.jsx
  packages/terra-avatar/tests/jest/__snapshots__/Avatar.test.jsx.snap
  packages/terra-avatar/tests/jest/__snapshots__/Facility.test.jsx.snap
  packages/terra-avatar/tests/jest/__snapshots__/Generic.test.jsx.snap
  packages/terra-avatar/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-avatar/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: avatar

#2958 [terra-button-group] Add theme-context
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/package.json
  packages/terra-button-group/src/ButtonGroup.jsx
  packages/terra-button-group/src/ButtonGroup.module.scss
  packages/terra-button-group/src/ButtonGroupButton.jsx
  packages/terra-button-group/src/clinical-lowlight-theme/ButtonGroup.module.scss
  packages/terra-button-group/src/orion-fusion-theme/ButtonGroup.module.scss
  packages/terra-button-group/tests/jest/ButtonGroup.test.jsx
  packages/terra-button-group/tests/jest/ButtonGroupButton.test.jsx
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroup.test.jsx.snap
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroupButton.test.jsx.snap
  packages/terra-button-group/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-button-group/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: button group

#2959 [terra-demographics-banner] Add theme-context
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/package.json
  packages/terra-demographics-banner/src/DemographicsBanner.module.scss
  packages/terra-demographics-banner/src/_LargeDemographicsBannerDisplay.jsx
  packages/terra-demographics-banner/src/_SmallDemographicsBannerDisplay.jsx
  packages/terra-demographics-banner/src/clinical-lowlight-theme/DemographicsBanner.module.scss
  packages/terra-demographics-banner/src/orion-fusion-theme/DemographicsBanner.module.scss
  packages/terra-demographics-banner/tests/jest/_LargeDemographicsBannerDisplay.test.jsx
  packages/terra-demographics-banner/tests/jest/_SmallDemographicsBannerDisplay.test.jsx
  packages/terra-demographics-banner/tests/jest/__snapshots__/_LargeDemographicsBannerDisplay.test.jsx.snap
  packages/terra-demographics-banner/tests/jest/__snapshots__/_SmallDemographicsBannerDisplay.test.jsx.snap
  packages/terra-demographics-banner/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-demographics-banner/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: demographics banner

#2966 [terra-icon] OCS Icon version bump
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-icon/src/IconExports.js
  packages/terra-icon/src/cerner-one-icons.csv
  packages/terra-icon/src/icon-data.json
  packages/terra-icon/src/icon/IconBluetooth.jsx
  packages/terra-icon/src/svg/bluetooth.svg
  packages/terra-icon/src/terra-dev-site/doc/example/IconThemeable.jsx
  packages/terra-icon/src/terra-dev-site/test/icon/IconAll.test.jsx
  packages/terra-icon/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/icon-spec/AllIcons[default].png
  packages/terra-icon/tests/wdio/__snapshots__/reference/en/chrome_huge/icon-spec/AllIcons[default].png
  packages/terra-icon/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/icon-spec/AllIcons[default].png
Labels: icon

#2968 [terra-dialog] Add theme-context
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/package.json
  packages/terra-dialog/src/Dialog.jsx
  packages/terra-dialog/src/Dialog.module.scss
  packages/terra-dialog/src/clinical-lowlight-theme/Dialog.module.scss
  packages/terra-dialog/src/orion-fusion-theme/Dialog.module.scss
  packages/terra-dialog/tests/jest/Dialog.test.jsx
  packages/terra-dialog/tests/jest/__snapshots__/Dialog.test.jsx.snap
  packages/terra-dialog/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-dialog/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: dialog

#2972 [terra-form-input][terra-form-textarea] Update WDIO test for hover styles in Internal themes
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-input-spec/Incomplete_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-input-spec/Invalid_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-input-spec/Incomplete_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-input-spec/Invalid_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/en/chrome_large/form-input-spec/Incomplete_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/en/chrome_large/form-input-spec/Invalid_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-input-spec/Incomplete_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-input-spec/Invalid_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/form-input-spec/Incomplete_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/form-input-spec/Invalid_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/form-input-spec/Incomplete_InputField[default].png
  packages/terra-form-input/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/form-input-spec/Invalid_InputField[default].png
  packages/terra-form-input/tests/wdio/form-input-spec.js
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_large/form-textarea-spec/Blocks_autoresizing_for_when_DocumentTouch_exists_and_browser_screen_is_not_desktop_size[0].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_large/form-textarea-spec/Blocks_autoresizing_for_when_maxTouchPoints_exists_and_browser_screen_is_not_desktop_size[0].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_large/form-textarea-spec/Blocks_autoresizing_for_when_msMaxTouchPoints_exists_and_browser_screen_is_not_desktop_size[0].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_large/form-textarea-spec/Blocks_autoresizing_for_when_ontouch_exists_and_browser_screen_is_not_desktop_size[0].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_large/form-textarea-spec/Resizes_when_given_several_rows_of_input[0].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-textarea-spec/Blocks_autoresizing_for_when_DocumentTouch_exists_and_browser_screen_is_not_desktop_size[0].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-textarea-spec/Blocks_autoresizing_for_when_maxTouchPoints_exists_and_browser_screen_is_not_desktop_size[0].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-textarea-spec/Blocks_autoresizing_for_when_msMaxTouchPoints_exists_and_browser_screen_is_not_desktop_size[0].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-textarea-spec/Blocks_autoresizing_for_when_ontouch_exists_and_browser_screen_is_not_desktop_size[0].png
  packages/terra-form-textarea/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-textarea-spec/Resizes_when_given_several_rows_of_input[0].png
  packages/terra-form-textarea/tests/wdio/form-textarea-spec.js
Labels: :package: terra-form-input, :package: terra-form-textarea

#2971 [terra-form-checkbox] Add theme-context
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/package.json
  packages/terra-form-checkbox/src/Checkbox.jsx
  packages/terra-form-checkbox/src/Checkbox.module.scss
  packages/terra-form-checkbox/src/CheckboxField.jsx
  packages/terra-form-checkbox/src/CheckboxField.module.scss
  packages/terra-form-checkbox/src/clinical-lowlight-theme/Checkbox.module.scss
  packages/terra-form-checkbox/src/clinical-lowlight-theme/CheckboxField.module.scss
  packages/terra-form-checkbox/src/orion-fusion-theme/Checkbox.module.scss
  packages/terra-form-checkbox/src/orion-fusion-theme/CheckboxField.module.scss
  packages/terra-form-checkbox/tests/jest/Checkbox.test.jsx
  packages/terra-form-checkbox/tests/jest/CheckboxField.test.jsx
  packages/terra-form-checkbox/tests/jest/__snapshots__/Checkbox.test.jsx.snap
  packages/terra-form-checkbox/tests/jest/__snapshots__/CheckboxField.test.jsx.snap
  packages/terra-form-checkbox/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-form-checkbox/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-form-checkbox

#2969 [terra-dropdown-button] Add theme-context
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/package.json
  packages/terra-dropdown-button/src/DropdownButton.jsx
  packages/terra-dropdown-button/src/DropdownButton.module.scss
  packages/terra-dropdown-button/src/Item.jsx
  packages/terra-dropdown-button/src/Item.module.scss
  packages/terra-dropdown-button/src/SplitButton.jsx
  packages/terra-dropdown-button/src/SplitButton.module.scss
  packages/terra-dropdown-button/src/_DropdownButtonBase.jsx
  packages/terra-dropdown-button/src/_DropdownButtonBase.module.scss
  packages/terra-dropdown-button/src/_DropdownList.jsx
  packages/terra-dropdown-button/src/_DropdownList.module.scss
  packages/terra-dropdown-button/src/clinical-lowlight-theme/DropdownButton.module.scss
  packages/terra-dropdown-button/src/clinical-lowlight-theme/DropdownButtonBase.module.scss
  packages/terra-dropdown-button/src/clinical-lowlight-theme/DropdownList.module.scss
  packages/terra-dropdown-button/src/clinical-lowlight-theme/Item.module.scss
  packages/terra-dropdown-button/src/clinical-lowlight-theme/SplitButton.module.scss
  packages/terra-dropdown-button/src/orion-fusion-theme/DropdownButton.module.scss
  packages/terra-dropdown-button/src/orion-fusion-theme/DropdownButtonBase.module.scss
  packages/terra-dropdown-button/src/orion-fusion-theme/DropdownList.module.scss
  packages/terra-dropdown-button/src/orion-fusion-theme/Item.module.scss
  packages/terra-dropdown-button/src/orion-fusion-theme/SplitButton.module.scss
  packages/terra-dropdown-button/tests/jest/DropdownButton.test.jsx
  packages/terra-dropdown-button/tests/jest/DropdownButtonBase.test.jsx
  packages/terra-dropdown-button/tests/jest/DropdownList.test.jsx
  packages/terra-dropdown-button/tests/jest/Item.test.jsx
  packages/terra-dropdown-button/tests/jest/SplitButton.test.jsx
  packages/terra-dropdown-button/tests/jest/__snapshots__/DropdownButton.test.jsx.snap
  packages/terra-dropdown-button/tests/jest/__snapshots__/DropdownButtonBase.test.jsx.snap
  packages/terra-dropdown-button/tests/jest/__snapshots__/DropdownList.test.jsx.snap
  packages/terra-dropdown-button/tests/jest/__snapshots__/Item.test.jsx.snap
  packages/terra-dropdown-button/tests/jest/__snapshots__/SplitButton.test.jsx.snap
  packages/terra-dropdown-button/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-dropdown-button/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-dropdown-button

#2974 [terra-form-field] Add theme-context
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/package.json
  packages/terra-form-field/src/Field.jsx
  packages/terra-form-field/src/Field.module.scss
  packages/terra-form-field/src/clinical-lowlight-theme/Field.module.scss
  packages/terra-form-field/src/orion-fusion-theme/Field.module.scss
  packages/terra-form-field/tests/jest/Field.test.jsx
  packages/terra-form-field/tests/jest/__snapshots__/Field.test.jsx.snap
  packages/terra-form-field/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-form-field/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-form-field

#2975 [terra-form-fieldset] Add theme-context
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/package.json
  packages/terra-form-fieldset/src/Fieldset.jsx
  packages/terra-form-fieldset/src/Fieldset.module.scss
  packages/terra-form-fieldset/src/clinical-lowlight-theme/Fieldset.module.scss
  packages/terra-form-fieldset/src/orion-fusion-theme/Fieldset.module.scss
  packages/terra-form-fieldset/tests/jest/FormFieldset.test.jsx
  packages/terra-form-fieldset/tests/jest/__snapshots__/FormFieldset.test.jsx.snap
  packages/terra-form-fieldset/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-form-fieldset/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-form-fieldset

#2933 [terra-button-group] Fix button losing focus when switching between windows
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/src/ButtonGroupButton.jsx
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroup.test.jsx.snap
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroupButton.test.jsx.snap
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Button_Focus[after_switching_window].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Button_Focus[before_switching_window].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Button_Focus[after_switching_window].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Button_Focus[before_switching_window].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/Button_Focus[after_switching_window].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/Button_Focus[before_switching_window].png
  packages/terra-button-group/tests/wdio/button-group-spec.js
Labels: :package: terra-button-group, Functional Review Ready, bug-fix

#2977 [terra-form-radio] Add theme context
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/package.json
  packages/terra-form-radio/src/Radio.jsx
  packages/terra-form-radio/src/Radio.module.scss
  packages/terra-form-radio/src/RadioField.jsx
  packages/terra-form-radio/src/RadioField.module.scss
  packages/terra-form-radio/src/clinical-lowlight-theme/Radio.module.scss
  packages/terra-form-radio/src/clinical-lowlight-theme/RadioField.module.scss
  packages/terra-form-radio/src/orion-fusion-theme/Radio.module.scss
  packages/terra-form-radio/src/orion-fusion-theme/RadioField.module.scss
  packages/terra-form-radio/tests/jest/Radio.test.jsx
  packages/terra-form-radio/tests/jest/RadioField.test.jsx
  packages/terra-form-radio/tests/jest/__snapshots__/Radio.test.jsx.snap
  packages/terra-form-radio/tests/jest/__snapshots__/RadioField.test.jsx.snap
  packages/terra-form-radio/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-form-radio/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-form-radio

#2982 [terra-breakpoints] Handle mobile device orientation change
  packages/terra-breakpoints/CHANGELOG.md
  packages/terra-breakpoints/src/ActiveBreakpointProvider.jsx
Labels: :package: terra-breakpoints, bug-fix

#2988 [terra-tag] Example spelling Correction
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/src/terra-dev-site/doc/tag/Tag.1.doc.mdx
Labels: bug

#2978 [terra-form-textarea] Add theme context.
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/package.json
  packages/terra-form-textarea/src/Textarea.jsx
  packages/terra-form-textarea/src/Textarea.module.scss
  packages/terra-form-textarea/src/clinical-lowlight-theme/Textarea.module.scss
  packages/terra-form-textarea/src/orion-fusion-theme/Textarea.module.scss
  packages/terra-form-textarea/tests/jest/Textarea.test.jsx
  packages/terra-form-textarea/tests/jest/TextareaField.test.jsx
  packages/terra-form-textarea/tests/jest/__snapshots__/Textarea.test.jsx.snap
  packages/terra-form-textarea/tests/jest/__snapshots__/TextareaField.test.jsx.snap
  packages/terra-form-textarea/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-form-textarea/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-form-textarea

#2987 [terra-grid] Add theme context
  packages/terra-grid/CHANGELOG.md
  packages/terra-grid/package.json
  packages/terra-grid/src/Grid.module.scss
  packages/terra-grid/src/GridColumn.jsx
  packages/terra-grid/src/GridRow.jsx
  packages/terra-grid/src/clinical-lowlight-theme/Grid.module.scss
  packages/terra-grid/src/orion-fusion-theme/Grid.modules.scss
  packages/terra-grid/tests/jest/GridColumn.test.jsx
  packages/terra-grid/tests/jest/GridRow.test.jsx
  packages/terra-grid/tests/jest/__snapshots__/GridColumn.test.jsx.snap
  packages/terra-grid/tests/jest/__snapshots__/GridRow.test.jsx.snap
  packages/terra-grid/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-grid

#2998 [terra-progress-bar] Add theme context
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/package.json
  packages/terra-progress-bar/src/ProgressBar.jsx
  packages/terra-progress-bar/src/ProgressBar.module.scss
  packages/terra-progress-bar/src/clinical-lowlight-theme/ProgressBar.module.scss
  packages/terra-progress-bar/src/orion-fusion-theme/ProgressBar.module.scss
  packages/terra-progress-bar/tests/jest/ProgressBar.test.jsx
  packages/terra-progress-bar/tests/jest/__snapshots__/ProgressBar.test.jsx.snap
  packages/terra-progress-bar/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-progress-bar/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-progress-bar

#2990 [terra-image] Add theme-context
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/tests/jest/__snapshots__/Avatar.test.jsx.snap
  packages/terra-avatar/tests/jest/__snapshots__/Facility.test.jsx.snap
  packages/terra-image/CHANGELOG.md
  packages/terra-image/package.json
  packages/terra-image/src/Image.jsx
  packages/terra-image/src/Image.module.scss
  packages/terra-image/src/clinical-lowlight-theme/Image.module.scss
  packages/terra-image/src/orion-fusion-theme/Image.module.scss
  packages/terra-image/tests/jest/Image.test.jsx
  packages/terra-image/tests/jest/__snapshots__/Image.test.jsx.snap
  packages/terra-image/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-image/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-image

#2984 [terra-button] [terra-button-group] Button not losing focus.
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/src/ButtonGroup.jsx
  packages/terra-button-group/src/ButtonGroupButton.jsx
  packages/terra-button-group/src/terra-dev-site/test/button-group/ProgrammaticDisabled.test.jsx
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Programmatic_Disabled[Button_has_focus].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Programmatic_Disabled[Button_is_Disabled].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-group-spec/Programmatic_Disabled[Button_has_focus].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-group-spec/Programmatic_Disabled[Button_is_Disabled].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Programmatic_Disabled[Button_has_focus].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Programmatic_Disabled[Button_is_Disabled].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-group-spec/Programmatic_Disabled[Button_has_focus].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-group-spec/Programmatic_Disabled[Button_is_Disabled].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/Programmatic_Disabled[Button_has_focus].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/Programmatic_Disabled[Button_is_Disabled].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-group-spec/Programmatic_Disabled[Button_has_focus].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-group-spec/Programmatic_Disabled[Button_is_Disabled].png
  packages/terra-button-group/tests/wdio/button-group-spec.js
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/src/terra-dev-site/test/button/ProgrammaticDisabled.test.jsx
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/Programmatic_Disabled[Button_has_focus].png
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/Programmatic_Disabled[Button_is_Disabled].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Programmatic_Disabled[Button_has_focus].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Programmatic_Disabled[Button_is_Disabled].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Programmatic_Disabled[Button_has_focus].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Programmatic_Disabled[Button_is_Disabled].png
  packages/terra-button/tests/wdio/button-spec.js
Labels: :package: terra-button, :package: terra-button-group, :star: Functionally Reviewed, :star: UX Reviewed, bug-fix

#2994 [terra-overlay] Add theme context
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/package.json
  packages/terra-overlay/src/Overlay.jsx
  packages/terra-overlay/src/Overlay.module.scss
  packages/terra-overlay/src/clinical-lowlight-theme/Overlay.module.scss
  packages/terra-overlay/src/orion-fusion-theme/Overlay.module.scss
  packages/terra-overlay/tests/jest/Overlay.test.jsx
  packages/terra-overlay/tests/jest/__snapshots__/LoadingOverlay.test.jsx.snap
  packages/terra-overlay/tests/jest/__snapshots__/Overlay.test.jsx.snap
  packages/terra-overlay/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-overlay/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-overlay

#2995 [terra-paginator] Add theme context
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/package.json
  packages/terra-paginator/src/ControlledPaginator.jsx
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/Paginator.module.scss
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-paginator/src/clinical-lowlight-theme/Paginator.module.scss
  packages/terra-paginator/src/orion-fusion-theme/Paginator.module.scss
  packages/terra-paginator/tests/jest/ControlledPaginator.test.jsx
  packages/terra-paginator/tests/jest/ControlledProgressivePaginator.test.jsx
  packages/terra-paginator/tests/jest/Paginator.test.jsx
  packages/terra-paginator/tests/jest/ProgressivePaginator.test.jsx
  packages/terra-paginator/tests/jest/__snapshots__/ControlledPaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ControlledProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/Paginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ProgressivePaginator.test.jsx.snap
  packages/terra-paginator/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-paginator/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: :package: terra-pagination
