Repository cerner/terra-core, pull requests merged in 2020-07, with the labels that each got.

#3060 [terra-dynamic-grid] Fixing linter errors
  packages/terra-dynamic-grid/CHANGELOG.md
  packages/terra-dynamic-grid/src/styles.js
  packages/terra-dynamic-grid/tests/jest/GridStyles.test.jsx
Labels: :package: terra-dynamic-grid

#3024 [terra-table] Rows and Header disabled checkbox accessibility fix
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/Table.jsx
  packages/terra-table/src/subcomponents/CheckMarkCell.module.scss
  packages/terra-table/src/subcomponents/HeaderCheckMarkCell.module.scss
  packages/terra-table/src/subcomponents/_CheckMarkCell.jsx
  packages/terra-table/src/subcomponents/_HeaderCheckMarkCell.jsx
  packages/terra-table/src/terra-dev-site/doc/example/RowExample.jsx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/MultiSelectTable.2.doc.mdx
  packages/terra-table/src/terra-dev-site/doc/table/guides.5/SingleSelectTable.1.doc.mdx
  packages/terra-table/tests/jest/subcomponents/__snapshots__/CheckMarkCell.test.jsx.snap
  packages/terra-table/tests/jest/subcomponents/__snapshots__/HeaderCheckMarkCell.test.jsx.snap
Labels: :package: terra-table, :star: Accessibility Reviewed, :star: UX Reviewed, bug-fix

#3066 [terra-form-select] Fix input focus on mobile for tag and multiselect
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/shared/_Frame.module.scss
  packages/terra-form-select/src/tag/Frame.jsx
  packages/terra-form-select/tests/jest/Frame.test.jsx
Labels: :package: terra-form-select, :star: Functionally Reviewed, Functional Review Ready, bug-fix

#3069 [terra-table] Table themable variable cleanup
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/clinical-lowlight-theme/Table.module.scss
  packages/terra-table/src/orion-fusion-theme/Table.module.scss
Labels: :package: terra-table, Theming, bug-fix

#3080 [terra-table]Align rows and columns for selectable tables.
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/CheckMarkCell.module.scss
  packages/terra-table/src/subcomponents/HeaderCheckMarkCell.module.scss
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Multi_Demo[default].png
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/table-spec/Multi_Demo[default].png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/Multi_Demo[default].png
  packages/terra-table/tests/wdio/table-spec.js
Labels: :package: terra-table, bug-fix

#3078 [terra-search-field] Removed the terra-form-input and replaced it with a native input
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/src/SearchField.module.scss
  packages/terra-search-field/src/clinical-lowlight-theme/SearchField.module.scss
  packages/terra-search-field/src/orion-fusion-theme/SearchField.module.scss
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldPlaceholder.jsx
  packages/terra-search-field/src/terra-dev-site/test/search-field/PlaceholderSearchField.test.jsx
  packages/terra-search-field/src/terra-dev-site/test/search-field/SearchFieldWithPlaceholder.test.jsx
  packages/terra-search-field/src/terra-dev-site/test/search-field/SearchFieldWithPlaceholderDisabled.test.jsx
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/With_Placeholder[placeholder].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/With_Placeholder_Disabled[placeholder].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Placeholder[placeholder].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Placeholder_Disabled[placeholder].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/With_Placeholder[placeholder].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/With_Placeholder_Disabled[placeholder].png
  packages/terra-search-field/tests/wdio/search-field-spec.js
Labels: :package: terra-search-field, :star: UX Reviewed, UX Review Required
