Repository cerner/terra-core, pull requests merged in 2020-04, with the labels that each got.

#2916 [terra-form-select] Update isTouchAccessible prop description
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/Combobox.jsx
  packages/terra-form-select/src/ComboboxField.jsx
  packages/terra-form-select/src/MultiSelect.jsx
  packages/terra-form-select/src/MultiSelectField.jsx
  packages/terra-form-select/src/SearchSelect.jsx
  packages/terra-form-select/src/SearchSelectField.jsx
  packages/terra-form-select/src/Select.jsx
  packages/terra-form-select/src/SelectField.jsx
  packages/terra-form-select/src/TagSelect.jsx
  packages/terra-form-select/src/TagSelectField.jsx
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/src/shared/_Dropdown.jsx
  packages/terra-form-select/src/tag/Frame.jsx
Labels: form-select

#2843 [terra-alert] Added role for JAWS to read alerts properly
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/Alert.jsx
  packages/terra-alert/src/terra-dev-site/test/alert/Alert.test.jsx
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
Labels: accessibility, alert, bug-fix, ⭐️ Functionally Reviewed, ⭐️ UX Reviewed

#2886 [terra-text] Update docs to use mdx syntax
  packages/terra-text/CHANGELOG.md
  packages/terra-text/README.md
  packages/terra-text/docs/README.md
  packages/terra-text/docs/text-colors.md
  packages/terra-text/docs/text-font-sizes.md
  packages/terra-text/docs/text-variations.md
  packages/terra-text/docs/text-visually-hidden.md
  packages/terra-text/docs/text-weights.md
  packages/terra-text/docs/text-word-wrapped.md
  packages/terra-text/package.json
  packages/terra-text/src/Text.jsx
  packages/terra-text/src/terra-dev-site/doc/example/TextColors.jsx
  packages/terra-text/src/terra-dev-site/doc/example/TextVisuallyHidden.jsx
  packages/terra-text/src/terra-dev-site/doc/text/ChangeLog.2.doc.jsx
  packages/terra-text/src/terra-dev-site/doc/text/ChangeLog.3.doc.mdx
  packages/terra-text/src/terra-dev-site/doc/text/Text.1.doc.jsx
  packages/terra-text/src/terra-dev-site/doc/text/Text.1.doc.mdx
  packages/terra-text/src/terra-dev-site/doc/text/UpgradeGuide.2.doc.mdx
Labels: docs, text

#2863 [terra-progress-bar] Update docs to use mdx syntax
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/README.md
  packages/terra-progress-bar/docs/README.md
  packages/terra-progress-bar/docs/progress-bar-color.md
  packages/terra-progress-bar/docs/progress-bar-customized-colors.md
  packages/terra-progress-bar/docs/progress-bar-two-colors.md
  packages/terra-progress-bar/package.json
  packages/terra-progress-bar/src/ProgressBar.jsx
  packages/terra-progress-bar/src/terra-dev-site/doc/example/ProgressBarCustomizedColors.jsx
  packages/terra-progress-bar/src/terra-dev-site/doc/progress-bar/ChangeLog.3.doc.jsx
  packages/terra-progress-bar/src/terra-dev-site/doc/progress-bar/ChangeLog.3.doc.mdx
  packages/terra-progress-bar/src/terra-dev-site/doc/progress-bar/ProgressBar.1.doc.jsx
  packages/terra-progress-bar/src/terra-dev-site/doc/progress-bar/ProgressBar.1.doc.mdx
  packages/terra-progress-bar/src/terra-dev-site/doc/progress-bar/UpgradeGuide.2.doc.jsx
  packages/terra-progress-bar/src/terra-dev-site/doc/progress-bar/UpgradeGuide.2.doc.mdx
Labels: docs, progress bar

#2926 [terra-table] Adding style overflow: hidden to cell
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/subcomponents/Cell.module.scss
  packages/terra-table/src/subcomponents/_Cell.jsx
  packages/terra-table/src/terra-dev-site/test/table/CustomCell.test.jsx
  packages/terra-table/src/terra-dev-site/test/table/TableStylesCommon.modules.scss
  packages/terra-table/tests/wdio/__snapshots__/reference/en/chrome_medium/table-spec/Custom_Cell_Content[default].png
  packages/terra-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/Custom_Cell_Content[default].png
  packages/terra-table/tests/wdio/table-spec.js
Labels: bug-fix, table, ⭐️ Functionally Reviewed, ⭐️ UX Reviewed

#2857 Add theme-context to button and card
  .travis.yml
  package.json
  packages/terra-button/CHANGELOG.md
  packages/terra-button/package.json
  packages/terra-button/src/Button.jsx
  packages/terra-button/src/Button.module.scss
  packages/terra-button/src/clinical-lowlight-theme/Button.module.scss
  packages/terra-button/src/orion-fusion-theme/Button.module.scss
  packages/terra-button/src/terra-dev-site/test/button/ActiveVariantButtons.test.jsx
  packages/terra-button/tests/jest/Button.test.jsx
  packages/terra-button/tests/jest/__snapshots__/Button.test.jsx.snap
  packages/terra-button/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-button/themes/orion-fusion-theme/orion-fusion-theme.scss
  packages/terra-card/CHANGELOG.md
  packages/terra-card/package.json
  packages/terra-card/src/Card.jsx
  packages/terra-card/src/Card.module.scss
  packages/terra-card/src/CardBody.jsx
  packages/terra-card/src/CardBody.module.scss
  packages/terra-card/src/clinical-lowlight-theme/Card.module.scss
  packages/terra-card/src/clinical-lowlight-theme/CardBody.module.scss
  packages/terra-card/src/orion-fusion-theme/Card.module.scss
  packages/terra-card/src/orion-fusion-theme/CardBody.module.scss
  packages/terra-card/tests/jest/Card.test.jsx
  packages/terra-card/tests/jest/CardBody.test.jsx
  packages/terra-card/tests/jest/__snapshots__/Card.test.jsx.snap
  packages/terra-card/tests/jest/__snapshots__/CardBody.test.jsx.snap
  packages/terra-card/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-card/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: button, card

#2922 [terra-form-select] Add maxHeight to all field variants
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/ComboboxField.jsx
  packages/terra-form-select/src/MultiSelectField.jsx
  packages/terra-form-select/src/SearchSelectField.jsx
  packages/terra-form-select/src/SelectField.jsx
  packages/terra-form-select/src/SingleSelectField.jsx
  packages/terra-form-select/src/TagSelectField.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/ComboboxFieldMaxHeight.test.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/MultiSelectFieldMaxheight.test.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/SearchSelectFieldMaxheight.test.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/SelectFieldMaxheight.test.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/SingleSelectFieldMaxheight.test.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/TagSelectFieldMaxheight.test.jsx
  packages/terra-form-select/tests/jest/ComboboxField.test.jsx
  packages/terra-form-select/tests/jest/MultiSelectField.test.jsx
  packages/terra-form-select/tests/jest/SearchSelectField.test.jsx
  packages/terra-form-select/tests/jest/SelectField.test.jsx
  packages/terra-form-select/tests/jest/TagSelectField.test.jsx
  packages/terra-form-select/tests/jest/__snapshots__/ComboboxField.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/MultiSelectField.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/SearchSelectField.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/SelectField.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/TagSelectField.test.jsx.snap
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the_Combobox_field_and_honor_the_set_max_height[combobox-field-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the_Combobox_field_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the_Multi_select_field_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the_Multi_select_field_and_honor_the_set_max_height[multi-select-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the__Select_field_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the__Select_field_and_honor_the_set_max_height[select-field-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the__Single_select_field_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the__Single_select_field_and_honor_the_set_max_height[open-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the__Single_select_field_and_honor_the_set_max_height[single-select-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the__Tag_select_field_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the__Tag_select_field_and_honor_the_set_max_height[tag-select-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the__search_select_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the__search_select_and_honor_the_set_max_height[open-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/en/chrome_tiny/select-field-spec/should_open_the__search_select_and_honor_the_set_max_height[search-select-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_open_the_Combobox_field_and_honor_the_set_max_height[combobox-field-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_open_the_Combobox_field_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_open_the_Multi_select_field_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_open_the_Multi_select_field_and_honor_the_set_max_height[multi-select-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_open_the__Select_field_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_open_the__Select_field_and_honor_the_set_max_height[select-field-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_open_the__Single_select_field_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_open_the__Single_select_field_and_honor_the_set_max_height[single-select-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_open_the__Tag_select_field_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_open_the__Tag_select_field_and_honor_the_set_max_height[tag-select-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_open_the__search_select_and_honor_the_set_max_height[default].png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-field-spec/should_open_the__search_select_and_honor_the_set_max_height[search-select-dropdown-max-height].png
  packages/terra-form-select/tests/wdio/select-field-spec.js
Labels: enhancement, form-select

#2921 [terra-action-header] Update to use theme context & fix fusion theme
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/package.json
  packages/terra-action-header/src/ActionHeader.jsx
  packages/terra-action-header/src/ActionHeader.module.scss
  packages/terra-action-header/src/ActionHeaderContainer.module.scss
  packages/terra-action-header/src/_ActionHeaderContainer.jsx
  packages/terra-action-header/src/clinical-lowlight-theme/ActionHeader.module.scss
  packages/terra-action-header/src/clinical-lowlight-theme/ActionHeaderContainer.module.scss
  packages/terra-action-header/src/orion-fusion-theme/ActionHeader.module.scss
  packages/terra-action-header/src/orion-fusion-theme/ActionHeaderContainer.module.scss
  packages/terra-action-header/tests/jest/ActionHeader.test.jsx
  packages/terra-action-header/tests/jest/__snapshots__/ActionHeader.test.jsx.snap
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/action-header-spec/Back[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/action-header-spec/Back_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/action-header-spec/Back_Close_Previous_Next[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/action-header-spec/Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/action-header-spec/Default[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/action-header-spec/End_Element_Only[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/action-header-spec/Maximize_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/action-header-spec/Minimize_Custom_Button[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/action-header-spec/Wrapped_Title[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-header-spec/Back[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-header-spec/Back_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-header-spec/Back_Close_Previous_Next[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-header-spec/Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-header-spec/Default[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-header-spec/End_Element_Only[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-header-spec/Maximize_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-header-spec/Minimize_Custom_Button[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-header-spec/Wrapped_Title[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/action-header-spec/Back[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/action-header-spec/Back_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/action-header-spec/Back_Close_Previous_Next[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/action-header-spec/Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/action-header-spec/Default[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/action-header-spec/End_Element_Only[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/action-header-spec/Maximize_Close[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/action-header-spec/Minimize_Custom_Button[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/action-header-spec/Next_Enabled_Previous_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/action-header-spec/Previous_Enabled_Next_Disabled[default].png
  packages/terra-action-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/action-header-spec/Wrapped_Title[default].png
  packages/terra-action-header/themes/clinical-lowlight-theme/clinical-lowlight-theme.scss
  packages/terra-action-header/themes/orion-fusion-theme/orion-fusion-theme.scss
Labels: action header, fusion theme, theming, ⭐️ UX Reviewed
