Repository cerner/terra-core, pull requests merged in 2020-11, with the labels that each got.

#3217 [terra-action-footer] Remove Terra.it helpers from wdio tests.
  packages/terra-action-footer/CHANGELOG.md
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/action-footer-spec/actionFooter[multiple_end_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/action-footer-spec/actionFooter[multiple_start_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/action-footer-spec/actionFooter[single_end_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/action-footer-spec/actionFooter[single_start_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/action-footer-spec/actionFooter[single_start_and_end_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/block-action-footer-spec/BlockActionFooter[no_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/block-action-footer-spec/BlockActionFooter[with_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/centered-action-footer-spec/CenteredActionFooter[multiple_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/centered-action-footer-spec/CenteredActionFooter[single_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/action-footer-spec/actionFooter[multiple_end_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/action-footer-spec/actionFooter[multiple_start_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/action-footer-spec/actionFooter[single_end_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/action-footer-spec/actionFooter[single_start_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/action-footer-spec/actionFooter[single_start_and_end_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/block-action-footer-spec/BlockActionFooter[no_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/block-action-footer-spec/BlockActionFooter[with_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/centered-action-footer-spec/CenteredActionFooter[multiple_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/centered-action-footer-spec/CenteredActionFooter[single_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-spec/actionFooter[multiple_end_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-spec/actionFooter[multiple_start_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-spec/actionFooter[single_end_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-spec/actionFooter[single_start_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/action-footer-spec/actionFooter[single_start_and_end_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/BlockActionFooter[no_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/block-action-footer-spec/BlockActionFooter[with_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/centered-action-footer-spec/CenteredActionFooter[multiple_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_medium/centered-action-footer-spec/CenteredActionFooter[single_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/action-footer-spec/actionFooter[multiple_end_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/action-footer-spec/actionFooter[multiple_start_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/action-footer-spec/actionFooter[single_end_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/action-footer-spec/actionFooter[single_start_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/action-footer-spec/actionFooter[single_start_and_end_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/block-action-footer-spec/BlockActionFooter[no_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/block-action-footer-spec/BlockActionFooter[with_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/centered-action-footer-spec/CenteredActionFooter[multiple_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/en/chrome_small/centered-action-footer-spec/CenteredActionFooter[single_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-footer-spec/actionFooter[multiple_end_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-footer-spec/actionFooter[multiple_start_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-footer-spec/actionFooter[single_end_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-footer-spec/actionFooter[single_start_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/action-footer-spec/actionFooter[single_start_and_end_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/block-action-footer-spec/BlockActionFooter[no_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/block-action-footer-spec/BlockActionFooter[with_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/centered-action-footer-spec/CenteredActionFooter[multiple_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/centered-action-footer-spec/CenteredActionFooter[single_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/action-footer-spec/actionFooter[multiple_end_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/action-footer-spec/actionFooter[multiple_start_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/action-footer-spec/actionFooter[single_end_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/action-footer-spec/actionFooter[single_start_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/action-footer-spec/actionFooter[single_start_and_end_action].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/block-action-footer-spec/BlockActionFooter[no_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/block-action-footer-spec/BlockActionFooter[with_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/centered-action-footer-spec/CenteredActionFooter[multiple_actions].png
  packages/terra-action-footer/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/centered-action-footer-spec/CenteredActionFooter[single_action].png
  packages/terra-action-footer/tests/wdio/action-footer-spec.js
  packages/terra-action-footer/tests/wdio/block-action-footer-spec.js
  packages/terra-action-footer/tests/wdio/centered-action-footer-spec.js
Labels: :package: terra-action-footer

#3220 [terra-arrange] Remove Terra.it helpers from wdio tests.
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/arrange-spec/Arrange[align_stretch_with_20%_max-widths_on_containers_using_attribute_props].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/arrange-spec/Arrange[aligned_all_fit_end_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/arrange-spec/Arrange[aligned_all_fit_start_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/arrange-spec/Arrange[aligned_all_long_words].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/arrange-spec/Arrange[aligned_individually_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/arrange-spec/Arrange[aligned_individually_fit_end].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/arrange-spec/Arrange[aligned_individually_fit_start].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/arrange-spec/Arrange[default].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/arrange-spec/Arrange[align_stretch_with_20%_max-widths_on_containers_using_attribute_props].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/arrange-spec/Arrange[aligned_all_fit_end_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/arrange-spec/Arrange[aligned_all_fit_start_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/arrange-spec/Arrange[aligned_all_long_words].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/arrange-spec/Arrange[aligned_individually_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/arrange-spec/Arrange[aligned_individually_fit_end].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/arrange-spec/Arrange[aligned_individually_fit_start].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/arrange-spec/Arrange[default].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_medium/arrange-spec/Arrange[align_stretch_with_20%_max-widths_on_containers_using_attribute_props].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_medium/arrange-spec/Arrange[aligned_all_fit_end_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_medium/arrange-spec/Arrange[aligned_all_fit_start_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_medium/arrange-spec/Arrange[aligned_all_long_words].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_medium/arrange-spec/Arrange[aligned_individually_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_medium/arrange-spec/Arrange[aligned_individually_fit_end].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_medium/arrange-spec/Arrange[aligned_individually_fit_start].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_medium/arrange-spec/Arrange[default].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_tiny/arrange-spec/Arrange[align_stretch_with_20%_max-widths_on_containers_using_attribute_props].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_tiny/arrange-spec/Arrange[aligned_all_fit_end_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_tiny/arrange-spec/Arrange[aligned_all_fit_start_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_tiny/arrange-spec/Arrange[aligned_all_long_words].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_tiny/arrange-spec/Arrange[aligned_individually_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_tiny/arrange-spec/Arrange[aligned_individually_fit_end].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_tiny/arrange-spec/Arrange[aligned_individually_fit_start].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/en/chrome_tiny/arrange-spec/Arrange[default].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/arrange-spec/Arrange[align_stretch_with_20%_max-widths_on_containers_using_attribute_props].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/arrange-spec/Arrange[aligned_all_fit_end_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/arrange-spec/Arrange[aligned_all_fit_start_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/arrange-spec/Arrange[aligned_all_long_words].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/arrange-spec/Arrange[aligned_individually_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/arrange-spec/Arrange[aligned_individually_fit_end].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/arrange-spec/Arrange[aligned_individually_fit_start].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/arrange-spec/Arrange[default].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/arrange-spec/Arrange[align_stretch_with_20%_max-widths_on_containers_using_attribute_props].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/arrange-spec/Arrange[aligned_all_fit_end_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/arrange-spec/Arrange[aligned_all_fit_start_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/arrange-spec/Arrange[aligned_all_long_words].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/arrange-spec/Arrange[aligned_individually_fill].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/arrange-spec/Arrange[aligned_individually_fit_end].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/arrange-spec/Arrange[aligned_individually_fit_start].png
  packages/terra-arrange/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/arrange-spec/Arrange[default].png
  packages/terra-arrange/tests/wdio/arrange-spec.js
Labels: :package: terra-arrange

#3215 [terra-icon] OCS icons v1.34.0
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-icon/src/IconExports.js
  packages/terra-icon/src/IconHazardLow.module.scss
  packages/terra-icon/src/cerner-one-icons.csv
  packages/terra-icon/src/clinical-lowlight-theme/IconHazardLow.module.scss
  packages/terra-icon/src/icon-data.json
  packages/terra-icon/src/icon/IconHazardLow.jsx
  packages/terra-icon/src/icon/IconMedicationTabletHalf.jsx
  packages/terra-icon/src/icon/IconMedicationTabletHalfOutline.jsx
  packages/terra-icon/src/orion-fusion-theme/IconHazardLow.module.scss
  packages/terra-icon/src/svg/hazardLow.svg
  packages/terra-icon/src/svg/medicationTabletHalf.svg
  packages/terra-icon/src/svg/medicationTabletHalfOutline.svg
  packages/terra-icon/src/terra-dev-site/doc/example/IconStatic.jsx
  packages/terra-icon/src/terra-dev-site/doc/example/IconThemeable.jsx
  packages/terra-icon/src/terra-dev-site/test/icon/IconAll.test.jsx
  packages/terra-icon/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/icon-spec/AllIcons[default].png
  packages/terra-icon/tests/wdio/__snapshots__/reference/en/chrome_huge/icon-spec/AllIcons[default].png
  packages/terra-icon/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/icon-spec/AllIcons[default].png
  packages/terra-icon/tests/wdio/icon-spec.js
Labels: :package: terra-icon

#3219 [terra-alert] Remove Terra.it helpers from wdio tests.
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/Alert[action_button].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/Alert[custom].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/Alert[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/Alert[responsive].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/Alert[titles].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/Alert[types].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/Alert[wrapped_content].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/Alert_Dismissible[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/Alert_Dismissible[dismissed].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/Alert[action_button].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/Alert[custom].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/Alert[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/Alert[responsive].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/Alert[titles].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/Alert[types].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/Alert[wrapped_content].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/Alert_Dismissible[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/Alert_Dismissible[dismissed].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Alert[action_button].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Alert[custom].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Alert[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Alert[responsive].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Alert[titles].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Alert[types].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Alert[wrapped_content].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Alert_Dismissible[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Alert_Dismissible[dismissed].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_large/alert-spec/Default[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Alert[action_button].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Alert[custom].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Alert[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Alert[responsive].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Alert[titles].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Alert[types].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Alert[wrapped_content].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Alert_Dismissible[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Alert_Dismissible[dismissed].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/en/chrome_tiny/alert-spec/Default[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/Alert[action_button].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/Alert[custom].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/Alert[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/Alert[responsive].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/Alert[titles].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/Alert[types].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/Alert[wrapped_content].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/Alert_Dismissible[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/Alert_Dismissible[dismissed].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/Alert[action_button].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/Alert[custom].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/Alert[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/Alert[responsive].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/Alert[titles].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/Alert[types].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/Alert[wrapped_content].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/Alert_Dismissible[default].png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/Alert_Dismissible[dismissed].png
  packages/terra-alert/tests/wdio/alert-spec.js
Labels: :package: terra-alert

#3224 [terra-avatar] Remove Terra.it helpers from wdio tests.
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Avatar[deceased].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Avatar[deceased_avatar].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Avatar[deceased_with_initials].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Avatar[image].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Avatar[image_short_and_wide].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Avatar[image_tall_and_narrow].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Avatar[image_with_spacing].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Avatar[invalid_image_with_initials].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Avatar[one_initial].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Avatar[two_initials].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Facility[icon].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Facility[image].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Facility[invalid_image].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Generic[icon_provider].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Generic[icon_shared_user].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/avatar-common-spec/Generic[icon_single_user].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Avatar[deceased].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Avatar[deceased_avatar].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Avatar[deceased_with_initials].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Avatar[image].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Avatar[image_short_and_wide].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Avatar[image_tall_and_narrow].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Avatar[image_with_spacing].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Avatar[invalid_image_with_initials].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Avatar[one_initial].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Avatar[two_initials].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Facility[icon].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Facility[image].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Facility[invalid_image].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Generic[icon_provider].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Generic[icon_shared_user].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/en/chrome_huge/avatar-common-spec/Generic[icon_single_user].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Avatar[deceased].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Avatar[deceased_avatar].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Avatar[deceased_with_initials].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Avatar[image].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Avatar[image_short_and_wide].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Avatar[image_tall_and_narrow].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Avatar[image_with_spacing].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Avatar[invalid_image_with_initials].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Avatar[one_initial].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Avatar[two_initials].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Facility[icon].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Facility[image].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Facility[invalid_image].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Generic[icon_provider].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Generic[icon_shared_user].png
  packages/terra-avatar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/avatar-common-spec/Generic[icon_single_user].png
  packages/terra-avatar/tests/wdio/avatar-common-spec.js
Labels: :package: terra-avatar

#3225 [terra-badge] Remove Terra.it helpers from wdio tests.
  packages/terra-badge/CHANGELOG.md
  packages/terra-badge/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/badge-spec/Badge[default].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/badge-spec/Badge[icons].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/badge-spec/Badge[intent].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/badge-spec/Badge[size].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/badge-spec/Badge[visually_hidden_text].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/badge-spec/Badge[default].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/badge-spec/Badge[icons].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/badge-spec/Badge[intent].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/badge-spec/Badge[size].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/badge-spec/Badge[visually_hidden_text].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/en/chrome_medium/badge-spec/Badge[default].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/en/chrome_medium/badge-spec/Badge[icons].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/en/chrome_medium/badge-spec/Badge[intent].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/en/chrome_medium/badge-spec/Badge[size].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/en/chrome_medium/badge-spec/Badge[visually_hidden_text].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/en/chrome_tiny/badge-spec/Badge[default].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/en/chrome_tiny/badge-spec/Badge[icons].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/en/chrome_tiny/badge-spec/Badge[intent].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/en/chrome_tiny/badge-spec/Badge[size].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/en/chrome_tiny/badge-spec/Badge[visually_hidden_text].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/badge-spec/Badge[default].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/badge-spec/Badge[icons].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/badge-spec/Badge[intent].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/badge-spec/Badge[size].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/badge-spec/Badge[visually_hidden_text].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/badge-spec/Badge[default].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/badge-spec/Badge[icons].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/badge-spec/Badge[intent].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/badge-spec/Badge[size].png
  packages/terra-badge/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/badge-spec/Badge[visually_hidden_text].png
  packages/terra-badge/tests/wdio/badge-spec.js
Labels: :package: terra-badge

#3226 [terra-breakpoints] Remove Terra.it helpers from wdio tests.
  packages/terra-breakpoints/CHANGELOG.md
  packages/terra-breakpoints/tests/wdio/active-breakpoint-provider-spec.js
Labels: :package: terra-breakpoints

#3228 [terra-button-group] Remove Terra.it helpers from wdio tests.
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Button_Group[block].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Button_Group[disabled_buttons].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Button_Group[icon_button].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Button_Group[long_text_button].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Button_Group[not_selectable].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Button_Group[text_button].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Button_Group[wrapping].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Text_Button[default].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-group-spec/Button_Group[block].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-group-spec/Button_Group[wrapping].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Button_Group[block].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Button_Group[disabled_buttons].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Button_Group[icon_button].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Button_Group[long_text_button].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Button_Group[not_selectable].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Button_Group[text_button].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Button_Group[wrapping].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_huge/button-group-spec/Text_Button[default].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-group-spec/Button_Group[block].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-group-spec/Button_Group[wrapping].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/Button_Group[block].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/Button_Group[disabled_buttons].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/Button_Group[icon_button].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/Button_Group[long_text_button].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/Button_Group[not_selectable].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/Button_Group[text_button].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/Button_Group[wrapping].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-group-spec/Button_Group[block].png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-group-spec/Button_Group[wrapping].png
  packages/terra-button-group/tests/wdio/button-group-spec.js
Labels: :package: terra-button-group

#3230 [terra-card] Remove Terra.it helpers from wdio tests.
  packages/terra-card/CHANGELOG.md
  packages/terra-card/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/card-spec/Card[body_centered].png
  packages/terra-card/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/card-spec/Card[body_padded].png
  packages/terra-card/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/card-spec/Card[body_padding_horizontal].png
  packages/terra-card/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/card-spec/Card[body_padding_vertical].png
  packages/terra-card/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/card-spec/Card[default].png
  packages/terra-card/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/card-spec/Card[raised].png
  packages/terra-card/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/card-spec/Card[visually_hidden_text].png
  packages/terra-card/tests/wdio/__snapshots__/reference/en/chrome_tiny/card-spec/Card[body_centered].png
  packages/terra-card/tests/wdio/__snapshots__/reference/en/chrome_tiny/card-spec/Card[body_padded].png
  packages/terra-card/tests/wdio/__snapshots__/reference/en/chrome_tiny/card-spec/Card[body_padding_horizontal].png
  packages/terra-card/tests/wdio/__snapshots__/reference/en/chrome_tiny/card-spec/Card[body_padding_vertical].png
  packages/terra-card/tests/wdio/__snapshots__/reference/en/chrome_tiny/card-spec/Card[default].png
  packages/terra-card/tests/wdio/__snapshots__/reference/en/chrome_tiny/card-spec/Card[raised].png
  packages/terra-card/tests/wdio/__snapshots__/reference/en/chrome_tiny/card-spec/Card[visually_hidden_text].png
  packages/terra-card/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/card-spec/Card[body_centered].png
  packages/terra-card/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/card-spec/Card[body_padded].png
  packages/terra-card/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/card-spec/Card[body_padding_horizontal].png
  packages/terra-card/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/card-spec/Card[body_padding_vertical].png
  packages/terra-card/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/card-spec/Card[default].png
  packages/terra-card/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/card-spec/Card[raised].png
  packages/terra-card/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/card-spec/Card[visually_hidden_text].png
  packages/terra-card/tests/wdio/card-spec.js
Labels: :package: terra-card

#3232 [terra-content-container] Remove Terra.it helpers from wdio tests.
  packages/terra-content-container/CHANGELOG.md
  packages/terra-content-container/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/content-container-spec/Content_Container[default].png
  packages/terra-content-container/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/content-container-spec/Content_Container[fill].png
  packages/terra-content-container/tests/wdio/__snapshots__/reference/en/chrome_medium/content-container-spec/Content_Container[default].png
  packages/terra-content-container/tests/wdio/__snapshots__/reference/en/chrome_medium/content-container-spec/Content_Container[fill].png
  packages/terra-content-container/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/content-container-spec/Content_Container[default].png
  packages/terra-content-container/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/content-container-spec/Content_Container[fill].png
  packages/terra-content-container/tests/wdio/content-container-spec.js
Labels: :package: terra-content-container

#3235 [terra-divider] Remove Terra.it helpers from wdio tests.
  packages/terra-divider/CHANGELOG.md
  packages/terra-divider/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/divider-spec/Divider[custom_text].png
  packages/terra-divider/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/divider-spec/Divider[default].png
  packages/terra-divider/tests/wdio/__snapshots__/reference/en/chrome_medium/divider-spec/Divider[custom_text].png
  packages/terra-divider/tests/wdio/__snapshots__/reference/en/chrome_medium/divider-spec/Divider[default].png
  packages/terra-divider/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/divider-spec/Divider[custom_text].png
  packages/terra-divider/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/divider-spec/Divider[default].png
  packages/terra-divider/tests/wdio/divider-spec.js
Labels: :package: terra-divider

#3190 [terra-paginator] Add support for unknown total page count in the progressive paginator
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/package.json
  packages/terra-paginator/src/ControlledPaginator.jsx
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-paginator/src/_paginationUtils.jsx
  packages/terra-paginator/src/terra-dev-site/doc/example/ControlledPaginatorCommon.module.scss
  packages/terra-paginator/src/terra-dev-site/doc/example/ControlledPaginatorExample.jsx
  packages/terra-paginator/src/terra-dev-site/doc/example/ControlledPaginatorNoPagesExample.jsx
  packages/terra-paginator/src/terra-dev-site/doc/example/ControlledProgressivePaginatorExample.jsx
  packages/terra-paginator/src/terra-dev-site/doc/example/ControlledProgressivePaginatorWithoutTotalCountExample.jsx
  packages/terra-paginator/src/terra-dev-site/doc/example/ProgressivePaginatorWithoutTotalCountExample.jsx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/PaginatorControlled.2.doc.mdx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/ProgressivePaginator.3.doc.mdx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/ProgressivePaginatorControlled.4.doc.mdx
  packages/terra-paginator/src/terra-dev-site/test/paginator/ControlledPaginatorNoPages.test.jsx
  packages/terra-paginator/src/terra-dev-site/test/paginator/ControlledProgressivePaginatorWithoutTotalCount.test.jsx
  packages/terra-paginator/src/terra-dev-site/test/paginator/PaginatorWithoutItemCount.test.jsx
  packages/terra-paginator/src/terra-dev-site/test/paginator/ProgressivePaginatorWithoutTotalCount.test.jsx
  packages/terra-paginator/tests/jest/__snapshots__/ControlledProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/Controlled_Paginator_without_Total_count[0].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/Controlled_Paginator_without_Total_count[1].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/Controlled_Paginator_without_Total_count[2].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/Controlled_Paginator_without_Total_count[3].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator_without_total_count[0].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator_without_total_count[1].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator_without_total_count[2].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator_without_total_count[3].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/Paginator_without_item_count[default].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/Progressive_paginator_without_total_count[default].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Paginator_without_Total_count[0].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Paginator_without_Total_count[1].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Paginator_without_Total_count[2].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Paginator_without_Total_count[3].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator_without_total_count[0].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator_without_total_count[1].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator_without_total_count[2].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator_without_total_count[3].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Paginator_without_item_count[default].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/en/chrome_large/paginator-spec/Progressive_paginator_without_total_count[default].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Paginator_without_Total_count[0].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Paginator_without_Total_count[1].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Paginator_without_Total_count[2].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Paginator_without_Total_count[3].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator_without_total_count[0].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator_without_total_count[1].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator_without_total_count[2].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Controlled_Progressive_Paginator_without_total_count[3].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Paginator_without_item_count[default].png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/Progressive_paginator_without_total_count[default].png
  packages/terra-paginator/tests/wdio/paginator-spec.js
Labels: :package: terra-paginator, :star: Functionally Reviewed, :star: UX Reviewed

#3234 [terra-dialog] Remove Terra.it helpers from wdio tests.
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/dialog-spec/Dialog[default].png
  packages/terra-dialog/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/dialog-spec/Dialog[default].png
  packages/terra-dialog/tests/wdio/__snapshots__/reference/en/chrome_large/dialog-spec/Dialog[default].png
  packages/terra-dialog/tests/wdio/__snapshots__/reference/en/chrome_tiny/dialog-spec/Dialog[default].png
  packages/terra-dialog/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/dialog-spec/Dialog[default].png
  packages/terra-dialog/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/dialog-spec/Dialog[default].png
  packages/terra-dialog/tests/wdio/dialog-spec.js
Labels: :package: terra-dialog

#3231 [terra-cell-grid] Remove Terra.it helpers from wdio tests.
  packages/terra-cell-grid/CHANGELOG.md
  packages/terra-cell-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/cell-grid-spec/CellGrid[cell-grid-divider].png
  packages/terra-cell-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/cell-grid-spec/CellGrid[cell-grid].png
  packages/terra-cell-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/cell-grid-spec/CellGrid[cell].png
  packages/terra-cell-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/cell-grid-spec/CellGrid[cell-grid-divider].png
  packages/terra-cell-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/cell-grid-spec/CellGrid[cell-grid].png
  packages/terra-cell-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/cell-grid-spec/CellGrid[cell].png
  packages/terra-cell-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/cell-grid-spec/CellGrid[cell-grid-divider].png
  packages/terra-cell-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/cell-grid-spec/CellGrid[cell-grid].png
  packages/terra-cell-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/cell-grid-spec/CellGrid[cell].png
  packages/terra-cell-grid/tests/wdio/cell-grid-spec.js
Labels: :package: terra-cell-grid

#3239 [terra-dynamic-grid] Remove Terra.it helpers from wdio tests.
  packages/terra-dynamic-grid/CHANGELOG.md
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/dynamic-grid-spec/Dynamic_Grid[default].png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/dynamic-grid-spec/Dynamic_Grid[large_template].png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/dynamic-grid-spec/Dynamic_Grid[default].png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/dynamic-grid-spec/Dynamic_Grid[large_template].png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/dynamic-grid-spec/Dynamic_Grid[default].png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/dynamic-grid-spec/Dynamic_Grid[large_template].png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/en/chrome_tiny/dynamic-grid-spec/Dynamic_Grid[default].png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/en/chrome_tiny/dynamic-grid-spec/Dynamic_Grid[large_template].png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dynamic-grid-spec/Dynamic_Grid[default].png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/dynamic-grid-spec/Dynamic_Grid[large_template].png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/dynamic-grid-spec/Dynamic_Grid[default].png
  packages/terra-dynamic-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/dynamic-grid-spec/Dynamic_Grid[large_template].png
  packages/terra-dynamic-grid/tests/wdio/dynamic-grid-spec.js
Labels: :package: terra-dynamic-grid

#3247 [terra-form-radio] Remove Terra.it helpers from wdio tests.
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-radio-field-spec/RadioField[hidden_legend].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-radio-field-spec/RadioField[long_text_legend].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-radio-field-spec/RadioField[optional].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-radio-field-spec/RadioField[valid].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-radio-spec/Default[checked].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-radio-spec/Default[focus].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-radio-spec/Default[hover].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-radio-spec/Radio[disabled].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-radio-spec/Radio[hidden_label].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/RadioField[hidden_legend].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/RadioField[long_text_legend].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/RadioField[optional].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/RadioField[valid].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/RadioField_Interactions[invalid_state_with_hideRequired].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/RadioField_Interactions[valid_state].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/RadioField_Interactions[valid_state_with_hideRequired].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_large/form-radio-field-spec/RadioField[hidden_legend].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_large/form-radio-field-spec/RadioField[long_text_legend].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_large/form-radio-field-spec/RadioField[optional].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_large/form-radio-field-spec/RadioField[valid].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_medium/form-radio-spec/Default[checked].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_medium/form-radio-spec/Default[focus].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_medium/form-radio-spec/Default[hover].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_medium/form-radio-spec/Radio[disabled].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_medium/form-radio-spec/Radio[hidden_label].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-radio-field-spec/RadioField[hidden_legend].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-radio-field-spec/RadioField[long_text_legend].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-radio-field-spec/RadioField[optional].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-radio-field-spec/RadioField[valid].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-radio-field-spec/RadioField_Interactions[invalid_state_with_hideRequired].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-radio-field-spec/RadioField_Interactions[valid_state].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/en/chrome_tiny/form-radio-field-spec/RadioField_Interactions[valid_state_with_hideRequired].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/form-radio-field-spec/RadioField[hidden_legend].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/form-radio-field-spec/RadioField[long_text_legend].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/form-radio-field-spec/RadioField[optional].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/form-radio-field-spec/RadioField[valid].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-radio-spec/Default[checked].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-radio-spec/Default[focus].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-radio-spec/Default[hover].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-radio-spec/Radio[disabled].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-radio-spec/Radio[hidden_label].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/form-radio-field-spec/RadioField[hidden_legend].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/form-radio-field-spec/RadioField[long_text_legend].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/form-radio-field-spec/RadioField[optional].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/form-radio-field-spec/RadioField[valid].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/form-radio-field-spec/RadioField_Interactions[invalid_state_with_hideRequired].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/form-radio-field-spec/RadioField_Interactions[valid_state].png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/form-radio-field-spec/RadioField_Interactions[valid_state_with_hideRequired].png
  packages/terra-form-radio/tests/wdio/form-radio-field-spec.js
  packages/terra-form-radio/tests/wdio/form-radio-spec.js
Labels: :package: terra-form-radio

#3245 [terra-form-fieldset] Remove Terra.it helpers from wdio tests.
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/fieldset-spec/Fieldset[populated].png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/fieldset-spec/Fieldset[populated_Fieldset_with_hidden_legend].png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/fieldset-spec/Fieldset[populated].png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/fieldset-spec/Fieldset[populated_Fieldset_with_hidden_legend].png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/en/chrome_medium/fieldset-spec/Fieldset[populated].png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/en/chrome_medium/fieldset-spec/Fieldset[populated_Fieldset_with_hidden_legend].png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/en/chrome_tiny/fieldset-spec/Fieldset[populated].png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/en/chrome_tiny/fieldset-spec/Fieldset[populated_Fieldset_with_hidden_legend].png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/fieldset-spec/Fieldset[populated].png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/fieldset-spec/Fieldset[populated_Fieldset_with_hidden_legend].png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/fieldset-spec/Fieldset[populated].png
  packages/terra-form-fieldset/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/fieldset-spec/Fieldset[populated_Fieldset_with_hidden_legend].png
  packages/terra-form-fieldset/tests/wdio/fieldset-spec.js
Labels: :package: terra-form-fieldset

#3244 [terra-form-field] Remove Terra.it helpers from wdio tests.
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-field-spec/Form_Field[default].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-field-spec/Form_Field[error_text].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-field-spec/Form_Field[help_text].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-field-spec/Form_Field[hidden_label].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-field-spec/Form_Field[inline].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-field-spec/Form_Field[label].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-field-spec/Form_Field[label_required_error_help_text].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-field-spec/Form_Field[optional_label].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-field-spec/Form_Field[required_label].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-field-spec/Form_Field[text_wrap].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/en/chrome_medium/form-field-spec/Form_Field[default].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/en/chrome_medium/form-field-spec/Form_Field[error_text].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/en/chrome_medium/form-field-spec/Form_Field[help_text].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/en/chrome_medium/form-field-spec/Form_Field[hidden_label].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/en/chrome_medium/form-field-spec/Form_Field[inline].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/en/chrome_medium/form-field-spec/Form_Field[label].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/en/chrome_medium/form-field-spec/Form_Field[label_required_error_help_text].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/en/chrome_medium/form-field-spec/Form_Field[optional_label].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/en/chrome_medium/form-field-spec/Form_Field[required_label].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/en/chrome_medium/form-field-spec/Form_Field[text_wrap].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-field-spec/Form_Field[default].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-field-spec/Form_Field[error_text].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-field-spec/Form_Field[help_text].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-field-spec/Form_Field[hidden_label].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-field-spec/Form_Field[inline].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-field-spec/Form_Field[label].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-field-spec/Form_Field[label_required_error_help_text].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-field-spec/Form_Field[optional_label].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-field-spec/Form_Field[required_label].png
  packages/terra-form-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-field-spec/Form_Field[text_wrap].png
  packages/terra-form-field/tests/wdio/form-field-spec.js
Labels: :package: terra-form-field

#3250 [terra-icon] OCS icons v1.35.0 bump
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-icon/src/icon/IconHigh.jsx
  packages/terra-icon/src/svg/high.svg
Labels: :package: terra-icon

#3252 [terra-grid] Remove Terra.it helpers from wdio tests.
  packages/terra-grid/CHANGELOG.md
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/grid-spec/Grid[enormous].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_enormous/grid-spec/Grid[huge].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/grid-spec/Grid[enormous].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/grid-spec/Grid[large].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/grid-spec/Grid[tiny].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/grid-spec/Grid[huge].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/grid-spec/Grid[medium].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/grid-spec/Grid[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/grid-spec/Grid[large].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/grid-spec/Grid[nested].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/grid-spec/Grid[responsive].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/grid-spec/Grid[small].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_small/grid-spec/Grid[medium].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/grid-spec/Grid[small].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/grid-spec/Grid[tiny].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_enormous/grid-spec/Grid[enormous].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_enormous/grid-spec/Grid[huge].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Grid[enormous].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Grid[large].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_huge/grid-spec/Grid[tiny].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_large/grid-spec/Grid[huge].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_large/grid-spec/Grid[medium].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Grid[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Grid[large].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Grid[nested].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Grid[responsive].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_medium/grid-spec/Grid[small].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_small/grid-spec/Grid[medium].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_tiny/grid-spec/Grid[small].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/en/chrome_tiny/grid-spec/Grid[tiny].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/grid-spec/Grid[enormous].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_enormous/grid-spec/Grid[huge].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/grid-spec/Grid[enormous].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/grid-spec/Grid[large].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/grid-spec/Grid[tiny].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/grid-spec/Grid[huge].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/grid-spec/Grid[medium].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/grid-spec/Grid[default].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/grid-spec/Grid[large].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/grid-spec/Grid[nested].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/grid-spec/Grid[responsive].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/grid-spec/Grid[small].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_small/grid-spec/Grid[medium].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/grid-spec/Grid[small].png
  packages/terra-grid/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/grid-spec/Grid[tiny].png
  packages/terra-grid/tests/wdio/grid-spec.js
Labels: :package: terra-grid

#3255 [terra-i18n] Remove Terra.it helpers from wdio tests.
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/i18n-spec/I18n[en-GB_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/i18n-spec/I18n[en_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/i18n-spec/I18n[initial_load].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/i18n-spec/I18n[pt-GW_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/i18n-spec/I18n[pt_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/i18n-spec/I18n[zu-ZA_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/i18n-spec/I18n[zu_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/I18n[en-GB_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/I18n[en_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/I18n[initial_load].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/I18n[pt-GW_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/I18n[pt_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/I18n[zu-ZA_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/en/chrome_medium/i18n-spec/I18n[zu_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/i18n-spec/I18n[en-GB_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/i18n-spec/I18n[en_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/i18n-spec/I18n[initial_load].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/i18n-spec/I18n[pt-GW_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/i18n-spec/I18n[pt_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/i18n-spec/I18n[zu-ZA_locale].png
  packages/terra-i18n/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/i18n-spec/I18n[zu_locale].png
  packages/terra-i18n/tests/wdio/i18n-spec.js
Labels: :package: terra-i18n

#3256 [terra-image] Remove Terra.it helpers from wdio tests.
  packages/terra-image/CHANGELOG.md
  packages/terra-image/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/image-spec/Image[default].png
  packages/terra-image/tests/wdio/__snapshots__/reference/en/chrome_medium/image-spec/Image[default].png
  packages/terra-image/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/image-spec/Image[default].png
  packages/terra-image/tests/wdio/image-spec.js
Labels: :package: terra-image

#3254 [terra-html-table] Remove Terra.it helpers from wdio tests.
  packages/terra-html-table/CHANGELOG.md
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/HTML_Table[compact_padding].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/HTML_Table[no_padding].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/HTML_Table[no_rows].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/HTML_Table[no_striped].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/HTML_Table[single_row].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/HTML_Table[standard_padding].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/en/chrome_medium/html-table-spec/HTML_Table[compact_padding].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/en/chrome_medium/html-table-spec/HTML_Table[no_padding].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/en/chrome_medium/html-table-spec/HTML_Table[no_rows].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/en/chrome_medium/html-table-spec/HTML_Table[no_striped].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/en/chrome_medium/html-table-spec/HTML_Table[single_row].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/en/chrome_medium/html-table-spec/HTML_Table[standard_padding].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/html-table-spec/HTML_Table[compact_padding].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/html-table-spec/HTML_Table[no_padding].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/html-table-spec/HTML_Table[no_rows].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/html-table-spec/HTML_Table[no_striped].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/html-table-spec/HTML_Table[single_row].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/html-table-spec/HTML_Table[standard_padding].png
  packages/terra-html-table/tests/wdio/html-table-spec.js
Labels: :package: terra-html-table

#3253 [terra-heading] Remove Terra.it helpers from wdio tests.
  packages/terra-heading/CHANGELOG.md
  packages/terra-heading/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/heading-spec/Heading[color].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/heading-spec/Heading[default].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/heading-spec/Heading[italics].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/heading-spec/Heading[levels].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/heading-spec/Heading[sizes].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/heading-spec/Heading[visual_props].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/heading-spec/Heading[visually_hidden].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/heading-spec/Heading[weight].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/en/chrome_medium/heading-spec/Heading[color].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/en/chrome_medium/heading-spec/Heading[default].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/en/chrome_medium/heading-spec/Heading[italics].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/en/chrome_medium/heading-spec/Heading[levels].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/en/chrome_medium/heading-spec/Heading[sizes].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/en/chrome_medium/heading-spec/Heading[visual_props].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/en/chrome_medium/heading-spec/Heading[visually_hidden].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/en/chrome_medium/heading-spec/Heading[weight].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/heading-spec/Heading[color].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/heading-spec/Heading[default].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/heading-spec/Heading[italics].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/heading-spec/Heading[levels].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/heading-spec/Heading[sizes].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/heading-spec/Heading[visual_props].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/heading-spec/Heading[visually_hidden].png
  packages/terra-heading/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/heading-spec/Heading[weight].png
  packages/terra-heading/tests/wdio/heading-spec.js
Labels: :package: terra-heading

#3258 [terra-hyperlink] Remove Terra.it helpers from wdio
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[audio].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[disabled].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[document].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[external].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[hidden_underline].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[icon_non_wrapping].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[image].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[scaled].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[states].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[video].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Hyperlink[audio].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Hyperlink[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Hyperlink[disabled].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Hyperlink[document].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Hyperlink[external].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Hyperlink[hidden_underline].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Hyperlink[icon_non_wrapping].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Hyperlink[image].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Hyperlink[scaled].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Hyperlink[states].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/en/chrome_tiny/hyperlink-spec/Hyperlink[video].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[audio].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[default].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[disabled].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[document].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[external].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[hidden_underline].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[icon_non_wrapping].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[image].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[scaled].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[states].png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/Hyperlink[video].png
  packages/terra-hyperlink/tests/wdio/hyperlink-spec.js
Labels: :package: terra-hyperlink
