Repository cerner/terra-core, pull requests merged in 2020-02, with the labels that each got.

#2831 [terra-action-header] Updating Docs
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/src/ActionHeader.jsx
  packages/terra-action-header/src/_ActionHeaderContainer.jsx
Labels: action header, doc-site-bug

#2836 Fix Error thrown in window server 2012 r2
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/src/i18nLoader.js
  packages/terra-i18n/src/intlLoaders.js
Labels: bug-fix, i18n

#2796 [terra-form-select] Announce OptGroup labels to improve screen reader accessibility
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Menu.jsx
  packages/terra-form-select/src/multiple/Menu.jsx
  packages/terra-form-select/src/search/Menu.jsx
  packages/terra-form-select/src/shared/_MenuUtil.js
  packages/terra-form-select/src/single/Menu.jsx
  packages/terra-form-select/src/tag/Menu.jsx
  packages/terra-form-select/translations/de.json
  packages/terra-form-select/translations/en-AU.json
  packages/terra-form-select/translations/en-CA.json
  packages/terra-form-select/translations/en-GB.json
  packages/terra-form-select/translations/en-US.json
  packages/terra-form-select/translations/en.json
  packages/terra-form-select/translations/es-ES.json
  packages/terra-form-select/translations/es-US.json
  packages/terra-form-select/translations/es.json
  packages/terra-form-select/translations/fr-FR.json
  packages/terra-form-select/translations/fr.json
  packages/terra-form-select/translations/nl-BE.json
  packages/terra-form-select/translations/nl.json
  packages/terra-form-select/translations/pt-BR.json
  packages/terra-form-select/translations/pt.json
  packages/terra-form-select/translations/sv-SE.json
  packages/terra-form-select/translations/sv.json
Labels: Ready for functional review, Translations Needed, VoiceOver, accessibility, form-select, ⭐️ UX Reviewed

#2840 [terra-i18n] Updating Intl Checks
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/src/i18nLoader.js
  packages/terra-i18n/src/intlLoaders.js
  packages/terra-i18n/tests/jest/i18nLoader.test.js
Labels: i18n

#2823 [terra-divider] Update docs to use MDX syntax
  packages/terra-divider/CHANGELOG.md
  packages/terra-divider/README.md
  packages/terra-divider/docs/README.md
  packages/terra-divider/package.json
  packages/terra-divider/src/terra-dev-site/doc/divider/ChangeLog.2.doc.jsx
  packages/terra-divider/src/terra-dev-site/doc/divider/ChangeLog.3.doc.mdx
  packages/terra-divider/src/terra-dev-site/doc/divider/Divider.1.doc.jsx
  packages/terra-divider/src/terra-dev-site/doc/divider/Divider.1.doc.mdx
  packages/terra-divider/src/terra-dev-site/doc/divider/UpgradeGuide.2.doc.mdx
Labels: divider, docs

#2834 [terra-overlay] Update to wicg-inert v3
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/package.json
Labels: dependency-update, overlay

#2825 [terra-dynamic-grid] Update docs to use mdx syntax
  packages/terra-dynamic-grid/CHANGELOG.md
  packages/terra-dynamic-grid/README.md
  packages/terra-dynamic-grid/docs/README.md
  packages/terra-dynamic-grid/package.json
  packages/terra-dynamic-grid/src/terra-dev-site/doc/dynamic-grid/ChangeLog.2.doc.jsx
  packages/terra-dynamic-grid/src/terra-dev-site/doc/dynamic-grid/ChangeLog.3.doc.mdx
  packages/terra-dynamic-grid/src/terra-dev-site/doc/dynamic-grid/DynamicGrid.1.doc.jsx
  packages/terra-dynamic-grid/src/terra-dev-site/doc/dynamic-grid/DynamicGrid.1.doc.mdx
  packages/terra-dynamic-grid/src/terra-dev-site/doc/dynamic-grid/UpgradeGuide.2.doc.mdx
Labels: docs, dynamic-grid

#2827 [terra-form-field] Update docs to use mdx syntax
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/README.md
  packages/terra-form-field/docs/README.md
  packages/terra-form-field/package.json
  packages/terra-form-field/src/terra-dev-site/doc/example/FieldExamples.jsx
  packages/terra-form-field/src/terra-dev-site/doc/form-field/ChangeLog.2.doc.jsx
  packages/terra-form-field/src/terra-dev-site/doc/form-field/ChangeLog.3.doc.mdx
  packages/terra-form-field/src/terra-dev-site/doc/form-field/FormField.1.doc.jsx
  packages/terra-form-field/src/terra-dev-site/doc/form-field/FormField.1.doc.mdx
  packages/terra-form-field/src/terra-dev-site/doc/form-field/UpgradeGuide.2.doc.mdx
Labels: docs, form-field

#2830 [terra-form-input] Update docs to use mdx syntax.
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/README.md
  packages/terra-form-input/docs/InputField.md
  packages/terra-form-input/docs/README.md
  packages/terra-form-input/package.json
  packages/terra-form-input/src/terra-dev-site/doc/form-input/ChangeLog.4.doc.jsx
  packages/terra-form-input/src/terra-dev-site/doc/form-input/ChangeLog.4.doc.mdx
  packages/terra-form-input/src/terra-dev-site/doc/form-input/Input.1.doc.jsx
  packages/terra-form-input/src/terra-dev-site/doc/form-input/Input.1.doc.mdx
  packages/terra-form-input/src/terra-dev-site/doc/form-input/InputField.2.doc.jsx
  packages/terra-form-input/src/terra-dev-site/doc/form-input/InputField.2.doc.mdx
  packages/terra-form-input/src/terra-dev-site/doc/form-input/UpgradeGuide.3.doc.jsx
  packages/terra-form-input/src/terra-dev-site/doc/form-input/UpgradeGuide.3.doc.mdx
Labels: docs, form-input

#2842 [terra-i18n] Explicit type check instead of checking against undefined
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/src/i18nLoader.js
  packages/terra-i18n/src/intlLoaders.js
  packages/terra-i18n/tests/jest/i18nLoader.test.js
Labels: i18n

#2833 [terra-form-radio] Update docs to use mdx syntax
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/README.md
  packages/terra-form-radio/docs/README.md
  packages/terra-form-radio/docs/RadioField.md
  packages/terra-form-radio/package.json
  packages/terra-form-radio/src/terra-dev-site/doc/form-radio/ChangeLog.4.doc.jsx
  packages/terra-form-radio/src/terra-dev-site/doc/form-radio/ChangeLog.4.doc.mdx
  packages/terra-form-radio/src/terra-dev-site/doc/form-radio/Radio.1.doc.jsx
  packages/terra-form-radio/src/terra-dev-site/doc/form-radio/Radio.1.doc.mdx
  packages/terra-form-radio/src/terra-dev-site/doc/form-radio/RadioField.2.doc.jsx
  packages/terra-form-radio/src/terra-dev-site/doc/form-radio/RadioField.2.doc.mdx
  packages/terra-form-radio/src/terra-dev-site/doc/form-radio/UpgradeGuide.3.doc.jsx
  packages/terra-form-radio/src/terra-dev-site/doc/form-radio/UpgradeGuide.3.doc.mdx
Labels: docs, form-radio

#2826 [terra-form-checkbox] Update docs to use mdx syntax
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/README.md
  packages/terra-form-checkbox/docs/CheckboxField.md
  packages/terra-form-checkbox/docs/README.md
  packages/terra-form-checkbox/package.json
  packages/terra-form-checkbox/src/terra-dev-site/doc/form-checkbox/ChangeLog.4.doc.jsx
  packages/terra-form-checkbox/src/terra-dev-site/doc/form-checkbox/ChangeLog.4.doc.mdx
  packages/terra-form-checkbox/src/terra-dev-site/doc/form-checkbox/Checkbox.1.doc.jsx
  packages/terra-form-checkbox/src/terra-dev-site/doc/form-checkbox/Checkbox.1.doc.mdx
  packages/terra-form-checkbox/src/terra-dev-site/doc/form-checkbox/CheckboxField.2.doc.jsx
  packages/terra-form-checkbox/src/terra-dev-site/doc/form-checkbox/CheckboxField.2.doc.mdx
  packages/terra-form-checkbox/src/terra-dev-site/doc/form-checkbox/UpgradeGuide.3.doc.jsx
  packages/terra-form-checkbox/src/terra-dev-site/doc/form-checkbox/UpgradeGuide.3.doc.mdx
Labels: docs, form-checkbox

#2849 [terra-grid] Update docs to use mdx syntax
  packages/terra-grid/CHANGELOG.md
  packages/terra-grid/README.md
  packages/terra-grid/docs/README.md
  packages/terra-grid/package.json
  packages/terra-grid/src/terra-dev-site/doc/grid/ChangeLog.3.doc.jsx
  packages/terra-grid/src/terra-dev-site/doc/grid/ChangeLog.3.doc.mdx
  packages/terra-grid/src/terra-dev-site/doc/grid/Grid.1.doc.jsx
  packages/terra-grid/src/terra-dev-site/doc/grid/Grid.1.doc.mdx
  packages/terra-grid/src/terra-dev-site/doc/grid/UpgradeGuide.2.doc.jsx
  packages/terra-grid/src/terra-dev-site/doc/grid/UpgradeGuide.2.doc.mdx
Labels: docs, grid

#2847 [terra-form-select] Update docs to use mdx syntax
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/README.md
  packages/terra-form-select/docs/ComboboxField.md
  packages/terra-form-select/docs/MultiSelectField.md
  packages/terra-form-select/docs/README.md
  packages/terra-form-select/docs/SearchSelectField.md
  packages/terra-form-select/docs/SelectField.md
  packages/terra-form-select/docs/SingleSelectField.md
  packages/terra-form-select/docs/TagSelectField.md
  packages/terra-form-select/package.json
  packages/terra-form-select/src/terra-dev-site/doc/form-select/ChangeLog.14.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/ChangeLog.14.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/Combobox.05.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/Combobox.05.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/ComboboxField.06.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/ComboboxField.06.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/MultiSelect.07.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/MultiSelect.07.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/MultiSelectField.08.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/MultiSelectField.08.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/SearchSelect.11.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/SearchSelect.11.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/SearchSelectField.12.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/SearchSelectField.12.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/Select.01.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/Select.01.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/SelectField.02.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/SelectField.02.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/SingleSelect.03.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/SingleSelect.03.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/SingleSelectField.04.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/SingleSelectField.04.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/TagSelect.09.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/TagSelect.09.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/TagSelectField.10.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/TagSelectField.10.doc.mdx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/UpgradeGuide.13.doc.jsx
  packages/terra-form-select/src/terra-dev-site/doc/form-select/UpgradeGuide.13.doc.mdx
Labels: docs, form-select

#2848 [terra-form-texarea] Update docs to use mdx syntax
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/README.md
  packages/terra-form-textarea/docs/README.md
  packages/terra-form-textarea/docs/TextareaField.md
  packages/terra-form-textarea/package.json
  packages/terra-form-textarea/src/terra-dev-site/doc/form-textarea/ChangeLog.4.doc.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/form-textarea/ChangeLog.4.doc.mdx
  packages/terra-form-textarea/src/terra-dev-site/doc/form-textarea/Textarea.1.doc.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/form-textarea/Textarea.1.doc.mdx
  packages/terra-form-textarea/src/terra-dev-site/doc/form-textarea/TextareaField.2.doc.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/form-textarea/TextareaField.2.doc.mdx
  packages/terra-form-textarea/src/terra-dev-site/doc/form-textarea/UpgradeGuide.3.doc.jsx
  packages/terra-form-textarea/src/terra-dev-site/doc/form-textarea/UpgradeGuide.3.doc.mdx
Labels: docs, form-textarea

#2850 [terra-html-table] Update docs to use mdx syntax
  packages/terra-html-table/CHANGELOG.md
  packages/terra-html-table/README.md
  packages/terra-html-table/docs/README.md
  packages/terra-html-table/package.json
  packages/terra-html-table/src/terra-dev-site/doc/html-table/ChangeLog.2.doc.mdx
  packages/terra-html-table/src/terra-dev-site/doc/html-table/ChangeLog.7.doc.jsx
  packages/terra-html-table/src/terra-dev-site/doc/html-table/Table.1.doc.jsx
  packages/terra-html-table/src/terra-dev-site/doc/html-table/Table.1.doc.mdx
Labels: docs, html-table

#2851 [terra-hyperlink] Update docs to use mdx syntax
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/README.md
  packages/terra-hyperlink/docs/README.md
  packages/terra-hyperlink/package.json
  packages/terra-hyperlink/src/terra-dev-site/doc/hyperlink/ChangeLog.3.doc.jsx
  packages/terra-hyperlink/src/terra-dev-site/doc/hyperlink/ChangeLog.3.doc.mdx
  packages/terra-hyperlink/src/terra-dev-site/doc/hyperlink/Hyperlink.1.doc.jsx
  packages/terra-hyperlink/src/terra-dev-site/doc/hyperlink/Hyperlink.1.doc.mdx
  packages/terra-hyperlink/src/terra-dev-site/doc/hyperlink/UpgradeGuide.2.doc.jsx
  packages/terra-hyperlink/src/terra-dev-site/doc/hyperlink/UpgradeGuide.2.doc.mdx
Labels: docs, hyperlink

#2853 [terra-image] Update docs to use mdx syntax
  packages/terra-image/CHANGELOG.md
  packages/terra-image/README.md
  packages/terra-image/docs/README.md
  packages/terra-image/package.json
  packages/terra-image/src/terra-dev-site/doc/image/ChangeLog.2.doc.jsx
  packages/terra-image/src/terra-dev-site/doc/image/ChangeLog.3.doc.mdx
  packages/terra-image/src/terra-dev-site/doc/image/Image.1.doc.jsx
  packages/terra-image/src/terra-dev-site/doc/image/Image.1.doc.mdx
  packages/terra-image/src/terra-dev-site/doc/image/UpgradeGuide.2.doc.mdx
Labels: cover-image, docs

#2858 [terra-paginator] Update docs to use mdx syntax
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/README.md
  packages/terra-paginator/docs/ControlledProgressiveREADME.md
  packages/terra-paginator/docs/ControlledREADME.md
  packages/terra-paginator/docs/ProgressiveREADME.md
  packages/terra-paginator/docs/README.md
  packages/terra-paginator/package.json
  packages/terra-paginator/src/terra-dev-site/doc/paginator/ChangeLog.6.doc.jsx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/ChangeLog.6.doc.mdx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/Paginator.1.doc.jsx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/Paginator.1.doc.mdx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/PaginatorControlled.2.doc.jsx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/PaginatorControlled.2.doc.mdx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/ProgressivePaginator.3.doc.jsx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/ProgressivePaginator.3.doc.mdx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/ProgressivePaginatorControlled.4.doc.jsx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/ProgressivePaginatorControlled.4.doc.mdx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/UpgradeGuide.5.doc.jsx
  packages/terra-paginator/src/terra-dev-site/doc/paginator/UpgradeGuide.5.doc.mdx
Labels: docs, pagination

#2859 [terra-profile-image] Update docs to use mdx syntax
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/README.md
  packages/terra-profile-image/package.json
  packages/terra-profile-image/src/terra-dev-site/doc/profile-image/ChangeLog.2.doc.jsx
  packages/terra-profile-image/src/terra-dev-site/doc/profile-image/ChangeLog.3.doc.mdx
  packages/terra-profile-image/src/terra-dev-site/doc/profile-image/ProfileImage.1.doc.jsx
  packages/terra-profile-image/src/terra-dev-site/doc/profile-image/ProfileImage.1.doc.mdx
  packages/terra-profile-image/src/terra-dev-site/doc/profile-image/UpgradeGuide.2.doc.mdx
Labels: docs, profile-image

#2862 [terra-action-header] Add data attributes to the header buttons
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/src/ActionHeader.jsx
Labels: action header
