Repository cerner/terra-core, pull requests merged in 2020-10, with the labels that each got.

#3167 [terra-form-select][terra-dropdown-button] Fix to prevent modal from closing on pressing escape to close select
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/src/DropdownButton.jsx
  packages/terra-dropdown-button/src/SplitButton.jsx
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/src/tag/Frame.jsx
Labels: :package: terra-dropdown-button, :package: terra-form-select, :star: Functionally Reviewed, Functional Review Ready, bug-fix

#3172 [terra-alert] Fixing text alignment at ultrawide browser widths
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/terra-dev-site/doc/example/LongTextExample.jsx
  packages/terra-alert/src/terra-dev-site/doc/example/LongTextExample.module.scss
Labels: :package: terra-alert, :star: UX Reviewed, UX Review Required

#3192 [terra-text] Remove incorrect documentation
  packages/terra-text/CHANGELOG.md
  packages/terra-text/src/terra-dev-site/doc/text/Text.1.doc.mdx
Labels: :package: terra-text

#3187 [terra-icon] Remove CSP violation
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/src/Icon.module.scss
  packages/terra-icon/src/IconBase.jsx
Labels: :package: terra-icon, Hacktoberfest-Accepted, bug-fix

#3188 [terra-form-select] Added mutation observer shim to better support inert in IE10.
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/src/shared/_contains-polyfill.js
  packages/terra-form-select/src/shared/_matches-polyfill.js
  packages/terra-form-select/src/single/Frame.jsx
  packages/terra-form-select/src/tag/Frame.jsx
Labels: :package: terra-form-select, Hacktoberfest-Accepted, bug-fix

#3193 [terra-icon] OCS icon bump to v1.33.0
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-icon/src/IconExports.js
  packages/terra-icon/src/cerner-one-icons.csv
  packages/terra-icon/src/icon-data.json
  packages/terra-icon/src/icon/IconMedicationTablet.jsx
  packages/terra-icon/src/icon/IconMedicationTabletOutline.jsx
  packages/terra-icon/src/svg/medicationTablet.svg
  packages/terra-icon/src/svg/medicationTabletOutline.svg
  packages/terra-icon/src/terra-dev-site/doc/example/IconThemeable.jsx
  packages/terra-icon/src/terra-dev-site/test/icon/IconAll.test.jsx
  packages/terra-icon/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/icon-spec/AllIcons[default].png
  packages/terra-icon/tests/wdio/__snapshots__/reference/en/chrome_huge/icon-spec/AllIcons[default].png
  packages/terra-icon/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/icon-spec/AllIcons[default].png
Labels: :package: terra-icon

#3200 [terra-toggle-button] Updated dev site examples to use hooks
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/src/terra-dev-site/doc/example/OpenCloseEventToggleButton.jsx
  packages/terra-toggle-button/src/terra-dev-site/test/toggle-button/OnCloseToggleButton.test.jsx
  packages/terra-toggle-button/src/terra-dev-site/test/toggle-button/OnOpenToggleButton.test.jsx
Labels: :package: terra-toggle-button, Hacktoberfest-Accepted

#3201 [terra-form-field] Updated dev site examples to use hooks
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/src/terra-dev-site/doc/example/FieldExamples.jsx
  packages/terra-form-field/src/terra-dev-site/test/form-field/FieldInteractiveInvalid.test.jsx
Labels: :package: terra-form-field, Hacktoberfest-Accepted

#3202 [terra-toggle] Updated dev site examples to use hooks
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/src/terra-dev-site/doc/example/AnimatedToggle.jsx
  packages/terra-toggle/src/terra-dev-site/doc/example/DefaultToggle.jsx
  packages/terra-toggle/src/terra-dev-site/test/toggle/AnimatedToggle.test.jsx
  packages/terra-toggle/src/terra-dev-site/test/toggle/DefaultToggle.test.jsx
  packages/terra-toggle/src/terra-dev-site/test/toggle/OpenToggle.test.jsx
Labels: :package: terra-toggle, Hacktoberfest-Accepted

#3203 [terra-section-header] Updated dev site examples to use hooks
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/src/terra-dev-site/doc/example/AccordionSectionHeader.jsx
  packages/terra-section-header/src/terra-dev-site/doc/example/LongTitleAccordionSectionHeader.jsx
Labels: :package: terra-section-header, Hacktoberfest-Accepted

#3179 [terra-button] Fixed focus styles after re-enabling a disabled button.
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/src/terra-dev-site/test/button/ProgrammaticDisableEnable.test.jsx
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/Programmatically_Re-enable_a_disabled_button[Button_is_disabled].png
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/Programmatically_Re-enable_a_disabled_button[Enabled_Button_is_not_focused].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Programmatically_Re-enable_a_disabled_button[Button_is_disabled].png
  packages/terra-button/tests/wdio/__snapshots__/reference/en/chrome_tiny/button-spec/Programmatically_Re-enable_a_disabled_button[Enabled_Button_is_not_focused].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Programmatically_Re-enable_a_disabled_button[Button_is_disabled].png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/Programmatically_Re-enable_a_disabled_button[Enabled_Button_is_not_focused].png
  packages/terra-button/tests/wdio/button-spec.js
Labels: :package: terra-button, :star: UX Reviewed, Hacktoberfest-Accepted, bug-fix

#3207 [terra-search-field] Add data-attribute for the clear and search button.
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/src/terra-dev-site/doc/example/SearchFieldProgrammaticSet.jsx
  packages/terra-search-field/src/terra-dev-site/doc/search-field/SearchField.1.doc.mdx
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/With_Default_Value[Clear].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/en/chrome_medium/search-field-spec/With_Default_Value[Clear].png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/With_Default_Value[Clear].png
  packages/terra-search-field/tests/wdio/search-field-spec.js
Labels: :package: terra-search-field
