Repository cerner/terra-core, pull requests merged in 2021-04, with the labels that each got.

#3410 [terra-toolbar] Removed extra padding due to null children
  packages/terra-toolbar/CHANGELOG.md
  packages/terra-toolbar/src/Toolbar.jsx
  packages/terra-toolbar/src/terra-dev-site/test/toolbar/ConditionalToolbar.test.jsx
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/toolbar-spec/both_buttons.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/toolbar-spec/conditional_render.png
  packages/terra-toolbar/tests/wdio/toolbar-spec.js
Labels: :package: terra-toolbar, bug-fix

#3392 [terra-status-view] Move overflow from inner to outer div
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/src/StatusView.module.scss
  packages/terra-status-view/src/terra-dev-site/test/status-view/StatusViewOverflow.test.jsx
  packages/terra-status-view/src/terra-dev-site/test/status-view/StatusViewTestCommon.module.scss
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-view-spec/error_too_thin_for_glyph.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/status-view-spec/scrolled.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-view-spec/error_too_thin_for_glyph.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/status-view-spec/scrolled.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/status-view-spec/error_too_thin_for_glyph.png
  packages/terra-status-view/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/status-view-spec/scrolled.png
  packages/terra-status-view/tests/wdio/status-view-spec.js
Labels: :package: terra-status-view, :star: UX Reviewed, UX Review Required, bug-fix

#3423 [terra-form-select] Update Swedish translations
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/translations/sv-SE.json
  packages/terra-form-select/translations/sv.json
Labels: :package: terra-form-select

#3386 [terra-form-input] Update input to fallback to native input for unsupported types.
  .gitignore
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/Input.jsx
  packages/terra-form-input/src/terra-dev-site/doc/example/uncontrolled/FileExample.jsx
  packages/terra-form-input/src/terra-dev-site/doc/form-input/Input.1.doc.mdx
  packages/terra-form-input/src/terra-dev-site/test/form-input/SupportedTypesInput.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/SupportedTypesInputField.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/UnsupportedTypesInput.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/UnsupportedTypesInputField.test.jsx
  packages/terra-form-input/src/terra-dev-site/test/form-input/common/Input.test.module.scss
  packages/terra-form-input/tests/jest/InputField.test.jsx
  packages/terra-form-input/tests/jest/__snapshots__/InputField.test.jsx.snap
Labels: :star: Functionally Reviewed, :star: UX Reviewed, Functional Review Ready, UX Review Required, bug-fix
