Repository cerner/terra-core, pull requests merged in 2021-06, with the labels that each got.

#3437 [terra-seach-field] Reset searchTimeout for any changes made to the input
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/empty_search_text.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/empty_search_text.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/search-field-spec/empty_search_text.png
  packages/terra-search-field/tests/wdio/search-field-spec.js
Labels: :package: terra-search-field, bug-fix

#3438 [terra-paginator] Fixed focus issue in Paginator Button when navigating via keyboard.
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/_PaginatorButton.jsx
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/previous_button_is_not_focused.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/previous_button_is_not_focused.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/paginator-spec/previous_button_is_not_focused.png
  packages/terra-paginator/tests/wdio/paginator-spec.js
Labels: :package: terra-paginator, bug-fix

#3449 [terra-form-select] Updated the specificity conflict for combobox's input flex & width styles.
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/shared/_Frame.module.scss
Labels: :star: UX Reviewed, UX Review Ready, UX Review Required, bug-fix

#3452 [terra-docs] Fix placeholder styling
  packages/terra-docs/CHANGELOG.md
  packages/terra-docs/src/Placeholder.jsx
  packages/terra-docs/src/Placeholder.module.scss
  packages/terra-docs/src/clinical-lowlight-theme/Placeholder.module.scss
  packages/terra-docs/src/orion-fusion-theme/Placeholder.module.scss
  packages/terra-docs/tests/jest/__snapshots__/Placeholder.test.jsx.snap
Labels: :package: terra-docs

#3458 Update test urls to account for scoped packages.
  package.json
  packages/terra-action-footer/CHANGELOG.md
  packages/terra-action-footer/tests/wdio/action-footer-spec.js
  packages/terra-action-footer/tests/wdio/block-action-footer-spec.js
  packages/terra-action-footer/tests/wdio/centered-action-footer-spec.js
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/tests/wdio/action-header-spec.js
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/tests/wdio/alert-spec.js
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/tests/wdio/arrange-spec.js
  packages/terra-docs/CHANGELOG.md
  packages/terra-docs/tests/wdio/button-spec.js
  packages/terra-docs/tests/wdio/notice-spec.js
  packages/terra-docs/tests/wdio/placeholder-spec.js
Labels: :package: terra-action-footer, :package: terra-action-header, :package: terra-alert, :package: terra-arrange, :package: terra-docs
