Repository cerner/terra-core, pull requests merged in 2021-02, with the labels that each got.

#3344 [terra-i18n] Avoid bad publish of intl-locales-supported
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/package.json
Labels: :package: terra-i18n

#3323 Passively fixing issues for upcoming axe-core version 4
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/src/Item.jsx
  packages/terra-dropdown-button/tests/jest/__snapshots__/DropdownButtonBase.test.jsx.snap
  packages/terra-dropdown-button/tests/jest/__snapshots__/DropdownList.test.jsx.snap
  packages/terra-dropdown-button/tests/jest/__snapshots__/Item.test.jsx.snap
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/src/RadioField.jsx
  packages/terra-form-radio/tests/jest/__snapshots__/RadioField.test.jsx.snap
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/shared/_OptGroup.jsx
  packages/terra-form-select/tests/jest/__snapshots__/OptGroup.test.jsx.snap
Labels: :star: Accessibility Reviewed

#3345 Update terra-core to eslint-v7
  package.json
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/src/Textarea.jsx
Labels: :package: terra-form-textarea

#3360 [terra-dropdown-button] Fix for misalignment with terra-button
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/src/_DropdownButtonBase.module.scss
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/dropdown-button-spec/Focus_in_callback[first_button_clicked].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/split-button-spec/Focus_in_callback[first_button_clicked].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/split-button-spec/Focus_in_callback[second_button_clicked].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/en/chrome_medium/dropdown-button-spec/Focus_in_callback[first_button_clicked].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/en/chrome_medium/split-button-spec/Focus_in_callback[first_button_clicked].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/en/chrome_medium/split-button-spec/Focus_in_callback[second_button_clicked].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/dropdown-button-spec/Focus_in_callback[first_button_clicked].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/split-button-spec/Focus_in_callback[first_button_clicked].png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/split-button-spec/Focus_in_callback[second_button_clicked].png
Labels: :package: terra-dropdown-button, :star: UX Reviewed, UX Review Required

#3358 [terra-html-table] Low light theme fixes.
  packages/terra-html-table/CHANGELOG.md
  packages/terra-html-table/src/clinical-lowlight-theme/Table.module.scss
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/HTML_Table[compact_padding].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/HTML_Table[no_padding].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/HTML_Table[no_rows].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/HTML_Table[no_striped].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/HTML_Table[single_row].png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/HTML_Table[standard_padding].png
Labels: :package: terra-html-table, :star: UX Reviewed, UX Review Required, bug-fix

#3352 [terra-table] Lowlight table fixes
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/clinical-lowlight-theme/Table.module.scss
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[custom_cell_content].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[fill].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[header_check_mark].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[header_footer].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[multi_demo].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[padding].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[row].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[section].png
  packages/terra-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/Table[striped].png
Labels: :package: terra-table, :star: UX Reviewed, UX Review Required, bug-fix
