Repository cerner/terra-core, pull requests merged in 2021-03, with the labels that each got.

#3368 [terra-docs] Fix build, correct broken snapshots
  packages/terra-docs/CHANGELOG.md
  packages/terra-docs/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/notice-spec/MDX_notice[default].png
  packages/terra-docs/tests/wdio/__snapshots__/reference/en/chrome_medium/notice-spec/MDX_notice[default].png
  packages/terra-docs/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/notice-spec/MDX_notice[default].png
Labels: :package: terra-docs, bug-fix

#3367 [terra-table] Update focus outline colors for lowlight
  packages/terra-table/CHANGELOG.md
  packages/terra-table/src/clinical-lowlight-theme/Table.module.scss
Labels: :package: terra-table, :star: UX Reviewed, UX Review Required, bug-fix

#3391 [terra-signature] Fix touch screen interaction on Windows
  CONTRIBUTORS.md
  packages/terra-signature/CHANGELOG.md
  packages/terra-signature/src/Signature.jsx
  packages/terra-signature/src/Signature.module.scss
Labels: :package: terra-signature

#3385 [terra-form-select] Allow VO to read index value for select options
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/combobox/Menu.jsx
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/multiple/Menu.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/src/search/Menu.jsx
  packages/terra-form-select/src/shared/_MenuUtil.js
  packages/terra-form-select/src/single/Frame.jsx
  packages/terra-form-select/src/single/Menu.jsx
  packages/terra-form-select/src/tag/Frame.jsx
  packages/terra-form-select/src/tag/Menu.jsx
  packages/terra-form-select/translations/de.json
  packages/terra-form-select/translations/en-AU.json
  packages/terra-form-select/translations/en-CA.json
  packages/terra-form-select/translations/en-GB.json
  packages/terra-form-select/translations/en-US.json
  packages/terra-form-select/translations/en.json
  packages/terra-form-select/translations/es-ES.json
  packages/terra-form-select/translations/es-US.json
  packages/terra-form-select/translations/es.json
  packages/terra-form-select/translations/fi-FI.json
  packages/terra-form-select/translations/fr-FR.json
  packages/terra-form-select/translations/fr.json
  packages/terra-form-select/translations/nl-BE.json
  packages/terra-form-select/translations/nl.json
  packages/terra-form-select/translations/pt-BR.json
  packages/terra-form-select/translations/pt.json
  packages/terra-form-select/translations/sv-SE.json
  packages/terra-form-select/translations/sv.json
Labels: :star: Accessibility Reviewed, :star: UX Reviewed, Accessibility Review Required, UX Review Required

#3402 [terra-form-select] Fixed focus not getting removed in IE .
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/tag/Frame.jsx
Labels: :package: terra-form-select, bug-fix

#3409 [terra-alert] Update translations from feedback from the translations team
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/translations/nl-BE.json
  packages/terra-alert/translations/nl.json
  packages/terra-alert/translations/sv-SE.json
  packages/terra-alert/translations/sv.json
Labels: :package: terra-alert
