Repository cerner/terra-core, pull requests merged in 2021-07, with the labels that each got.

#3461 [terra-profile-image] Update fallback image styles.
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/src/ProfileImage.jsx
  packages/terra-profile-image/src/ProfileImage.module.scss
  packages/terra-profile-image/src/clinical-lowlight-theme/ProfileImage.module.scss
  packages/terra-profile-image/src/orion-fusion-theme/ProfileImage.module.scss
  packages/terra-profile-image/src/terra-dev-site/assets/placeholder_default_150x150.png
  packages/terra-profile-image/src/terra-dev-site/assets/placeholder_default_75x75.svg
  packages/terra-profile-image/src/terra-dev-site/assets/placeholder_lowlight_150x150.png
  packages/terra-profile-image/src/terra-dev-site/assets/placeholder_lowlight_75x75.svg
  packages/terra-profile-image/src/terra-dev-site/doc/example/ProfileImageDefault.jsx
  packages/terra-profile-image/src/terra-dev-site/doc/example/ProfileImageFitTypes.jsx
  packages/terra-profile-image/src/terra-dev-site/doc/example/ProfileImagePlaceholderFallback.jsx
  packages/terra-profile-image/src/terra-dev-site/doc/example/ProfileImageVariants.jsx
  packages/terra-profile-image/src/terra-dev-site/doc/example/common/FitTypesWrapper.jsx
  packages/terra-profile-image/src/terra-dev-site/doc/profile-image/ProfileImage.1.doc.mdx
  packages/terra-profile-image/src/terra-dev-site/test/profile-image/ProfileImageCommon.module.scss
  packages/terra-profile-image/src/terra-dev-site/test/profile-image/ProfileImageDefault.test.jsx
  packages/terra-profile-image/src/terra-dev-site/test/profile-image/ProfileImageFailed.test.jsx
  packages/terra-profile-image/src/terra-dev-site/test/profile-image/ProfileImageHeightAndWidthProvidedByCSS.test.jsx
  packages/terra-profile-image/src/terra-dev-site/test/profile-image/ProfileImageHeightAndWidthProvidedByProps.test.jsx
  packages/terra-profile-image/src/terra-dev-site/test/profile-image/ProfileImageSourceNotProvided.test.jsx
  packages/terra-profile-image/src/terra-dev-site/test/profile-image/ProfileImageWhenHeightAndWidthPropsAreNotProvided.test.jsx
  packages/terra-profile-image/src/terra-dev-site/test/profile-image/ProfileImageWithUserProvidedStyles.test.jsx
  packages/terra-profile-image/tests/jest/__snapshots__/ProfileImage.test.jsx.snap
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/profile-image-spec/default.png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/profile-image-spec/failed.png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/profile-image-spec/source_not_provided.png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/profile-image-spec/default.png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/profile-image-spec/failed.png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/profile-image-spec/source_not_provided.png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/profile-image-spec/default.png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/profile-image-spec/failed.png
  packages/terra-profile-image/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/profile-image-spec/source_not_provided.png
Labels: :package: terra-profile-image, :star: UX Reviewed, bug-fix

#3466 [terra-checkbox] Corrected mislabeled examples
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/src/terra-dev-site/doc/form-checkbox/CheckboxField.2.doc.mdx
Labels: :package: terra-form-checkbox, bug-fix

#3464 [terra-form-select] Fix focus issue in menu with large number of options in mobile devices
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/src/tag/Frame.jsx
  packages/terra-form-select/src/terra-dev-site/test/form-select/SelectVariantsWith500Options.test.jsx
Labels: :package: terra-form-select, bug-fix
