Repository cerner/terra-core, pull requests merged in 2021-12, with the labels that each got.

#3530 [terra-grid] Migrate Grid docs to core-docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/grid/ChangeLog.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/grid/Grid.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/grid/UpgradeGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/grid/example/GridDefault.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/grid/example/GridExample.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/grid/example/GridNested.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/grid/example/GridResponsive.jsx
  packages/terra-core-docs/src/terra-dev-site/test/grid/GridColumnUndefined.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/grid/GridDefault.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/grid/GridEnormous.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/grid/GridExample.module.scss
  packages/terra-core-docs/src/terra-dev-site/test/grid/GridHuge.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/grid/GridLarge.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/grid/GridMedium.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/grid/GridNested.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/grid/GridResponsive.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/grid/GridSmall.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/grid/GridTiny.test.jsx
  packages/terra-grid/CHANGELOG.md
  packages/terra-grid/tests/wdio/grid-spec.js
Labels: :package: terra-grid

#3532 [terra-hyperlink]Migrate docs to terra core docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/ChangeLog.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/Hyperlink.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/UpgradeGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/AudioHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/DefaultHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/DisabledHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/DocumentHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/ExternalHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/ImageHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/UnderlineHiddenHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/VideoHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/AudioHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/DefaultHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/DisabledHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/DocumentHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/ExternalHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/IconNonWrappingHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/ImageHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/ScaledHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/StatesHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/UnderlineHiddenHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/VideoHyperlink.test.jsx
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/src/HyperlinkTestCommon.module.scss
  packages/terra-hyperlink/tests/wdio/hyperlink-spec.js
Labels: :package: terra-hyperlink

#3536 [terra-heading] Migrate Docs to terra-core-docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/ChangeLog.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/Heading.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/UpgradeGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/example/HeadingColors.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/example/HeadingDocCommon.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/example/HeadingLevels.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/example/HeadingSizes.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/example/HeadingVariations.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/example/HeadingVisuallyHidden.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/example/HeadingWeights.jsx
  packages/terra-core-docs/src/terra-dev-site/test/heading/DefaultHeading.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/heading/HeadingColor.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/heading/HeadingItalics.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/heading/HeadingLevels.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/heading/HeadingSize.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/heading/HeadingVisualProps.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/heading/HeadingVisuallyHidden.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/heading/HeadingWeight.test.jsx
  packages/terra-heading/CHANGELOG.md
  packages/terra-heading/src/clinical-lowlight-theme/colors.module.scss
  packages/terra-heading/src/colors.module.scss
  packages/terra-heading/src/orion-fusion-theme/colors.module.scss
  packages/terra-heading/tests/wdio/heading-spec.js
Labels: :package: terra-heading

#3535 Enabled child buttons are toggle buttons
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/src/ButtonGroup.jsx
  packages/terra-button-group/tests/jest/ButtonGroup.test.jsx
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroup.test.jsx.snap
Labels: :package: terra-button-group

#3537 [terra-i18n] Migrate docs to terra-core-docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/i18n/ChangeLog.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/i18n/UpgradeGuide.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/i18n/example/I18nDemo.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/i18n/i18n.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/test/i18n/DefaultI18n.module.scss
  packages/terra-core-docs/src/terra-dev-site/test/i18n/DefaultI18n.test.jsx
  packages/terra-i18n/CHANGELOG.md
  packages/terra-i18n/tests/wdio/i18n-spec.js
Labels: :package: terra-i18n

#3538 [terra-icon] Migrate docs to terra core docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/icon/ChangeLog.5.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/Icon.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/Static.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/Themeable.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/UpgradeGuide.4.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/IconStatic.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/IconThemeable.jsx
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconAll.module.scss
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconAll.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconAriaLabel.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconBidi.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconDefault.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconHeightWidth.module.scss
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconHeightWidth.test.jsx
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/tests/wdio/icon-spec.js
Labels: :package: terra-icon

#3539 [terra-image] Migrate Docs to terra core docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/image/ChangeLog.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/image/Image.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/image/UpgradeGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/image/assets/1000x200.png
  packages/terra-core-docs/src/terra-dev-site/doc/image/assets/150x150.jpg
  packages/terra-core-docs/src/terra-dev-site/doc/image/assets/170x251.jpg
  packages/terra-core-docs/src/terra-dev-site/doc/image/example/ImageDefault.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/image/example/ImageFitTypes.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/image/example/ImageFitTypes.scss
  packages/terra-core-docs/src/terra-dev-site/doc/image/example/common/FitTypesWrapper.jsx
  packages/terra-core-docs/src/terra-dev-site/test/image/ImageDefault.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/image/ImageFluid.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/image/ImageLoading.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/image/ImageNonFluid.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/image/ImageTestCommon.module.scss
  packages/terra-image/CHANGELOG.md
  packages/terra-image/tests/wdio/image-spec.js
Labels: :package: terra-image

#3540 [terra-list] Migrate Docs to terra-core-docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/List.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListDivided.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListDocCommon.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListItem.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListPadded.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListSection.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListSubsection.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListSubsectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/guides/MultiSelectList.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/guides/SectionList.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/guides/SectionWithSubsection1.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/guides/SectionWithSubsection2.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/guides/SingleSelectList.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/guides/mock-data/mock-section-sub.js
  packages/terra-core-docs/src/terra-dev-site/doc/list/guides/mock-data/mock-section.js
  packages/terra-core-docs/src/terra-dev-site/doc/list/guides/mock-data/mock-select.js
  packages/terra-core-docs/src/terra-dev-site/doc/list/list/ChangeLog.8.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/list/List.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/list/ListItem.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/list/ListSection.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/list/ListSectionHeader.5.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/list/ListSubsection.4.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/list/ListSubsectionHeader.6.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/list/guides.7/MultiSelectList.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/list/guides.7/SectionList.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/list/guides.7/SectionWithinSection.4.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/list/guides.7/SingleSelectList.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/list/guides.7/ThemeUpgrade.5.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/test/list/List.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/list/ListItem.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/list/ListSection.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/list/ListSectionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/list/ListSubsection.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/list/ListSubsectionHeader.test.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/tests/wdio/list-spec.js
Labels: :package: terra-list

#3542 [terra-paginator] Migrate docs to terra core docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/ChangeLog.6.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/Paginator.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/PaginatorControlled.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/ProgressivePaginator.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/ProgressivePaginatorControlled.4.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/UpgradeGuide.5.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledPaginatorCommon.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledPaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledPaginatorNoPagesExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledProgressivePaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledProgressivePaginatorWithoutTotalCountExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/PaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/PaginatorExampleCommon.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/PaginatorNoPagesExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ProgressivePaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ProgressivePaginatorWithoutTotalCountExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/site.module.scss
  packages/terra-core-docs/src/terra-dev-site/test/paginator/ControlledPaginator.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/paginator/ControlledPaginatorNoPages.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/paginator/ControlledPaginatorTestCommon.module.scss
  packages/terra-core-docs/src/terra-dev-site/test/paginator/ControlledProgressivePaginator.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/paginator/ControlledProgressivePaginatorWithoutTotalCount.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/paginator/Paginator.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/paginator/PaginatorNoPages.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/paginator/PaginatorWithoutItemCount.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/paginator/ProgressivePaginator.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/paginator/ProgressivePaginatorWithCustomLabel.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/paginator/ProgressivePaginatorWithoutTotalCount.test.jsx
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/package.json
  packages/terra-paginator/tests/wdio/paginator-spec.js
Labels: :package: terra-paginator

#3543 [terra-progress-bar]Migrate docs to terra core docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/ChangeLog.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/ProgressBar.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/UpgradeGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarColor.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarDefault.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarSize.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarTwoColors.jsx
  packages/terra-core-docs/src/terra-dev-site/test/progress-bar/ProgressBarColor.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/progress-bar/ProgressBarCustomizedColors.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/progress-bar/ProgressBarDefault.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/progress-bar/ProgressBarSize.test.jsx
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/src/clinical-lowlight-theme/colors.module.scss
  packages/terra-progress-bar/src/colors.module.scss
  packages/terra-progress-bar/src/orion-fusion-theme/colors.module.scss
  packages/terra-progress-bar/tests/wdio/progress-bar-spec.js
Labels: :package: terra-progress-bar

#3546 [terra-profile-image] Migrate Profile image docs to terra core docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/ChangeLog.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/ProfileImage.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/UpgradeGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/assets/150x150.jpg
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/assets/170x251.jpg
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/assets/placeholder_default_150x150.png
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/assets/placeholder_default_75x75.svg
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/assets/placeholder_lowlight_150x150.png
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/assets/placeholder_lowlight_75x75.svg
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/example/ProfileImageDefault.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/example/ProfileImageFitTypes.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/example/ProfileImagePlaceholderFallback.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/example/ProfileImageVariants.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/example/common/FitTypesWrapper.jsx
  packages/terra-core-docs/src/terra-dev-site/test/profile-image/ProfileImageCommon.module.scss
  packages/terra-core-docs/src/terra-dev-site/test/profile-image/ProfileImageDefault.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/profile-image/ProfileImageFailed.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/profile-image/ProfileImageHeightAndWidthProvidedByCSS.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/profile-image/ProfileImageHeightAndWidthProvidedByProps.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/profile-image/ProfileImageSourceNotProvided.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/profile-image/ProfileImageWhenHeightAndWidthPropsAreNotProvided.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/profile-image/ProfileImageWithUserProvidedStyles.test.jsx
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/tests/wdio/profile-image-spec.js
Labels: :package: terra-profile-image

#3555 [terra-spacer] Migrate docs to terra-core-docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/spacer/ChangeLog.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/spacer/Spacer.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/spacer/UpgradeGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/spacer/example/1000x200.png
  packages/terra-core-docs/src/terra-dev-site/doc/spacer/example/150x150.jpg
  packages/terra-core-docs/src/terra-dev-site/doc/spacer/example/Spacer.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/spacer/example/SpacerExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/spacer/example/SpacerResponsiveExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/spacer/example/SpacerShortVsLongHandExample.jsx
  packages/terra-core-docs/src/terra-dev-site/test/spacer/DefaultSpacer.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/spacer/SpacerLarge+1.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/spacer/SpacerLarge+2.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/spacer/SpacerLarge+3.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/spacer/SpacerLarge+4.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/spacer/SpacerLarge.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/spacer/SpacerMedium.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/spacer/SpacerSmall-1.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/spacer/SpacerSmall-2.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/spacer/SpacerSmall.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/spacer/SpacerTest.module.scss
  packages/terra-spacer/CHANGELOG.md
  packages/terra-spacer/package.json
  packages/terra-spacer/tests/wdio/spacer-spec.js
Labels: :package: terra-spacer
