Repository cerner/terra-core, pull requests merged in 2022-04, with the labels that each got.

#3604 Icon a11y guide 2 UXPLATFORM-6244
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/icon/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/ChangeLog.6.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/Static.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/Themeable.4.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/UpgradeGuide.5.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yDecorative.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yGroupInteractive.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yGroupReadOnly.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yMeaningfulInteractive.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yMeaningfulReadOnly.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/common.js
  packages/terra-core-docs/src/terra-dev-site/doc/image/AccessibilityGuide.3.doc.mdx
Labels: :package: terra-icon, :star: Accessibility Reviewed, :star: Functionally Reviewed, Accessibility Review Required

#3605 [terra-hyperlink] Implement Accessibility changes (Part-1)
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/Hyperlink.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/UpgradeGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/AudioHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/DefaultHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/DisabledHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/DocumentHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/ExternalHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/ImageHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/UnderlineHiddenHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/VideoHyperlink.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/AudioHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/DefaultHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/DisabledHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/DocumentHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/ExternalHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/IconNonWrappingHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/ImageHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/PrivateDisabledHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/PrivateUnderlineHiddenHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/ScaledHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/StatesHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/VideoHyperlink.test.jsx
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/src/Hyperlink.jsx
  packages/terra-hyperlink/src/Hyperlink.module.scss
  packages/terra-hyperlink/src/clinical-lowlight-theme/Hyperlink.module.scss
  packages/terra-hyperlink/src/orion-fusion-theme/Hyperlink.module.scss
  packages/terra-hyperlink/tests/jest/Hyperlink.test.jsx
  packages/terra-hyperlink/tests/jest/__snapshots__/Hyperlink.test.jsx.snap
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/audio.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/default.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/document.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/external.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/icon_non_wrapping.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/image.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/scaled.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/states.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/video.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/audio.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/default.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/document.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/external.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/icon_non_wrapping.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/image.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/scaled.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/states.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/video.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/audio.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/default.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/document.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/external.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/icon_non_wrapping.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/image.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/scaled.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/states.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/video.png
  packages/terra-hyperlink/tests/wdio/hyperlink-spec.js
Labels: :package: terra-hyperlink

#3606 [terra-core-docs] Move heading docs, including example dir, out of example dir
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/heading/ChangeLog.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/Heading.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/UpgradeGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/HeadingColors.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/HeadingDocCommon.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/HeadingLevels.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/HeadingSizes.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/HeadingVariations.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/HeadingVisuallyHidden.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/heading/example/HeadingWeights.jsx
Labels: :package: terra-core-docs

#3610 [terra-hyperlink] Add Accessibility guide
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/AccessibilityGuide.5.doc.mdx
Labels: Accessibility Review Required

#3613 [terra-hyperlink] Add Hyperlink guide
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/AccessibilityGuide.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/ChangeLog.5.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/UpgradeGuide.4.doc.mdx
Labels: :star: Accessibility Reviewed, Accessibility Review Required
