Repository cerner/terra-core, pull requests merged in 2022-06, with the labels that each got.

#3626 [terra-icon MVB] added upgrade guide
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/icon/UpgradeGuide.5.doc.mdx
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/auto_search_disabled_extended_search.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/search_with_enter_default.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/auto_search_disabled_extended_search.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/search_with_enter_default.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/search-field-spec/search_with_enter_default.png
Labels: :package: terra-icon, Major Version Bump

#3633 [terra-hyperlink] Fixed focus box bug
  package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/ProgrammaticFocus.test.jsx
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/src/Hyperlink.jsx
  packages/terra-hyperlink/src/Hyperlink.module.scss
  packages/terra-hyperlink/tests/jest/__snapshots__/Hyperlink.test.jsx.snap
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink.png
  packages/terra-hyperlink/tests/wdio/hyperlink-spec.js
Labels: :package: terra-hyperlink, bug-fix

#3632 [terra-hyperlink-button] Fixed focus box bug
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/ProgrammaticFocus.test.jsx
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/src/HyperlinkButton.jsx
  packages/terra-hyperlink/tests/jest/__snapshots__/HyperlinkButton.test.jsx.snap
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-button-spec/focused_hyperlink_button.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-button-spec/focused_hyperlink_button.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-button-spec/focused_hyperlink_button.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink.png
  packages/terra-hyperlink/tests/wdio/hyperlink-button-spec.js
Labels: do not merge, :package: terra-hyperlink, bug-fix

#3637 [terra-action-header] Removed default heading level.
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/src/ActionHeader.jsx
  packages/terra-action-header/src/_ActionHeaderContainer.jsx
  packages/terra-action-header/tests/jest/ActionHeader.test.jsx
  packages/terra-action-header/tests/jest/__snapshots__/ActionHeader.test.jsx.snap
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/UpgradeGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/example/BackActionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/example/BackCloseActionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/example/BackPreviousNextCloseActionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/example/CloseActionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/example/DefaultActionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/example/LongWrappingTextHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/example/MaximizeCloseActionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/example/MinimizeCustomButtonActionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/test/action-header/BackActionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/action-header/BackCloseActionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/action-header/BackClosePreviousNextActionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/action-header/CloseActionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/action-header/DefaultActionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/action-header/MaximizeCloseActionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/action-header/MinimizeCustomButtonActionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/action-header/NextEnabledPreviousDisabledActionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/action-header/PreviousEnabledNextDisabledActionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/action-header/WrappedTitleActionHeader.test.jsx
Labels: :package: terra-action-header
