Repository cerner/terra-core, pull requests merged in 2022-12, with the labels that each got.

#3695 [terra-html-table] Added row-header a11y changes
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/html-table/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/html-table/example/RowHeaderTable.jsx
  packages/terra-core-docs/src/terra-dev-site/test/html-table/RowHeaderTable.test.jsx
  packages/terra-html-table/CHANGELOG.md
  packages/terra-html-table/src/Table.module.scss
  packages/terra-html-table/src/TableHeader.jsx
  packages/terra-html-table/src/TableRow.jsx
  packages/terra-html-table/src/TableUtils.jsx
  packages/terra-html-table/tests/jest/TableRow.test.jsx
  packages/terra-html-table/tests/jest/__snapshots__/Table.test.jsx.snap
  packages/terra-html-table/tests/jest/__snapshots__/TableHeader.test.jsx.snap
  packages/terra-html-table/tests/jest/__snapshots__/TableRow.test.jsx.snap
  packages/terra-html-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/html-table-spec/row_header.png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/html-table-spec/row_header.png
  packages/terra-html-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/html-table-spec/row_header.png
  packages/terra-html-table/tests/wdio/html-table-spec.js
Labels: :package: terra-html-table

#3696 [form-select] form-single-select accessiblity updates
  packages/terra-form-select/src/SingleSelectField.jsx
  packages/terra-form-select/src/shared/_Option.jsx
  packages/terra-form-select/src/shared/_SharedUtil.js
  packages/terra-form-select/src/single/Frame.jsx
  packages/terra-form-select/src/single/Menu.jsx
  packages/terra-form-select/translations/en.json
Labels: :package: terra-form-select

#3693 Accessibility Guide for Form-Select
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/AccessibilityGuide.18.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/example/SelectFieldExample.jsx
Labels: :package: terra-form-select

#3691 [terra-section-header] Accessibility updates
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/AccordionExampleTemplate.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/AccordionSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/ClosedSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/DefaultSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/LongTitleSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/OnClickSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/OpenSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/TransparentSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/test/section-header/ClosedSectionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/section-header/DefaultSectionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/section-header/LongTitleAccordionSectionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/section-header/OnClickSectionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/section-header/OpenSectionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/section-header/TransparentOnClickSectionHeader.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/section-header/TransparentSectionHeader.test.jsx
  packages/terra-docs/CHANGELOG.md
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/src/SectionHeader.jsx
  packages/terra-section-header/src/SectionHeader.module.scss
  packages/terra-section-header/tests/jest/SectionHeader.test.jsx
  packages/terra-section-header/tests/jest/__snapshots__/SectionHeader.test.jsx.snap
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/src/ToggleSectionHeader.jsx
  packages/terra-toggle-section-header/tests/jest/__snapshots__/ToggleSectionHeader.test.jsx.snap
Labels: :package: terra-section-header

#3698 [terra-html-table]Add A11y Guide
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/html-table/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/html-table/ChangeLog.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/html-table/example/RowHeaderTable.jsx
Labels: :package: terra-html-table

#3688 [terra-list] Add programmatic context for list instructions
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/list/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/AriaDescribedByHiddenList.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/AriaDescribedByVisibleList.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/AriaDescriptionList.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/AriaDetailsList.jsx
  packages/terra-core-docs/src/terra-dev-site/test/list/AriaDescribedByHiddenList.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/list/AriaDescribedBySelectableList.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/list/AriaDescribedByVisibleList.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/list/AriaDescriptionList.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/list/AriaDetailsList.test.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/List.jsx
  packages/terra-list/tests/jest/List.test.jsx
  packages/terra-list/tests/jest/__snapshots__/List.test.jsx.snap
Labels: :package: terra-list, Accessibility Review Ready

#3704 [terra-form-fieldset] Added aria-labelledby
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/package.json
  packages/terra-form-fieldset/src/Fieldset.jsx
  packages/terra-form-fieldset/tests/jest/FormFieldset.test.jsx
  packages/terra-form-fieldset/tests/jest/__snapshots__/FormFieldset.test.jsx.snap
Labels: :package: terra-form-fieldset
