Repository cerner/terra-core, pull requests merged in 2022-03, with the labels that each got.

#3589 [terra-image] Renamed Index.js to index.js
  packages/terra-image/CHANGELOG.md
  packages/terra-image/src/index.js
Labels: :package: terra-image

#3593 Add terra-core-docs whitespace layout helper
  packages/terra-core-docs/src/terra-dev-site/common/layout-helpers/Whitespace.jsx
  packages/terra-core-docs/src/terra-dev-site/common/layout-helpers/Whitespace.module.scss
Labels: :package: terra-core-docs

#3594 [terra-core-docs] Updated broken links in terra-form-select docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/form-select/Combobox.05.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/form-select/MultiSelect.07.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/form-select/SearchSelect.11.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/form-select/Select.01.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/form-select/SingleSelect.03.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/form-select/TagSelect.09.doc.mdx
Labels: :package: terra-core-docs

#3590 Toolbar theme color corrections
  packages/terra-toolbar/CHANGELOG.md
  packages/terra-toolbar/src/clinical-lowlight-theme/Toolbar.module.scss
  packages/terra-toolbar/src/orion-fusion-theme/Toolbar.module.scss
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/toolbar-spec/long_content.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/toolbar-spec/long_content.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/both_buttons.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/center_align.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/conditional_render.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/default.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/end_align.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/long_content.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/toolbar-spec/start_align.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/toolbar-spec/long_content.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/toolbar-spec/long_content.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/both_buttons.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/center_align.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/conditional_render.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/default.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/end_align.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/long_content.png
  packages/terra-toolbar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/toolbar-spec/start_align.png
Labels: :package: terra-toolbar

#3600 Clarified instructions on how/when to run the scripts
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/README.md
  packages/terra-icon/package.json
  packages/terra-icon/scripts/src/README.md
  packages/terra-icon/scripts/src/generate-icons/Icon.js
  packages/terra-icon/scripts/src/generate-icons/README.md
  packages/terra-icon/scripts/src/generate-icons/ReactIcon.js
  packages/terra-icon/scripts/src/generate-icons/classNamesToAttributes.js
  packages/terra-icon/scripts/src/generate-icons/htmlToReactAttributes.js
  packages/terra-icon/scripts/src/generate-icons/index.js
  packages/terra-icon/scripts/src/generate-icons/nodeToJsxNode.js
  packages/terra-icon/scripts/src/generate-icons/parseSvg.js
  packages/terra-icon/scripts/src/generate-icons/removeMakeDirectories.js
  packages/terra-icon/scripts/src/generate-icons/renderJsx.js
  packages/terra-icon/scripts/src/generate-icons/staticIconLowLightTemplate.txt
  packages/terra-icon/scripts/src/generate-icons/staticIconTemplate.txt
  packages/terra-icon/scripts/src/generate-icons/template.txt
  packages/terra-icon/scripts/src/generate-icons/themeIconWithTooltipTemplate.txt
  packages/terra-icon/scripts/src/generate-icons/transformChildren.js
  packages/terra-icon/scripts/src/generate-icons/writeIcon.js
Labels: :package: terra-icon
