Repository cerner/terra-core, pull requests merged in 2022-11, with the labels that each got.

#3679 [terra-button-group] Accessibility Guide
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/button-group/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/button-group/ChangeLog.4.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/button-group/UpgradeGuide.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/button-group/example/ButtonGroupIconA11y.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/button-group/example/ButtonGroupMultiSelect.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/button-group/example/ButtonGroupSingleSelect.jsx
Labels: :package: terra-button-group

#3678 [terra-toolbar] Add programmatic context for what toolbar controls
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/toolbar/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/toolbar/example/DefaultToolbar.jsx
  packages/terra-core-docs/src/terra-dev-site/test/toolbar/AriaControlsToolbar.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/toolbar/AriaLabelToolbar.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/toolbar/AriaLabelledByToolbar.test.jsx
  packages/terra-toolbar/CHANGELOG.md
  packages/terra-toolbar/src/Toolbar.jsx
  packages/terra-toolbar/tests/jest/Toolbar.test.jsx
  packages/terra-toolbar/tests/jest/__snapshots__/Toolbar.test.jsx.snap
Labels: :package: terra-toolbar

#3681 [terra-form-input] Making ariaLabel prop private
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/src/Input.jsx
Labels: :package: terra-form-input

#3684 [terra-Profile-image] added Accessibility Guide
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/AccessibilityGuide.4.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/example/ProfileImageExamples.jsx
Labels: :package: terra-profile-image

#3680 [terra-section-header] Accordion header jaws fix
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/AccordionSectionHeader.jsx
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/src/SectionHeader.jsx
  packages/terra-section-header/src/SectionHeader.module.scss
  packages/terra-section-header/tests/jest/__snapshots__/SectionHeader.test.jsx.snap
  packages/terra-toggle-section-header/tests/jest/__snapshots__/ToggleSectionHeader.test.jsx.snap
Labels: :package: terra-section-header

#3683 [terra-profile-image] Added Profile image hoc example
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/example/ProfileImageHigherOrderComponent.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/profile-image/example/ProfileImagePlaceholderFallback.jsx
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/src/ProfileImage.jsx
  packages/terra-profile-image/tests/jest/ProfileImage.test.jsx
  packages/terra-profile-image/tests/jest/__snapshots__/ProfileImage.test.jsx.snap
Labels: :package: terra-profile-image

#3687 [terra-form-field] Removing aria-live from error message
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/src/Field.jsx
  packages/terra-form-field/tests/jest/__snapshots__/Field.test.jsx.snap
Labels: :package: terra-form-field

#3673 Add programmatic context to communicate hierarchal relationships
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/list/guides/SectionList.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/ListSection.jsx
  packages/terra-list/src/ListSectionHeader.jsx
  packages/terra-list/src/ListSubsection.jsx
  packages/terra-list/src/ListSubsectionHeader.jsx
  packages/terra-list/tests/jest/ListSectionHeader.test.jsx
  packages/terra-list/tests/jest/ListSubsectionHeader.test.jsx
  packages/terra-list/tests/jest/__snapshots__/ListSection.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSectionHeader.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSubsection.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSubsectionHeader.test.jsx.snap
Labels: :package: terra-list
