Repository cerner/terra-core, pull requests merged in 2023-10, with the labels that each got.

#3920 [terra-button] VoiceOver in Safari is highlighting the Terra Button in a frame bigger than the button size, when the button is included to a modal dialog.
  CONTRIBUTORS.md
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroup.test.jsx.snap
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroupButton.test.jsx.snap
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/src/Button.module.scss
  packages/terra-button/tests/jest/Button.test.jsx
  packages/terra-button/tests/jest/__snapshots__/Button.test.jsx.snap
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
  packages/terra-toggle-button/tests/jest/__snapshots__/ToggleButton.test.jsx.snap
Labels: :package: terra-button, accessibility issue, :package: terra-core-docs

#3930 [terra-progress-bar] Fixes SR response for repeated announcement of progress
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarColor.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarDefault.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarSize.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarTwoColors.jsx
  packages/terra-core-docs/src/terra-dev-site/test/progress-bar/ProgressBarColor.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/progress-bar/ProgressBarCustomizedColors.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/progress-bar/ProgressBarDefault.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/progress-bar/ProgressBarSize.test.jsx
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/src/ProgressBar.jsx
  packages/terra-progress-bar/tests/jest/ProgressBar.test.jsx
  packages/terra-progress-bar/tests/jest/__snapshots__/ProgressBar.test.jsx.snap
  packages/terra-progress-bar/translations/de.json
  packages/terra-progress-bar/translations/en-AU.json
  packages/terra-progress-bar/translations/en-CA.json
  packages/terra-progress-bar/translations/en-GB.json
  packages/terra-progress-bar/translations/en-US.json
  packages/terra-progress-bar/translations/en.json
  packages/terra-progress-bar/translations/es-ES.json
  packages/terra-progress-bar/translations/es-US.json
  packages/terra-progress-bar/translations/es.json
  packages/terra-progress-bar/translations/fi-FI.json
  packages/terra-progress-bar/translations/fr-FR.json
  packages/terra-progress-bar/translations/fr.json
  packages/terra-progress-bar/translations/nl-BE.json
  packages/terra-progress-bar/translations/nl.json
  packages/terra-progress-bar/translations/pt-BR.json
  packages/terra-progress-bar/translations/pt.json
  packages/terra-progress-bar/translations/sv-SE.json
  packages/terra-progress-bar/translations/sv.json
Labels: :package: terra-progress-bar, Accessibility Review Required

#3927 [terra-paginator] Fix visually hidden text being read incorrectly via…
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/ControlledPaginator.jsx
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-paginator/tests/jest/__snapshots__/ControlledPaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ControlledProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/Paginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ProgressivePaginator.test.jsx.snap
Labels: :package: terra-paginator, :star: Accessibility Reviewed

#3932 [terra-hyperlink] Fix Hyperlink import in example
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/hyperlink/example/DefaultHyperlinkButton.jsx
Labels: :package: terra-hyperlink

#3933 [terra-alert] Update notification banner documentation
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/Alert.jsx
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/alert/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/ActionAndDismissibleExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/ActionExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/AdvisoryExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/AlertActionFocusDemo.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/AlertExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/CustomExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/CustomExampleNoTitle.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/DismissibleExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/ErrorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/InfoExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/LiveRegionsExampleCode.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/LongTextExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/SuccessExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/UnsatisfiedExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/UnverifiedExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/WarningExample.jsx
Labels: :package: terra-alert, :star: Accessibility Reviewed, :star: UX Reviewed, :star: Functionally Reviewed

#3937 [terra-core-docs] Fixed icon imports not rendering
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/IconStatic.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/IconThemeable.jsx
Labels: :package: terra-core-docs

#3939 Added export for Icon base to support creating custom fusion icons
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/src/index.js
Labels: :package: terra-icon

#3935 [terra-list]Fix for terra-menu console error
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/List.jsx
Labels: :package: terra-list

#3942 [terra-tag] Combobox throws error when integrated with Fusion Combo Box
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Menu.jsx
  packages/terra-form-select/src/shared/_Option.jsx
  packages/terra-form-select/src/tag/Menu.jsx
  packages/terra-form-select/tests/jest/__snapshots__/ClearOption.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/Menu.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/Option.test.jsx.snap
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/Add_New_Option_in_combo_box.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/Add_New_Option_in_combo_box.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/Add_New_Option_in_combo_box.png
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: :package: terra-form-select

#3945 [Terra-Arrange] Reflow issue when port is resized to 320x256 & Radio Button issue
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/src/Arrange.module.scss
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/arrange/common/examplesetup.jsx
Labels: :package: terra-arrange, :star: UX Reviewed

#3940 [terra-button] Create selectable button
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/src/Button.module.scss
  packages/terra-button/src/clinical-lowlight-theme/Button.module.scss
  packages/terra-button/src/orion-fusion-theme/Button.module.scss
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/selected-button.png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/selected-button.png
  packages/terra-button/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/button-spec/selected-button.png
  packages/terra-button/tests/wdio/button-spec.js
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/button/SelectableButton.test.jsx
Labels: :package: terra-button

#3944 [Terra-List] Added prop to Disable Tab Key Navigation for List Item
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/list/guides/SingleSelectList.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/List.jsx
  packages/terra-list/src/ListItem.jsx
  packages/terra-list/tests/jest/ListItem.test.jsx
  packages/terra-list/tests/jest/__snapshots__/DraggableList.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/List.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListItem.test.jsx.snap
  packages/terra-list/translations/de.json
  packages/terra-list/translations/en-GB.json
  packages/terra-list/translations/en.json
  packages/terra-list/translations/es.json
  packages/terra-list/translations/fr.json
  packages/terra-list/translations/nl.json
  packages/terra-list/translations/pt.json
  packages/terra-list/translations/sv.json
Labels: :package: terra-list

#3948 Releases Following Terra core Packages 23/10
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/package.json
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/package.json
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/package.json
  packages/terra-button/CHANGELOG.md
  packages/terra-button/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/package.json
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-heading/CHANGELOG.md
  packages/terra-heading/package.json
  packages/terra-list/CHANGELOG.md
  packages/terra-list/package.json
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/package.json
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/package.json
  packages/terra-status/CHANGELOG.md
  packages/terra-status/package.json
  packages/terra-text/CHANGELOG.md
  packages/terra-text/package.json
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/package.json
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/package.json
  packages/terra-toolbar/CHANGELOG.md
  packages/terra-toolbar/package.json
Labels: release

#3949 [terra-paginator] Update CHANGELOG.md
  packages/terra-paginator/CHANGELOG.md
Labels: :package: terra-paginator

#3950 Release 10-26-2023
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/package.json
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/package.json
Labels: release

#3936 [terra-dropdown]Added aria-haspoup and aria-controls attribute
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/dropdown-button/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/dropdown-button/SplitButton.2.doc.mdx
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/package.json
  packages/terra-dropdown-button/src/DropdownButton.jsx
  packages/terra-dropdown-button/src/Item.jsx
  packages/terra-dropdown-button/src/SplitButton.jsx
  packages/terra-dropdown-button/src/_Dropdown.jsx
  packages/terra-dropdown-button/src/_DropdownButtonBase.jsx
  packages/terra-dropdown-button/src/_DropdownList.jsx
  packages/terra-dropdown-button/tests/jest/DropdownButton.test.jsx
  packages/terra-dropdown-button/tests/jest/SplitButton.test.jsx
  packages/terra-dropdown-button/tests/jest/__snapshots__/DropdownButton.test.jsx.snap
  packages/terra-dropdown-button/tests/jest/__snapshots__/SplitButton.test.jsx.snap
Labels: :package: terra-dropdown-button, :star: Accessibility Reviewed

#3955 [terra-button] Allow programmatic toggle of selectable button
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/selected-button.png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/selected-button.png
  packages/terra-button/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/button-spec/selected-button.png
  packages/terra-button/tests/wdio/button-spec.js
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/button/SelectableButton.test.jsx
Labels: :package: terra-button
