Repository cerner/terra-core, pull requests merged in 2023-08, with the labels that each got.

#3831 [terra-arrange][terra-section-header] update to utilize semantic html elements
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/src/Arrange.jsx
  packages/terra-arrange/tests/jest/Arrange.test.jsx
  packages/terra-arrange/tests/jest/__snapshots__/Arrange.test.jsx.snap
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/arrange/common/clinical-lowlight-theme/examplesetup.scss
  packages/terra-core-docs/src/terra-dev-site/doc/arrange/common/examplesetup.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/arrange/common/examplesetup.scss
  packages/terra-core-docs/src/terra-dev-site/doc/arrange/example/ArrangeAlignAllContainers.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-section-header/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-section-header/example/AnimatedToggleSectionHeader.jsx
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/scripts/src/generate-icons/parseSvg.js
  packages/terra-icon/scripts/src/generate-icons/renderJsx.js
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/src/SectionHeader.jsx
  packages/terra-section-header/src/SectionHeader.module.scss
  packages/terra-section-header/src/clinical-lowlight-theme/SectionHeader.module.scss
  packages/terra-section-header/src/orion-fusion-theme/SectionHeader.module.scss
  packages/terra-section-header/tests/jest/__snapshots__/SectionHeader.test.jsx.snap
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/closed.png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/interactable_transparent_active.png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/interactable_transparent_hover.png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/interactable_transparent_keyboard_focus.png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/onClick.png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/section-header-spec/open.png
  packages/terra-toggle-section-header/tests/jest/__snapshots__/ToggleSectionHeader.test.jsx.snap
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/toggle-section-header-spec/closed_toggle.png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/toggle-section-header-spec/closed_transparent_toggle.png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/toggle-section-header-spec/hover_toggle.png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/toggle-section-header-spec/hover_transparent_toggle.png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/toggle-section-header-spec/opened_toggle.png
  packages/terra-toggle-section-header/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/toggle-section-header-spec/opened_transparent_toggle.png
Labels: :package: terra-arrange, UX Review Required, :package: terra-section-header, Accessibility Review Required

#3861 [Terra-Core] Release PR 01-Aug-2023
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/package.json
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/package.json
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/package.json
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/package.json
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/package.json
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/package.json
  packages/terra-heading/CHANGELOG.md
  packages/terra-heading/package.json
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/package.json
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-list/CHANGELOG.md
  packages/terra-list/package.json
  packages/terra-outline-view-table/CHANGELOG.md
  packages/terra-outline-view-table/package.json
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/package.json
  packages/terra-responsive-element/CHANGELOG.md
  packages/terra-responsive-element/package.json
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/package.json
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/package.json
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/package.json
  packages/terra-status/CHANGELOG.md
  packages/terra-status/package.json
  packages/terra-table/CHANGELOG.md
  packages/terra-table/package.json
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/package.json
  packages/terra-text/CHANGELOG.md
  packages/terra-text/package.json
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/package.json
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/package.json
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/package.json
Labels: release

#3862 Release Aug 2 2023
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/package.json
Labels: release

#3865 [terra-button] Optimize package size
  packages/terra-button/.npmignore
  packages/terra-button/CHANGELOG.md
Labels: :package: terra-button

#3864 Added isMac helper in terra-dropdown component
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/src/_DropdownList.jsx
  packages/terra-dropdown-button/src/_DropdownListUtil.js
  packages/terra-dropdown-button/tests/jest/DropdownList.test.jsx
Labels: bug-fix, :package: terra-dropdown-button

#3863 [Terra-Tag] Update examples
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/tag/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/tag/example/HrefTag.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/tag/example/TagDefault.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/tag/example/TagFallbacks.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/tag/example/TagIcon.jsx
Labels: :package: terra-tag, :star: UX Reviewed

#3873 [terra-toggle-button] - Fixed toggle button SR issue and Updated user documentation.
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-button/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-button/example/DefaultToggleButton.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-button/example/OpenCloseTextToggleButton.jsx
Labels: :package: terra-toggle-button

#3866 [terra-button]: Convert Terra Button from Class Component to Functional Component
  packages/terra-button/src/Button.jsx
Labels: :package: terra-button

#3867 [terra-paginator] Add aria-label context to the Paginator container
  CONTRIBUTORS.md
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledPaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledPaginatorNoPagesExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledProgressivePaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledProgressivePaginatorWithoutTotalCountExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/PaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/PaginatorNoPagesExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ProgressivePaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ProgressivePaginatorWithoutTotalCountExample.jsx
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/ControlledPaginator.jsx
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-paginator/tests/jest/ControlledPaginator.test.jsx
  packages/terra-paginator/tests/jest/ControlledProgressivePaginator.test.jsx
  packages/terra-paginator/tests/jest/Paginator.test.jsx
  packages/terra-paginator/tests/jest/ProgressivePaginator.test.jsx
  packages/terra-paginator/tests/jest/__snapshots__/ControlledPaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ControlledProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/Paginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ProgressivePaginator.test.jsx.snap
Labels: :package: terra-paginator, :star: Accessibility Reviewed

#3877 Release August 11 2023
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/package.json
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/package.json
  packages/terra-button/CHANGELOG.md
  packages/terra-button/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/package.json
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/package.json
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/package.json
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/package.json
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/package.json
  packages/terra-toolbar/CHANGELOG.md
  packages/terra-toolbar/package.json
Labels: release

#3879 [terra-button] Remove `src` from `.npmignore`
  packages/terra-button/.npmignore
  packages/terra-button/CHANGELOG.md
Labels: :package: terra-button

#3858 [terra-tag] Underline the tag when it is a link
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/src/Tag.jsx
  packages/terra-tag/src/Tag.module.scss
  packages/terra-tag/tests/jest/__snapshots__/Tag.test.jsx.snap
  packages/terra-tag/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/tag-spec/default_tag.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/tag-spec/href_tag.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/tag-spec/icon_and_text_tag.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tag-spec/default_tag.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tag-spec/focused_tag.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tag-spec/href_tag.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tag-spec/icon_and_long_text_tag.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/tag-spec/icon_and_text_tag.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/tag-spec/focused_tag.png
  packages/terra-tag/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/tag-spec/href_tag.png
Labels: UX Review Required, :package: terra-tag, Accessibility Review Required

#3849 [terra-search-field] Group SearchField component and optionally add Label
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/example/SearchFieldBlock.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/example/SearchFieldDefaultValue.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/example/SearchFieldDelayed.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/example/SearchFieldDisableAutoFormatAttrs.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/example/SearchFieldFilterNumeric.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/example/SearchFieldFocus.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/example/SearchFieldPlaceholder.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/example/SearchFieldWithCustomLabel.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/example/SearchFieldWithDefaultLabel.jsx
  packages/terra-core-docs/src/terra-dev-site/test/search-field/SearchFieldWithLabel.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/search-field/SearchFieldWithLabelAndCustomGroupname.test.jsx
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/src/SearchField.module.scss
  packages/terra-search-field/src/clinical-lowlight-theme/SearchField.module.scss
  packages/terra-search-field/src/orion-fusion-theme/SearchField.module.scss
  packages/terra-search-field/tests/jest/SearchField.test.jsx
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/default_empty_with_label.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/default_empty_with_label_as_groupname.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/default_search_with_label_and_search_text.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/default_search_with_label_as_groupname_and_search_text.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/focus_empty.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/focus_with_focus.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/default_empty_with_label.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/default_empty_with_label_as_groupname.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/default_search_with_label_and_search_text.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/default_search_with_label_as_groupname_and_search_text.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/focus_empty.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/focus_with_focus.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/search-field-spec/default_empty_with_label.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/search-field-spec/default_empty_with_label_as_groupname.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/search-field-spec/default_search_with_label_and_search_text.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/search-field-spec/default_search_with_label_as_groupname_and_search_text.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/search-field-spec/focus_empty.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/search-field-spec/focus_with_focus.png
  packages/terra-search-field/tests/wdio/search-field-spec.js
Labels: :package: terra-search-field, :star: Accessibility Reviewed, :star: UX Reviewed

#3882 [terra-demographics-banner] Fix banner items overlapping in IE 11
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/src/DemographicsBanner.module.scss
Labels: :package: terra-demographics-banner, Functional Review Required, bug-fix

#3885 [terra-alert] focus on empty element
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/Alert.jsx
  packages/terra-alert/src/Alert.module.scss
  packages/terra-alert/tests/jest/Alert.test.jsx
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
Labels: :package: terra-alert, :star: Accessibility Reviewed

#3887 Release 18 Aug 2023
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/package.json
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/package.json
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/package.json
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/package.json
Labels: release

#3874 [terra-arrange][terra-toggle-section-header] - Added terra-arrange Accessibility guidance and added minor changes in toggle section header
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/arrange/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/arrange/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-section-header/example/AnimatedToggleSectionHeader.jsx
Labels: :package: terra-arrange, :package: terra-toggle-section-header, Accessibility Review Required

#3889 [terra-alert] alert focus shift to empty element fix
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/Alert.jsx
  packages/terra-alert/src/Alert.module.scss
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/closed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/disclosed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/show_more_button_focused.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/closed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/disclosed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/show_more_button_focused.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/closed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/disclosed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/show_more_button_focused.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/closed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/disclosed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/show_more_button_focused.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/alert-spec/closed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/alert-spec/disclosed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/alert-spec/show_more_button_focused.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/alert-spec/closed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/alert-spec/disclosed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/alert-spec/show_more_button_focused.png
  packages/terra-alert/tests/wdio/alert-spec.js
Labels: :package: terra-alert, bug-fix

#3857 [Terra-Button-Group] Fixes accessibility issues of button-group
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/src/ButtonGroup.jsx
  packages/terra-button-group/src/ButtonGroupButton.jsx
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroup.test.jsx.snap
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/First_button_focused.png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/Last_button_focused.png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/First_button_focused.png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/Last_button_focused.png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/button-group-spec/First_button_focused.png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/button-group-spec/Last_button_focused.png
  packages/terra-button-group/tests/wdio/button-group-spec.js
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/button-group/ButtonGroupMultiSelect.test.jsx
Labels: :package: terra-button-group, Accessibility Review Required

#3868 [terra-form-radio] Fixes issue of `onChange` not getting triggered on Radio buttons
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/form-radio/example/field/ControlledRadioField.jsx
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/src/Radio.jsx
  packages/terra-form-radio/src/RadioField.jsx
  packages/terra-form-radio/src/_RadioUtil.js
  packages/terra-form-radio/tests/jest/Radio.test.jsx
  packages/terra-form-radio/tests/jest/RadioField.test.jsx
  packages/terra-form-radio/tests/jest/__snapshots__/RadioField.test.jsx.snap
Labels: :package: terra-form-radio, bug-fix

#3870 [terra-list] Added Drag and Drop for List Item
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/list/ListItem.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/DraggableListItem.jsx
  packages/terra-core-docs/src/terra-dev-site/test/list/DraggableListItem.test.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/package.json
  packages/terra-list/src/List.jsx
  packages/terra-list/src/List.module.scss
  packages/terra-list/src/ListItem.jsx
  packages/terra-list/src/ListSection.jsx
  packages/terra-list/src/ListSubsection.jsx
  packages/terra-list/tests/jest/DraggableList.test.jsx
  packages/terra-list/tests/jest/List.test.jsx
  packages/terra-list/tests/jest/ListItem.test.jsx
  packages/terra-list/tests/jest/ListSection.test.jsx
  packages/terra-list/tests/jest/ListSubsection.test.jsx
  packages/terra-list/tests/jest/__snapshots__/DraggableList.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/List.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListItem.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSection.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSubsection.test.jsx.snap
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/After_Drag_and_Drop.png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/After_Drop_Focus_Next_Item.png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/section_divider.png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/subsection_divider.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/After_Drag_and_Drop.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/After_Drop_Focus_Next_Item.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/section_divider.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/subsection_divider.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/After_Drag_and_Drop.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/After_Drop_Focus_Next_Item.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/section_divider.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/subsection_divider.png
  packages/terra-list/tests/wdio/list-spec.js
  packages/terra-list/translations/de.json
  packages/terra-list/translations/en-GB.json
  packages/terra-list/translations/en.json
  packages/terra-list/translations/es.json
  packages/terra-list/translations/fr.json
  packages/terra-list/translations/nl.json
  packages/terra-list/translations/pt.json
  packages/terra-list/translations/sv.json
Labels: :package: terra-list, :star: Accessibility Reviewed, :star: Functionally Reviewed

#3860 [terra-form-native-select] Added aria-label to announce selected option
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/example/FormSelectDocCommon.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/example/native-select/Controlled.jsx
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/native-select/NativeSelect.jsx
  packages/terra-form-select/src/native-select/NativeSelect.module.scss
  packages/terra-form-select/tests/jest/native-select/__snapshots__/NativeSelect.test.jsx.snap
Labels: :package: terra-form-select, bug-fix, :star: Accessibility Reviewed

#3893 [terra-button] Revert Functional Component Refactor
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
Labels: :package: terra-button

#3876 [terra-scroll] Added realistic examples
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/scroll/example/ScrollCommon.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/scroll/example/ScrollHorizontal.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/scroll/example/ScrollVertical.jsx
Labels: :package: terra-scroll, :star: Accessibility Reviewed

#3896 [terra-list] Added Drag and Drop Example to Terra List
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/list/About.1.doc.mdx
Labels: :package: terra-list, Functional Review Required

#3894 mock uuid update with spyOn POC
  packages/terra-alert/tests/jest/Alert.test.jsx
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/alert/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/form-fieldset/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/show-hide/About.1.doc.mdx
  packages/terra-form-fieldset/tests/jest/FormFieldset.test.jsx
  packages/terra-show-hide/tests/jest/ShowHide.test.jsx
  packages/terra-show-hide/tests/jest/ShowHideFocuser.test.jsx
Labels: :package: terra-alert, :package: terra-form-fieldset, :package: terra-show-hide, :package: terra-core-docs

#3886 [terra-paginator] Add meaningful ARIA context after page nagivation
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledPaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledPaginatorNoPagesExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledProgressivePaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledProgressivePaginatorWithoutTotalCountExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/PaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/PaginatorNoPagesExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ProgressivePaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ProgressivePaginatorWithoutTotalCountExample.jsx
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/ControlledPaginator.jsx
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-paginator/tests/jest/ControlledPaginator.test.jsx
  packages/terra-paginator/tests/jest/ControlledProgressivePaginator.test.jsx
  packages/terra-paginator/tests/jest/Paginator.test.jsx
  packages/terra-paginator/tests/jest/ProgressivePaginator.test.jsx
  packages/terra-paginator/tests/jest/__snapshots__/ControlledPaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ControlledProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/Paginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ProgressivePaginator.test.jsx.snap
  packages/terra-paginator/translations/en.json
Labels: :package: terra-paginator, :star: Accessibility Reviewed, :star: UX Reviewed
