Repository cerner/terra-core, pull requests merged in 2023-12, with the labels that each got.

#3990 [terra-form-field] Added aria-invalid for invalid entry
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/src/Field.jsx
  packages/terra-form-field/tests/jest/__snapshots__/Field.test.jsx.snap
Labels: :package: terra-form-field

#3984 [Terra-SearchSelect]SR doesn't announce the placeholder when the input field gains focus.
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/example/search/Search.jsx
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/Combobox.jsx
  packages/terra-form-select/src/SearchSelect.jsx
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/tests/jest/__snapshots__/Frame.test.jsx.snap
Labels: :package: terra-form-select

#3989 Fixed Console warnings for Terra-list & Terra-button
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/list/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/test/list/AriaDescriptionList.test.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/List.jsx
  packages/terra-list/src/ListSection.jsx
  packages/terra-list/src/ListSectionHeader.jsx
  packages/terra-list/src/ListSubsection.jsx
  packages/terra-list/src/ListSubsectionHeader.jsx
  packages/terra-list/tests/jest/List.test.jsx
  packages/terra-list/tests/jest/__snapshots__/List.test.jsx.snap
Labels: :package: terra-button, :package: terra-list

#3992 [terra-section-header] Prevent duplicate onClick callbacks for spacebar
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/src/SectionHeader.jsx
  packages/terra-section-header/tests/jest/SectionHeader.test.jsx
  packages/terra-section-header/tests/jest/__snapshots__/SectionHeader.test.jsx.snap
Labels: :package: terra-section-header, :star: Functionally Reviewed

#3991 [terra-core-docs] New Accessibility and Implementation guide for Terra Search Field
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/ChangeLog.4.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldBasic.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldBasic.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldBlock.10.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldBlock.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldDefaultValue.7.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldDefaultValue.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldDelayed.6.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldDelayed.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldDisableAutoFormatAttrs.9.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldDisableAutoFormatAttrs.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldDisableAutoSearch.11.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldDisableAutoSearch.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldDisabled.8.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldDisabled.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldFilterNumeric.12.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldFilterNumeric.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldFocus.13.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldFocus.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldInvalid.16.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldInvalid.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldInvalid.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldMinimumLength.5.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldMinimumLength.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldPlaceholder.4.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldPlaceholder.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldProgrammaticSet.14.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldProgrammaticSet.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldWithCustomLabel.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldWithCustomLabel.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldWithDefaultLabel.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldWithDefaultLabel.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldWithNoLabel.15.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldWithNoLabel.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/UpgradeGuide.3.doc.mdx
Labels: :star: Accessibility Reviewed, :star: UX Reviewed, :star: Functionally Reviewed, :package: terra-core-docs, Tech Writing Review Required

#3999 [terra-button] Updated doc for isselected button
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/button/About.1.doc.mdx
Labels: :package: terra-button

#3996 [terra-form-select] Dialog Modal didn't close with 'Esc' key press.
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/form-select/AllowClearSearch.test.jsx
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_select_cleared_entered_text_by_second_escape.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_select_displayed_displayed_typed_text.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_select_dropdown_list_close_by_first_escape.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_select_cleared_entered_text_by_second_escape.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_select_displayed_displayed_typed_text.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_select_dropdown_list_close_by_first_escape.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_select_cleared_entered_text_by_second_escape.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_select_displayed_displayed_typed_text.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_select_dropdown_list_close_by_first_escape.png
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: :package: terra-form-select, bug-fix
