Repository cerner/terra-core, pull requests merged in 2023-06, with the labels that each got.

#3797 [terra-alert] Update alert keyboard navigation when assertive
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/Alert.jsx
  packages/terra-alert/src/Alert.module.scss
  packages/terra-alert/src/clinical-lowlight-theme/Alert.module.scss
  packages/terra-alert/tests/jest/Alert.test.jsx
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/alert_focused.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/alert_focused.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/text_wrapping.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/alert_focused.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/alert_focused.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/text_wrapping.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/alert-spec/alert_focused.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/alert-spec/alert_focused.png
  packages/terra-alert/tests/wdio/alert-spec.js
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/alert/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/ActionAndDismissibleExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/AdvisoryExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/AlertExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/CustomExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/DismissibleExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/ErrorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/InfoExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/LongTextExample.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/SuccessExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/UnsatisfiedExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/UnverifiedExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/WarningExample.jsx
  packages/terra-core-docs/src/terra-dev-site/test/alert/Alert.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/alert/CustomPropAlert.test.jsx
Labels: :package: terra-alert, :star: Accessibility Reviewed, :star: UX Reviewed

#3816 [terra-search-field] Fix double search call when pressing Enter key
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/tests/jest/SearchField.test.jsx
  packages/terra-search-field/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/search-field-spec/search_with_enter_default.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/search-field-spec/search_with_enter_default.png
  packages/terra-search-field/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/search-field-spec/search_with_enter_default.png
Labels: :package: terra-search-field, bug-fix

#3810 [terra-status-view] - Update Doc example
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/status-view/example/Custom.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/status-view/example/ToggleVariants.jsx
Labels: :package: terra-status-view

#3804 [terra-form-radio] Fix for RadioField title being read twice on Voice Over
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/src/RadioField.jsx
  packages/terra-form-radio/tests/jest/RadioField.test.jsx
  packages/terra-form-radio/tests/jest/__snapshots__/RadioField.test.jsx.snap
Labels: :package: terra-form-radio

#3796 [terra-demographics-banner] Follow a11y meaningful sequence in large …
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/demographics-banner/About.1.doc.mdx
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/src/DemographicsBanner.jsx
  packages/terra-demographics-banner/src/DemographicsBanner.module.scss
  packages/terra-demographics-banner/src/DemographicsBannerDisplay.jsx
  packages/terra-demographics-banner/src/_LargeDemographicsBannerDisplay.jsx
  packages/terra-demographics-banner/src/_SmallDemographicsBannerDisplay.jsx
  packages/terra-demographics-banner/src/_sharedObjects.jsx
  packages/terra-demographics-banner/tests/jest/DemographicsBannerDisplay.test.jsx
  packages/terra-demographics-banner/tests/jest/_LargeDemographicsBannerDisplay.test.jsx
  packages/terra-demographics-banner/tests/jest/_SmallDemographicsBannerDisplay.test.jsx
  packages/terra-demographics-banner/tests/jest/__snapshots__/DemographicsBanner.test.jsx.snap
  packages/terra-demographics-banner/tests/jest/__snapshots__/DemographicsBannerDisplay.test.jsx.snap
  packages/terra-demographics-banner/tests/jest/__snapshots__/_LargeDemographicsBannerDisplay.test.jsx.snap
  packages/terra-demographics-banner/tests/jest/__snapshots__/_SmallDemographicsBannerDisplay.test.jsx.snap
  packages/terra-demographics-banner/tests/jest/__snapshots__/_sharedObjects.test.jsx.snap
  packages/terra-demographics-banner/tests/jest/_sharedObjects.test.jsx
  packages/terra-demographics-banner/tests/wdio/demographics-banner-spec.js
  packages/terra-demographics-banner/translations/en-US.json
  packages/terra-demographics-banner/translations/en.json
Labels: :package: terra-demographics-banner, UX Review Required, UX Review Ready, :star: Accessibility Reviewed

#3815 [terra-alert] Terra Alert a11y doc updates
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/alert/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/AlertActionFocusDemo.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/CustomExampleNoTitle.jsx
Labels: :package: terra-alert, :star: Accessibility Reviewed, :star: UX Reviewed

#3822 [terra-alert] The Dutch translation for Terra.alert.success changed
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/translations/nl-BE.json
  packages/terra-alert/translations/nl.json
Labels: :package: terra-alert

#3826 [terra-status-view] Add apply button on change variant example
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/status-view/example/ToggleVariants.jsx
Labels: :package: terra-status-view

#3828 [terra-demographics-banner] Fix improper HTML, console warnings, and add missing translations
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/src/DemographicsBanner.module.scss
  packages/terra-demographics-banner/src/_LargeDemographicsBannerDisplay.jsx
  packages/terra-demographics-banner/src/_SmallDemographicsBannerDisplay.jsx
  packages/terra-demographics-banner/tests/jest/_LargeDemographicsBannerDisplay.test.jsx
  packages/terra-demographics-banner/tests/jest/__snapshots__/_LargeDemographicsBannerDisplay.test.jsx.snap
  packages/terra-demographics-banner/tests/wdio/demographics-banner-spec.js
  packages/terra-demographics-banner/translations/ar.json
  packages/terra-demographics-banner/translations/de.json
  packages/terra-demographics-banner/translations/en-AU.json
  packages/terra-demographics-banner/translations/en-CA.json
  packages/terra-demographics-banner/translations/en-GB.json
  packages/terra-demographics-banner/translations/es-ES.json
  packages/terra-demographics-banner/translations/es-US.json
  packages/terra-demographics-banner/translations/es.json
  packages/terra-demographics-banner/translations/fi-FI.json
  packages/terra-demographics-banner/translations/fr-FR.json
  packages/terra-demographics-banner/translations/fr.json
  packages/terra-demographics-banner/translations/nl-BE.json
  packages/terra-demographics-banner/translations/nl.json
  packages/terra-demographics-banner/translations/pt-BR.json
  packages/terra-demographics-banner/translations/pt.json
  packages/terra-demographics-banner/translations/sv-SE.json
  packages/terra-demographics-banner/translations/sv.json
Labels: :package: terra-demographics-banner, UX Review Required, bug-fix, :star: Accessibility Reviewed

#3825 [terra-form-select] Fix behaviour wrt announcing selected/not selected state
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/SingleSelect.03.doc.mdx
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/shared/_Option.jsx
  packages/terra-form-select/src/single/Menu.jsx
  packages/terra-form-select/tests/jest/__snapshots__/ClearOption.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/Menu.test.jsx.snap
Labels: :package: terra-form-select, Accessibility Review Required

#3830 [terra-show-hide] Shift keyboard focus to newly revealed content with focus indicator
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/src/ShowHide.jsx
  packages/terra-show-hide/src/ShowHide.module.scss
  packages/terra-show-hide/src/clinical-lowlight-theme/ShowHide.module.scss
  packages/terra-show-hide/src/orion-fusion-theme/ShowHide.module.scss
  packages/terra-show-hide/tests/jest/__snapshots__/ShowHide.test.jsx.snap
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/button_align_center_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/button_align_end_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/button_align_start_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/custom_button_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/default_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/initially_open_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/long_button_text_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/button_align_center_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/button_align_end_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/button_align_start_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/custom_button_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/default_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/initially_open_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/long_button_text_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/button_align_center_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/button_align_end_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/button_align_start_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/custom_button_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/default_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/initially_open_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/long_button_text_expanded.png
  packages/terra-show-hide/tests/wdio/show-hide-spec.js
Labels: :package: terra-show-hide
