Repository cerner/terra-core, pull requests merged in 2023-04, with the labels that each got.

#3759 Terra content container docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/content-container/example/ContentContainerDocCommon.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/content-container/example/ContentContainerFill.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/content-container/example/ContentContainerScrollRef.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/content-container/example/ContentContainerStandard.jsx
Labels: :package: terra-content-container

#3775 Updated component examples in Terra-Core
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/example/LongWrappingTextHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/arrange/common/examplesetup.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/arrange/example/ArrangeExamples.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/divider/example/DividerExampleTemplate.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/form-checkbox/example/checkbox/InlineCheckboxesExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/form-checkbox/example/checkbox/LongTextCheckboxExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/form-checkbox/example/checkbox/MultipleCheckboxesExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/form-radio/example/radio/InlineRadiosExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/form-radio/example/radio/LongTextRadioExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/form-radio/example/radio/MultipleRadiosExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/ChangeLog.6.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledPaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledPaginatorNoPagesExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledProgressivePaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledProgressivePaginatorWithoutTotalCountExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/PaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/PaginatorNoPagesExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ProgressivePaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ProgressivePaginatorWithoutTotalCountExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/scroll/example/ScrollHorizontal.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/scroll/example/ScrollVertical.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/LongTitleAccordionSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/LongTitleSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/show-hide/example/ButtonAlignCenterShowHide.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/show-hide/example/ButtonAlignRightShowHide.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/show-hide/example/CustomButtonTextShowHide.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/show-hide/example/DefaultShowHide.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/show-hide/example/InitiallyOpenShowHide.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/show-hide/example/NoPreviewShowHide.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-button/example/AnimatedToggleButton.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-button/example/ButtonAttrsToggleButton.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-button/example/DefaultToggleButton.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-button/example/IsIconOnlyToggleButton.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-button/example/IsInitiallyOpenToggleButton.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-button/example/OpenCloseEventToggleButton.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-button/example/OpenCloseTextToggleButton.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-section-header/example/AnimatedToggleSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-section-header/example/DefaultToggleSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle-section-header/example/TransparentToggleSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle/example/AnimatedToggle.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle/example/DefaultToggle.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle/example/ToggleWithLabel.jsx
Labels: :package: terra-core-docs

#3732 [terra-icon] OCS Icon Library v1.50.0
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/IconStatic.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/IconThemeable.jsx
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconAll.test.jsx
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-icon/src/IconExports.js
  packages/terra-icon/src/IconHelpStatic.module.scss
  packages/terra-icon/src/IconInformationStatic.module.scss
  packages/terra-icon/src/cerner-one-icons.csv
  packages/terra-icon/src/clinical-lowlight-theme/IconHelpStatic.module.scss
  packages/terra-icon/src/clinical-lowlight-theme/IconInformationStatic.module.scss
  packages/terra-icon/src/icon-data.json
  packages/terra-icon/src/icon/IconHelpStatic.jsx
  packages/terra-icon/src/icon/IconHelpThemeable.jsx
  packages/terra-icon/src/icon/IconInformationStatic.jsx
  packages/terra-icon/src/icon/IconInformationThemeable.jsx
  packages/terra-icon/src/orion-fusion-theme/IconHelpStatic.module.scss
  packages/terra-icon/src/orion-fusion-theme/IconInformationStatic.module.scss
  packages/terra-icon/src/svg/help_static.svg
  packages/terra-icon/src/svg/help_themeable.svg
  packages/terra-icon/src/svg/information_static.svg
  packages/terra-icon/src/svg/information_themeable.svg
  packages/terra-icon/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/icon-spec/all_icons.png
  packages/terra-icon/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/icon-spec/all_icons.png
  packages/terra-icon/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/icon-spec/all_icons.png
Labels: :package: terra-icon

#3780 checkbox issue resolved
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/src/orion-fusion-theme/Checkbox.module.scss
Labels: :package: terra-form-checkbox

#3707 [form-select] form-single-select accessiblity updates
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/SingleSelectField.jsx
  packages/terra-form-select/src/shared/_Option.jsx
  packages/terra-form-select/src/shared/_SharedUtil.js
  packages/terra-form-select/src/single/Frame.jsx
  packages/terra-form-select/src/single/Menu.jsx
  packages/terra-form-select/tests/jest/__snapshots__/ClearOption.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/Frame.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/Menu.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/Option.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/Select.test.jsx.snap
  packages/terra-form-select/translations/de.json
  packages/terra-form-select/translations/en-AU.json
  packages/terra-form-select/translations/en-CA.json
  packages/terra-form-select/translations/en-GB.json
  packages/terra-form-select/translations/en-US.json
  packages/terra-form-select/translations/en.json
  packages/terra-form-select/translations/es-ES.json
  packages/terra-form-select/translations/es-US.json
  packages/terra-form-select/translations/es.json
  packages/terra-form-select/translations/fi-FI.json
  packages/terra-form-select/translations/fr-FR.json
  packages/terra-form-select/translations/fr.json
  packages/terra-form-select/translations/nl-BE.json
  packages/terra-form-select/translations/nl.json
  packages/terra-form-select/translations/pt-BR.json
  packages/terra-form-select/translations/pt.json
  packages/terra-form-select/translations/sv-SE.json
  packages/terra-form-select/translations/sv.json
Labels: Functional Review Required, :package: terra-form-select, Functional Review Ready
