Repository cerner/terra-core, pull requests merged in 2023-01, with the labels that each got.

#3692 [terra-outline-view-table] Rename outline-table-view to outline-view-table
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-outline-table-view/CHANGELOG.md
  packages/terra-outline-table-view/src/Table.module.scss
  packages/terra-outline-table-view/src/clinical-lowlight-theme/Table.module.scss
  packages/terra-outline-table-view/src/index.js
  packages/terra-outline-table-view/src/orion-fusion-theme/Table.module.scss
  packages/terra-outline-table-view/src/terra-dev-site/doc/outline-table-view/ChangeLog.2.doc.mdx
  packages/terra-outline-table-view/tests/wdio/table-spec.js
  packages/terra-outline-view-table/.npmignore
  packages/terra-outline-view-table/.npmrc
  packages/terra-outline-view-table/CHANGELOG.md
  packages/terra-outline-view-table/LICENSE
  packages/terra-outline-view-table/NOTICE
  packages/terra-outline-view-table/README.md
  packages/terra-outline-view-table/package.json
  packages/terra-outline-view-table/src/OutlineViewTable.jsx
  packages/terra-outline-view-table/src/OutlineViewTable.module.scss
  packages/terra-outline-view-table/src/clinical-lowlight-theme/OutlineViewTable.module.scss
  packages/terra-outline-view-table/src/index.js
  packages/terra-outline-view-table/src/orion-fusion-theme/OutlineViewTable.module.scss
  packages/terra-outline-view-table/src/proptypes/cellShape.js
  packages/terra-outline-view-table/src/proptypes/discloseShape.js
  packages/terra-outline-view-table/src/proptypes/headerCellShape.js
  packages/terra-outline-view-table/src/proptypes/headerShape.js
  packages/terra-outline-view-table/src/proptypes/rowShape.js
  packages/terra-outline-view-table/src/proptypes/sectionHeaderShape.js
  packages/terra-outline-view-table/src/proptypes/sectionShape.js
  packages/terra-outline-view-table/src/proptypes/selectAllColumnShape.js
  packages/terra-outline-view-table/src/proptypes/toggleShape.js
  packages/terra-outline-view-table/src/proptypes/widthShape.js
  packages/terra-outline-view-table/src/terra-dev-site/doc/outline-view-table/About.1.doc.mdx
  packages/terra-outline-view-table/src/terra-dev-site/doc/outline-view-table/ChangeLog.2.doc.mdx
  packages/terra-outline-view-table/src/terra-dev-site/doc/outline-view-table/example/DefaultTable.jsx
  packages/terra-outline-view-table/src/terra-dev-site/test/outline-view-table/OutlineViewTable.test.jsx
  packages/terra-outline-view-table/tests/jest/OutlineViewTable.test.jsx
  packages/terra-outline-view-table/tests/jest/__snapshots__/OutlineViewTable.test.jsx.snap
  packages/terra-outline-view-table/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/table-spec/default.png
  packages/terra-outline-view-table/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/table-spec/default.png
  packages/terra-outline-view-table/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/table-spec/default.png
  packages/terra-outline-view-table/tests/wdio/outline-view-table-spec.js
Labels: :package: terra-outline-view-table

#3708 Fixing Terra List Section Header Illegible In Lowlight Theme
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/ListSectionHeader.jsx
  packages/terra-list/src/ListSubsectionHeader.jsx
  packages/terra-list/tests/jest/__snapshots__/ListSection.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSectionHeader.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSubsection.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSubsectionHeader.test.jsx.snap
Labels: :package: terra-list, bug-fix, :star: UX Reviewed

#3700 [terra-icon] OCS icons v1.49.0
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/IconThemeable.jsx
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconAll.test.jsx
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-icon/src/IconExports.js
  packages/terra-icon/src/cerner-one-icons.csv
  packages/terra-icon/src/icon-data.json
  packages/terra-icon/src/icon/IconNavStackUp.jsx
  packages/terra-icon/src/svg/navStackUp.svg
  packages/terra-icon/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/icon-spec/all_icons.png
  packages/terra-icon/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/icon-spec/all_icons.png
  packages/terra-icon/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/icon-spec/all_icons.png
Labels: :package: terra-icon

#3713 [Terra-Icon] Added support for Decorative Icons
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/icon/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/Static.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/Themeable.4.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/UpgradeGuide.5.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yDecorative.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yGroupInteractive.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yGroupReadOnly.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yMeaningfulInteractive.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yMeaningfulReadOnly.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/common.js
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/tests/jest/__snapshots__/Field.test.jsx.snap
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/tests/jest/__snapshots__/TextareaField.test.jsx.snap
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/tests/jest/__snapshots__/Hyperlink.test.jsx.snap
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/src/IconBase.jsx
  packages/terra-icon/tests/jest/Icon.test.jsx
  packages/terra-icon/tests/jest/__snapshots__/Icon.test.jsx.snap
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/tests/jest/__snapshots__/LoadingOverlay.test.jsx.snap
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/tests/jest/__snapshots__/ToggleButton.test.jsx.snap
Labels: :package: terra-icon
