Repository cerner/terra-core, pull requests merged in 2023-09, with the labels that each got.

#3901 [Terra-Form-Radio] Update Prop description of form-radio
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/form-radio/example/radio/HiddenLabelRadioExample.jsx
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/src/Radio.jsx
Labels: :package: terra-form-radio

#3897 [terra-paginator] Update the display order of paginator reduced views
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/ControlledPaginator.jsx
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-paginator/tests/jest/__snapshots__/ControlledPaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ControlledProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/Paginator.test.jsx.snap
  packages/terra-paginator/tests/jest/__snapshots__/ProgressivePaginator.test.jsx.snap
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/paginator-spec/default_paginator.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/paginator-spec/no_pages.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/paginator-spec/progressive_paginator.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/paginator-spec/default_paginator.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/paginator-spec/no_pages.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/paginator-spec/progressive_paginator.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/paginator-spec/default_paginator.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/paginator-spec/no_pages.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/paginator-spec/progressive_paginator.png
  packages/terra-paginator/translations/de.json
  packages/terra-paginator/translations/en-GB.json
  packages/terra-paginator/translations/es.json
  packages/terra-paginator/translations/fr.json
  packages/terra-paginator/translations/nl-BE.json
  packages/terra-paginator/translations/pt-BR.json
  packages/terra-paginator/translations/sv.json
Labels: :package: terra-paginator

#3904 Add Workspaces to project
  lerna.json
  package.json
Labels: Feature

#3905 Show hide examples updated
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/alert-spec/disclosed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/alert-spec/disclosed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/alert-spec/disclosed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/alert-spec/disclosed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/alert-spec/disclosed_show_hide.png
  packages/terra-alert/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/alert-spec/disclosed_show_hide.png
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/LongTextExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/show-hide/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/test/alert/LongTextAlert.test.jsx
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/src/ShowHide.jsx
  packages/terra-show-hide/src/ShowHide.module.scss
  packages/terra-show-hide/tests/jest/__snapshots__/ShowHide.test.jsx.snap
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/button_align_center_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/button_align_end_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/button_align_start_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/custom_button_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/default_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/default_expanded_no_focus.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/initially_open_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/interactive_show_hide_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/interactive_show_hide_focused_button.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/interactive_show_hide_focused_link.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/long_button_text_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/show-hide-spec/no_focus_ref_show_hide_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/button_align_center_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/button_align_end_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/button_align_start_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/custom_button_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/default_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/default_expanded_no_focus.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/initially_open_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/interactive_show_hide_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/interactive_show_hide_focused_button.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/interactive_show_hide_focused_link.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/long_button_text_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/show-hide-spec/no_focus_ref_show_hide_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/button_align_center_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/button_align_end_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/button_align_start_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/custom_button_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/default_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/default_expanded_no_focus.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/initially_open_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/interactive_show_hide_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/interactive_show_hide_focused_button.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/interactive_show_hide_focused_link.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/long_button_text_expanded.png
  packages/terra-show-hide/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/show-hide-spec/no_focus_ref_show_hide_expanded.png
Labels: :package: terra-show-hide

#3915 [terra-icon] Add named export
  packages/terra-alert/src/Alert.jsx
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/icon/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yDecorative.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yGroupInteractive.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yGroupReadOnly.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yMeaningfulInteractive.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/A11yMeaningfulReadOnly.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/IconStatic.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/IconThemeable.jsx
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconAll.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconAriaLabel.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconBidi.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconDefault.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/icon/IconHeightWidth.test.jsx
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-icon/src/index.js
  packages/terra-icon/tests/jest/Icon.test.jsx
Labels: :package: terra-icon

#3916 Release September 19, 2023
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/package.json
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/package.json
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/package.json
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/package.json
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/package.json
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/package.json
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-list/CHANGELOG.md
  packages/terra-list/package.json
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/package.json
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/package.json
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/package.json
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/package.json
  packages/terra-status/CHANGELOG.md
  packages/terra-status/package.json
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/package.json
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/package.json
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/package.json
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/package.json
Labels: release

#3921 [terra-icon] Add missing icons to exports
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/IconThemeable.jsx
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/src/index.js
Labels: :package: terra-icon

#3918 [terra-core-docs] terra-icon doc corrections
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/example/ActionHeaderNonUniqueIcon.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/example/ActionHeaderWithDecorativeIcon.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/action-header/example/ActionHeaderWithInformativeIcon.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/CustomExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/CustomExampleNoTitle.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/badge/example/BadgeIcon.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/button-group/example/ButtonGroupA11yIcon.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/button-group/example/ButtonGroupWithIcons.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/button/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/button/example/A11yIconButton.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/button/example/ButtonDisabled.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/button/example/ButtonIcon.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/button/example/IconButtonVariant.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/status-view/example/Custom.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/status/example/StatusIcon.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/tag/example/HrefTag.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/tag/example/TagFallbacks.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/tag/example/TagIcon.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle/example/AnimatedToggle.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle/example/DefaultToggle.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle/example/ToggleLabResults.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle/example/TogglePatient.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toggle/example/ToggleWithLabel.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/toolbar/example/DefaultToolbar.jsx
  packages/terra-core-docs/src/terra-dev-site/test/alert/CustomAlert.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/alert/CustomPropAlert.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/arrange/common/examplesetup.jsx
  packages/terra-core-docs/src/terra-dev-site/test/button/ActiveVariantButtons.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/button/IconButton.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/button/LongTextButton.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/button/Variants/ActionButton.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/button/Variants/UtilityButton.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/status-view/StatusViewCustom.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/status/StatusIcon.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/tag/IconAndTextTag.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/tag/LongTextTag.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/tag/MultipleTags.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/toggle-button/CustomIcon.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/toolbar/AriaControlsToolbar.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/toolbar/AriaLabelToolbar.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/toolbar/AriaLabelledByToolbar.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/toolbar/CenterAlignToolbar.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/toolbar/DefaultToolbar.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/toolbar/EndAlignToolbar.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/toolbar/StartAlignToolbar.test.jsx
Labels: :package: terra-core-docs

#3922 Release September 21, 2023
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/package.json
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/package.json
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/package.json
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/package.json
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/package.json
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-list/CHANGELOG.md
  packages/terra-list/package.json
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/package.json
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/package.json
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/package.json
  packages/terra-status/CHANGELOG.md
  packages/terra-status/package.json
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/package.json
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/package.json
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/package.json
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/package.json
Labels: release

#3908 [terra-alert] Update notification banner for screen reader experience
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-alert/src/Alert.jsx
  packages/terra-alert/tests/jest/Alert.test.jsx
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
Labels: :package: terra-alert, :star: Accessibility Reviewed, :star: UX Reviewed

#3914 [terra-list] Drag and Drop issue for terra-list in Slide panel
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-core-docs/src/terra-dev-site/test/list/SlidePanelDraggableList.test.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/List.jsx
  packages/terra-list/src/ListSection.jsx
  packages/terra-list/src/ListSubsection.jsx
  packages/terra-list/tests/jest/__snapshots__/DraggableList.test.jsx.snap
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/Slide_Panel_After_Drag_and_Drop.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/Slide_Panel_After_Drag_and_Drop.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/Slide_Panel_After_Drag_and_Drop.png
  packages/terra-list/tests/wdio/list-spec.js
Labels: :package: terra-list, :star: Functionally Reviewed

#3903 [terra-list] Added Drag and Drop Icon for List Item
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/list/DraggableListItem.module.scss
  packages/terra-core-docs/src/terra-dev-site/test/list/DraggableListItem.test.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/ListItem.jsx
  packages/terra-list/tests/jest/__snapshots__/DraggableList.test.jsx.snap
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/After_Drag_and_Drop.png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/After_Drop_Focus_Next_Item.png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/Slide_Panel_After_Drag_and_Drop.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/After_Drag_and_Drop.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/After_Drop_Focus_Next_Item.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/Slide_Panel_After_Drag_and_Drop.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/After_Drag_and_Drop.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/After_Drop_Focus_Next_Item.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/Slide_Panel_After_Drag_and_Drop.png
Labels: :package: terra-list, :star: UX Reviewed

#3919 [terra-list] Enable navigation to the list items with arrow keys.
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListSection.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListSubsection.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/List.jsx
  packages/terra-list/src/ListSection.jsx
  packages/terra-list/src/ListSubsection.jsx
  packages/terra-list/tests/jest/__snapshots__/DraggableList.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSection.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSubsection.test.jsx.snap
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/first_list_item_focused.png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/second_list_item_focused.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/first_list_item_focused.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/second_list_item_focused.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/first_list_item_focused.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/second_list_item_focused.png
  packages/terra-list/tests/wdio/list-spec.js
Labels: :package: terra-list

#3910 [terra-paginator] Update Terra Doc Site
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/AccessibilityGuide.6.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledPaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledPaginatorNoPagesExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledProgressivePaginatorExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ControlledProgressivePaginatorWithoutTotalCountExample.jsx
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/ControlledPaginator.jsx
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/Paginator.jsx
  packages/terra-paginator/src/ProgressivePaginator.jsx
Labels: :package: terra-paginator, :star: UX Reviewed, :package: terra-core-docs, :star: Tech Writing Reviewed

#3924 [Terra-Paginator] Added `hidePageCount` prop to hide default page count provided by Paginator
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/ProgressivePaginator.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ProgressivePaginatorCustomPageCountExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/paginator/example/ProgressivePaginatorCustomPageLabelExample.jsx
  packages/terra-core-docs/src/terra-dev-site/test/paginator/ProgressivePaginatorWithCustomLabel.test.jsx
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/src/ControlledProgressivePaginator.jsx
  packages/terra-paginator/src/ProgressivePaginator.jsx
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/custom_page_label_with_custom_page_count.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/custom_page_label_with_total_count.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/custom_page_label_without_total_count.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/paginator-spec/paginator_with_default_page_count.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/custom_page_label_with_custom_page_count.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/custom_page_label_with_total_count.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/custom_page_label_without_total_count.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_large/paginator-spec/paginator_with_default_page_count.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/paginator-spec/custom_page_label_with_custom_page_count.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/paginator-spec/custom_page_label_with_total_count.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/paginator-spec/custom_page_label_without_total_count.png
  packages/terra-paginator/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/paginator-spec/paginator_with_default_page_count.png
  packages/terra-paginator/tests/wdio/paginator-spec.js
Labels: :package: terra-paginator
