Repository cerner/terra-core, pull requests merged in 2023-11, with the labels that each got.

#3956 [terra-section-header] SectionHeader a11y updates
  package-lock.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/FocusSectionHeader.jsx
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/src/SectionHeader.jsx
  packages/terra-section-header/src/SectionHeader.module.scss
  packages/terra-section-header/src/clinical-lowlight-theme/SectionHeader.module.scss
  packages/terra-section-header/src/orion-fusion-theme/SectionHeader.module.scss
  packages/terra-section-header/tests/jest/SectionHeader.test.jsx
  packages/terra-section-header/tests/jest/__snapshots__/SectionHeader.test.jsx.snap
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/interactable_transparent_keyboard_focus.png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/section-header-spec/long_title_accordion_keyboard_focus.png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/section-header-spec/interactable_transparent_keyboard_focus.png
  packages/terra-section-header/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/section-header-spec/long_title_accordion_keyboard_focus.png
Labels: :package: terra-section-header, :star: Accessibility Reviewed

#3952 [terra-badge] Example Doc Update
  packages/terra-badge/CHANGELOG.md
  packages/terra-badge/src/Badge.jsx
  packages/terra-badge/tests/jest/__snapshots__/Badge.test.jsx.snap
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/badge/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/badge/example/Badge.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/badge/example/BadgeIcon.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/badge/example/BadgeInDoc.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/badge/example/BadgeInTable.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/badge/example/BadgeIntent.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/badge/example/BadgeSize.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/badge/example/BadgeVisuallyHiddenText.jsx
Labels: :package: terra-badge, :star: UX Reviewed

#3982 [terra-section-header] Add Ability to Fix Section Header Title
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/section-header/FixedTitleSectionHeader.test.jsx
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/src/SectionHeader.jsx
  packages/terra-section-header/src/SectionHeader.module.scss
  packages/terra-section-header/tests/jest/SectionHeader.test.jsx
Labels: :package: terra-section-header, :star: Functionally Reviewed

#3983 Release for Nov 21, 2023
  package-lock.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/package.json
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/package.json
Labels: release

#3976 [terra-form-select] Combobox A11Y Audit Issues
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/example/combobox/Combobox.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/example/combobox/Invalid.jsx
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/combobox/Frame.jsx
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/tests/jest/__snapshots__/Frame.test.jsx.snap
Labels: :package: terra-form-select, :star: Accessibility Reviewed
