Repository cerner/terra-core, pull requests merged in 2023-03, with the labels that each got.

#3729 [terra-progress-bar] A11Y updates
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarDefault.jsx
  packages/terra-core-docs/src/terra-dev-site/test/progress-bar/ProgressBarDefault.test.jsx
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/package.json
  packages/terra-progress-bar/src/ProgressBar.jsx
  packages/terra-progress-bar/tests/jest/ProgressBar.test.jsx
  packages/terra-progress-bar/tests/jest/__snapshots__/ProgressBar.test.jsx.snap
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/progress-bar-spec/default.png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/progress-bar-spec/default.png
  packages/terra-progress-bar/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/progress-bar-spec/default.png
  packages/terra-progress-bar/translations/de.json
  packages/terra-progress-bar/translations/en-AU.json
  packages/terra-progress-bar/translations/en-CA.json
  packages/terra-progress-bar/translations/en-GB.json
  packages/terra-progress-bar/translations/en-US.json
  packages/terra-progress-bar/translations/en.json
  packages/terra-progress-bar/translations/es-ES.json
  packages/terra-progress-bar/translations/es-US.json
  packages/terra-progress-bar/translations/es.json
  packages/terra-progress-bar/translations/fi-FI.json
  packages/terra-progress-bar/translations/fr-FR.json
  packages/terra-progress-bar/translations/fr.json
  packages/terra-progress-bar/translations/nl-BE.json
  packages/terra-progress-bar/translations/nl.json
  packages/terra-progress-bar/translations/pt-BR.json
  packages/terra-progress-bar/translations/pt.json
  packages/terra-progress-bar/translations/sv-SE.json
  packages/terra-progress-bar/translations/sv.json
Labels: :package: terra-progress-bar

#3748 [terra-list] Fixed Heading levels and keyboard navigation
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/list/SingleSelectList.test.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/List.jsx
  packages/terra-list/src/ListSection.jsx
  packages/terra-list/src/ListSectionHeader.jsx
  packages/terra-list/tests/jest/__snapshots__/List.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSection.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSectionHeader.test.jsx.snap
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/End_Keypress.png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/Home_Keypress.png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/Tab_Keypress.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/End_Keypress.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/Home_Keypress.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/Tab_Keypress.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/End_Keypress.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/Home_Keypress.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/Tab_Keypress.png
  packages/terra-list/tests/wdio/list-spec.js
Labels: :package: terra-list

#3749 [terra-list] defect fixes
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/list/ListSectionDivider.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/list/ListSubsectionDivider.test.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/List.module.scss
  packages/terra-list/src/ListSection.jsx
  packages/terra-list/src/ListSectionHeader.jsx
  packages/terra-list/src/ListSectionHeader.module.scss
  packages/terra-list/src/ListSubsection.jsx
  packages/terra-list/src/ListSubsectionHeader.jsx
  packages/terra-list/src/ListSubsectionHeader.module.scss
  packages/terra-list/tests/jest/__snapshots__/ListSection.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSectionHeader.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSubsection.test.jsx.snap
  packages/terra-list/tests/jest/__snapshots__/ListSubsectionHeader.test.jsx.snap
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/section_divider.png
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/subsection_divider.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/section_divider.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/subsection_divider.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/section_divider.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/subsection_divider.png
  packages/terra-list/tests/wdio/list-spec.js
Labels: :package: terra-list, UX Review Required

#3760 [terra-core-docs] Update Terra Alert examples for a11y
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/alert/CustomPropAlert.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/alert/LongTextAlert.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/alert/LongTextExample.module.scss
Labels: :package: terra-alert
