Repository cerner/terra-core, pull requests merged in 2024-05, with the labels that each got.

#4098 Update icon example generation scripts
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/IconStatic.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/icon/example/IconThemeable.jsx
  packages/terra-icon/scripts/src/generate-example/generateStaticIcons.js
  packages/terra-icon/scripts/src/generate-example/generateThemeableIcons.js
  packages/terra-icon/scripts/src/icon-utils/parseCsv.js
Labels: :package: terra-icon

#4100 Release May 8
  package-lock.json
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/package.json
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/package.json
  packages/terra-form-field/CHANGELOG.md
  packages/terra-form-field/package.json
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/package.json
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/package.json
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/package.json
  packages/terra-icon/CHANGELOG.md
  packages/terra-icon/package.json
  packages/terra-list/CHANGELOG.md
  packages/terra-list/package.json
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/package.json
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-show-hide/CHANGELOG.md
  packages/terra-show-hide/package.json
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/package.json
  packages/terra-status/CHANGELOG.md
  packages/terra-status/package.json
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/package.json
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/package.json
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/package.json
  packages/terra-toggle/CHANGELOG.md
  packages/terra-toggle/package.json
Labels: release

#4101 [terra-form-select] fixed console error
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-form-select/src/multiple/Frame.jsx
Labels: :package: terra-form-select, release

#4104 [terra-hyperlink] Added missing data attribute for type default variant
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/src/Hyperlink.jsx
  packages/terra-hyperlink/tests/jest/Hyperlink.test.jsx
  packages/terra-hyperlink/tests/jest/__snapshots__/Hyperlink.test.jsx.snap
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink_button.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink_button.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink_button.png
Labels: :package: terra-hyperlink

#4103 [terra-form-select] Fix Search field value clears out issue
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_open_dropdown_by_down_arrow.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_opened-dropdown.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_toggle-opened-dropdown.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_does_not_open_on_enter.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_open_dropdown_by_down_arrow.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_opened-dropdown.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_toggle-opened-dropdown.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_close_on_outside_click_after_toggle_open.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_closes_dropdown_after_clicking_off.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_does_not_open_on_enter.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_open_dropdown_by_down_arrow.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_opened-dropdown.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_toggle-opened-dropdown.png
  packages/terra-form-select/tests/wdio/select-spec.js
Labels: :package: terra-form-select
