Repository cerner/terra-core, pull requests merged in 2024-01, with the labels that each got.

#4003 Release for January 2nd, 2024
  package-lock.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
Labels: release

#4002 [terra-from-single-select] - Fixes screen reader issue
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/single/Frame.jsx
  packages/terra-form-select/src/single/Menu.jsx
  packages/terra-form-select/tests/jest/__snapshots__/Frame.test.jsx.snap
  packages/terra-form-select/tests/jest/__snapshots__/Select.test.jsx.snap
Labels: :package: terra-form-select, Accessibility Review Required

#4005 release-4-1-24
  package-lock.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
Labels: release

#4001 [Terra-Form-Field] Added Inline label examples for form field components
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/form-input/InputField.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/form-input/common/InputFieldDocCommon.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/form-input/example/InlineLabelField.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/ComboboxField.06.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/NativeSelectField.14.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/SingleSelectField.04.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/example/FormSelectDocCommon.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/example/combobox/InlineLabelField.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/example/native-select-field/InlineLabelField.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/form-select/example/single/InlineLabelField.jsx
Labels: :package: terra-core-docs

#4004 [Terra-List] Added null check to avoid application crash when list item is null
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/List.jsx
  packages/terra-list/tests/jest/List.test.jsx
  packages/terra-list/tests/jest/__snapshots__/List.test.jsx.snap
Labels: :package: terra-list

#4009 [terra-native-select] Reverted Changes to announce selected state.
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/native-select/NativeSelect.jsx
  packages/terra-form-select/tests/jest/native-select/__snapshots__/NativeSelect.test.jsx.snap
Labels: :package: terra-form-select

#4010 [terra-core] Release 09/01
  package-lock.json
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/package.json
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/package.json
  packages/terra-button/CHANGELOG.md
  packages/terra-button/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/package.json
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-list/CHANGELOG.md
  packages/terra-list/package.json
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/package.json
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/package.json
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/package.json
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/package.json
  packages/terra-toolbar/CHANGELOG.md
  packages/terra-toolbar/package.json
Labels: release

#4008 [terra-list] Updated Drag and Drop example to select list items.
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/DraggableListItem.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/List.jsx
Labels: :package: terra-list

#4014 Update About.1.doc.mdx for Terra HTML Table deprecation
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/html-table/About.1.doc.mdx
Labels: :package: terra-html-table, Tech Writing Review Required

#4015 Update About.1.doc.mdx for Terra Status
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/status/About.1.doc.mdx
Labels: :package: terra-status, Tech Writing Review Required
