Repository cerner/terra-core, pull requests merged in 2024-04, with the labels that each got.

#4079 [terra-form-select] Fix exception when no options exist.
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/shared/_MenuUtil.js
  packages/terra-form-select/tests/jest/MenuUtil.test.jsx
Labels: :package: terra-form-select

#4077 [terra-signature] Doc Update
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/signature/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/signature/example/SignatureExample.jsx
Labels: :package: terra-signature

#4081 [terra-button] Button left align wrapped text
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.module.scss
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/long_text_left_aligned.png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/long_text.png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/long_text_left_aligned.png
  packages/terra-button/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/button-spec/long_text_left_aligned.png
  packages/terra-button/tests/wdio/button-spec.js
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/button/LongTextButton.test.jsx
Labels: :package: terra-button, :star: Functionally Reviewed

#4083 Release 04/04
  package-lock.json
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/package.json
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/package.json
  packages/terra-button/CHANGELOG.md
  packages/terra-button/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/package.json
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/package.json
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/package.json
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/package.json
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/package.json
  packages/terra-toolbar/CHANGELOG.md
  packages/terra-toolbar/package.json
Labels: release

#4080 [terra-dropdown-button] Add support for icons in split button
  package-lock.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/dropdown-button/SplitButton.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/dropdown-button/example/IconSplitButton.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/dropdown-button/example/IconSplitButton.module.scss
  packages/terra-core-docs/src/terra-dev-site/test/dropdown-button/IconSplitButton.test.jsx
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/package.json
  packages/terra-dropdown-button/src/SplitButton.jsx
  packages/terra-dropdown-button/src/SplitButton.module.scss
  packages/terra-dropdown-button/src/clinical-lowlight-theme/SplitButton.module.scss
  packages/terra-dropdown-button/src/orion-fusion-theme/SplitButton.module.scss
  packages/terra-dropdown-button/tests/jest/SplitButton.test.jsx
  packages/terra-dropdown-button/tests/jest/__snapshots__/SplitButton.test.jsx.snap
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/split-button-spec/icon_variants.png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/split-button-spec/icon_variants.png
  packages/terra-dropdown-button/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/split-button-spec/icon_variants.png
  packages/terra-dropdown-button/tests/wdio/split-button-spec.js
Labels: :package: terra-dropdown-button

#4084 [terra-section-header] Remove templates from examples
  .eslintrc.yml
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/AccordionExampleTemplate.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/AccordionSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/AccordionSectionHeaderAccess.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/ClosedSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/DefaultSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/LongTitleAccordionSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/LongTitleSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/OnClickSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/OpenSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/SectionHeaderExampleTemplate.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/section-header/example/TransparentSectionHeader.jsx
Labels: :package: terra-section-header, :package: terra-core-docs

#4086 [terra-arrange] Use long-hand flex properties for IE compatibility
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/src/Arrange.module.scss
Labels: :package: terra-arrange, bug-fix

#4087 Release for April 10th, 2024
  package-lock.json
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-dropdown-button/CHANGELOG.md
  packages/terra-dropdown-button/package.json
  packages/terra-heading/CHANGELOG.md
  packages/terra-heading/package.json
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/package.json
  packages/terra-status/CHANGELOG.md
  packages/terra-status/package.json
  packages/terra-text/CHANGELOG.md
  packages/terra-text/package.json
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/package.json
Labels: release

#4090 [terra-search-field]Update docs
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/About.1.doc.mdx
Labels: :package: terra-core-docs

#4088 Terra signature doc update
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/signature/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/signature/example/ImageSignature.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/signature/example/SignatureExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/signature/example/SignatureExample.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/signature/example/TextSignature.jsx
Labels: :package: terra-signature, :star: Accessibility Reviewed

#4091 [terra-arrange] Revert change for small viewport flex css properties
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/src/Arrange.module.scss
Labels: :package: terra-arrange

#4093 Release for April 24th, 2024
  package-lock.json
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-heading/CHANGELOG.md
  packages/terra-heading/package.json
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/package.json
  packages/terra-status/CHANGELOG.md
  packages/terra-status/package.json
  packages/terra-text/CHANGELOG.md
  packages/terra-text/package.json
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/package.json
Labels: release

#4094 Release for April 25th, 2024
  package-lock.json
  packages/terra-arrange/CHANGELOG.md
  packages/terra-arrange/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-heading/CHANGELOG.md
  packages/terra-heading/package.json
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/package.json
  packages/terra-status/CHANGELOG.md
  packages/terra-status/package.json
  packages/terra-text/CHANGELOG.md
  packages/terra-text/package.json
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/package.json
Labels: release

#4089 [terra-form-select] Fixed focus issue in MultiSelect
  packages/terra-alert/tests/wdio/alert-spec.js
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/form-select/ControlMultipleDisabled.test.jsx
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/MultiSelect.jsx
  packages/terra-form-select/src/clinical-lowlight-theme/Tag.module.scss
  packages/terra-form-select/src/multiple/Frame.jsx
  packages/terra-form-select/src/orion-fusion-theme/Tag.module.scss
  packages/terra-form-select/src/shared/_Tag.jsx
  packages/terra-form-select/src/shared/_Tag.module.scss
  packages/terra-form-select/tests/jest/Tag.test.jsx
  packages/terra-form-select/tests/jest/__snapshots__/Tag.test.jsx.snap
  packages/terra-form-select/tests/wdio/select-spec.js
  packages/terra-form-select/translations/de.json
  packages/terra-form-select/translations/en-GB.json
  packages/terra-form-select/translations/en-US.json
  packages/terra-form-select/translations/en.json
  packages/terra-form-select/translations/es.json
  packages/terra-form-select/translations/fr.json
  packages/terra-form-select/translations/nl.json
  packages/terra-form-select/translations/pt.json
  packages/terra-form-select/translations/sv.json
Labels: :package: terra-form-select, :star: Accessibility Reviewed
