Repository cerner/terra-core, pull requests merged in 2024-02, with the labels that each got.

#4021 [terra-progress-bar] Added valueText Prop for accessibility
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarColor.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarDefault.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarSize.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarTwoColors.jsx
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/src/ProgressBar.jsx
  packages/terra-progress-bar/tests/jest/ProgressBar.test.jsx
  packages/terra-progress-bar/tests/jest/__snapshots__/ProgressBar.test.jsx.snap
  packages/terra-progress-bar/translations/de.json
  packages/terra-progress-bar/translations/en-AU.json
  packages/terra-progress-bar/translations/en-CA.json
  packages/terra-progress-bar/translations/en-GB.json
  packages/terra-progress-bar/translations/en-US.json
  packages/terra-progress-bar/translations/en.json
  packages/terra-progress-bar/translations/es-ES.json
  packages/terra-progress-bar/translations/es-US.json
  packages/terra-progress-bar/translations/es.json
  packages/terra-progress-bar/translations/fi-FI.json
  packages/terra-progress-bar/translations/fr-FR.json
  packages/terra-progress-bar/translations/fr.json
  packages/terra-progress-bar/translations/nl-BE.json
  packages/terra-progress-bar/translations/nl.json
  packages/terra-progress-bar/translations/pt-BR.json
  packages/terra-progress-bar/translations/pt.json
  packages/terra-progress-bar/translations/sv-SE.json
  packages/terra-progress-bar/translations/sv.json
Labels: :package: terra-progress-bar, :star: Accessibility Reviewed

#4027 [terra-progress-bar] Added value Text Prop example doc update
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/progress-bar/example/ProgressBarCustomText.jsx
Labels: :package: terra-progress-bar

#4022 [terra-button-group] Updated tabIndex on button group for single select example
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/src/ButtonGroup.jsx
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroup.test.jsx.snap
  packages/terra-button-group/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_huge/button-group-spec/single_select_first_button_focused.png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_huge/button-group-spec/single_select_first_button_focused.png
  packages/terra-button-group/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_huge/button-group-spec/single_select_first_button_focused.png
  packages/terra-button-group/tests/wdio/button-group-spec.js
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/button-group/ButtonGroupSingleSelectWithNoSelectedItem.test.jsx
Labels: :package: terra-button-group, :star: Accessibility Reviewed

#4038 Release Feb 20
  package-lock.json
  packages/terra-avatar/CHANGELOG.md
  packages/terra-avatar/package.json
  packages/terra-badge/CHANGELOG.md
  packages/terra-badge/package.json
  packages/terra-base/CHANGELOG.md
  packages/terra-base/package.json
  packages/terra-card/CHANGELOG.md
  packages/terra-card/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/package.json
  packages/terra-divider/CHANGELOG.md
  packages/terra-divider/package.json
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/package.json
  packages/terra-image/CHANGELOG.md
  packages/terra-image/package.json
  packages/terra-overlay/CHANGELOG.md
  packages/terra-overlay/package.json
  packages/terra-profile-image/CHANGELOG.md
  packages/terra-profile-image/package.json
  packages/terra-spacer/CHANGELOG.md
  packages/terra-spacer/package.json
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/package.json
Labels: release

#4037 [terra-section-header] Allow sticky header title
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/section-header/StickyTitleSectionHeader.test.jsx
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/src/SectionHeader.jsx
  packages/terra-section-header/src/SectionHeader.module.scss
  packages/terra-section-header/tests/jest/SectionHeader.test.jsx
Labels: :package: terra-section-header, :star: UX Reviewed

#4041 release-23-2-24
  package-lock.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/package.json
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/package.json
Labels: release

#4020 [terra-search-field]search field issues
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldFocus.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldFocus.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldMinimumLength.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/search-field/Examples.2/SearchFieldProgrammaticSet.jsx
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.module.scss
Labels: :package: terra-search-field, :star: UX Reviewed

#4044 [terra-search-field] Fixed a11y error caused due to empty aria label.
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/src/SearchField.jsx
  packages/terra-search-field/tests/jest/SearchField.test.jsx
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
Labels: :package: terra-search-field, bug-fix

#4045 [terra-hyperlink] Fixed hyperlink import path error
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/src/redwood-theme/Hyperlink.module.scss
Labels: :package: terra-hyperlink, bug-fix

#4046 Prepare For Release Feb 27th
  package-lock.json
  packages/terra-action-footer/CHANGELOG.md
  packages/terra-action-footer/package.json
  packages/terra-action-header/CHANGELOG.md
  packages/terra-action-header/package.json
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-button-group/CHANGELOG.md
  packages/terra-button-group/package.json
  packages/terra-button/CHANGELOG.md
  packages/terra-button/package.json
  packages/terra-content-container/CHANGELOG.md
  packages/terra-content-container/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-dialog/CHANGELOG.md
  packages/terra-dialog/package.json
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/package.json
  packages/terra-list/CHANGELOG.md
  packages/terra-list/package.json
  packages/terra-outline-view-table/CHANGELOG.md
  packages/terra-outline-view-table/package.json
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/package.json
  packages/terra-progress-bar/CHANGELOG.md
  packages/terra-progress-bar/package.json
  packages/terra-search-field/CHANGELOG.md
  packages/terra-search-field/package.json
  packages/terra-status-view/CHANGELOG.md
  packages/terra-status-view/package.json
  packages/terra-tag/CHANGELOG.md
  packages/terra-tag/package.json
  packages/terra-toggle-button/CHANGELOG.md
  packages/terra-toggle-button/package.json
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/package.json
  packages/terra-toolbar/CHANGELOG.md
  packages/terra-toolbar/package.json
Labels: release

#4029 [terra-form-radio-field] Fixed redundant labeling announcement issue
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/src/RadioField.jsx
  packages/terra-form-radio/tests/jest/__snapshots__/RadioField.test.jsx.snap
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-radio-field-spec/long_text_legend.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-radio-field-spec/optional.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_large/form-radio-field-spec/valid.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/invalid_state_with_hideRequired.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/long_text_legend.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/optional.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/valid.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/valid_state.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/form-radio-field-spec/valid_state_with_hideRequired.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/form-radio-field-spec/long_text_legend.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/form-radio-field-spec/optional.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/form-radio-field-spec/valid.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/form-radio-field-spec/invalid_state_with_hideRequired.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/form-radio-field-spec/long_text_legend.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/form-radio-field-spec/optional.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/form-radio-field-spec/valid.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/form-radio-field-spec/valid_state.png
  packages/terra-form-radio/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/form-radio-field-spec/valid_state_with_hideRequired.png
Labels: Accessibility Review Required

#4043 [terra-section-header] Fixes header title width for sticky header
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/section-header/StickyTitleSectionHeader.test.jsx
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/src/SectionHeader.jsx
  packages/terra-section-header/src/SectionHeader.module.scss
Labels: :package: terra-section-header

#4047 Release 28/02
  package-lock.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/package.json
  packages/terra-section-header/CHANGELOG.md
  packages/terra-section-header/package.json
  packages/terra-toggle-section-header/CHANGELOG.md
  packages/terra-toggle-section-header/package.json
Labels: release

#4048 [terra-alert] Add ID prop
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/Alert.jsx
  packages/terra-alert/tests/jest/Alert.test.jsx
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/alert/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/ActionExample.jsx
Labels: :package: terra-alert, :star: Accessibility Reviewed
