Repository cerner/terra-core, pull requests merged in 2024-03, with the labels that each got.

#4049 Release 02/29/24
  package-lock.json
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
Labels: release

#4030 [terra-responsive-element] Doc Update
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/responsive-element/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/responsive-element/UpgradeGuide.2.doc.mdx
  packages/terra-responsive-element/CHANGELOG.md
  packages/terra-responsive-element/src/ResponsiveElement.jsx
Labels: :package: terra-responsive-element

#4050 [terra-form-checkbox] Change Variable Name
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/src/Checkbox.module.scss
  packages/terra-form-checkbox/src/clinical-lowlight-theme/Checkbox.module.scss
  packages/terra-form-checkbox/src/orion-fusion-theme/Checkbox.module.scss
Labels: :package: terra-form-checkbox

#4051 Release March 4th
  package-lock.json
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-demographics-banner/CHANGELOG.md
  packages/terra-demographics-banner/package.json
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/package.json
  packages/terra-paginator/CHANGELOG.md
  packages/terra-paginator/package.json
  packages/terra-responsive-element/CHANGELOG.md
  packages/terra-responsive-element/package.json
Labels: release

#4053 [terra-list] Reverted refCallback from div to li
  CONTRIBUTORS.md
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/ListSectionHeader.jsx
  packages/terra-list/src/ListSubsectionHeader.jsx
Labels: :package: terra-list

#4033 [terra-signature] Implementation page doc updates
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/signature/About.1.doc.mdx
Labels: :package: terra-signature, Tech Writing Review Required

#4054 [terra-list] Fixed focus issue when clicked on selectable item in draggable list item example
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/list/DraggableListItem.test.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/ListItem.jsx
  packages/terra-list/tests/jest/__snapshots__/DraggableList.test.jsx.snap
  packages/terra-list/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/list-spec/List_item_is_focussed_when_clicked.png
  packages/terra-list/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/list-spec/List_item_is_focussed_when_clicked.png
  packages/terra-list/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/list-spec/List_item_is_focussed_when_clicked.png
  packages/terra-list/tests/wdio/list-spec.js
Labels: :package: terra-list

#4058 UXPLATFORM-10247 - Fix onSelect not triggering for draggable items
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/DraggableListItem.jsx
  packages/terra-list/CHANGELOG.md
  packages/terra-list/src/ListItem.jsx
  packages/terra-list/src/ListUtils.js
Labels: :package: terra-list, bug-fix

#4060 Release 12/03
  package-lock.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-list/CHANGELOG.md
  packages/terra-list/package.json
  packages/terra-list/tests/jest/__snapshots__/DraggableList.test.jsx.snap
Labels: release

#4062 [terra-alert] Add titleID prop
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/src/Alert.jsx
  packages/terra-alert/tests/jest/Alert.test.jsx
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/alert/AccessibilityGuide.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/alert/example/ActionExample.jsx
Labels: :package: terra-alert

#4061 [terra-form-select] tab key functionality issue
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/responsive-element/About.1.doc.mdx
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/src/search/Frame.jsx
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_close_on_outside_click_after_toggle_open.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_closes_dropdown_after_clicking_off.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_does_not_open_on_enter.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_open_dropdown_by_down_arrow.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_opened-dropdown.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/select-spec/search_toggle-opened-dropdown.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_close_on_outside_click_after_toggle_open.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_closes_dropdown_after_clicking_off.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_does_not_open_on_enter.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_open_dropdown_by_down_arrow.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_opened-dropdown.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/select-spec/search_toggle-opened-dropdown.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_close_on_outside_click_after_toggle_open.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_closes_dropdown_after_clicking_off.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_does_not_open_on_enter.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_open_dropdown_by_down_arrow.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_opened-dropdown.png
  packages/terra-form-select/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/select-spec/search_toggle-opened-dropdown.png
Labels: :package: terra-form-select

#4065 Release mar 15
  package-lock.json
  packages/terra-alert/CHANGELOG.md
  packages/terra-alert/package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/package.json
  packages/terra-form-fieldset/CHANGELOG.md
  packages/terra-form-fieldset/package.json
  packages/terra-form-input/CHANGELOG.md
  packages/terra-form-input/package.json
  packages/terra-form-radio/CHANGELOG.md
  packages/terra-form-radio/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-form-textarea/CHANGELOG.md
  packages/terra-form-textarea/package.json
Labels: release

#4066 [terra-button] Add Left Alignment Property
  packages/terra-action-header/tests/jest/__snapshots__/ActionHeader.test.jsx.snap
  packages/terra-alert/tests/jest/__snapshots__/Alert.test.jsx.snap
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroup.test.jsx.snap
  packages/terra-button-group/tests/jest/__snapshots__/ButtonGroupButton.test.jsx.snap
  packages/terra-button/CHANGELOG.md
  packages/terra-button/src/Button.jsx
  packages/terra-button/src/Button.module.scss
  packages/terra-button/tests/jest/__snapshots__/Button.test.jsx.snap
  packages/terra-button/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/button-spec/left-align-text.png
  packages/terra-button/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/button-spec/left-align-text.png
  packages/terra-button/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/button-spec/left-align-text.png
  packages/terra-button/tests/wdio/button-spec.js
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/button/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/button/example/ButtonBlockLeftAligned.jsx
  packages/terra-core-docs/src/terra-dev-site/test/button/LeftAlignedButton.test.jsx
  packages/terra-search-field/tests/jest/__snapshots__/SearchField.test.jsx.snap
  packages/terra-status-view/tests/jest/__snapshots__/StatusView.test.jsx.snap
  packages/terra-tag/tests/jest/__snapshots__/RollUpTag.test.jsx.snap
  packages/terra-toggle-button/tests/jest/__snapshots__/ToggleButton.test.jsx.snap
Labels: :package: terra-button

#4067 Support Checkbox selection by label without passed id
  package-lock.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/form-checkbox/checkbox/CheckboxWithoutId.test.jsx
  packages/terra-form-checkbox/CHANGELOG.md
  packages/terra-form-checkbox/package.json
  packages/terra-form-checkbox/src/Checkbox.jsx
  packages/terra-form-checkbox/tests/jest/Checkbox.test.jsx
  packages/terra-form-checkbox/tests/jest/CheckboxField.test.jsx
  packages/terra-form-checkbox/tests/jest/__snapshots__/Checkbox.test.jsx.snap
  packages/terra-form-checkbox/tests/jest/__snapshots__/CheckboxField.test.jsx.snap
  packages/terra-form-checkbox/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_medium/form-checkbox-spec/no-id-checked.png
  packages/terra-form-checkbox/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_medium/form-checkbox-spec/no-id-checked.png
  packages/terra-form-checkbox/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_medium/form-checkbox-spec/no-id-checked.png
  packages/terra-form-checkbox/tests/wdio/form-checkbox-spec.js
Labels: :package: terra-form-checkbox, :star: Functionally Reviewed

#4073 [terra-list] Misc doc updates (typos, wording, imports)
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/doc/list/About.1.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/ListItem.2.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/ListSection.3.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/ListSectionHeader.5.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/ListSubsection.4.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/ListSubsectionHeader.6.doc.mdx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/AriaDescribedByHiddenList.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/AriaDescribedByVisibleList.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/AriaDescriptionList.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/AriaDetailsList.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/DraggableListItem.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/DraggableListItemWithInteractiveElements.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/List.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListDivided.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListItem.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListPadded.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListSection.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListSectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListSubsection.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/example/ListSubsectionHeader.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/guides/MultiSelectList.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/list/guides/SingleSelectList.jsx
Labels: :package: terra-list

#4072 [terra-hyperlink] Hyperlink ellipses
  package.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/TruncatedHyperlink.test.jsx
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/src/Hyperlink.jsx
  packages/terra-hyperlink/src/Hyperlink.module.scss
  packages/terra-hyperlink/tests/jest/__snapshots__/Hyperlink.test.jsx.snap
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/external.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/image.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/scaled.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/truncated.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/video.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/default.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/external.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/hyperlink-button.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/image.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/scaled.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/truncated.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/video.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/default.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/external.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/image.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/scaled.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/truncated.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/video.png
  packages/terra-hyperlink/tests/wdio/hyperlink-spec.js
Labels: :package: terra-hyperlink

#4071 [terra-signature] Example update
  package-lock.json
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-core-docs/src/terra-dev-site/doc/signature/example/ImageSignature.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/signature/example/SignatureExample.jsx
  packages/terra-core-docs/src/terra-dev-site/doc/signature/example/SignatureExample.module.scss
  packages/terra-core-docs/src/terra-dev-site/doc/signature/example/TextSignature.jsx
Labels: :package: terra-signature, :star: Accessibility Reviewed

#4075 Release 27-3-24
  packages/terra-core-docs/CHANGELOG.md
  packages/terra-core-docs/package.json
  packages/terra-form-select/CHANGELOG.md
  packages/terra-form-select/package.json
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/package.json
Labels: release

#4076 [terra-hyperlink] Fix focus indicator
  package-lock.json
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/StatesHyperlink.test.jsx
  packages/terra-core-docs/src/terra-dev-site/test/hyperlink/StatesHyperlinkButton.test.jsx
  packages/terra-hyperlink/CHANGELOG.md
  packages/terra-hyperlink/src/Hyperlink.module.scss
  packages/terra-hyperlink/src/HyperlinkTestCommon.module.scss
  packages/terra-hyperlink/src/clinical-lowlight-theme/Hyperlink.module.scss
  packages/terra-hyperlink/src/orion-fusion-theme/Hyperlink.module.scss
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/default.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/disabled.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink_button.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/hyperlink-button.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/clinical-lowlight-theme/en/chrome_tiny/hyperlink-spec/states.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/audio.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/disabled.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/document.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink_button.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/hyperlink-button.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/icon_non_wrapping.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/orion-fusion-theme/en/chrome_tiny/hyperlink-spec/states.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/disabled.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/focused_hyperlink_button.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/hyperlink-button.png
  packages/terra-hyperlink/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_tiny/hyperlink-spec/states.png
  packages/terra-hyperlink/tests/wdio/hyperlink-spec.js
Labels: UX Review Required, :package: terra-hyperlink
